In [58]:
import os
import pymysql
import pandas as pd
import numpy as np
import re

In [59]:
import os
import pymysql
import pandas as pd
import numpy as np
import re
from pandas.io import sql
import MySQLdb
from sqlalchemy import create_engine

In [97]:
from pandas.io import sql
import MySQLdb

conn = MySQLdb.connect(
    host="localhost",
    port=int(3306),
    user="pythonlink",
    passwd="pythonlinkp",
    db="stock_forecast_v1",
    charset='utf8mb4'
)

bal_sheets = pd.read_sql_query("SELECT * FROM balance_sheets_500",
    conn)
bal_sheets

,Company,Time,Total Assets,Total Liabilities,Total Equity,Total Shares Out. on Filing Date,Book Value / Share,Tangible Book Value,Tangible Book Value Per Share,Total Debt,Net Debt
0,AAP,2011-01-01,3354.2,2314.8,1039.4,81.6,12.74,979.6,12.01,352.3,293.1
1,AAP,2011-12-01,3655.8,2807.8,847.9,72.6,11.68,740.1,10.19,432.2,374.3
2,AAP,2012-12-01,4613.8,3403.1,1210.7,73.2,16.54,1105.5,15.10,613.8,15.7
3,AAP,2013-12-01,5564.8,4048.6,1516.2,72.7,20.88,1266.5,17.44,1059.4,-53.1
4,AAP,2015-01-01,7962.4,5959.4,2002.9,72.9,27.52,259.4,3.56,1658.9,1554.2
5,AAP,2016-01-01,8127.7,5667.1,2460.6,73.1,33.69,784,10.73,1225.5,1134.7
6,AAP,2016-12-01,8315.0,5398.8,2916.2,73.6,39.66,1284.4,17.47,1043.3,908.1
7,AAP,2017-12-01,8482.3,5067.1,3415.2,73.6,46.41,1823.2,24.78,1044.7,497.7
8,AAP,2018-12-01,9040.6,5489.8,3550.8,71.3,49.28,2010.0,27.90,1045.9,149.4
9,AAP,2019-12-01,11248.5,7699.4,3549.1,68.8,51.61,1847.1,26.86,3242.5,2823.8
10,AZO,2010-08-01,5571.6,6310.4,-738.8,44.6,-16.38,-1041.4,-23.09,2996.8,2882.2
11,AZO,2011-08-01,5869.6,7123.8,-1254.2,39.9,-31.27,-1556.9,-38.82,3438.3,3328.9
12,AZO,2012-08-01,6265.6,7813.7,-1548.0,36.9,-41.81,-1850.7,-49.98,3870.4,3744.8
13,AZO,2013-08-01,6892.1,8579.4,-1687.3,34.0,-49.20,-2106.9,-61.44,4293.2,4134.6
14,AZO,2014-08-01,7497.2,9119.0,-1621.9,32.0,-50.21,-2064.6,-63.91,4359.6,4224.7
15,AZO,2015-08-01,8102.3,9803.7,-1701.4,30.5,-55.49,-2163.0,-70.55,4665.4,4481.3
16,AZO,2016-08-01,8599.8,10387.3,-1787.5,28.9,-61.39,-2240.4,-76.94,4969.0,4771.9
17,AZO,2017-08-01,9259.8,10688.2,-1428.4,27.5,-51.32,-1872.8,-67.29,5129.4,4817.5
18,AZO,2018-08-01,9347.0,10867.3,-1520.4,25.7,-59.06,-1832.8,-71.20,5160.2,4883.0
19,AZO,2019-08-01,9895.9,11609.8,-1713.9,23.8,-71.30,-2022.1,-84.12,5386.2,5142.0
20,BKNG,2010-12-01,2906.0,1046.9,1859.1,49.2,36.90,1070.4,21.78,476.4,-1185.8
21,BKNG,2011-12-01,3970.7,1269.3,2701.3,49.8,51.69,1869.4,37.54,575,-2082.7
22,BKNG,2012-12-01,6569.7,2512.5,4057.3,49.9,78.14,3166.2,63.49,1457.0,-3726.2
23,BKNG,2013-12-01,10444.5,3534.7,6909.7,52.1,132.86,4121.8,79.25,1902.5,-4850.2
24,BKNG,2014-12-01,14771.0,6204.3,8566.7,51.9,164.96,2905.5,55.95,3861.3,-429.5
25,BKNG,2015-12-01,17420.6,8625.1,8795.5,49.6,177.29,3252.9,65.57,6158.4,3509.9
26,BKNG,2016-12-01,19839.0,10018.8,9820.1,49.2,199.64,5384.1,109.46,7169.3,2869.3
27,BKNG,2017-12-01,25451.0,14190.0,11261.0,48.3,232.32,6295.0,129.87,9524.0,2122.0
28,BKNG,2018-12-01,22687.0,13902.0,8785.0,45.0,192.52,3703.0,81.15,8674.0,2390.0
29,BKNG,2019-12-01,21402.0,15469.0,5933.0,41.1,143.25,1066.0,25.74,9251.0,1941.0
...,...,...,...,...,...,...,...,...,...,...,...
4970,WEC,2010-12-01,13059.8,9227.3,3832.5,233.8,16.26,3360.2,14.37,5063.3,5038.8
4971,WEC,2011-12-01,13862.1,9868.4,3993.7,230.5,17.20,3521.4,15.28,5316.8,5302.7
4972,WEC,2012-12-01,14285.0,10119.5,4165.5,229.0,18.05,3693.2,16.12,5260.5,5224.9
4973,WEC,2013-12-01,14769.4,10506.0,4263.4,225.9,18.73,3791.1,16.78,5242.8,5216.8
4974,WEC,2014-12-01,14905.0,10454.9,4450.1,225.5,19.60,3977.8,17.64,5212.4,5150.5
4975,WEC,2015-12-01,29355.2,20670.0,8685.2,315.7,27.42,5631.3,17.84,10376.8,10327.0
4976,WEC,2016-12-01,30123.2,21163.0,8960.2,315.6,28.29,5883.6,18.64,10175.6,10138.1
4977,WEC,2017-12-01,31590.5,22098.7,9491.8,315.5,29.98,6407.9,20.31,11033.3,10994.4
4978,WEC,2018-12-01,33475.8,23633.1,9842.7,315.5,31.02,6736.1,21.35,11801.4,11716.9
4979,WEC,2019-12-01,34951.8,24697.2,10254.6,315.4,32.06,7060.6,22.38,12782.4,12744.9
4980,XEL,2010-12-01,27387.7,19199.2,8188.5,482.7,16.76,8083.5,16.76,9785.0,9660.4
4981,XEL,2011-12-01,29497.3,21015.1,8482.2,486.8,17.44,8482.2,17.44,10185.2,10105.2
4982,XEL,2012-12-01,31140.7,22266.6,8874.1,488.3,18.19,8874.1,18.19,11004.1,10901.4
4983,XEL,2013-12-01,33907.5,24341.5,9566.0,498.3,19.21,9566.0,19.21,11950.5,11829.6
4984,XEL,2014-12-01,36957.9,26743.4,10214.5,506.0,20.20,10214.5,20.20,12776.9,12681.4
4985,XEL,2015-12-01,38821.5,28220.6,10600.9,507.6,20.89,10600.9,20.89,13901.9,13810.7
4986,XEL,2016-12-01,41155.0,30134.0,11021.0,507.2,21.73,11021.0,21.73,14842.0,14750.0
4987,XEL,2017-12-01,43030.0,31575.0,11455.0,508.1,22.56,11455.0,22.56,15791.0,15699.0
4988,XEL,2018-12-01,45987.0,33765.0,12222.0,514.2,23.78,12222.0,23.78,17254.0,17053.0
4989,XEL,2019-12-01,50448.0,37209.0,13239.0,524.7,25.24,13239.0,25.24,20528.0,20254.0
4990,YORW,2010-12-01,259.9,168.7,91.3,12.7,7.19,91.3,7.19,86.5,85.2
4991,YORW,2011-12-01,274.2,179.0,95.3,12.8,7.45,95.3,7.45,87.9,83.9
4992,YORW,2012-12-01,282.5,182.7,99.8,12.9,7.73,99.8,7.73,87.8,83.8
4993,YORW,2013-12-01,282.5,179.0,103.5,13.0,7.98,103.5,7.98,86.6,79.0
4994,YORW,2014-12-01,304.3,199.8,104.6,12.8,8.15,104.6,8.15,87.5,86.0
4995,YORW,2015-12-01,310.5,201.5,109.1,12.8,8.51,109.1,8.51,87.1,84.2
4996,YORW,2016-12-01,320.5,206.4,114.1,12.9,8.87,114.1,8.87,86.9,82.7
4997,YORW,2017-12-01,332.0,212.6,119.4,12.9,9.28,119.4,9.28,93.3,93.3
4998,YORW,2018-12-01,345.1,218.9,126.2,12.9,9.75,126.2,9.75,96.2,96.2
4999,YORW,2019-12-01,363.5,229.3,134.2,13.0,10.31,134.2,10.31,103.3,103.3

In [61]:
subset_balsheets = bal_sheets.reindex(columns= ['Company', 'Time'])
subset_balsheets

     Company       Time
0        AAP 2011-01-01
1        AAP 2011-12-01
2        AAP 2012-12-01
3        AAP 2013-12-01
4        AAP 2015-01-01
5        AAP 2016-01-01
6        AAP 2016-12-01
7        AAP 2017-12-01
8        AAP 2018-12-01
9        AAP 2019-12-01
10       AZO 2010-08-01
11       AZO 2011-08-01
12       AZO 2012-08-01
13       AZO 2013-08-01
14       AZO 2014-08-01
15       AZO 2015-08-01
16       AZO 2016-08-01
17       AZO 2017-08-01
18       AZO 2018-08-01
19       AZO 2019-08-01
20      BKNG 2010-12-01
21      BKNG 2011-12-01
22      BKNG 2012-12-01
23      BKNG 2013-12-01
24      BKNG 2014-12-01
25      BKNG 2015-12-01
26      BKNG 2016-12-01
27      BKNG 2017-12-01
28      BKNG 2018-12-01
29      BKNG 2019-12-01
...      ...        ...
4970     WEC 2010-12-01
4971     WEC 2011-12-01
4972     WEC 2012-12-01
4973     WEC 2013-12-01
4974     WEC 2014-12-01
4975     WEC 2015-12-01
4976     WEC 2016-12-01
4977     WEC 2017-12-01
4978     WEC 2018-12-01
4979     WEC 2019-12-01
4980     XEL 2010-12-01
4981     XEL 2011-12-01
4982     XEL 2012-12-01
4983     XEL 2013-12-01
4984     XEL 2014-12-01
4985     XEL 2015-12-01
4986     XEL 2016-12-01
4987     XEL 2017-12-01
4988     XEL 2018-12-01
4989     XEL 2019-12-01
4990    YORW 2010-12-01
4991    YORW 2011-12-01
4992    YORW 2012-12-01
4993    YORW 2013-12-01
4994    YORW 2014-12-01
4995    YORW 2015-12-01
4996    YORW 2016-12-01
4997    YORW 2017-12-01
4998    YORW 2018-12-01
4999    YORW 2019-12-01

[5000 rows x 2 columns]

In [62]:
import datetime
from dateutil.relativedelta import *

#use_date = use_date+relativedelta(months=+1)
#use_date = use_date+relativedelta(years=+1)

print('Initial Date:', subset_balsheets['Time'][0])
new_datetime_plus_day = subset_balsheets['Time'][0] + datetime.timedelta(days = 1)
new_datetime_plus_month = subset_balsheets['Time'][0] + relativedelta(months=4)
print('Initial Date plus one day:', new_datetime_plus_day )
print('Initial Date plus one month:', new_datetime_plus_month)

Initial Date: 2011-01-01 00:00:00
Initial Date plus one day: 2011-01-02 00:00:00
Initial Date plus one month: 2011-05-01 00:00:00

In [63]:
price_data = pd.read_sql_query("SELECT * FROM price_data_500",
    conn)
price_data

,Company,Time,Date,Open,High,Low,Close,Volume,Change %
0,AAP,2020-06-10,Jun 10 2020,144.32,144.32,140.37,140.38,864889,-2.66
1,AAP,2020-06-09,Jun 09 2020,145.22,145.71,142.33,144.21,717052,-1.46
2,AAP,2020-06-08,Jun 08 2020,146.28,149.24,145.08,146.35,920468,0.17
3,AAP,2020-06-05,Jun 05 2020,145.07,149.16,144.56,146.10,929252,2.74
4,AAP,2020-06-04,Jun 04 2020,141.08,142.69,140.59,142.20,498438,-0.08
5,AAP,2020-06-03,Jun 03 2020,139.76,144.63,139.76,142.32,519287,2.03
6,AAP,2020-06-02,Jun 02 2020,141.21,141.35,138.93,139.49,540323,-0.21
7,AAP,2020-06-01,Jun 01 2020,139.56,140.63,138.49,139.79,840955,0.34
8,AAP,2020-05-29,May 29 2020,137.70,140.81,136.50,139.32,1335535,0.64
9,AAP,2020-05-28,May 28 2020,142.39,142.48,138.00,138.44,1069958,-2.31
10,AAP,2020-05-27,May 27 2020,137.50,141.78,136.31,141.71,815160,4.52
11,AAP,2020-05-26,May 26 2020,137.62,138.67,134.59,135.58,813429,1.57
12,AAP,2020-05-22,May 22 2020,133.29,134.21,131.38,133.48,682585,-0.97
13,AAP,2020-05-21,May 21 2020,135.57,136.02,130.07,134.79,1512797,-0.69
14,AAP,2020-05-20,May 20 2020,138.23,140.16,135.04,135.72,1216544,-0.07
15,AAP,2020-05-19,May 19 2020,140.34,141.80,135.25,135.82,3755680,3.59
16,AAP,2020-05-18,May 18 2020,130.61,132.89,128.16,131.11,1808689,4.01
17,AAP,2020-05-15,May 15 2020,119.91,127.03,118.73,126.06,1307719,4.07
18,AAP,2020-05-14,May 14 2020,117.78,121.26,116.76,121.13,1385450,1.58
19,AAP,2020-05-13,May 13 2020,123.76,125.05,118.68,119.24,1178718,-4.22
20,AAP,2020-05-12,May 12 2020,126.70,126.94,124.01,124.50,1010563,-1.14
21,AAP,2020-05-11,May 11 2020,124.11,126.39,123.00,125.94,851267,0.87
22,AAP,2020-05-08,May 08 2020,121.90,125.71,121.13,124.85,911524,4.38
23,AAP,2020-05-07,May 07 2020,122.50,124.91,118.94,119.61,904511,-1.28
24,AAP,2020-05-06,May 06 2020,121.81,122.94,119.57,121.16,683793,-0.03
25,AAP,2020-05-05,May 05 2020,121.89,123.59,121.00,121.19,440093,0.90
26,AAP,2020-05-04,May 04 2020,115.43,120.41,115.00,120.11,460437,3.02
27,AAP,2020-05-01,May 01 2020,118.02,119.39,115.97,116.59,501708,-3.57
28,AAP,2020-04-30,Apr 30 2020,123.33,123.42,118.78,120.91,750084,-3.20
29,AAP,2020-04-29,Apr 29 2020,123.83,126.79,123.00,124.91,938407,3.26
...,...,...,...,...,...,...,...,...,...
1446238,YORW,2009-02-12,Feb 12 2009,12.00,12.37,11.97,12.36,3300,3.52
1446239,YORW,2009-02-11,Feb 11 2009,11.94,11.99,11.79,11.94,4200,4.01
1446240,YORW,2009-02-10,Feb 10 2009,11.44,11.66,11.42,11.48,6200,0.61
1446241,YORW,2009-02-09,Feb 09 2009,11.60,11.72,11.40,11.41,5200,-1.98
1446242,YORW,2009-02-06,Feb 06 2009,11.71,11.71,11.63,11.64,1500,0.17
1446243,YORW,2009-02-05,Feb 05 2009,11.68,11.69,11.61,11.62,4000,-0.26
1446244,YORW,2009-02-04,Feb 04 2009,11.78,11.78,11.65,11.65,3300,-0.94
1446245,YORW,2009-02-03,Feb 03 2009,11.73,11.79,11.69,11.76,3100,nan
1446246,YORW,2009-02-02,Feb 02 2009,11.77,11.77,11.76,11.76,900,-0.42
1446247,YORW,2009-01-30,Jan 30 2009,11.97,11.98,11.65,11.81,10600,-1.50
1446248,YORW,2009-01-29,Jan 29 2009,11.78,12.04,11.78,11.99,3400,1.87
1446249,YORW,2009-01-28,Jan 28 2009,11.59,11.93,11.59,11.77,9100,-1.92
1446250,YORW,2009-01-27,Jan 27 2009,11.85,12.03,11.85,12.00,800,0.17
1446251,YORW,2009-01-26,Jan 26 2009,11.70,12.54,11.70,11.98,19800,0.67
1446252,YORW,2009-01-23,Jan 23 2009,12.32,12.54,11.90,11.90,5100,-3.41
1446253,YORW,2009-01-22,Jan 22 2009,12.37,12.51,12.07,12.32,7700,1.40
1446254,YORW,2009-01-21,Jan 21 2009,12.37,12.37,12.02,12.15,7000,-1.78
1446255,YORW,2009-01-20,Jan 20 2009,12.59,12.59,12.31,12.37,3100,-0.24
1446256,YORW,2009-01-16,Jan 16 2009,13.42,13.42,12.40,12.40,19200,-5.42
1446257,YORW,2009-01-15,Jan 15 2009,12.77,13.50,12.77,13.11,18600,4.05
1446258,YORW,2009-01-14,Jan 14 2009,12.13,12.79,12.00,12.60,11600,5.00
1446259,YORW,2009-01-13,Jan 13 2009,12.00,12.00,12.00,12.00,2800,-0.83
1446260,YORW,2009-01-12,Jan 12 2009,12.27,12.30,12.10,12.10,6700,0.08
1446261,YORW,2009-01-09,Jan 09 2009,12.01,12.09,11.93,12.09,1600,0.33
1446262,YORW,2009-01-08,Jan 08 2009,11.89,12.13,11.85,12.05,44600,0.33
1446263,YORW,2009-01-07,Jan 07 2009,11.77,12.13,11.77,12.01,4500,0.08
1446264,YORW,2009-01-06,Jan 06 2009,11.70,12.00,11.70,12.00,20900,1.70
1446265,YORW,2009-01-05,Jan 05 2009,12.28,12.28,11.70,11.80,13600,-3.44
1446266,YORW,2009-01-02,Jan 02 2009,12.00,12.25,12.00,12.22,6700,0.99
1446267,YORW,2008-12-31,Dec 31 2008,12.17,12.22,12.07,12.10,5800,0.17

In [64]:
company_date_list = []
for company, date in zip(subset_balsheets['Company'], subset_balsheets['Time']):
    company_date_list.append([company, date])
    
print(len(company_date_list))

5000

In [65]:
# This piece of code takes 20 minutes exactly to run
# Need to change price to the price at the last day of the month filings were released in
reconciled_prices_list = [] 
for company_date_pair in company_date_list:
    df = price_data.loc[(price_data['Company'] == company_date_pair[0]) &
                        (price_data['Time'] == company_date_pair[1] + relativedelta(months=1) - datetime.timedelta(days = 1))]
    if len(df) != 0:
        print(df['Close'])
        reconciled_prices_list.append(float(df['Close'].tolist()[0]))
    elif len(df) == 0:
        print('Initial Date not a trading day')
        df = price_data.loc[(price_data['Company'] == company_date_pair[0]) &
                            (price_data['Time'] == company_date_pair[1] + relativedelta(months=1) - datetime.timedelta(days = 2))]
        
        if len(df) != 0:
            print(df['Close'])
            reconciled_prices_list.append(float(df['Close'].tolist()[0]))
        elif len(df) == 0:
            print('Initial Date plus 1 not a trading day')
            df = price_data.loc[(price_data['Company'] == company_date_pair[0]) &
                            (price_data['Time'] ==  company_date_pair[1] + relativedelta(months=1) - datetime.timedelta(days = 3))]
            
            if len(df) != 0:
                print(df['Close'])
                reconciled_prices_list.append(float(df['Close'].tolist()[0]))
            elif len(df) == 0:
                print('Initial Date plus 2 not a trading day')
                df = price_data.loc[(price_data['Company'] == company_date_pair[0]) &
                                (price_data['Time'] == company_date_pair[1] + relativedelta(months=1) - datetime.timedelta(days = 4))]
                
                if len(df) != 0:
                    print(df['Close'])
                    reconciled_prices_list.append(float(df['Close'].tolist()[0]))
                elif len(df) == 0:
                    print('Initial Date plus 3 not a trading day')
                    df = price_data.loc[(price_data['Company'] == company_date_pair[0]) &
                                (price_data['Time'] == company_date_pair[1] + relativedelta(months=1) - datetime.timedelta(days = 5))]
                    
                    if len(df) != 0:
                        print(df['Close'])
                        reconciled_prices_list.append(float(df['Close'].tolist()[0]))
                    elif len(df) == 0:
                        print('Initial Date plus 4 not a trading day')
                        df = price_data.loc[(price_data['Company'] == company_date_pair[0]) &
                                (price_data['Time'] == company_date_pair[1] + relativedelta(months=1) - datetime.timedelta(days = 6))]
                        
                        if len(df) != 0:
                            print(df['Close'])
                            reconciled_prices_list.append(float(df['Close'].tolist()[0]))
                        elif len(df) == 0:
                            print('Initial Date minus 5 not a trading day, Impossible')

2355    63.94
Name: Close, dtype: object
Initial Date not a trading day
2123    69.63
Name: Close, dtype: object
1873    72.35
Name: Close, dtype: object
1621    110.68
Name: Close, dtype: object
Initial Date not a trading day
1349    159.00
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1098    152.05
Name: Close, dtype: object
Initial Date not a trading day
865    169.12
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
614    99.69
Name: Close, dtype: object
363    157.46
Name: Close, dtype: object
111    160.16
Name: Close, dtype: object
5341    209.78
Name: Close, dtype: object
5088    307.00
Name: Close, dtype: object
4835    361.64
Name: Close, dtype: object
Initial Date not a trading day
4586    419.94
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
4335    538.84
Name: Close, dtype: object
4083    715.99
Name: Close, dtype: object
3830    741.80
Name: Close, dtype: object
3578    528.44
Name: Close, dtype: object
3326    766.88
Name: Close, dtype: object
Initial Date not a trading day
3076    1101.69
Name: Close, dtype: object
8156    399.55
Name: Close, dtype: object
Initial Date not a trading day
7904    467.71
Name: Close, dtype: object
7654    620.39
Name: Close, dtype: object
7402    1162.40
Name: Close, dtype: object
7150    1140.21
Name: Close, dtype: object
6898    1274.95
Name: Close, dtype: object
Initial Date not a trading day
6646    1466.06
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
6395    1737.74
Name: Close, dtype: object
6144    1722.42
Name: Close, dtype: object
5892    2053.73
Name: Close, dtype: object
11037    36.18
Name: Close, dtype: object
Initial Date not a trading day
10785    31.87
Name: Close, dtype: object
10535    35.81
Name: Close, dtype: object
10283    55.91
Name: Close, dtype: object
10031    54.95
Name: Close, dtype: object
9779    43.23
Name: Close, dtype: object
Initial Date not a trading day
9527    39.44
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
9276    51.09
Name: Close, dtype: object
9025    34.74
Name: Close, dtype: object
8773    43.38
Name: Close, dtype: object
13879    35.37
Name: Close, dtype: object
13626    30.69
Name: Close, dtype: object
13376    38.41
Name: Close, dtype: object
13124    48.43
Name: Close, dtype: object
Initial Date not a trading day
12873    67.11
Name: Close, dtype: object
12621    46.26
Name: Close, dtype: object
12369    64.54
Name: Close, dtype: object
12117    61.92
Name: Close, dtype: object
11866    62.10
Name: Close, dtype: object
Initial Date not a trading day
11614    87.31
Name: Close, dtype: object
16821    40.76
Name: Close, dtype: object
16568    32.76
Name: Close, dtype: object
16317    38.15
Name: Close, dtype: object
Initial Date not a trading day
16066    36.11
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
15815    44.16
Name: Close, dtype: object
15563    50.53
Name: Close, dtype: object
15310    51.41
Name: Close, dtype: object
15058    65.64
Name: Close, dtype: object
14806    60.29
Name: Close, dtype: object
Initial Date not a trading day
14556    45.08
Name: Close, dtype: object
19680    212.66
Name: Close, dtype: object
Initial Date not a trading day
19428    337.74
Name: Close, dtype: object
19178    297.46
Name: Close, dtype: object
18926    532.78
Name: Close, dtype: object
18674    684.51
Name: Close, dtype: object
18422    479.85
Name: Close, dtype: object
Initial Date not a trading day
18170    377.32
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
17919    289.03
Name: Close, dtype: object
17668    431.79
Name: Close, dtype: object
17416    837.11
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
22711    38.41
Name: Close, dtype: object
22458    45.35
Name: Close, dtype: object
22205    46.32
Name: Close, dtype: object
21955    46.38
Name: Close, dtype: object
Initial Date not a trading day
21704    44.88
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
21453    58.69
Name: Close, dtype: object
21200    67.83
Name: Close, dtype: object
20948    88.93
Name: Close, dtype: object
20696    87.41
Name: Close, dtype: object
20445    116.32
Name: Close, dtype: object
25422    25.29
Name: Close, dtype: object
25170    42.40
Name: Close, dtype: object
24900    45.19
Name: Close, dtype: object
24648    54.77
Name: Close, dtype: object
Initial Date not a trading day
24416    71.10
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
24165    81.32
Name: Close, dtype: object
23912    77.19
Name: Close, dtype: object
23641    102.64
Name: Close, dtype: object
23390    96.33
Name: Close, dtype: object
Initial Date not a trading day
23138    83.03
Name: Close, dtype: object
28322    15.18
Name: Close, dtype: object
28070    30.22
Name: Close, dtype: object
27840    43.55
Name: Close, dtype: object
27588    69.65
Name: Close, dtype: object
27336    94.17
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
27065    113.93
Name: Close, dtype: object
26812    174.54
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
26581    188.96
Name: Close, dtype: object
26330    247.99
Name: Close, dtype: object
26078    293.78
Name: Close, dtype: object
31287    11.12
Name: Close, dtype: object
31034    9.04
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
30783    20.63
Name: Close, dtype: object
30533    19.43
Name: Close, dtype: object
30281    20.52
Name: Close, dtype: object
30029    29.36
Name: Close, dtype: object
29776    30.20
Name: Close, dtype: object
Initial Date not a trading day
29525    39.93
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
29274    42.18
Name: Close, dtype: object
29023    52.71
Name: Close, dtype: object
34104    11.71
Name: Close, dtype: object
Initial Date not a trading day
33852    12.77
Name: Close, dtype: object
33602    21.46
Name: Close, dtype: object
33350    23.09
Name: Close, dtype: object
33098    23.62
Name: Close, dtype: object
32846    27.48
Name: Close, dtype: object
Initial Date not a trading day
32594    29.69
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
32343    37.74
Name: Close, dtype: object
32092    28.07
Name: Close, dtype: object
31840    36.11
Name: Close, dtype: object
36985    21.88
Name: Close, dtype: object
Initial Date not a trading day
36733    28.77
Name: Close, dtype: object
36483    61.44
Name: Close, dtype: object
36231    69.66
Name: Close, dtype: object
35979    85.36
Name: Close, dtype: object
35727    124.30
Name: Close, dtype: object
Initial Date not a trading day
35475    113.28
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
35224    119.77
Name: Close, dtype: object
34973    112.65
Name: Close, dtype: object
34721    108.14
Name: Close, dtype: object
39866    16.20
Name: Close, dtype: object
Initial Date not a trading day
39614    10.38
Name: Close, dtype: object
39364    12.49
Name: Close, dtype: object
39112    14.89
Name: Close, dtype: object
38860    14.96
Name: Close, dtype: object
38608    13.59
Name: Close, dtype: object
Initial Date not a trading day
38356    11.95
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
38105    12.35
Name: Close, dtype: object
37854    7.65
Name: Close, dtype: object
37602    9.30
Name: Close, dtype: object
42727    19.27
Name: Close, dtype: object
42475    18.98
Name: Close, dtype: object
42205    32.92
Name: Close, dtype: object
41953    43.75
Name: Close, dtype: object
Initial Date not a trading day
41721    41.19
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
41470    24.72
Name: Close, dtype: object
41217    23.03
Name: Close, dtype: object
40946    31.58
Name: Close, dtype: object

40695    25.40
Name: Close, dtype: object
Initial Date not a trading day
40443    14.33
Name: Close, dtype: object
45628    30.99
Name: Close, dtype: object
Initial Date not a trading day
45376    39.81
Name: Close, dtype: object
45126    40.75
Name: Close, dtype: object
44874    46.19
Name: Close, dtype: object
44622    52.83
Name: Close, dtype: object
44370    37.17
Name: Close, dtype: object
Initial Date not a trading day
44118    48.49
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
43867    59.57
Name: Close, dtype: object
43616    63.32
Name: Close, dtype: object
43364    97.56
Name: Close, dtype: object
48506    51.34
Name: Close, dtype: object
Initial Date not a trading day
48254    61.20
Name: Close, dtype: object
48004    63.58
Name: Close, dtype: object
47752    83.19
Name: Close, dtype: object
47500    106.57
Name: Close, dtype: object
47248    85.89
Name: Close, dtype: object
Initial Date not a trading day
46996    95.54
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
46745    95.01
Name: Close, dtype: object
46494    96.02
Name: Close, dtype: object
46242    106.23
Name: Close, dtype: object
51557    18.31
Name: Close, dtype: object
Initial Date not a trading day
51305    17.29
Name: Close, dtype: object
51053    14.70
Name: Close, dtype: object
50803    27.74
Name: Close, dtype: object
50551    28.42
Name: Close, dtype: object
50299    30.24
Name: Close, dtype: object
Initial Date not a trading day
50047    20.24
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
49796    24.79
Name: Close, dtype: object
49544    27.65
Name: Close, dtype: object
49293    27.21
Name: Close, dtype: object
54267    5.75
Name: Close, dtype: object
Initial Date not a trading day
54035    5.46
Name: Close, dtype: object
53785    8.96
Name: Close, dtype: object
53533    17.57
Name: Close, dtype: object
Initial Date not a trading day
53261    27.84
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
53010    30.57
Name: Close, dtype: object
Initial Date not a trading day
52777    21.57
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
52526    20.91
Name: Close, dtype: object
52275    12.53
Name: Close, dtype: object
52023    14.85
Name: Close, dtype: object
57168    34.67
Name: Close, dtype: object
Initial Date not a trading day
56916    38.87
Name: Close, dtype: object
56666    48.83
Name: Close, dtype: object
56414    69.24
Name: Close, dtype: object
56162    65.91
Name: Close, dtype: object
55910    45.39
Name: Close, dtype: object
Initial Date not a trading day
55658    58.34
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
55407    50.88
Name: Close, dtype: object
55156    34.12
Name: Close, dtype: object
54904    37.19
Name: Close, dtype: object
60049    47.18
Name: Close, dtype: object
Initial Date not a trading day
59797    31.89
Name: Close, dtype: object
59547    35.90
Name: Close, dtype: object
59295    55.01
Name: Close, dtype: object
59043    54.99
Name: Close, dtype: object
58791    67.36
Name: Close, dtype: object
Initial Date not a trading day
58539    77.79
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
58288    90.89
Name: Close, dtype: object
58037    81.25
Name: Close, dtype: object
57785    105.61
Name: Close, dtype: object
62911    36.77
Name: Close, dtype: object
62659    44.39
Name: Close, dtype: object
62389    68.50
Name: Close, dtype: object
62137    82.03
Name: Close, dtype: object
Initial Date not a trading day
61886    114.75
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
61654    125.76
Name: Close, dtype: object
61401    137.58
Name: Close, dtype: object
61149    200.90
Name: Close, dtype: object
60879    185.14
Name: Close, dtype: object
Initial Date not a trading day
60627    217.84
Name: Close, dtype: object
65793    50.78
Name: Close, dtype: object
65541    45.99
Name: Close, dtype: object
65271    46.10
Name: Close, dtype: object
65019    56.19
Name: Close, dtype: object
Initial Date not a trading day
64787    59.72
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
64536    49.75
Name: Close, dtype: object
64283    39.83
Name: Close, dtype: object
64012    66.09
Name: Close, dtype: object
63761    67.53
Name: Close, dtype: object
Initial Date not a trading day
63509    39.15
Name: Close, dtype: object
68675    23.50
Name: Close, dtype: object
68423    36.23
Name: Close, dtype: object
68153    42.69
Name: Close, dtype: object
67901    53.80
Name: Close, dtype: object
Initial Date not a trading day
67669    80.82
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
67418    93.84
Name: Close, dtype: object
67165    60.21
Name: Close, dtype: object
66894    49.33
Name: Close, dtype: object
66643    26.14
Name: Close, dtype: object
Initial Date not a trading day
66391    21.66
Name: Close, dtype: object
71573    22.76
Name: Close, dtype: object
Initial Date not a trading day
71321    23.04
Name: Close, dtype: object
71071    27.22
Name: Close, dtype: object
70819    30.94
Name: Close, dtype: object
70567    42.61
Name: Close, dtype: object
70315    42.02
Name: Close, dtype: object
Initial Date not a trading day
70063    48.88
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
69812    47.73
Name: Close, dtype: object
69561    35.84
Name: Close, dtype: object
69309    50.83
Name: Close, dtype: object
74477    14.93
Name: Close, dtype: object
74224    18.10
Name: Close, dtype: object
73973    37.39
Name: Close, dtype: object
Initial Date not a trading day
73722    35.15
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
73471    46.43
Name: Close, dtype: object
73219    50.34
Name: Close, dtype: object
72966    41.81
Name: Close, dtype: object
72714    62.78
Name: Close, dtype: object
72462    42.73
Name: Close, dtype: object
Initial Date not a trading day
72212    59.65
Name: Close, dtype: object
77337    11.36
Name: Close, dtype: object
Initial Date not a trading day
77085    15.04
Name: Close, dtype: object
76835    21.10
Name: Close, dtype: object
76583    32.90
Name: Close, dtype: object
76331    28.12
Name: Close, dtype: object
76079    29.63
Name: Close, dtype: object
Initial Date not a trading day
75827    30.65
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
75576    40.67
Name: Close, dtype: object
75325    23.73
Name: Close, dtype: object
75073    35.70
Name: Close, dtype: object
80195    24.80
Name: Close, dtype: object
79923    28.38
Name: Close, dtype: object
79673    38.15
Name: Close, dtype: object
79440    46.29
Name: Close, dtype: object
Initial Date not a trading day
79189    67.76
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
78938    71.66
Name: Close, dtype: object
78666    74.37
Name: Close, dtype: object
78414    89.59
Name: Close, dtype: object
78163    105.09
Name: Close, dtype: object
77930    116.24
Name: Close, dtype: object
83097    41.54
Name: Close, dtype: object
Initial Date not a trading day
82845    29.17
Name: Close, dtype: object
82595    37.27
Name: Close, dtype: object
82343    49.35
Name: Close, dtype: object
82091    78.03
Name: Close, dtype: object
81839    67.04
Name: Close, dtype: object
Initial Date not a trading day
81587    82.68
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
81336    135.73
Name: Close, dtype: object
81085    108.56
Name: Close, dtype: object
80833    151.43
Name: Close, dtype: object
85975    76.76
Name: Close, dtype: object
Initial Date not a trading day
85723    100.33
Name: Close, dtype: object
85473    88.21
Name: Close, dtype: object
85221    97.03
Name: Close, dtype: object
84969    93.70
Name: Close, dtype: object
84717    118.14
Name: Close, dtype: object
Initial Date not a trading day

84465    121.72
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
84214    172.12
Name: Close, dtype: object
83963    177.57
Name: Close, dtype: object
83711    197.61
Name: Close, dtype: object
88857    14.85
Name: Close, dtype: object
Initial Date not a trading day
88605    10.43
Name: Close, dtype: object
88355    11.64
Name: Close, dtype: object
88103    23.52
Name: Close, dtype: object
87851    21.38
Name: Close, dtype: object
87599    22.72
Name: Close, dtype: object
Initial Date not a trading day
87347    28.83
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
87096    33.39
Name: Close, dtype: object
86845    24.26
Name: Close, dtype: object
86593    33.27
Name: Close, dtype: object
91739    56.76
Name: Close, dtype: object
Initial Date not a trading day
91487    59.85
Name: Close, dtype: object
91237    90.47
Name: Close, dtype: object
90985    148.90
Name: Close, dtype: object
90733    155.36
Name: Close, dtype: object
90481    189.39
Name: Close, dtype: object
Initial Date not a trading day
90229    199.68
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
89978    275.90
Name: Close, dtype: object
89727    116.96
Name: Close, dtype: object
89475    136.38
Name: Close, dtype: object
94621    18.18
Name: Close, dtype: object
Initial Date not a trading day
94369    16.15
Name: Close, dtype: object
94119    22.27
Name: Close, dtype: object
93867    32.41
Name: Close, dtype: object
93615    38.09
Name: Close, dtype: object
93363    44.08
Name: Close, dtype: object
Initial Date not a trading day
93111    44.65
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
92860    30.90
Name: Close, dtype: object
92609    18.59
Name: Close, dtype: object
92357    19.22
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
97653    18.09
Name: Close, dtype: object
97400    21.11
Name: Close, dtype: object
97147    27.05
Name: Close, dtype: object
96897    30.83
Name: Close, dtype: object
Initial Date not a trading day
96646    38.45
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
96395    50.84
Name: Close, dtype: object
96142    55.22
Name: Close, dtype: object
95890    52.99
Name: Close, dtype: object
95638    71.80
Name: Close, dtype: object
95387    77.14
Name: Close, dtype: object
100365    38.45
Name: Close, dtype: object
100113    46.11
Name: Close, dtype: object
99843    50.63
Name: Close, dtype: object
99591    57.41
Name: Close, dtype: object
Initial Date not a trading day
99359    71.16
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
99108    49.10
Name: Close, dtype: object
98855    44.22
Name: Close, dtype: object
98584    51.31
Name: Close, dtype: object
98333    47.28
Name: Close, dtype: object
Initial Date not a trading day
98081    34.70
Name: Close, dtype: object
103285    691.02
Name: Close, dtype: object
Initial Date not a trading day
103033    686.00
Name: Close, dtype: object
102783    920.00
Name: Close, dtype: object
102531    1026.01
Name: Close, dtype: object
102279    1275.33
Name: Close, dtype: object
102027    1643.00
Name: Close, dtype: object
Initial Date not a trading day
101775    1669.00
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
101524    3508.22
Name: Close, dtype: object
101273    2436.99
Name: Close, dtype: object
101021    3808.41
Name: Close, dtype: object
106168    60.42
Name: Close, dtype: object
Initial Date not a trading day
105916    79.95
Name: Close, dtype: object
105666    89.42
Name: Close, dtype: object
105414    128.71
Name: Close, dtype: object
105162    192.62
Name: Close, dtype: object
104910    253.42
Name: Close, dtype: object
Initial Date not a trading day
104658    278.41
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
104407    240.54
Name: Close, dtype: object
104156    344.33
Name: Close, dtype: object
103904    438.26
Name: Close, dtype: object
109051    7.52
Name: Close, dtype: object
Initial Date not a trading day
108799    6.31
Name: Close, dtype: object
108549    18.16
Name: Close, dtype: object
108297    20.37
Name: Close, dtype: object
108045    21.46
Name: Close, dtype: object
107793    17.82
Name: Close, dtype: object
Initial Date not a trading day
107541    18.38
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
107290    33.25
Name: Close, dtype: object
107039    25.99
Name: Close, dtype: object
106787    38.80
Name: Close, dtype: object
111914    58.37
Name: Close, dtype: object
111662    77.19
Name: Close, dtype: object
111392    121.85
Name: Close, dtype: object
111140    126.43
Name: Close, dtype: object
Initial Date not a trading day
110889    106.53
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
110657    73.38
Name: Close, dtype: object
110404    93.81
Name: Close, dtype: object
110133    144.28
Name: Close, dtype: object
109882    114.84
Name: Close, dtype: object
Initial Date not a trading day
109630    74.11
Name: Close, dtype: object
Initial Date not a trading day
114735    130.77
Name: Close, dtype: object
Initial Date not a trading day
114503    174.33
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
114255    169.31
Name: Close, dtype: object
114002    160.93
Name: Close, dtype: object
113750    131.50
Name: Close, dtype: object
Initial Date not a trading day
113477    93.21
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
113226    80.72
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
112995    111.80
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
112744    129.68
Name: Close, dtype: object
112491    66.83
Name: Close, dtype: object
117675    16.30
Name: Close, dtype: object
117423    25.41
Name: Close, dtype: object
117153    29.00
Name: Close, dtype: object
116901    36.40
Name: Close, dtype: object
Initial Date not a trading day
116669    45.85
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
116418    56.26
Name: Close, dtype: object
116165    66.11
Name: Close, dtype: object
115894    78.09
Name: Close, dtype: object
115643    94.83
Name: Close, dtype: object
Initial Date not a trading day
115391    108.78
Name: Close, dtype: object
120595    47.00
Name: Close, dtype: object
Initial Date not a trading day
120343    24.77
Name: Close, dtype: object
120093    34.00
Name: Close, dtype: object
119841    47.42
Name: Close, dtype: object
119589    82.43
Name: Close, dtype: object
119337    101.21
Name: Close, dtype: object
Initial Date not a trading day
119085    82.04
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
118834    119.28
Name: Close, dtype: object
118583    97.79
Name: Close, dtype: object
118331    133.51
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
123538    14.28
Name: Close, dtype: object
123285    21.18
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
123055    25.36
Name: Close, dtype: object
122805    38.48
Name: Close, dtype: object
122553    37.73
Name: Close, dtype: object
122301    56.84
Name: Close, dtype: object
122027    53.07
Name: Close, dtype: object
121775    54.84
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
121546    56.84
Name: Close, dtype: object
121295    88.42
Name: Close, dtype: object
Initial Date not a trading day
126502    36.97
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
126250    64.56
Name: Close, dtype: object
Initial Date not a trading day
126018    58.48
Name: Close, dtype: object
Initial Date not a trading day

Initial Date plus 1 not a trading day
125769    57.09
Name: Close, dtype: object
125517    34.19
Name: Close, dtype: object
125265    34.61
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
124992    43.11
Name: Close, dtype: object
124740    47.14
Name: Close, dtype: object
Initial Date not a trading day
124509    46.71
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
124259    31.73
Name: Close, dtype: object
129252    54.83
Name: Close, dtype: object
129000    50.81
Name: Close, dtype: object
128730    62.96
Name: Close, dtype: object
128478    62.54
Name: Close, dtype: object
Initial Date not a trading day
128246    73.61
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
127995    72.42
Name: Close, dtype: object
127742    64.48
Name: Close, dtype: object
127471    75.41
Name: Close, dtype: object
127220    72.64
Name: Close, dtype: object
Initial Date not a trading day
126968    103.00
Name: Close, dtype: object
132152    58.13
Name: Close, dtype: object
131900    63.80
Name: Close, dtype: object
131649    65.75
Name: Close, dtype: object
131397    83.19
Name: Close, dtype: object
Initial Date not a trading day
131146    86.64
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
130895    63.84
Name: Close, dtype: object
130642    78.72
Name: Close, dtype: object
130390    106.65
Name: Close, dtype: object
130139    88.73
Name: Close, dtype: object
129887    134.02
Name: Close, dtype: object
135052    11.85
Name: Close, dtype: object
134800    17.04
Name: Close, dtype: object
134530    22.48
Name: Close, dtype: object
134278    30.73
Name: Close, dtype: object
Initial Date not a trading day
134046    32.97
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
133795    35.62
Name: Close, dtype: object
133542    37.46
Name: Close, dtype: object
133271    41.34
Name: Close, dtype: object
133020    51.29
Name: Close, dtype: object
Initial Date not a trading day
132768    59.80
Name: Close, dtype: object
137972    24.25
Name: Close, dtype: object
Initial Date not a trading day
137720    35.08
Name: Close, dtype: object
137470    44.18
Name: Close, dtype: object
137218    77.58
Name: Close, dtype: object
136966    78.82
Name: Close, dtype: object
136714    85.50
Name: Close, dtype: object
Initial Date not a trading day
136462    75.81
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
136211    74.75
Name: Close, dtype: object
135960    83.44
Name: Close, dtype: object
135708    93.44
Name: Close, dtype: object
140852    36.63
Name: Close, dtype: object
140600    75.31
Name: Close, dtype: object
140330    88.56
Name: Close, dtype: object
140078    89.69
Name: Close, dtype: object
Initial Date not a trading day
139846    131.94
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
139595    181.17
Name: Close, dtype: object
139342    272.28
Name: Close, dtype: object
139071    203.35
Name: Close, dtype: object
138820    312.49
Name: Close, dtype: object
Initial Date not a trading day
138568    257.09
Name: Close, dtype: object
143772    7.01
Name: Close, dtype: object
Initial Date not a trading day
143520    9.18
Name: Close, dtype: object
143270    12.41
Name: Close, dtype: object
143018    22.33
Name: Close, dtype: object
142766    34.73
Name: Close, dtype: object
142514    41.23
Name: Close, dtype: object
Initial Date not a trading day
142262    29.05
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
142011    14.43
Name: Close, dtype: object
141760    17.67
Name: Close, dtype: object
141508    21.60
Name: Close, dtype: object
Initial Date not a trading day
146398    29.88
Name: Close, dtype: object
146148    35.52
Name: Close, dtype: object
145896    58.68
Name: Close, dtype: object
Initial Date not a trading day
145624    65.29
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
145373    58.92
Name: Close, dtype: object
Initial Date not a trading day
145140    50.22
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
144889    69.65
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
144828    69.77
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
144577    81.80
Name: Close, dtype: object
144324    54.08
Name: Close, dtype: object
149550    88.83
Name: Close, dtype: object
Initial Date not a trading day
149298    47.45
Name: Close, dtype: object
149048    101.75
Name: Close, dtype: object
148796    156.86
Name: Close, dtype: object
148544    193.74
Name: Close, dtype: object
148292    146.87
Name: Close, dtype: object
Initial Date not a trading day
148040    181.77
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
147789    168.64
Name: Close, dtype: object
147538    106.87
Name: Close, dtype: object
147286    147.53
Name: Close, dtype: object
152450    91.20
Name: Close, dtype: object
Initial Date not a trading day
152198    101.19
Name: Close, dtype: object
151948    109.84
Name: Close, dtype: object
151696    193.12
Name: Close, dtype: object
151444    148.76
Name: Close, dtype: object
151192    69.19
Name: Close, dtype: object
Initial Date not a trading day
150940    86.51
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
150689    168.59
Name: Close, dtype: object
150438    98.91
Name: Close, dtype: object
150186    138.87
Name: Close, dtype: object
155350    35.27
Name: Close, dtype: object
Initial Date not a trading day
155098    42.43
Name: Close, dtype: object
154848    47.75
Name: Close, dtype: object
154596    54.37
Name: Close, dtype: object
154344    52.38
Name: Close, dtype: object
154092    52.53
Name: Close, dtype: object
Initial Date not a trading day
153840    63.33
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
153589    81.61
Name: Close, dtype: object
153338    91.92
Name: Close, dtype: object
153086    100.73
Name: Close, dtype: object
158227    24.62
Name: Close, dtype: object
Initial Date not a trading day
157975    29.65
Name: Close, dtype: object
157725    31.44
Name: Close, dtype: object
157473    38.39
Name: Close, dtype: object
157221    49.27
Name: Close, dtype: object
156969    58.21
Name: Close, dtype: object
Initial Date not a trading day
156717    67.62
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
156466    71.41
Name: Close, dtype: object
156215    49.39
Name: Close, dtype: object
155963    49.91
Name: Close, dtype: object
160979    30.15
Name: Close, dtype: object
Initial Date not a trading day
160727    29.52
Name: Close, dtype: object
160602    27.39
Name: Close, dtype: object
160350    43.40
Name: Close, dtype: object
160098    52.00
Name: Close, dtype: object
159846    36.68
Name: Close, dtype: object
Initial Date not a trading day
159594    45.65
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
159343    40.08
Name: Close, dtype: object
159092    40.97
Name: Close, dtype: object
158840    46.35
Name: Close, dtype: object
164023    65.52
Name: Close, dtype: object
Initial Date not a trading day
163771    57.20
Name: Close, dtype: object
163521    72.69
Name: Close, dtype: object
163269    82.11
Name: Close, dtype: object
163017    90.91
Name: Close, dtype: object
162765    68.28
Name: Close, dtype: object
Initial Date not a trading day
162513    72.24
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
162262    67.08
Name: Close, dtype: object
162011    53.44
Name: Close, dtype: object
161759    57.55
Name: Close, dtype: object
166921    13.43
Name: Close, dtype: object
Initial Date not a trading day
166689    24.07
Name: Close, dtype: object
166439    28.31
Name: Close, dtype: object
166187    33.91
Name: Close, dtype: object

Initial Date not a trading day
165915    29.84
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
165664    36.42
Name: Close, dtype: object
Initial Date not a trading day
165431    43.80
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
165180    35.15
Name: Close, dtype: object
164929    28.91
Name: Close, dtype: object
164677    17.93
Name: Close, dtype: object
169989    14.13
Name: Close, dtype: object
Initial Date not a trading day
169737    17.71
Name: Close, dtype: object
169485    21.28
Name: Close, dtype: object
169235    27.68
Name: Close, dtype: object
168983    35.22
Name: Close, dtype: object
168731    35.42
Name: Close, dtype: object
Initial Date not a trading day
168479    37.81
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
168228    37.15
Name: Close, dtype: object
167976    56.04
Name: Close, dtype: object
167725    53.29
Name: Close, dtype: object
172737    38.85
Name: Close, dtype: object
Initial Date not a trading day
172485    47.44
Name: Close, dtype: object
172235    50.63
Name: Close, dtype: object
171983    53.71
Name: Close, dtype: object
171731    53.91
Name: Close, dtype: object
171479    55.23
Name: Close, dtype: object
Initial Date not a trading day
171227    56.34
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
170976    66.99
Name: Close, dtype: object
170725    31.86
Name: Close, dtype: object
170473    42.46
Name: Close, dtype: object
175703    37.26
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
175473    33.05
Name: Close, dtype: object
175220    33.11
Name: Close, dtype: object
174970    46.80
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
174697    44.82
Name: Close, dtype: object
174445    47.99
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
174215    62.27
Name: Close, dtype: object
173963    52.83
Name: Close, dtype: object
173711    40.90
Name: Close, dtype: object
173460    41.34
Name: Close, dtype: object
Initial Date not a trading day
178454    39.03
Name: Close, dtype: object
178202    56.35
Name: Close, dtype: object
177952    57.91
Name: Close, dtype: object
177700    68.66
Name: Close, dtype: object
177448    82.18
Name: Close, dtype: object
Initial Date not a trading day
177196    112.00
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
176945    112.07
Name: Close, dtype: object
176693    96.60
Name: Close, dtype: object
176442    132.35
Name: Close, dtype: object
176189    151.41
Name: Close, dtype: object
181518    10.35
Name: Close, dtype: object
181265    6.90
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
181014    11.89
Name: Close, dtype: object
180764    7.04
Name: Close, dtype: object
180512    7.75
Name: Close, dtype: object
180260    15.47
Name: Close, dtype: object
180007    26.00
Name: Close, dtype: object
Initial Date not a trading day
179756    38.84
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
179505    36.04
Name: Close, dtype: object
179254    29.23
Name: Close, dtype: object
184335    17.25
Name: Close, dtype: object
Initial Date not a trading day
184083    22.88
Name: Close, dtype: object
183833    26.79
Name: Close, dtype: object
183581    33.14
Name: Close, dtype: object
183329    39.41
Name: Close, dtype: object
183077    42.44
Name: Close, dtype: object
Initial Date not a trading day
182825    44.19
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
182574    50.17
Name: Close, dtype: object
182323    65.76
Name: Close, dtype: object
182071    70.34
Name: Close, dtype: object
187212    32.88
Name: Close, dtype: object
Initial Date not a trading day
186960    34.98
Name: Close, dtype: object
186710    36.25
Name: Close, dtype: object
186458    41.31
Name: Close, dtype: object
186206    42.22
Name: Close, dtype: object
185954    42.96
Name: Close, dtype: object
Initial Date not a trading day
185702    41.46
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
185451    45.88
Name: Close, dtype: object
185200    47.35
Name: Close, dtype: object
184948    55.35
Name: Close, dtype: object
190090    40.19
Name: Close, dtype: object
Initial Date not a trading day
189838    46.20
Name: Close, dtype: object
189588    52.27
Name: Close, dtype: object
189336    65.21
Name: Close, dtype: object
189084    69.19
Name: Close, dtype: object
188832    66.62
Name: Close, dtype: object
Initial Date not a trading day
188580    65.44
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
188329    75.45
Name: Close, dtype: object
188078    59.52
Name: Close, dtype: object
187826    68.84
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
193121    18.82
Name: Close, dtype: object
192868    19.79
Name: Close, dtype: object
192615    19.57
Name: Close, dtype: object
192365    26.22
Name: Close, dtype: object
Initial Date not a trading day
192114    25.13
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
191863    30.04
Name: Close, dtype: object
191610    35.56
Name: Close, dtype: object
191358    38.54
Name: Close, dtype: object
191106    37.06
Name: Close, dtype: object
190855    26.77
Name: Close, dtype: object
195813    20.32
Name: Close, dtype: object
195560    21.84
Name: Close, dtype: object
195310    44.24
Name: Close, dtype: object
195058    81.03
Name: Close, dtype: object
Initial Date not a trading day
194807    114.72
Name: Close, dtype: object
194555    141.43
Name: Close, dtype: object
194303    158.81
Name: Close, dtype: object
194051    215.48
Name: Close, dtype: object
193800    169.16
Name: Close, dtype: object
Initial Date not a trading day
193548    172.38
Name: Close, dtype: object
198818    49.09
Name: Close, dtype: object
198565    68.24
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
198293    87.03
Name: Close, dtype: object
198043    107.15
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
197812    112.64
Name: Close, dtype: object
197560    134.61
Name: Close, dtype: object
197307    155.79
Name: Close, dtype: object
Initial Date not a trading day
197035    164.29
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
196784    234.88
Name: Close, dtype: object
196533    288.11
Name: Close, dtype: object
201631    13.55
Name: Close, dtype: object
Initial Date not a trading day
201399    13.29
Name: Close, dtype: object
201149    16.04
Name: Close, dtype: object
200897    20.88
Name: Close, dtype: object
Initial Date not a trading day
200625    16.98
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
200374    8.99
Name: Close, dtype: object
Initial Date not a trading day
200141    12.91
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
199890    18.13
Name: Close, dtype: object
199639    19.24
Name: Close, dtype: object
199387    28.08
Name: Close, dtype: object
204445    81.87
Name: Close, dtype: object
Initial Date not a trading day
204193    103.07
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
203944    114.95
Name: Close, dtype: object
203692    127.27
Name: Close, dtype: object
203440    116.04
Name: Close, dtype: object
203187    112.88
Name: Close, dtype: object
202935    119.83
Name: Close, dtype: object
Initial Date not a trading day
202684    144.01
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
202434    172.32
Name: Close, dtype: object
202181    134.39
Name: Close, dtype: object
207579    27.86
Name: Close, dtype: object
207326    52.59
Name: Close, dtype: object
Initial Date not a trading day

207074    54.12
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
206825    65.77
Name: Close, dtype: object
206573    74.26
Name: Close, dtype: object
206321    86.66
Name: Close, dtype: object
206068    91.02
Name: Close, dtype: object
205816    95.98
Name: Close, dtype: object
Initial Date not a trading day
205565    142.69
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
205315    183.11
Name: Close, dtype: object
210370    24.95
Name: Close, dtype: object
Initial Date not a trading day
210118    25.01
Name: Close, dtype: object
209868    26.35
Name: Close, dtype: object
209616    28.30
Name: Close, dtype: object
209364    33.55
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
209093    40.81
Name: Close, dtype: object
Initial Date not a trading day
208860    60.63
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
208609    47.67
Name: Close, dtype: object
208358    28.27
Name: Close, dtype: object
208106    34.98
Name: Close, dtype: object
Initial Date not a trading day
213206    11.04
Name: Close, dtype: object
212954    11.78
Name: Close, dtype: object
212704    13.64
Name: Close, dtype: object
Initial Date not a trading day
212431    17.15
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
212180    19.17
Name: Close, dtype: object
Initial Date not a trading day
211948    43.29
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
211697    84.43
Name: Close, dtype: object
211445    85.55
Name: Close, dtype: object
211194    56.00
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
210921    56.98
Name: Close, dtype: object
216186    11.21
Name: Close, dtype: object
Initial Date not a trading day
215954    12.65
Name: Close, dtype: object
215704    15.51
Name: Close, dtype: object
215452    21.47
Name: Close, dtype: object
Initial Date not a trading day
215180    19.56
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
214929    20.54
Name: Close, dtype: object
Initial Date not a trading day
214696    19.97
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
214445    19.31
Name: Close, dtype: object
214194    18.47
Name: Close, dtype: object
213942    21.74
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
219237    35.62
Name: Close, dtype: object
218984    39.77
Name: Close, dtype: object
218731    38.28
Name: Close, dtype: object
218481    47.08
Name: Close, dtype: object
Initial Date not a trading day
218230    54.93
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
217979    56.15
Name: Close, dtype: object
217726    62.78
Name: Close, dtype: object
217474    56.74
Name: Close, dtype: object
217222    42.29
Name: Close, dtype: object
216971    49.44
Name: Close, dtype: object
222133    10.09
Name: Close, dtype: object
221880    16.68
Name: Close, dtype: object
Initial Date not a trading day
221628    27.52
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
221379    32.51
Name: Close, dtype: object
221127    44.37
Name: Close, dtype: object
220875    65.86
Name: Close, dtype: object
220622    49.75
Name: Close, dtype: object
220370    38.82
Name: Close, dtype: object
Initial Date not a trading day
220119    29.80
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
219869    21.90
Name: Close, dtype: object
224923    17.09
Name: Close, dtype: object
Initial Date not a trading day
224671    25.84
Name: Close, dtype: object
224421    16.47
Name: Close, dtype: object
224169    39.35
Name: Close, dtype: object
223917    18.85
Name: Close, dtype: object
223665    26.81
Name: Close, dtype: object
Initial Date not a trading day
223413    24.07
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
223162    33.86
Name: Close, dtype: object
222911    58.95
Name: Close, dtype: object
222659    47.67
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
227844    11.48
Name: Close, dtype: object
227591    14.73
Name: Close, dtype: object
227340    14.77
Name: Close, dtype: object
227088    21.73
Name: Close, dtype: object
226836    26.95
Name: Close, dtype: object
Initial Date not a trading day
226585    33.77
Name: Close, dtype: object
226333    38.50
Name: Close, dtype: object
226081    31.16
Name: Close, dtype: object
225829    43.64
Name: Close, dtype: object
225578    40.89
Name: Close, dtype: object
Initial Date not a trading day
230601    75.07
Name: Close, dtype: object
230349    79.63
Name: Close, dtype: object
230099    103.23
Name: Close, dtype: object
229847    96.68
Name: Close, dtype: object
229595    115.92
Name: Close, dtype: object
Initial Date not a trading day
229343    126.98
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
229092    126.72
Name: Close, dtype: object
228840    114.08
Name: Close, dtype: object
228589    122.63
Name: Close, dtype: object
228336    114.91
Name: Close, dtype: object
233539    21.46
Name: Close, dtype: object
Initial Date not a trading day
233287    19.80
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
233039    22.92
Name: Close, dtype: object
232786    21.45
Name: Close, dtype: object
232534    15.47
Name: Close, dtype: object
232282    15.84
Name: Close, dtype: object
232029    13.53
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
231779    13.44
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
231528    12.25
Name: Close, dtype: object
231275    10.38
Name: Close, dtype: object
236458    50.30
Name: Close, dtype: object
Initial Date not a trading day
236226    50.57
Name: Close, dtype: object
235976    55.85
Name: Close, dtype: object
235724    61.07
Name: Close, dtype: object
Initial Date not a trading day
235452    65.58
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
235201    73.44
Name: Close, dtype: object
Initial Date not a trading day
234968    73.71
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
234717    67.98
Name: Close, dtype: object
234466    57.01
Name: Close, dtype: object
234214    69.16
Name: Close, dtype: object
239356    60.42
Name: Close, dtype: object
Initial Date not a trading day
239104    70.50
Name: Close, dtype: object
238854    80.92
Name: Close, dtype: object
238602    100.12
Name: Close, dtype: object
238350    115.54
Name: Close, dtype: object
238098    127.30
Name: Close, dtype: object
Initial Date not a trading day
237846    114.12
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
237595    120.66
Name: Close, dtype: object
237344    113.94
Name: Close, dtype: object
237092    137.55
Name: Close, dtype: object
242218    10.70
Name: Close, dtype: object
241966    11.88
Name: Close, dtype: object
241696    14.61
Name: Close, dtype: object
241444    20.97
Name: Close, dtype: object
Initial Date not a trading day
241212    34.52
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
240961    38.81
Name: Close, dtype: object
240708    33.96
Name: Close, dtype: object
240437    27.12
Name: Close, dtype: object
240186    29.33
Name: Close, dtype: object
Initial Date not a trading day
239934    28.13
Name: Close, dtype: object
245138    44.01
Name: Close, dtype: object
244885    48.70
Name: Close, dtype: object
244634    64.56
Name: Close, dtype: object
Initial Date not a trading day
244383    69.00
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
244132    74.33
Name: Close, dtype: object

243880    85.92
Name: Close, dtype: object
243627    91.20
Name: Close, dtype: object
243375    102.18
Name: Close, dtype: object
243123    150.00
Name: Close, dtype: object
Initial Date not a trading day
242873    169.25
Name: Close, dtype: object
248034    28.88
Name: Close, dtype: object
Initial Date not a trading day
247782    13.72
Name: Close, dtype: object
247532    26.39
Name: Close, dtype: object
247280    26.13
Name: Close, dtype: object
247028    33.55
Name: Close, dtype: object
246776    30.38
Name: Close, dtype: object
Initial Date not a trading day
246524    41.63
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
246273    69.81
Name: Close, dtype: object
246022    125.02
Name: Close, dtype: object
245770    109.58
Name: Close, dtype: object
250916    50.19
Name: Close, dtype: object
Initial Date not a trading day
250664    43.54
Name: Close, dtype: object
250414    42.79
Name: Close, dtype: object
250162    56.15
Name: Close, dtype: object
249910    74.52
Name: Close, dtype: object
249658    93.92
Name: Close, dtype: object
Initial Date not a trading day
249406    97.31
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
249155    82.07
Name: Close, dtype: object
248904    56.16
Name: Close, dtype: object
248652    53.90
Name: Close, dtype: object
253798    20.62
Name: Close, dtype: object
Initial Date not a trading day
253546    24.44
Name: Close, dtype: object
253296    25.45
Name: Close, dtype: object
253044    35.30
Name: Close, dtype: object
252792    36.33
Name: Close, dtype: object
252540    44.84
Name: Close, dtype: object
Initial Date not a trading day
252288    44.33
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
252037    42.80
Name: Close, dtype: object
251786    40.03
Name: Close, dtype: object
251534    55.08
Name: Close, dtype: object
256680    8.71
Name: Close, dtype: object
Initial Date not a trading day
256428    15.36
Name: Close, dtype: object
256178    17.61
Name: Close, dtype: object
255926    22.59
Name: Close, dtype: object
255674    36.12
Name: Close, dtype: object
255422    49.65
Name: Close, dtype: object
Initial Date not a trading day
255170    44.34
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
254919    63.29
Name: Close, dtype: object
254668    49.22
Name: Close, dtype: object
254416    63.55
Name: Close, dtype: object
259578    21.14
Name: Close, dtype: object
259326    22.36
Name: Close, dtype: object
259056    19.43
Name: Close, dtype: object
258804    19.63
Name: Close, dtype: object
Initial Date not a trading day
258553    15.00
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
258321    12.52
Name: Close, dtype: object
258068    14.83
Name: Close, dtype: object
257797    15.41
Name: Close, dtype: object
257546    15.39
Name: Close, dtype: object
Initial Date not a trading day
257294    11.04
Name: Close, dtype: object
262418    65.33
Name: Close, dtype: object
Initial Date not a trading day
262166    66.35
Name: Close, dtype: object
261916    68.43
Name: Close, dtype: object
261664    82.94
Name: Close, dtype: object
261412    94.56
Name: Close, dtype: object
261160    99.92
Name: Close, dtype: object
Initial Date not a trading day
260908    104.63
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
260657    119.92
Name: Close, dtype: object
260406    110.48
Name: Close, dtype: object
260154    136.67
Name: Close, dtype: object
265301    58.53
Name: Close, dtype: object
Initial Date not a trading day
265049    78.48
Name: Close, dtype: object
264799    83.64
Name: Close, dtype: object
264547    87.13
Name: Close, dtype: object
264295    81.45
Name: Close, dtype: object
264043    87.91
Name: Close, dtype: object
Initial Date not a trading day
263791    91.49
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
263540    105.65
Name: Close, dtype: object
263289    66.76
Name: Close, dtype: object
263037    85.09
Name: Close, dtype: object
268307    59.98
Name: Close, dtype: object
268054    63.57
Name: Close, dtype: object
Initial Date not a trading day
267802    61.25
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
267553    76.99
Name: Close, dtype: object
267301    78.59
Name: Close, dtype: object
267049    78.24
Name: Close, dtype: object
266796    84.67
Name: Close, dtype: object
266544    87.15
Name: Close, dtype: object
Initial Date not a trading day
266293    78.06
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
266043    109.65
Name: Close, dtype: object
271183    25.81
Name: Close, dtype: object
270930    65.46
Name: Close, dtype: object
270677    73.14
Name: Close, dtype: object
Initial Date not a trading day
270428    85.97
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
270177    89.62
Name: Close, dtype: object
269925    85.01
Name: Close, dtype: object
269672    83.53
Name: Close, dtype: object
269420    81.25
Name: Close, dtype: object
269168    86.85
Name: Close, dtype: object
Initial Date not a trading day
268918    60.43
Name: Close, dtype: object
273977    26.20
Name: Close, dtype: object
Initial Date not a trading day
273702    34.80
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
273454    38.00
Name: Close, dtype: object
273201    125.40
Name: Close, dtype: object
Initial Date not a trading day
272971    159.60
Name: Close, dtype: object
272719    159.00
Name: Close, dtype: object
272444    85.00
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
272194    33.60
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
271943    12.70
Name: Close, dtype: object
Initial Date not a trading day
271712    13.62
Name: Close, dtype: object
276934    2.01
Name: Close, dtype: object
Initial Date not a trading day
276682    1.11
Name: Close, dtype: object
276432    5.68
Name: Close, dtype: object
276180    7.98
Name: Close, dtype: object
275928    5.91
Name: Close, dtype: object
275676    5.38
Name: Close, dtype: object
Initial Date not a trading day
275424    4.10
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
275173    1.55
Name: Close, dtype: object
274922    2.07
Name: Close, dtype: object
274670    0.91
Name: Close, dtype: object
279852    95.09
Name: Close, dtype: object
Initial Date not a trading day
279600    108.56
Name: Close, dtype: object
279350    134.45
Name: Close, dtype: object
279098    241.79
Name: Close, dtype: object
278846    289.54
Name: Close, dtype: object
278594    201.91
Name: Close, dtype: object
Initial Date not a trading day
278342    169.85
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
278091    191.10
Name: Close, dtype: object
277840    240.84
Name: Close, dtype: object
277588    377.85
Name: Close, dtype: object
282750    7.35
Name: Close, dtype: object
Initial Date not a trading day
282518    4.82
Name: Close, dtype: object
282268    5.63
Name: Close, dtype: object
282016    10.01
Name: Close, dtype: object
Initial Date not a trading day
281744    10.46
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
281493    5.92
Name: Close, dtype: object
Initial Date not a trading day
281260    7.05
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
281009    7.75
Name: Close, dtype: object
280758    3.87
Name: Close, dtype: object
280506    2.50
Name: Close, dtype: object
Initial Date not a trading day
285755    30.97
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
285503    30.59
Name: Close, dtype: object
Initial Date not a trading day
285271    29.81
Name: Close, dtype: object
Initial Date not a trading day

Initial Date plus 1 not a trading day
285022    34.16
Name: Close, dtype: object
284770    37.45
Name: Close, dtype: object
284518    36.10
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
284245    51.79
Name: Close, dtype: object
283993    52.62
Name: Close, dtype: object
Initial Date not a trading day
283762    68.29
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
283512    70.72
Name: Close, dtype: object
288654    62.16
Name: Close, dtype: object
288401    67.44
Name: Close, dtype: object
Initial Date not a trading day
288149    72.46
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
287900    83.14
Name: Close, dtype: object
287648    91.40
Name: Close, dtype: object
287396    104.02
Name: Close, dtype: object
287143    138.39
Name: Close, dtype: object
286891    133.24
Name: Close, dtype: object
Initial Date not a trading day
286640    135.25
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
286390    153.11
Name: Close, dtype: object
291408    47.15
Name: Close, dtype: object
Initial Date not a trading day
291156    61.78
Name: Close, dtype: object
290906    72.22
Name: Close, dtype: object
290654    97.23
Name: Close, dtype: object
290402    103.93
Name: Close, dtype: object
290150    89.27
Name: Close, dtype: object
Initial Date not a trading day
289898    103.43
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
289647    113.51
Name: Close, dtype: object
289396    107.18
Name: Close, dtype: object
289144    146.98
Name: Close, dtype: object
294327    51.09
Name: Close, dtype: object
Initial Date not a trading day
294075    65.38
Name: Close, dtype: object
293825    52.13
Name: Close, dtype: object
293573    68.92
Name: Close, dtype: object
293321    85.53
Name: Close, dtype: object
293069    78.46
Name: Close, dtype: object
Initial Date not a trading day
292817    72.19
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
292566    49.46
Name: Close, dtype: object
292315    50.71
Name: Close, dtype: object
292063    48.50
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
297270    15.47
Name: Close, dtype: object
297017    19.20
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
296787    15.94
Name: Close, dtype: object
296537    28.28
Name: Close, dtype: object
296285    39.37
Name: Close, dtype: object
Initial Date not a trading day
296011    44.36
Name: Close, dtype: object
295759    70.85
Name: Close, dtype: object
Initial Date not a trading day
295529    70.45
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
295278    59.53
Name: Close, dtype: object
295027    86.14
Name: Close, dtype: object
Initial Date not a trading day
300252    33.73
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
300000    41.75
Name: Close, dtype: object
299747    54.30
Name: Close, dtype: object
Initial Date not a trading day
299475    60.63
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
299224    64.29
Name: Close, dtype: object
298972    48.15
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
298742    49.98
Name: Close, dtype: object
298490    38.53
Name: Close, dtype: object
298238    32.20
Name: Close, dtype: object
Initial Date not a trading day
297965    8.04
Name: Close, dtype: object
303043    18.96
Name: Close, dtype: object
Initial Date not a trading day
302811    15.19
Name: Close, dtype: object
302561    16.46
Name: Close, dtype: object
302309    37.79
Name: Close, dtype: object
Initial Date not a trading day
302037    49.02
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
301786    63.45
Name: Close, dtype: object
Initial Date not a trading day
301553    61.20
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
301302    74.05
Name: Close, dtype: object
301051    117.73
Name: Close, dtype: object
300799    78.55
Name: Close, dtype: object
306045    5.15
Name: Close, dtype: object
305792    4.08
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
305541    7.15
Name: Close, dtype: object
305291    9.86
Name: Close, dtype: object
305039    3.49
Name: Close, dtype: object
304787    1.58
Name: Close, dtype: object
304534    1.22
Name: Close, dtype: object
Initial Date not a trading day
304283    2.65
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
304032    1.42
Name: Close, dtype: object
303781    2.16
Name: Close, dtype: object
308872    1.24
Name: Close, dtype: object
Initial Date not a trading day
308620    1.23
Name: Close, dtype: object
308397    0.71
Name: Close, dtype: object
308145    1.22
Name: Close, dtype: object
307893    0.79
Name: Close, dtype: object
307641    0.61
Name: Close, dtype: object
Initial Date not a trading day
307389    0.96
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
307138    6.09
Name: Close, dtype: object
306887    3.24
Name: Close, dtype: object
306635    6.23
Name: Close, dtype: object
311761    26.88
Name: Close, dtype: object
311508    35.21
Name: Close, dtype: object
311255    35.76
Name: Close, dtype: object
Initial Date not a trading day
311006    48.07
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
310755    60.52
Name: Close, dtype: object
310503    86.55
Name: Close, dtype: object
310250    80.71
Name: Close, dtype: object
309998    81.50
Name: Close, dtype: object
309746    68.56
Name: Close, dtype: object
Initial Date not a trading day
309496    51.19
Name: Close, dtype: object
314534    56.07
Name: Close, dtype: object
314282    61.36
Name: Close, dtype: object
314031    69.95
Name: Close, dtype: object
313779    74.68
Name: Close, dtype: object
Initial Date not a trading day
313528    84.98
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
313277    66.36
Name: Close, dtype: object
313024    66.74
Name: Close, dtype: object
312772    106.60
Name: Close, dtype: object
312521    95.83
Name: Close, dtype: object
312269    114.49
Name: Close, dtype: object
317471    44.08
Name: Close, dtype: object
Initial Date not a trading day
317219    42.69
Name: Close, dtype: object
316969    41.59
Name: Close, dtype: object
316717    48.57
Name: Close, dtype: object
316465    38.09
Name: Close, dtype: object
316213    31.25
Name: Close, dtype: object
Initial Date not a trading day
315961    37.36
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
315710    42.02
Name: Close, dtype: object
315459    37.91
Name: Close, dtype: object
315207    37.74
Name: Close, dtype: object
320352    9.46
Name: Close, dtype: object
Initial Date not a trading day
320100    18.98
Name: Close, dtype: object
319850    24.87
Name: Close, dtype: object
319598    38.76
Name: Close, dtype: object
319346    29.61
Name: Close, dtype: object
319094    17.69
Name: Close, dtype: object
Initial Date not a trading day
318842    23.36
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
318591    28.60
Name: Close, dtype: object
318340    22.35
Name: Close, dtype: object
318088    17.41
Name: Close, dtype: object
323230    91.25
Name: Close, dtype: object
Initial Date not a trading day
322978    106.40
Name: Close, dtype: object
322728    108.14
Name: Close, dtype: object
322476    124.91
Name: Close, dtype: object
322224    112.18
Name: Close, dtype: object
321972    89.96
Name: Close, dtype: object
Initial Date not a trading day
321720    117.70
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
321469    125.19
Name: Close, dtype: object

321218    108.79
Name: Close, dtype: object
320966    120.51
Name: Close, dtype: object
326149    13.84
Name: Close, dtype: object
Initial Date not a trading day
325897    12.46
Name: Close, dtype: object
325647    12.45
Name: Close, dtype: object
325395    12.88
Name: Close, dtype: object
325143    5.00
Name: Close, dtype: object
324891    3.60
Name: Close, dtype: object
Initial Date not a trading day
324639    2.86
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
324388    2.03
Name: Close, dtype: object
324137    1.72
Name: Close, dtype: object
323885    2.34
Name: Close, dtype: object
329066    48.74
Name: Close, dtype: object
Initial Date not a trading day
328814    36.70
Name: Close, dtype: object
328564    32.10
Name: Close, dtype: object
328312    38.04
Name: Close, dtype: object
328060    33.81
Name: Close, dtype: object
327808    7.90
Name: Close, dtype: object
Initial Date not a trading day
327556    18.23
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
327305    14.63
Name: Close, dtype: object
327054    11.42
Name: Close, dtype: object
326802    8.85
Name: Close, dtype: object
331947    87.67
Name: Close, dtype: object
Initial Date not a trading day
331695    93.75
Name: Close, dtype: object
331445    80.56
Name: Close, dtype: object
331193    108.00
Name: Close, dtype: object
330941    99.75
Name: Close, dtype: object
330689    92.86
Name: Close, dtype: object
Initial Date not a trading day
330437    132.60
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
330186    150.22
Name: Close, dtype: object
329935    102.79
Name: Close, dtype: object
329683    87.57
Name: Close, dtype: object
334828    51.91
Name: Close, dtype: object
Initial Date not a trading day
334576    55.55
Name: Close, dtype: object
334326    57.99
Name: Close, dtype: object
334074    70.65
Name: Close, dtype: object
333822    69.06
Name: Close, dtype: object
333570    46.69
Name: Close, dtype: object
Initial Date not a trading day
333318    50.14
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
333067    54.89
Name: Close, dtype: object
332816    62.35
Name: Close, dtype: object
332564    65.03
Name: Close, dtype: object
337747    5.92
Name: Close, dtype: object
Initial Date not a trading day
337495    4.97
Name: Close, dtype: object
337245    4.70
Name: Close, dtype: object
336993    6.53
Name: Close, dtype: object
336741    5.45
Name: Close, dtype: object
336489    8.34
Name: Close, dtype: object
Initial Date not a trading day
336237    15.37
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
335986    12.15
Name: Close, dtype: object
335735    6.49
Name: Close, dtype: object
335483    4.83
Name: Close, dtype: object
340628    78.51
Name: Close, dtype: object
Initial Date not a trading day
340376    62.00
Name: Close, dtype: object
340126    52.04
Name: Close, dtype: object
339874    61.87
Name: Close, dtype: object
339622    61.21
Name: Close, dtype: object
339370    32.00
Name: Close, dtype: object
Initial Date not a trading day
339118    45.67
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
338867    41.40
Name: Close, dtype: object
338616    22.54
Name: Close, dtype: object
338364    25.97
Name: Close, dtype: object
343509    45.70
Name: Close, dtype: object
Initial Date not a trading day
343257    49.26
Name: Close, dtype: object
343007    60.40
Name: Close, dtype: object
342755    83.92
Name: Close, dtype: object
342503    92.07
Name: Close, dtype: object
342251    70.79
Name: Close, dtype: object
Initial Date not a trading day
341999    101.10
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
341748    107.91
Name: Close, dtype: object
341497    87.21
Name: Close, dtype: object
341245    83.76
Name: Close, dtype: object
346428    20.80
Name: Close, dtype: object
Initial Date not a trading day
346176    23.19
Name: Close, dtype: object
345926    25.04
Name: Close, dtype: object
345674    33.15
Name: Close, dtype: object
345422    36.12
Name: Close, dtype: object
345170    25.58
Name: Close, dtype: object
Initial Date not a trading day
344918    27.04
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
344667    26.51
Name: Close, dtype: object
344416    24.59
Name: Close, dtype: object
344164    28.16
Name: Close, dtype: object
349345    27.78
Name: Close, dtype: object
Initial Date not a trading day
349093    33.95
Name: Close, dtype: object
348843    36.54
Name: Close, dtype: object
348591    55.62
Name: Close, dtype: object
348339    46.90
Name: Close, dtype: object
348087    32.30
Name: Close, dtype: object
Initial Date not a trading day
347835    40.52
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
347584    35.27
Name: Close, dtype: object
347333    18.89
Name: Close, dtype: object
347081    10.90
Name: Close, dtype: object
352264    30.80
Name: Close, dtype: object
Initial Date not a trading day
352012    25.29
Name: Close, dtype: object
351762    12.95
Name: Close, dtype: object
351510    18.17
Name: Close, dtype: object
351258    9.60
Name: Close, dtype: object
351006    3.42
Name: Close, dtype: object
Initial Date not a trading day
350754    9.48
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
350503    9.79
Name: Close, dtype: object
350252    7.76
Name: Close, dtype: object
350000    7.13
Name: Close, dtype: object
355142    73.12
Name: Close, dtype: object
Initial Date not a trading day
354890    84.76
Name: Close, dtype: object
354640    86.55
Name: Close, dtype: object
354388    101.20
Name: Close, dtype: object
354136    92.45
Name: Close, dtype: object
353884    77.95
Name: Close, dtype: object
Initial Date not a trading day
353632    90.26
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
353381    83.64
Name: Close, dtype: object
353130    68.19
Name: Close, dtype: object
352878    69.78
Name: Close, dtype: object
358061    27.40
Name: Close, dtype: object
Initial Date not a trading day
357809    21.87
Name: Close, dtype: object
357559    25.35
Name: Close, dtype: object
357307    35.39
Name: Close, dtype: object
357055    32.99
Name: Close, dtype: object
356803    17.57
Name: Close, dtype: object
Initial Date not a trading day
356551    19.45
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
356300    16.70
Name: Close, dtype: object
356049    16.30
Name: Close, dtype: object
355797    20.16
Name: Close, dtype: object
360978    11.26
Name: Close, dtype: object
Initial Date not a trading day
360726    9.76
Name: Close, dtype: object
360476    7.91
Name: Close, dtype: object
360224    19.38
Name: Close, dtype: object
359972    24.78
Name: Close, dtype: object
359720    22.90
Name: Close, dtype: object
Initial Date not a trading day
359468    27.85
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
359217    16.85
Name: Close, dtype: object
358966    13.11
Name: Close, dtype: object
358714    15.43
Name: Close, dtype: object
363859    40.83
Name: Close, dtype: object
Initial Date not a trading day
363607    34.51
Name: Close, dtype: object
363357    34.69
Name: Close, dtype: object
363105    50.75
Name: Close, dtype: object
362853    39.33
Name: Close, dtype: object
362601    34.04
Name: Close, dtype: object
Initial Date not a trading day
362349    54.09
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
362098    48.87
Name: Close, dtype: object
361847    26.58
Name: Close, dtype: object
361595    24.47
Name: Close, dtype: object
366740    76.54
Name: Close, dtype: object
Initial Date not a trading day
366488    56.80
Name: Close, dtype: object
366238    52.96
Name: Close, dtype: object
365986    83.00
Name: Close, dtype: object
365734    73.82
Name: Close, dtype: object
365482    48.48
Name: Close, dtype: object

Initial Date not a trading day
365230    62.29
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
364979    47.47
Name: Close, dtype: object
364728    40.50
Name: Close, dtype: object
364476    66.81
Name: Close, dtype: object
369640    16.86
Name: Close, dtype: object
Initial Date not a trading day
369388    20.10
Name: Close, dtype: object
369138    42.83
Name: Close, dtype: object
368886    47.62
Name: Close, dtype: object
368634    37.48
Name: Close, dtype: object
368382    39.89
Name: Close, dtype: object
Initial Date not a trading day
368130    32.76
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
367879    51.22
Name: Close, dtype: object
367628    51.12
Name: Close, dtype: object
367376    50.71
Name: Close, dtype: object
372557    127.20
Name: Close, dtype: object
Initial Date not a trading day
372305    91.95
Name: Close, dtype: object
372055    97.65
Name: Close, dtype: object
371803    49.50
Name: Close, dtype: object
371551    41.25
Name: Close, dtype: object
371299    7.55
Name: Close, dtype: object
Initial Date not a trading day
371047    6.00
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
370796    19.75
Name: Close, dtype: object
370545    5.18
Name: Close, dtype: object
370293    8.68
Name: Close, dtype: object
375439    22.48
Name: Close, dtype: object
Initial Date not a trading day
375187    29.27
Name: Close, dtype: object
374937    30.66
Name: Close, dtype: object
374685    35.30
Name: Close, dtype: object
374433    28.29
Name: Close, dtype: object
374181    12.59
Name: Close, dtype: object
Initial Date not a trading day
373929    17.31
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
373678    16.93
Name: Close, dtype: object
373427    14.34
Name: Close, dtype: object
373175    13.58
Name: Close, dtype: object
378358    25.79
Name: Close, dtype: object
Initial Date not a trading day
378106    11.88
Name: Close, dtype: object
377856    8.67
Name: Close, dtype: object
377604    9.61
Name: Close, dtype: object
377352    9.98
Name: Close, dtype: object
377100    15.40
Name: Close, dtype: object
Initial Date not a trading day
376848    8.33
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
376597    2.46
Name: Close, dtype: object
376346    2.00
Name: Close, dtype: object
376094    4.92
Name: Close, dtype: object
381240    60.61
Name: Close, dtype: object
Initial Date not a trading day
380988    61.27
Name: Close, dtype: object
380738    61.60
Name: Close, dtype: object
380486    71.67
Name: Close, dtype: object
380234    65.53
Name: Close, dtype: object
379982    33.49
Name: Close, dtype: object
Initial Date not a trading day
379730    37.44
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
379479    36.02
Name: Close, dtype: object
379228    25.70
Name: Close, dtype: object
378976    25.05
Name: Close, dtype: object
384157    18.91
Name: Close, dtype: object
Initial Date not a trading day
383905    14.46
Name: Close, dtype: object
383655    16.42
Name: Close, dtype: object
383403    27.57
Name: Close, dtype: object
383151    23.04
Name: Close, dtype: object
382899    22.30
Name: Close, dtype: object
Initial Date not a trading day
382647    32.15
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
382396    26.20
Name: Close, dtype: object
382145    16.44
Name: Close, dtype: object
381893    12.26
Name: Close, dtype: object
387074    60.00
Name: Close, dtype: object
Initial Date not a trading day
386822    40.35
Name: Close, dtype: object
386572    36.15
Name: Close, dtype: object
386320    66.00
Name: Close, dtype: object
386068    54.45
Name: Close, dtype: object
385816    45.15
Name: Close, dtype: object
Initial Date not a trading day
385564    25.50
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
385313    16.65
Name: Close, dtype: object
385062    3.25
Name: Close, dtype: object
384810    8.50
Name: Close, dtype: object
389939    43.04
Name: Close, dtype: object
Initial Date not a trading day
389687    47.20
Name: Close, dtype: object
389437    50.87
Name: Close, dtype: object
389185    68.11
Name: Close, dtype: object
388933    47.43
Name: Close, dtype: object
388681    32.93
Name: Close, dtype: object
Initial Date not a trading day
388429    38.06
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
388178    29.14
Name: Close, dtype: object
387927    18.76
Name: Close, dtype: object
387692    24.84
Name: Close, dtype: object
392858    36.81
Name: Close, dtype: object
Initial Date not a trading day
392606    46.13
Name: Close, dtype: object
392356    53.79
Name: Close, dtype: object
392104    78.88
Name: Close, dtype: object
391852    58.81
Name: Close, dtype: object
391600    37.52
Name: Close, dtype: object
Initial Date not a trading day
391348    28.21
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
391097    21.14
Name: Close, dtype: object
390846    12.10
Name: Close, dtype: object
390594    14.91
Name: Close, dtype: object
395741    24.28
Name: Close, dtype: object
Initial Date not a trading day
395489    37.95
Name: Close, dtype: object
395239    37.43
Name: Close, dtype: object
394987    54.44
Name: Close, dtype: object
394735    49.79
Name: Close, dtype: object
394483    24.66
Name: Close, dtype: object
Initial Date not a trading day
394231    57.41
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
393980    53.45
Name: Close, dtype: object
393729    53.95
Name: Close, dtype: object
393477    75.67
Name: Close, dtype: object
398624    94.10
Name: Close, dtype: object
Initial Date not a trading day
398372    89.88
Name: Close, dtype: object
398122    73.49
Name: Close, dtype: object
397870    91.22
Name: Close, dtype: object
397618    80.58
Name: Close, dtype: object
397366    67.58
Name: Close, dtype: object
Initial Date not a trading day
397114    71.23
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
396863    73.66
Name: Close, dtype: object
396612    61.38
Name: Close, dtype: object
396360    41.21
Name: Close, dtype: object
401541    75.78
Name: Close, dtype: object
Initial Date not a trading day
401289    15.90
Name: Close, dtype: object
401039    4.74
Name: Close, dtype: object
400787    5.09
Name: Close, dtype: object
400535    10.33
Name: Close, dtype: object
400283    4.78
Name: Close, dtype: object
Initial Date not a trading day
400031    9.50
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
399780    4.55
Name: Close, dtype: object
399529    0.86
Name: Close, dtype: object
399277    0.65
Name: Close, dtype: object
404424    86.82
Name: Close, dtype: object
Initial Date not a trading day
404172    89.48
Name: Close, dtype: object
403922    106.59
Name: Close, dtype: object
403670    184.07
Name: Close, dtype: object
403418    148.85
Name: Close, dtype: object
403166    125.38
Name: Close, dtype: object
Initial Date not a trading day
402914    180.07
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
402663    172.85
Name: Close, dtype: object
402412    131.52
Name: Close, dtype: object
402160    151.37
Name: Close, dtype: object
407343    39.15
Name: Close, dtype: object
Initial Date not a trading day
407091    29.72
Name: Close, dtype: object
406841    15.39
Name: Close, dtype: object
406589    13.50
Name: Close, dtype: object
406337    4.05
Name: Close, dtype: object
406085    0.09
Name: Close, dtype: object
Initial Date not a trading day
405833    33.70
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
405582    29.72
Name: Close, dtype: object
405331    23.64
Name: Close, dtype: object
405079    9.90
Name: Close, dtype: object
410243    83.50
Name: Close, dtype: object
Initial Date not a trading day
409991    68.31
Name: Close, dtype: object

409741    69.30
Name: Close, dtype: object
409489    90.11
Name: Close, dtype: object
409237    85.41
Name: Close, dtype: object
408985    69.75
Name: Close, dtype: object
Initial Date not a trading day
408733    83.95
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
408482    67.39
Name: Close, dtype: object
408231    36.08
Name: Close, dtype: object
407979    40.20
Name: Close, dtype: object
413160    7.95
Name: Close, dtype: object
Initial Date not a trading day
412908    3.86
Name: Close, dtype: object
412658    7.93
Name: Close, dtype: object
412406    10.19
Name: Close, dtype: object
412154    6.31
Name: Close, dtype: object
411902    3.43
Name: Close, dtype: object
Initial Date not a trading day
411650    3.38
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
411399    4.36
Name: Close, dtype: object
411148    2.76
Name: Close, dtype: object
410896    3.43
Name: Close, dtype: object
416060    20.21
Name: Close, dtype: object
Initial Date not a trading day
415808    26.99
Name: Close, dtype: object
415558    32.74
Name: Close, dtype: object
415306    38.57
Name: Close, dtype: object
415054    44.94
Name: Close, dtype: object
414802    25.70
Name: Close, dtype: object
Initial Date not a trading day
414550    31.14
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
414299    30.49
Name: Close, dtype: object
414048    22.05
Name: Close, dtype: object
413796    23.72
Name: Close, dtype: object
418979    98.72
Name: Close, dtype: object
Initial Date not a trading day
418727    28.16
Name: Close, dtype: object
418477    23.20
Name: Close, dtype: object
418225    31.44
Name: Close, dtype: object
417973    40.48
Name: Close, dtype: object
417721    55.04
Name: Close, dtype: object
Initial Date not a trading day
417469    18.08
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
417218    11.20
Name: Close, dtype: object
416967    7.42
Name: Close, dtype: object
416715    23.97
Name: Close, dtype: object
421896    53.46
Name: Close, dtype: object
Initial Date not a trading day
421644    51.09
Name: Close, dtype: object
421394    51.99
Name: Close, dtype: object
421142    61.25
Name: Close, dtype: object
420890    51.18
Name: Close, dtype: object
420638    44.95
Name: Close, dtype: object
Initial Date not a trading day
420386    50.97
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
420135    55.28
Name: Close, dtype: object
419884    52.18
Name: Close, dtype: object
419632    55.30
Name: Close, dtype: object
424796    21.16
Name: Close, dtype: object
Initial Date not a trading day
424544    19.27
Name: Close, dtype: object
424294    31.23
Name: Close, dtype: object
424042    50.40
Name: Close, dtype: object
423790    49.50
Name: Close, dtype: object
423538    70.71
Name: Close, dtype: object
Initial Date not a trading day
423286    68.32
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
423035    91.91
Name: Close, dtype: object
422784    74.97
Name: Close, dtype: object
422532    93.65
Name: Close, dtype: object
427713    36.16
Name: Close, dtype: object
Initial Date not a trading day
427461    41.98
Name: Close, dtype: object
427211    41.17
Name: Close, dtype: object
426959    43.16
Name: Close, dtype: object
426707    46.93
Name: Close, dtype: object
426455    38.46
Name: Close, dtype: object
Initial Date not a trading day
426203    45.91
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
425952    28.14
Name: Close, dtype: object
425701    21.41
Name: Close, dtype: object
425449    43.42
Name: Close, dtype: object
430632    88.53
Name: Close, dtype: object
Initial Date not a trading day
430380    61.90
Name: Close, dtype: object
430130    57.73
Name: Close, dtype: object
429878    104.91
Name: Close, dtype: object
429626    106.00
Name: Close, dtype: object
429374    89.38
Name: Close, dtype: object
Initial Date not a trading day
429122    135.90
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
428871    122.01
Name: Close, dtype: object
428620    61.65
Name: Close, dtype: object
428368    52.49
Name: Close, dtype: object
433509    28.21
Name: Close, dtype: object
Initial Date not a trading day
433257    21.63
Name: Close, dtype: object
433007    26.56
Name: Close, dtype: object
432755    33.40
Name: Close, dtype: object
432503    30.55
Name: Close, dtype: object
432251    29.95
Name: Close, dtype: object
Initial Date not a trading day
431999    34.80
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
431748    43.89
Name: Close, dtype: object
431497    45.56
Name: Close, dtype: object
431245    52.90
Name: Close, dtype: object
436390    48.27
Name: Close, dtype: object
Initial Date not a trading day
436138    23.20
Name: Close, dtype: object
435888    35.30
Name: Close, dtype: object
435636    51.05
Name: Close, dtype: object
435384    56.01
Name: Close, dtype: object
435132    61.97
Name: Close, dtype: object
Initial Date not a trading day
434880    65.31
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
434629    59.58
Name: Close, dtype: object
434378    39.41
Name: Close, dtype: object
434126    51.33
Name: Close, dtype: object
439271    57.55
Name: Close, dtype: object
Initial Date not a trading day
439019    49.64
Name: Close, dtype: object
438769    62.63
Name: Close, dtype: object
438517    115.05
Name: Close, dtype: object
438265    132.25
Name: Close, dtype: object
438013    106.42
Name: Close, dtype: object
Initial Date not a trading day
437761    110.94
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
437510    169.47
Name: Close, dtype: object
437259    104.37
Name: Close, dtype: object
437007    166.58
Name: Close, dtype: object
442152    29.08
Name: Close, dtype: object
Initial Date not a trading day
441900    33.44
Name: Close, dtype: object
441650    34.65
Name: Close, dtype: object
441398    46.93
Name: Close, dtype: object
441146    47.08
Name: Close, dtype: object
440894    40.94
Name: Close, dtype: object
Initial Date not a trading day
440642    51.96
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
440391    63.28
Name: Close, dtype: object
440140    73.70
Name: Close, dtype: object
439888    95.23
Name: Close, dtype: object
445033    38.52
Name: Close, dtype: object
Initial Date not a trading day
444781    41.06
Name: Close, dtype: object
444531    34.70
Name: Close, dtype: object
444279    66.37
Name: Close, dtype: object
444027    68.43
Name: Close, dtype: object
443775    80.54
Name: Close, dtype: object
Initial Date not a trading day
443523    92.86
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
443272    100.84
Name: Close, dtype: object
443021    89.44
Name: Close, dtype: object
442769    131.08
Name: Close, dtype: object
447914    80.11
Name: Close, dtype: object
Initial Date not a trading day
447662    76.30
Name: Close, dtype: object
447412    89.70
Name: Close, dtype: object
447160    118.56
Name: Close, dtype: object
446908    150.15
Name: Close, dtype: object
446656    132.04
Name: Close, dtype: object
Initial Date not a trading day
446404    162.98
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
446153    198.22
Name: Close, dtype: object
445902    204.18
Name: Close, dtype: object
445650    226.50
Name: Close, dtype: object
450795    190.58
Name: Close, dtype: object
Initial Date not a trading day
450543    178.24
Name: Close, dtype: object
450293    206.71
Name: Close, dtype: object
450041    316.47
Name: Close, dtype: object
449789    357.56
Name: Close, dtype: object
449537    340.52
Name: Close, dtype: object
Initial Date not a trading day
449285    380.54
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
449034    513.71
Name: Close, dtype: object
448783    392.82
Name: Close, dtype: object

448531    502.70
Name: Close, dtype: object
453672    62.25
Name: Close, dtype: object
Initial Date not a trading day
453420    70.12
Name: Close, dtype: object
453170    79.80
Name: Close, dtype: object
452918    103.53
Name: Close, dtype: object
452666    114.88
Name: Close, dtype: object
452414    116.85
Name: Close, dtype: object
Initial Date not a trading day
452162    132.12
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
451911    146.13
Name: Close, dtype: object
451660    129.18
Name: Close, dtype: object
451408    155.66
Name: Close, dtype: object
456550    31.24
Name: Close, dtype: object
Initial Date not a trading day
456298    30.03
Name: Close, dtype: object
456048    38.61
Name: Close, dtype: object
455796    51.63
Name: Close, dtype: object
455544    51.10
Name: Close, dtype: object
455292    58.77
Name: Close, dtype: object
Initial Date not a trading day
455040    75.24
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
454789    74.97
Name: Close, dtype: object
454538    77.42
Name: Close, dtype: object
454286    105.15
Name: Close, dtype: object
459431    45.72
Name: Close, dtype: object
Initial Date not a trading day
459179    34.63
Name: Close, dtype: object
458929    37.73
Name: Close, dtype: object
458677    62.33
Name: Close, dtype: object
458425    73.60
Name: Close, dtype: object
458173    80.12
Name: Close, dtype: object
Initial Date not a trading day
457921    107.82
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
457670    143.25
Name: Close, dtype: object
457419    188.12
Name: Close, dtype: object
457167    200.72
Name: Close, dtype: object
462349    14.48
Name: Close, dtype: object
Initial Date not a trading day
462097    14.16
Name: Close, dtype: object
461847    14.04
Name: Close, dtype: object
461595    15.90
Name: Close, dtype: object
461343    15.98
Name: Close, dtype: object
461091    14.08
Name: Close, dtype: object
Initial Date not a trading day
460839    17.48
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
460588    17.30
Name: Close, dtype: object
460337    13.64
Name: Close, dtype: object
460085    14.82
Name: Close, dtype: object
465267    17.48
Name: Close, dtype: object
Initial Date not a trading day
465015    18.09
Name: Close, dtype: object
464765    20.58
Name: Close, dtype: object
464513    31.65
Name: Close, dtype: object
464261    23.51
Name: Close, dtype: object
464009    27.30
Name: Close, dtype: object
Initial Date not a trading day
463757    39.60
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
463506    44.40
Name: Close, dtype: object
463255    41.97
Name: Close, dtype: object
463003    41.75
Name: Close, dtype: object
468148    84.82
Name: Close, dtype: object
Initial Date not a trading day
467896    84.09
Name: Close, dtype: object
467646    109.95
Name: Close, dtype: object
467394    155.87
Name: Close, dtype: object
467142    170.30
Name: Close, dtype: object
466890    183.09
Name: Close, dtype: object
Initial Date not a trading day
466638    216.40
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
466387    221.26
Name: Close, dtype: object
466136    217.76
Name: Close, dtype: object
465884    276.84
Name: Close, dtype: object
471152    73.55
Name: Close, dtype: object
470899    87.90
Name: Close, dtype: object
470646    92.27
Name: Close, dtype: object
Initial Date not a trading day
470397    102.35
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
470146    127.40
Name: Close, dtype: object
469894    157.92
Name: Close, dtype: object
469641    178.03
Name: Close, dtype: object
469389    157.18
Name: Close, dtype: object
469137    229.39
Name: Close, dtype: object
Initial Date not a trading day
468887    272.09
Name: Close, dtype: object
473985    9.88
Name: Close, dtype: object
Initial Date not a trading day
473733    11.50
Name: Close, dtype: object
473483    17.00
Name: Close, dtype: object
473231    23.42
Name: Close, dtype: object
472979    24.87
Name: Close, dtype: object
472727    25.03
Name: Close, dtype: object
Initial Date not a trading day
472475    24.51
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
472224    39.24
Name: Close, dtype: object
471973    31.44
Name: Close, dtype: object
471721    45.35
Name: Close, dtype: object
476927    31.09
Name: Close, dtype: object
476674    27.82
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
476423    37.16
Name: Close, dtype: object
476173    46.11
Name: Close, dtype: object
475921    49.81
Name: Close, dtype: object
475669    34.29
Name: Close, dtype: object
475416    32.73
Name: Close, dtype: object
Initial Date not a trading day
475165    40.96
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
474914    30.41
Name: Close, dtype: object
474663    28.86
Name: Close, dtype: object
479763    26.55
Name: Close, dtype: object
Initial Date not a trading day
479511    28.93
Name: Close, dtype: object
479261    34.45
Name: Close, dtype: object
479009    52.10
Name: Close, dtype: object
478757    54.17
Name: Close, dtype: object
478505    57.16
Name: Close, dtype: object
Initial Date not a trading day
478253    73.76
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
478002    90.71
Name: Close, dtype: object
477751    74.53
Name: Close, dtype: object
477499    105.25
Name: Close, dtype: object
482644    26.49
Name: Close, dtype: object
Initial Date not a trading day
482392    16.25
Name: Close, dtype: object
482142    22.44
Name: Close, dtype: object
481890    36.23
Name: Close, dtype: object
481638    41.69
Name: Close, dtype: object
481386    43.46
Name: Close, dtype: object
Initial Date not a trading day
481134    47.65
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
480883    56.28
Name: Close, dtype: object
480632    44.45
Name: Close, dtype: object
480380    60.77
Name: Close, dtype: object
485526    23.83
Name: Close, dtype: object
Initial Date not a trading day
485274    24.11
Name: Close, dtype: object
485024    24.76
Name: Close, dtype: object
484772    44.98
Name: Close, dtype: object
484520    43.86
Name: Close, dtype: object
484268    51.25
Name: Close, dtype: object
Initial Date not a trading day
484016    56.42
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
483765    70.56
Name: Close, dtype: object
483514    75.33
Name: Close, dtype: object
483262    92.55
Name: Close, dtype: object
488408    24.06
Name: Close, dtype: object
Initial Date not a trading day
488156    20.09
Name: Close, dtype: object
487906    26.09
Name: Close, dtype: object
487654    36.40
Name: Close, dtype: object
487402    39.52
Name: Close, dtype: object
487150    33.48
Name: Close, dtype: object
Initial Date not a trading day
486898    30.34
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
486647    36.54
Name: Close, dtype: object
486396    16.74
Name: Close, dtype: object
486144    17.98
Name: Close, dtype: object
491290    27.81
Name: Close, dtype: object
Initial Date not a trading day
491038    19.42
Name: Close, dtype: object
490788    25.90
Name: Close, dtype: object
490536    51.62
Name: Close, dtype: object
490284    57.67
Name: Close, dtype: object
490032    50.26
Name: Close, dtype: object
Initial Date not a trading day
489780    66.27
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
489529    76.87
Name: Close, dtype: object
489278    51.31
Name: Close, dtype: object
489026    59.01
Name: Close, dtype: object
494155    38.91
Name: Close, dtype: object
Initial Date not a trading day
493903    37.65
Name: Close, dtype: object
493653    40.75
Name: Close, dtype: object
493401    48.24
Name: Close, dtype: object
493149    42.02
Name: Close, dtype: object
492897    38.40
Name: Close, dtype: object

Initial Date not a trading day
492645    46.83
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
492394    50.03
Name: Close, dtype: object
492143    45.52
Name: Close, dtype: object
491908    52.49
Name: Close, dtype: object
497055    19.97
Name: Close, dtype: object
Initial Date not a trading day
496803    28.90
Name: Close, dtype: object
496553    35.30
Name: Close, dtype: object
496301    66.93
Name: Close, dtype: object
496049    71.71
Name: Close, dtype: object
495797    111.59
Name: Close, dtype: object
Initial Date not a trading day
495545    146.92
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
495294    201.75
Name: Close, dtype: object
495043    211.31
Name: Close, dtype: object
494791    379.11
Name: Close, dtype: object
499937    27.34
Name: Close, dtype: object
Initial Date not a trading day
499685    31.62
Name: Close, dtype: object
499435    34.47
Name: Close, dtype: object
499183    48.36
Name: Close, dtype: object
498931    57.24
Name: Close, dtype: object
498679    55.45
Name: Close, dtype: object
Initial Date not a trading day
498427    67.59
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
498176    81.39
Name: Close, dtype: object
497925    79.75
Name: Close, dtype: object
497673    111.41
Name: Close, dtype: object
502819    39.60
Name: Close, dtype: object
Initial Date not a trading day
502567    27.79
Name: Close, dtype: object
502317    29.35
Name: Close, dtype: object
502065    48.05
Name: Close, dtype: object
501813    48.20
Name: Close, dtype: object
501561    42.96
Name: Close, dtype: object
Initial Date not a trading day
501309    48.02
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
501058    50.56
Name: Close, dtype: object
500807    41.06
Name: Close, dtype: object
500555    50.97
Name: Close, dtype: object
505701    26.54
Name: Close, dtype: object
Initial Date not a trading day
505449    33.68
Name: Close, dtype: object
505199    50.32
Name: Close, dtype: object
504947    78.47
Name: Close, dtype: object
504695    95.81
Name: Close, dtype: object
504443    100.34
Name: Close, dtype: object
Initial Date not a trading day
504191    94.27
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
503940    147.61
Name: Close, dtype: object
503689    140.04
Name: Close, dtype: object
503437    237.41
Name: Close, dtype: object
508601    38.96
Name: Close, dtype: object
Initial Date not a trading day
508349    32.93
Name: Close, dtype: object
508099    30.99
Name: Close, dtype: object
507847    43.72
Name: Close, dtype: object
507595    47.44
Name: Close, dtype: object
507343    72.13
Name: Close, dtype: object
Initial Date not a trading day
507091    78.78
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
506840    126.54
Name: Close, dtype: object
506589    147.43
Name: Close, dtype: object
506337    258.18
Name: Close, dtype: object
511483    23.73
Name: Close, dtype: object
Initial Date not a trading day
511231    24.51
Name: Close, dtype: object
510981    24.99
Name: Close, dtype: object
510729    39.80
Name: Close, dtype: object
510477    47.96
Name: Close, dtype: object
510225    58.17
Name: Close, dtype: object
Initial Date not a trading day
509973    67.12
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
509722    76.83
Name: Close, dtype: object
509471    81.57
Name: Close, dtype: object
509219    107.10
Name: Close, dtype: object
514402    7.26
Name: Close, dtype: object
Initial Date not a trading day
514150    4.85
Name: Close, dtype: object
513900    7.85
Name: Close, dtype: object
513648    13.25
Name: Close, dtype: object
513396    12.45
Name: Close, dtype: object
513144    14.32
Name: Close, dtype: object
Initial Date not a trading day
512892    15.90
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
512641    18.49
Name: Close, dtype: object
512390    17.44
Name: Close, dtype: object
512138    22.65
Name: Close, dtype: object
517302    32.56
Name: Close, dtype: object
Initial Date not a trading day
517050    24.60
Name: Close, dtype: object
516800    28.52
Name: Close, dtype: object
516548    49.31
Name: Close, dtype: object
516296    51.94
Name: Close, dtype: object
516044    44.98
Name: Close, dtype: object
Initial Date not a trading day
515792    57.86
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
515541    70.56
Name: Close, dtype: object
515290    44.17
Name: Close, dtype: object
515038    55.00
Name: Close, dtype: object
520185    58.71
Name: Close, dtype: object
Initial Date not a trading day
519933    50.12
Name: Close, dtype: object
519683    53.33
Name: Close, dtype: object
519431    92.22
Name: Close, dtype: object
519179    90.46
Name: Close, dtype: object
518927    81.41
Name: Close, dtype: object
Initial Date not a trading day
518675    104.06
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
518424    114.98
Name: Close, dtype: object
518173    81.55
Name: Close, dtype: object
517921    93.74
Name: Close, dtype: object
523063    34.75
Name: Close, dtype: object
Initial Date not a trading day
522811    42.92
Name: Close, dtype: object
522561    54.67
Name: Close, dtype: object
522309    78.20
Name: Close, dtype: object
522057    88.98
Name: Close, dtype: object
521805    98.58
Name: Close, dtype: object
Initial Date not a trading day
521553    107.54
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
521302    169.40
Name: Close, dtype: object
521051    169.94
Name: Close, dtype: object
520799    273.05
Name: Close, dtype: object
525981    23.46
Name: Close, dtype: object
Initial Date not a trading day
525729    17.11
Name: Close, dtype: object
525479    23.34
Name: Close, dtype: object
525227    34.73
Name: Close, dtype: object
524975    40.04
Name: Close, dtype: object
524723    52.40
Name: Close, dtype: object
Initial Date not a trading day
524471    49.36
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
524220    71.86
Name: Close, dtype: object
523969    46.20
Name: Close, dtype: object
523717    65.48
Name: Close, dtype: object
528899    30.10
Name: Close, dtype: object
Initial Date not a trading day
528647    18.52
Name: Close, dtype: object
528397    26.53
Name: Close, dtype: object
528145    35.33
Name: Close, dtype: object
527893    36.06
Name: Close, dtype: object
527641    31.20
Name: Close, dtype: object
Initial Date not a trading day
527389    38.41
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
527138    41.26
Name: Close, dtype: object
526887    33.19
Name: Close, dtype: object
526635    45.57
Name: Close, dtype: object
531817    11.53
Name: Close, dtype: object
Initial Date not a trading day
531565    11.55
Name: Close, dtype: object
531315    26.00
Name: Close, dtype: object
531063    32.27
Name: Close, dtype: object
530811    37.04
Name: Close, dtype: object
530559    37.33
Name: Close, dtype: object
Initial Date not a trading day
530307    46.08
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
530056    42.30
Name: Close, dtype: object
529805    41.40
Name: Close, dtype: object
529553    40.79
Name: Close, dtype: object
534694    62.00
Name: Close, dtype: object
Initial Date not a trading day
534442    54.71
Name: Close, dtype: object
534192    63.53
Name: Close, dtype: object
533940    81.73
Name: Close, dtype: object
533688    83.77
Name: Close, dtype: object
533436    71.49
Name: Close, dtype: object
Initial Date not a trading day
533184    75.26
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
532933    104.93
Name: Close, dtype: object
532682    92.32
Name: Close, dtype: object
532430    121.84
Name: Close, dtype: object
537594    31.88
Name: Close, dtype: object
Initial Date not a trading day
537342    27.41
Name: Close, dtype: object
537092    40.17
Name: Close, dtype: object

536840    54.54
Name: Close, dtype: object
536588    70.25
Name: Close, dtype: object
536336    62.09
Name: Close, dtype: object
Initial Date not a trading day
536084    74.12
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
535833    104.71
Name: Close, dtype: object
535582    82.63
Name: Close, dtype: object
535330    112.45
Name: Close, dtype: object
540477    18.22
Name: Close, dtype: object
Initial Date not a trading day
540225    17.89
Name: Close, dtype: object
539975    20.25
Name: Close, dtype: object
539723    26.17
Name: Close, dtype: object
539471    26.99
Name: Close, dtype: object
539219    31.80
Name: Close, dtype: object
Initial Date not a trading day
538967    35.50
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
538716    56.32
Name: Close, dtype: object
538465    60.33
Name: Close, dtype: object
538213    72.39
Name: Close, dtype: object
543377    55.71
Name: Close, dtype: object
Initial Date not a trading day
543125    59.17
Name: Close, dtype: object
542875    71.82
Name: Close, dtype: object
542623    90.54
Name: Close, dtype: object
542371    105.85
Name: Close, dtype: object
542119    112.86
Name: Close, dtype: object
Initial Date not a trading day
541867    122.42
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
541616    135.64
Name: Close, dtype: object
541365    119.75
Name: Close, dtype: object
541113    136.95
Name: Close, dtype: object
546277    24.22
Name: Close, dtype: object
Initial Date not a trading day
546025    21.07
Name: Close, dtype: object
545775    20.82
Name: Close, dtype: object
545523    35.08
Name: Close, dtype: object
545271    34.88
Name: Close, dtype: object
545019    33.29
Name: Close, dtype: object
Initial Date not a trading day
544767    43.93
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
544516    54.89
Name: Close, dtype: object
544265    29.38
Name: Close, dtype: object
544013    29.16
Name: Close, dtype: object
549196    34.23
Name: Close, dtype: object
Initial Date not a trading day
548944    24.03
Name: Close, dtype: object
548694    34.82
Name: Close, dtype: object
548442    65.12
Name: Close, dtype: object
548190    49.82
Name: Close, dtype: object
547938    28.66
Name: Close, dtype: object
Initial Date not a trading day
547686    19.51
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
547435    22.34
Name: Close, dtype: object
547184    18.08
Name: Close, dtype: object
546932    16.72
Name: Close, dtype: object
552096    91.73
Name: Close, dtype: object
Initial Date not a trading day
551844    102.78
Name: Close, dtype: object
551594    88.82
Name: Close, dtype: object
551342    118.70
Name: Close, dtype: object
551090    118.70
Name: Close, dtype: object
550838    128.66
Name: Close, dtype: object
Initial Date not a trading day
550586    122.28
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
550335    150.69
Name: Close, dtype: object
550084    151.86
Name: Close, dtype: object
549832    201.94
Name: Close, dtype: object
554996    16.44
Name: Close, dtype: object
Initial Date not a trading day
554744    20.65
Name: Close, dtype: object
554494    23.25
Name: Close, dtype: object
554242    26.74
Name: Close, dtype: object
553990    32.21
Name: Close, dtype: object
553738    34.41
Name: Close, dtype: object
Initial Date not a trading day
553486    42.54
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
553235    46.51
Name: Close, dtype: object
552984    48.90
Name: Close, dtype: object
552732    69.10
Name: Close, dtype: object
557873    22.92
Name: Close, dtype: object
Initial Date not a trading day
557621    26.90
Name: Close, dtype: object
557371    31.34
Name: Close, dtype: object
557119    38.33
Name: Close, dtype: object
556867    45.02
Name: Close, dtype: object
556615    44.91
Name: Close, dtype: object
Initial Date not a trading day
556363    38.41
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
556112    57.07
Name: Close, dtype: object
555861    72.33
Name: Close, dtype: object
555609    86.86
Name: Close, dtype: object
560711    14.53
Name: Close, dtype: object
Initial Date not a trading day
560459    22.19
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
560211    18.67
Name: Close, dtype: object
559958    26.04
Name: Close, dtype: object
559706    71.58
Name: Close, dtype: object
559454    94.81
Name: Close, dtype: object
559201    125.20
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
558951    290.99
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
558700    285.59
Name: Close, dtype: object
558447    145.16
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
563696    24.89
Name: Close, dtype: object
563443    26.51
Name: Close, dtype: object
563192    25.74
Name: Close, dtype: object
562940    36.30
Name: Close, dtype: object
562688    39.53
Name: Close, dtype: object
Initial Date not a trading day
562437    37.76
Name: Close, dtype: object
562185    43.57
Name: Close, dtype: object
561933    68.03
Name: Close, dtype: object
561681    64.79
Name: Close, dtype: object
561430    75.75
Name: Close, dtype: object
566533    40.27
Name: Close, dtype: object
Initial Date not a trading day
566281    71.50
Name: Close, dtype: object
566031    93.74
Name: Close, dtype: object
565779    132.88
Name: Close, dtype: object
565527    185.03
Name: Close, dtype: object
565275    190.75
Name: Close, dtype: object
Initial Date not a trading day
565023    122.35
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
564772    119.59
Name: Close, dtype: object
564521    97.36
Name: Close, dtype: object
564269    108.15
Name: Close, dtype: object
569413    19.54
Name: Close, dtype: object
Initial Date not a trading day
569161    23.73
Name: Close, dtype: object
568911    27.75
Name: Close, dtype: object
568659    57.14
Name: Close, dtype: object
568407    55.91
Name: Close, dtype: object
568155    65.85
Name: Close, dtype: object
Initial Date not a trading day
567903    96.13
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
567652    222.19
Name: Close, dtype: object
567401    209.43
Name: Close, dtype: object
567149    279.04
Name: Close, dtype: object
572358    30.66
Name: Close, dtype: object
572105    37.27
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
571854    38.71
Name: Close, dtype: object
571604    61.10
Name: Close, dtype: object
571352    77.30
Name: Close, dtype: object
571100    94.99
Name: Close, dtype: object
570847    80.78
Name: Close, dtype: object
Initial Date not a trading day
570596    82.75
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
570345    92.22
Name: Close, dtype: object
570094    82.33
Name: Close, dtype: object
575175    54.90
Name: Close, dtype: object
Initial Date not a trading day
574923    64.21
Name: Close, dtype: object
574673    86.20
Name: Close, dtype: object
574421    114.08
Name: Close, dtype: object
574169    159.29
Name: Close, dtype: object
573917    162.33
Name: Close, dtype: object
Initial Date not a trading day
573665    146.21
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
573414    173.90
Name: Close, dtype: object
573163    194.67
Name: Close, dtype: object
572911    241.07
Name: Close, dtype: object
578056    56.86
Name: Close, dtype: object
Initial Date not a trading day
577804    66.25
Name: Close, dtype: object
577554    60.92
Name: Close, dtype: object
577302    92.39
Name: Close, dtype: object
577050    125.67
Name: Close, dtype: object
576798    139.44
Name: Close, dtype: object
Initial Date not a trading day
576546    143.77
Name: Close, dtype: object
Initial Date not a trading day

Initial Date plus 1 not a trading day
576295    225.01
Name: Close, dtype: object
576044    262.63
Name: Close, dtype: object
575792    302.03
Name: Close, dtype: object
580937    27.50
Name: Close, dtype: object
Initial Date not a trading day
580685    26.88
Name: Close, dtype: object
580435    36.21
Name: Close, dtype: object
580183    37.78
Name: Close, dtype: object
579931    39.82
Name: Close, dtype: object
579679    38.15
Name: Close, dtype: object
Initial Date not a trading day
579427    44.34
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
579176    64.64
Name: Close, dtype: object
578925    65.82
Name: Close, dtype: object
578673    83.62
Name: Close, dtype: object
583879    74.10
Name: Close, dtype: object
583626    73.32
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
583375    78.56
Name: Close, dtype: object
583125    100.02
Name: Close, dtype: object
582873    113.81
Name: Close, dtype: object
582621    132.66
Name: Close, dtype: object
582368    179.73
Name: Close, dtype: object
Initial Date not a trading day
582117    195.95
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
581866    261.00
Name: Close, dtype: object
581615    252.96
Name: Close, dtype: object
586696    61.76
Name: Close, dtype: object
Initial Date not a trading day
586444    101.37
Name: Close, dtype: object
586194    134.82
Name: Close, dtype: object
585942    257.51
Name: Close, dtype: object
585690    312.67
Name: Close, dtype: object
585438    282.18
Name: Close, dtype: object
Initial Date not a trading day
585186    261.21
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
584935    318.57
Name: Close, dtype: object
584684    300.92
Name: Close, dtype: object
584432    296.73
Name: Close, dtype: object
589596    7.57
Name: Close, dtype: object
Initial Date not a trading day
589344    5.34
Name: Close, dtype: object
589094    5.73
Name: Close, dtype: object
588842    12.02
Name: Close, dtype: object
588590    13.25
Name: Close, dtype: object
588338    18.44
Name: Close, dtype: object
Initial Date not a trading day
588086    21.63
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
587835    24.79
Name: Close, dtype: object
587584    35.34
Name: Close, dtype: object
587332    45.22
Name: Close, dtype: object
592477    26.48
Name: Close, dtype: object
Initial Date not a trading day
592225    35.24
Name: Close, dtype: object
591975    32.59
Name: Close, dtype: object
591723    53.15
Name: Close, dtype: object
591471    59.03
Name: Close, dtype: object
591219    68.79
Name: Close, dtype: object
Initial Date not a trading day
590967    58.44
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
590716    61.28
Name: Close, dtype: object
590465    51.98
Name: Close, dtype: object
590213    64.19
Name: Close, dtype: object
595483    33.61
Name: Close, dtype: object
595230    45.42
Name: Close, dtype: object
Initial Date not a trading day
594978    42.00
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
594729    47.20
Name: Close, dtype: object
594477    68.56
Name: Close, dtype: object
594225    83.65
Name: Close, dtype: object
593972    78.01
Name: Close, dtype: object
593720    77.92
Name: Close, dtype: object
Initial Date not a trading day
593469    48.83
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
593219    47.10
Name: Close, dtype: object
598236    6.33
Name: Close, dtype: object
Initial Date not a trading day
597984    9.90
Name: Close, dtype: object
597734    10.25
Name: Close, dtype: object
597482    14.74
Name: Close, dtype: object
597230    25.96
Name: Close, dtype: object
596978    32.91
Name: Close, dtype: object
Initial Date not a trading day
596726    28.25
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
596475    50.44
Name: Close, dtype: object
596224    57.65
Name: Close, dtype: object
595972    62.87
Name: Close, dtype: object
601097    24.71
Name: Close, dtype: object
Initial Date not a trading day
600865    30.63
Name: Close, dtype: object
600615    38.76
Name: Close, dtype: object
600363    55.74
Name: Close, dtype: object
Initial Date not a trading day
600091    66.35
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
599840    58.01
Name: Close, dtype: object
Initial Date not a trading day
599607    47.37
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
599356    67.39
Name: Close, dtype: object
599105    52.44
Name: Close, dtype: object
598853    73.39
Name: Close, dtype: object
603998    36.66
Name: Close, dtype: object
Initial Date not a trading day
603746    42.00
Name: Close, dtype: object
603496    53.46
Name: Close, dtype: object
603244    87.48
Name: Close, dtype: object
602992    102.91
Name: Close, dtype: object
602740    146.33
Name: Close, dtype: object
Initial Date not a trading day
602488    133.39
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
602237    203.09
Name: Close, dtype: object
601986    189.92
Name: Close, dtype: object
601734    204.49
Name: Close, dtype: object
606879    34.77
Name: Close, dtype: object
Initial Date not a trading day
606627    40.78
Name: Close, dtype: object
606377    48.35
Name: Close, dtype: object
606125    71.57
Name: Close, dtype: object
605873    96.31
Name: Close, dtype: object
605621    97.77
Name: Close, dtype: object
Initial Date not a trading day
605369    78.91
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
605118    72.50
Name: Close, dtype: object
604867    65.52
Name: Close, dtype: object
604615    74.29
Name: Close, dtype: object
609760    35.75
Name: Close, dtype: object
Initial Date not a trading day
609508    35.65
Name: Close, dtype: object
609258    42.37
Name: Close, dtype: object
609006    58.51
Name: Close, dtype: object
608754    64.96
Name: Close, dtype: object
608502    70.40
Name: Close, dtype: object
Initial Date not a trading day
608250    77.84
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
607999    92.82
Name: Close, dtype: object
607748    103.12
Name: Close, dtype: object
607496    153.48
Name: Close, dtype: object
612641    34.74
Name: Close, dtype: object
Initial Date not a trading day
612389    37.91
Name: Close, dtype: object
612139    55.27
Name: Close, dtype: object
611887    63.37
Name: Close, dtype: object
611635    75.74
Name: Close, dtype: object
611383    69.71
Name: Close, dtype: object
Initial Date not a trading day
611131    64.20
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
610880    72.25
Name: Close, dtype: object
610629    51.46
Name: Close, dtype: object
610377    75.03
Name: Close, dtype: object
615522    34.17
Name: Close, dtype: object
Initial Date not a trading day
615270    34.99
Name: Close, dtype: object
615020    39.61
Name: Close, dtype: object
614768    48.48
Name: Close, dtype: object
614516    53.27
Name: Close, dtype: object
614264    60.85
Name: Close, dtype: object
Initial Date not a trading day
614012    57.73
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
613761    65.83
Name: Close, dtype: object
613510    37.21
Name: Close, dtype: object
613258    56.59
Name: Close, dtype: object
618422    13.65
Name: Close, dtype: object
Initial Date not a trading day
618170    9.31
Name: Close, dtype: object
617920    13.59
Name: Close, dtype: object
617668    35.41
Name: Close, dtype: object
617416    55.05
Name: Close, dtype: object
617164    81.90
Name: Close, dtype: object
Initial Date not a trading day
616912    59.70
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
616661    57.39
Name: Close, dtype: object
616410    119.80
Name: Close, dtype: object

616158    218.74
Name: Close, dtype: object
621303    13.47
Name: Close, dtype: object
Initial Date not a trading day
621051    11.78
Name: Close, dtype: object
620801    15.03
Name: Close, dtype: object
620549    10.96
Name: Close, dtype: object
620297    21.23
Name: Close, dtype: object
620045    26.33
Name: Close, dtype: object
Initial Date not a trading day
619793    31.23
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
619542    37.57
Name: Close, dtype: object
619291    51.06
Name: Close, dtype: object
619039    77.76
Name: Close, dtype: object
624184    35.04
Name: Close, dtype: object
Initial Date not a trading day
623932    41.56
Name: Close, dtype: object
623682    49.32
Name: Close, dtype: object
623430    51.00
Name: Close, dtype: object
623178    68.99
Name: Close, dtype: object
622926    84.26
Name: Close, dtype: object
Initial Date not a trading day
622674    73.55
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
622423    84.46
Name: Close, dtype: object
622172    115.72
Name: Close, dtype: object
621920    131.43
Name: Close, dtype: object
627065    18.12
Name: Close, dtype: object
Initial Date not a trading day
626813    20.46
Name: Close, dtype: object
626563    36.73
Name: Close, dtype: object
626311    75.10
Name: Close, dtype: object
626059    94.26
Name: Close, dtype: object
625807    101.19
Name: Close, dtype: object
Initial Date not a trading day
625555    71.61
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
625304    71.64
Name: Close, dtype: object
625053    62.55
Name: Close, dtype: object
624801    64.98
Name: Close, dtype: object
629946    24.06
Name: Close, dtype: object
Initial Date not a trading day
629694    25.25
Name: Close, dtype: object
629444    31.52
Name: Close, dtype: object
629192    44.78
Name: Close, dtype: object
628940    53.36
Name: Close, dtype: object
628688    62.00
Name: Close, dtype: object
Initial Date not a trading day
628436    59.46
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
628185    54.78
Name: Close, dtype: object
627934    61.55
Name: Close, dtype: object
627682    66.72
Name: Close, dtype: object
632892    16.01
Name: Close, dtype: object
632639    15.21
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
632388    20.22
Name: Close, dtype: object
632138    20.65
Name: Close, dtype: object
631886    24.33
Name: Close, dtype: object
631634    39.13
Name: Close, dtype: object
631381    38.83
Name: Close, dtype: object
Initial Date not a trading day
631130    36.69
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
630879    40.98
Name: Close, dtype: object
630628    50.49
Name: Close, dtype: object
635710    54.74
Name: Close, dtype: object
Initial Date not a trading day
635458    87.61
Name: Close, dtype: object
635208    68.63
Name: Close, dtype: object
634956    103.22
Name: Close, dtype: object
634704    143.63
Name: Close, dtype: object
634452    178.51
Name: Close, dtype: object
Initial Date not a trading day
634200    204.03
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
633949    248.07
Name: Close, dtype: object
633698    286.48
Name: Close, dtype: object
633446    366.52
Name: Close, dtype: object
638592    34.61
Name: Close, dtype: object
Initial Date not a trading day
638340    38.48
Name: Close, dtype: object
638090    46.40
Name: Close, dtype: object
637838    53.19
Name: Close, dtype: object
637586    74.14
Name: Close, dtype: object
637334    72.92
Name: Close, dtype: object
Initial Date not a trading day
637082    117.27
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
636831    156.38
Name: Close, dtype: object
636580    186.02
Name: Close, dtype: object
636328    261.13
Name: Close, dtype: object
641454    69.34
Name: Close, dtype: object
641202    51.86
Name: Close, dtype: object
640972    55.59
Name: Close, dtype: object
640720    110.59
Name: Close, dtype: object
640468    184.58
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
640197    157.95
Name: Close, dtype: object
639944    160.10
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
639713    218.49
Name: Close, dtype: object
639462    299.93
Name: Close, dtype: object
639210    331.74
Name: Close, dtype: object
644356    16.56
Name: Close, dtype: object
Initial Date not a trading day
644104    15.01
Name: Close, dtype: object
643854    16.61
Name: Close, dtype: object
643602    50.63
Name: Close, dtype: object
643350    73.11
Name: Close, dtype: object
643098    108.45
Name: Close, dtype: object
Initial Date not a trading day
642846    100.27
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
642595    94.71
Name: Close, dtype: object
642344    63.59
Name: Close, dtype: object
642092    87.32
Name: Close, dtype: object
647238    85.92
Name: Close, dtype: object
Initial Date not a trading day
646986    154.34
Name: Close, dtype: object
646736    163.46
Name: Close, dtype: object
646484    128.03
Name: Close, dtype: object
646232    176.31
Name: Close, dtype: object
645980    182.05
Name: Close, dtype: object
Initial Date not a trading day
645728    211.39
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
645477    364.94
Name: Close, dtype: object
645226    478.92
Name: Close, dtype: object
644974    591.15
Name: Close, dtype: object
650095    59.77
Name: Close, dtype: object
649843    65.91
Name: Close, dtype: object
649613    70.10
Name: Close, dtype: object
649361    91.59
Name: Close, dtype: object
649109    104.57
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
648838    104.44
Name: Close, dtype: object
648585    113.25
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
648354    139.72
Name: Close, dtype: object
648103    129.05
Name: Close, dtype: object
647851    145.87
Name: Close, dtype: object
652997    87.92
Name: Close, dtype: object
Initial Date not a trading day
652745    85.97
Name: Close, dtype: object
652495    86.62
Name: Close, dtype: object
652243    91.37
Name: Close, dtype: object
651991    107.90
Name: Close, dtype: object
651739    123.64
Name: Close, dtype: object
Initial Date not a trading day
651487    128.38
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
651236    159.51
Name: Close, dtype: object
650985    126.36
Name: Close, dtype: object
650733    169.17
Name: Close, dtype: object
655817    79.05
Name: Close, dtype: object
Initial Date not a trading day
655565    87.77
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
655317    107.96
Name: Close, dtype: object
655064    176.57
Name: Close, dtype: object
654812    226.20
Name: Close, dtype: object
654560    157.25
Name: Close, dtype: object
654307    148.26
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
654057    140.87
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
653806    117.06
Name: Close, dtype: object
653553    135.26
Name: Close, dtype: object
658756    36.04
Name: Close, dtype: object
Initial Date not a trading day
658504    37.70
Name: Close, dtype: object
658254    40.94
Name: Close, dtype: object
658002    50.05
Name: Close, dtype: object
657750    56.79
Name: Close, dtype: object
657498    52.82
Name: Close, dtype: object
Initial Date not a trading day
657246    58.87
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
656995    56.27
Name: Close, dtype: object
656744    76.41
Name: Close, dtype: object
656492    90.95
Name: Close, dtype: object
661638    151.21
Name: Close, dtype: object
Initial Date not a trading day

661386    147.71
Name: Close, dtype: object
661136    193.30
Name: Close, dtype: object
660884    242.59
Name: Close, dtype: object
660632    302.46
Name: Close, dtype: object
660380    339.13
Name: Close, dtype: object
Initial Date not a trading day
660128    418.56
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
659877    619.52
Name: Close, dtype: object
659626    565.58
Name: Close, dtype: object
659374    793.28
Name: Close, dtype: object
664501    25.58
Name: Close, dtype: object
664249    23.98
Name: Close, dtype: object
664019    31.74
Name: Close, dtype: object
663767    41.23
Name: Close, dtype: object
663515    43.73
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
663244    48.32
Name: Close, dtype: object
662991    53.19
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
662760    73.12
Name: Close, dtype: object
662509    78.55
Name: Close, dtype: object
662257    97.10
Name: Close, dtype: object
667279    87.87
Name: Close, dtype: object
Initial Date not a trading day
667027    117.93
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
666778    121.00
Name: Close, dtype: object
666526    145.76
Name: Close, dtype: object
666274    184.83
Name: Close, dtype: object
666146    144.70
Name: Close, dtype: object
Initial Date not a trading day
665894    83.23
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
665643    87.16
Name: Close, dtype: object
665392    38.75
Name: Close, dtype: object
665140    51.66
Name: Close, dtype: object
670287    17.51
Name: Close, dtype: object
Initial Date not a trading day
670035    21.64
Name: Close, dtype: object
669785    25.08
Name: Close, dtype: object
669533    30.63
Name: Close, dtype: object
669281    31.15
Name: Close, dtype: object
669029    32.28
Name: Close, dtype: object
Initial Date not a trading day
668777    32.48
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
668526    36.22
Name: Close, dtype: object
668275    43.65
Name: Close, dtype: object
668023    39.18
Name: Close, dtype: object
673170    53.97
Name: Close, dtype: object
Initial Date not a trading day
672918    58.06
Name: Close, dtype: object
672668    58.27
Name: Close, dtype: object
672416    53.54
Name: Close, dtype: object
672164    67.06
Name: Close, dtype: object
671912    71.14
Name: Close, dtype: object
Initial Date not a trading day
671660    91.90
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
671409    98.49
Name: Close, dtype: object
671158    83.27
Name: Close, dtype: object
670906    106.79
Name: Close, dtype: object
676053    32.83
Name: Close, dtype: object
Initial Date not a trading day
675801    55.43
Name: Close, dtype: object
675551    171.07
Name: Close, dtype: object
675299    275.24
Name: Close, dtype: object
675047    410.25
Name: Close, dtype: object
674795    542.87
Name: Close, dtype: object
Initial Date not a trading day
674543    367.09
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
674292    375.96
Name: Close, dtype: object
674041    373.50
Name: Close, dtype: object
673789    375.48
Name: Close, dtype: object
679064    30.41
Name: Close, dtype: object
678811    30.95
Name: Close, dtype: object
Initial Date not a trading day
678559    31.20
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
678310    45.13
Name: Close, dtype: object
678058    50.63
Name: Close, dtype: object
677806    56.37
Name: Close, dtype: object
677553    63.23
Name: Close, dtype: object
677301    77.87
Name: Close, dtype: object
Initial Date not a trading day
677050    103.58
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
676800    122.03
Name: Close, dtype: object
681774    34.54
Name: Close, dtype: object
Initial Date not a trading day
681522    31.62
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
681274    41.61
Name: Close, dtype: object
681021    47.75
Name: Close, dtype: object
680769    70.27
Name: Close, dtype: object
680517    71.05
Name: Close, dtype: object
680264    69.46
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
680014    93.36
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
679763    128.03
Name: Close, dtype: object
679510    139.97
Name: Close, dtype: object
684736    53.70
Name: Close, dtype: object
Initial Date not a trading day
684484    49.71
Name: Close, dtype: object
684234    54.82
Name: Close, dtype: object
683982    75.14
Name: Close, dtype: object
683730    94.33
Name: Close, dtype: object
683478    92.94
Name: Close, dtype: object
Initial Date not a trading day
683226    119.81
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
682975    154.84
Name: Close, dtype: object
682724    156.75
Name: Close, dtype: object
682472    209.94
Name: Close, dtype: object
687636    53.81
Name: Close, dtype: object
Initial Date not a trading day
687384    61.29
Name: Close, dtype: object
687134    71.31
Name: Close, dtype: object
686882    93.86
Name: Close, dtype: object
686630    114.82
Name: Close, dtype: object
686378    131.45
Name: Close, dtype: object
Initial Date not a trading day
686126    161.15
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
685875    248.82
Name: Close, dtype: object
685624    258.48
Name: Close, dtype: object
685372    376.44
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
690560    49.34
Name: Close, dtype: object
690307    69.30
Name: Close, dtype: object
690056    95.98
Name: Close, dtype: object
689804    129.21
Name: Close, dtype: object
689552    163.90
Name: Close, dtype: object
Initial Date not a trading day
689301    152.36
Name: Close, dtype: object
689049    176.04
Name: Close, dtype: object
688797    240.26
Name: Close, dtype: object
688545    258.31
Name: Close, dtype: object
688294    291.00
Name: Close, dtype: object
693417    55.36
Name: Close, dtype: object
Initial Date not a trading day
693165    44.97
Name: Close, dtype: object
692915    63.78
Name: Close, dtype: object
692663    111.35
Name: Close, dtype: object
692411    125.29
Name: Close, dtype: object
692159    141.85
Name: Close, dtype: object
Initial Date not a trading day
691907    141.10
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
691656    189.88
Name: Close, dtype: object
691405    223.79
Name: Close, dtype: object
691153    324.87
Name: Close, dtype: object
696317    36.11
Name: Close, dtype: object
Initial Date not a trading day
696065    50.68
Name: Close, dtype: object
695815    54.24
Name: Close, dtype: object
695563    75.30
Name: Close, dtype: object
695311    101.09
Name: Close, dtype: object
695059    117.64
Name: Close, dtype: object
Initial Date not a trading day
694807    160.04
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
694556    220.46
Name: Close, dtype: object
694305    249.12
Name: Close, dtype: object
694053    293.98
Name: Close, dtype: object
699217    43.04
Name: Close, dtype: object
Initial Date not a trading day
698965    38.52
Name: Close, dtype: object
698715    48.35
Name: Close, dtype: object
698463    81.26
Name: Close, dtype: object
698211    111.26
Name: Close, dtype: object
697959    119.49
Name: Close, dtype: object
Initial Date not a trading day
697707    106.38
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
697456    113.35
Name: Close, dtype: object
697205    116.56
Name: Close, dtype: object
696953    143.46
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
702160    55.98
Name: Close, dtype: object

701928    46.19
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
701677    53.42
Name: Close, dtype: object
701427    66.18
Name: Close, dtype: object
701175    70.95
Name: Close, dtype: object
Initial Date not a trading day
700901    69.54
Name: Close, dtype: object
700670    88.14
Name: Close, dtype: object
Initial Date not a trading day
700419    100.06
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
700168    111.93
Name: Close, dtype: object
699917    119.09
Name: Close, dtype: object
705017    35.03
Name: Close, dtype: object
Initial Date not a trading day
704765    33.21
Name: Close, dtype: object
704515    41.90
Name: Close, dtype: object
704263    74.30
Name: Close, dtype: object
704011    118.80
Name: Close, dtype: object
703759    125.83
Name: Close, dtype: object
Initial Date not a trading day
703507    73.67
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
703256    149.86
Name: Close, dtype: object
703005    165.71
Name: Close, dtype: object
702753    218.95
Name: Close, dtype: object
707917    77.71
Name: Close, dtype: object
Initial Date not a trading day
707665    74.05
Name: Close, dtype: object
707415    87.12
Name: Close, dtype: object
707163    100.00
Name: Close, dtype: object
706911    112.72
Name: Close, dtype: object
706659    134.58
Name: Close, dtype: object
Initial Date not a trading day
706407    134.39
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
706156    193.19
Name: Close, dtype: object
705905    188.65
Name: Close, dtype: object
705653    233.65
Name: Close, dtype: object
710817    20.60
Name: Close, dtype: object
Initial Date not a trading day
710565    18.98
Name: Close, dtype: object
710315    27.38
Name: Close, dtype: object
710063    49.06
Name: Close, dtype: object
709811    53.24
Name: Close, dtype: object
709559    60.22
Name: Close, dtype: object
Initial Date not a trading day
709307    84.83
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
709056    98.67
Name: Close, dtype: object
708805    98.03
Name: Close, dtype: object
708553    150.33
Name: Close, dtype: object
713717    53.68
Name: Close, dtype: object
Initial Date not a trading day
713465    53.42
Name: Close, dtype: object
713215    66.66
Name: Close, dtype: object
712963    93.19
Name: Close, dtype: object
712711    113.42
Name: Close, dtype: object
712459    102.59
Name: Close, dtype: object
Initial Date not a trading day
712207    103.20
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
711956    120.67
Name: Close, dtype: object
711705    103.72
Name: Close, dtype: object
711453    149.68
Name: Close, dtype: object
716594    86.30
Name: Close, dtype: object
Initial Date not a trading day
716342    81.73
Name: Close, dtype: object
716092    92.85
Name: Close, dtype: object
715840    140.25
Name: Close, dtype: object
715588    164.32
Name: Close, dtype: object
715336    150.64
Name: Close, dtype: object
Initial Date not a trading day
715084    178.57
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
714833    235.37
Name: Close, dtype: object
714582    190.54
Name: Close, dtype: object
714330    176.42
Name: Close, dtype: object
719474    14.17
Name: Close, dtype: object
Initial Date not a trading day
719222    18.77
Name: Close, dtype: object
718972    21.55
Name: Close, dtype: object
718720    36.69
Name: Close, dtype: object
718468    59.76
Name: Close, dtype: object
718216    80.51
Name: Close, dtype: object
Initial Date not a trading day
717964    88.73
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
717713    73.51
Name: Close, dtype: object
717462    60.85
Name: Close, dtype: object
717210    67.75
Name: Close, dtype: object
722354    10.01
Name: Close, dtype: object
Initial Date not a trading day
722102    5.07
Name: Close, dtype: object
721852    13.50
Name: Close, dtype: object
721600    25.25
Name: Close, dtype: object
721348    53.63
Name: Close, dtype: object
721096    42.35
Name: Close, dtype: object
Initial Date not a trading day
720844    46.69
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
720593    52.03
Name: Close, dtype: object
720342    32.11
Name: Close, dtype: object
720090    28.68
Name: Close, dtype: object
725235    26.17
Name: Close, dtype: object
Initial Date not a trading day
724983    28.07
Name: Close, dtype: object
724733    37.57
Name: Close, dtype: object
724481    52.67
Name: Close, dtype: object
724229    52.63
Name: Close, dtype: object
723977    53.59
Name: Close, dtype: object
Initial Date not a trading day
723725    48.60
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
723474    72.47
Name: Close, dtype: object
723223    67.70
Name: Close, dtype: object
722971    99.74
Name: Close, dtype: object
728113    9.52
Name: Close, dtype: object
Initial Date not a trading day
727861    10.03
Name: Close, dtype: object
727611    15.77
Name: Close, dtype: object
727359    26.97
Name: Close, dtype: object
727107    28.20
Name: Close, dtype: object
726855    38.30
Name: Close, dtype: object
Initial Date not a trading day
726603    47.35
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
726352    61.28
Name: Close, dtype: object
726101    42.70
Name: Close, dtype: object
725849    47.64
Name: Close, dtype: object
730994    65.26
Name: Close, dtype: object
Initial Date not a trading day
730742    73.35
Name: Close, dtype: object
730492    75.36
Name: Close, dtype: object
730240    136.49
Name: Close, dtype: object
729988    129.98
Name: Close, dtype: object
729736    144.59
Name: Close, dtype: object
Initial Date not a trading day
729484    155.68
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
729233    294.91
Name: Close, dtype: object
728982    322.50
Name: Close, dtype: object
728730    325.76
Name: Close, dtype: object
733874    93.66
Name: Close, dtype: object
Initial Date not a trading day
733622    90.60
Name: Close, dtype: object
733372    89.61
Name: Close, dtype: object
733120    90.81
Name: Close, dtype: object
732868    91.53
Name: Close, dtype: object
732616    67.96
Name: Close, dtype: object
Initial Date not a trading day
732364    92.74
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
732113    157.58
Name: Close, dtype: object
731862    127.07
Name: Close, dtype: object
731610    147.68
Name: Close, dtype: object
736774    80.19
Name: Close, dtype: object
Initial Date not a trading day
736522    69.78
Name: Close, dtype: object
736272    63.22
Name: Close, dtype: object
736020    58.35
Name: Close, dtype: object
735768    74.89
Name: Close, dtype: object
735516    62.02
Name: Close, dtype: object
Initial Date not a trading day
735264    73.26
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
735013    89.09
Name: Close, dtype: object
734762    84.09
Name: Close, dtype: object
734510    78.20
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
739802    25.69
Name: Close, dtype: object
739549    32.46
Name: Close, dtype: object
739296    36.46
Name: Close, dtype: object
739046    45.11
Name: Close, dtype: object
Initial Date not a trading day
738795    61.38
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
738544    86.09
Name: Close, dtype: object
738291    94.80
Name: Close, dtype: object
738039    125.88
Name: Close, dtype: object
737787    182.25
Name: Close, dtype: object
737536    221.83
Name: Close, dtype: object
Initial Date not a trading day
742659    9.11
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
742407    10.86
Name: Close, dtype: object
742154    11.88
Name: Close, dtype: object
741904    16.25
Name: Close, dtype: object

741652    16.69
Name: Close, dtype: object
741400    18.02
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
741149    25.22
Name: Close, dtype: object
740897    31.49
Name: Close, dtype: object
740645    57.39
Name: Close, dtype: object
740394    77.53
Name: Close, dtype: object
745433    21.54
Name: Close, dtype: object
Initial Date not a trading day
745181    21.06
Name: Close, dtype: object
744931    19.73
Name: Close, dtype: object
744679    28.77
Name: Close, dtype: object
744427    36.23
Name: Close, dtype: object
744175    25.95
Name: Close, dtype: object
Initial Date not a trading day
743923    35.93
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
743672    55.01
Name: Close, dtype: object
743421    62.13
Name: Close, dtype: object
743169    72.36
Name: Close, dtype: object
748314    110.01
Name: Close, dtype: object
Initial Date not a trading day
748062    88.02
Name: Close, dtype: object
747812    108.35
Name: Close, dtype: object
747560    140.97
Name: Close, dtype: object
747308    144.17
Name: Close, dtype: object
747056    88.01
Name: Close, dtype: object
Initial Date not a trading day
746804    136.67
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
746553    176.64
Name: Close, dtype: object
746302    133.64
Name: Close, dtype: object
746050    178.96
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
751238    76.80
Name: Close, dtype: object
750985    75.90
Name: Close, dtype: object
750734    85.44
Name: Close, dtype: object
750482    81.84
Name: Close, dtype: object
750230    85.54
Name: Close, dtype: object
749959    79.57
Name: Close, dtype: object
749727    88.30
Name: Close, dtype: object
749475    132.88
Name: Close, dtype: object
749223    135.44
Name: Close, dtype: object
Initial Date not a trading day
748952    168.05
Name: Close, dtype: object
754076    12.60
Name: Close, dtype: object
Initial Date not a trading day
753824    8.09
Name: Close, dtype: object
753574    11.87
Name: Close, dtype: object
753322    27.47
Name: Close, dtype: object
753070    49.19
Name: Close, dtype: object
752818    50.69
Name: Close, dtype: object
Initial Date not a trading day
752566    49.19
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
752315    56.00
Name: Close, dtype: object
752064    49.90
Name: Close, dtype: object
751812    58.48
Name: Close, dtype: object
756954    39.14
Name: Close, dtype: object
Initial Date not a trading day
756702    38.87
Name: Close, dtype: object
756452    44.00
Name: Close, dtype: object
756200    64.64
Name: Close, dtype: object
755948    57.89
Name: Close, dtype: object
755696    49.49
Name: Close, dtype: object
Initial Date not a trading day
755444    60.48
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
755193    81.52
Name: Close, dtype: object
754942    70.95
Name: Close, dtype: object
754690    115.26
Name: Close, dtype: object
759896    52.66
Name: Close, dtype: object
759643    41.31
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
759392    48.27
Name: Close, dtype: object
759142    64.70
Name: Close, dtype: object
758890    62.58
Name: Close, dtype: object
758638    44.17
Name: Close, dtype: object
758385    54.51
Name: Close, dtype: object
Initial Date not a trading day
758134    62.84
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
757883    76.58
Name: Close, dtype: object
757632    66.86
Name: Close, dtype: object
762713    35.60
Name: Close, dtype: object
Initial Date not a trading day
762461    38.74
Name: Close, dtype: object
762211    54.12
Name: Close, dtype: object
761959    69.09
Name: Close, dtype: object
761707    80.87
Name: Close, dtype: object
761455    111.37
Name: Close, dtype: object
Initial Date not a trading day
761203    118.23
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
760952    117.92
Name: Close, dtype: object
760701    93.13
Name: Close, dtype: object
760449    140.12
Name: Close, dtype: object
765593    54.60
Name: Close, dtype: object
Initial Date not a trading day
765341    40.96
Name: Close, dtype: object
765091    39.55
Name: Close, dtype: object
764839    44.25
Name: Close, dtype: object
764587    44.61
Name: Close, dtype: object
764335    45.10
Name: Close, dtype: object
Initial Date not a trading day
764083    52.96
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
763832    64.69
Name: Close, dtype: object
763581    68.09
Name: Close, dtype: object
763329    78.02
Name: Close, dtype: object
768474    14.80
Name: Close, dtype: object
Initial Date not a trading day
768222    21.55
Name: Close, dtype: object
767972    23.32
Name: Close, dtype: object
767720    23.75
Name: Close, dtype: object
767468    23.78
Name: Close, dtype: object
767216    20.41
Name: Close, dtype: object
Initial Date not a trading day
766964    23.49
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
766713    27.34
Name: Close, dtype: object
766462    26.14
Name: Close, dtype: object
766210    36.95
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
771505    83.49
Name: Close, dtype: object
771252    93.64
Name: Close, dtype: object
770999    89.14
Name: Close, dtype: object
770749    96.34
Name: Close, dtype: object
Initial Date not a trading day
770498    144.16
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
770247    173.22
Name: Close, dtype: object
769994    164.97
Name: Close, dtype: object
769742    193.84
Name: Close, dtype: object
769490    249.12
Name: Close, dtype: object
769239    154.28
Name: Close, dtype: object
774236    39.74
Name: Close, dtype: object
Initial Date not a trading day
773984    33.11
Name: Close, dtype: object
773734    48.93
Name: Close, dtype: object
773482    78.83
Name: Close, dtype: object
773230    59.83
Name: Close, dtype: object
772978    42.08
Name: Close, dtype: object
Initial Date not a trading day
772726    48.05
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
772475    42.13
Name: Close, dtype: object
772224    38.02
Name: Close, dtype: object
771972    49.77
Name: Close, dtype: object
777116    70.96
Name: Close, dtype: object
Initial Date not a trading day
776864    66.41
Name: Close, dtype: object
776614    69.27
Name: Close, dtype: object
776362    95.55
Name: Close, dtype: object
776110    137.62
Name: Close, dtype: object
775858    137.36
Name: Close, dtype: object
Initial Date not a trading day
775606    172.66
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
775355    203.45
Name: Close, dtype: object
775104    157.21
Name: Close, dtype: object
774852    176.35
Name: Close, dtype: object
779997    17.58
Name: Close, dtype: object
Initial Date not a trading day
779745    17.22
Name: Close, dtype: object
779495    20.18
Name: Close, dtype: object
779243    26.94
Name: Close, dtype: object
778991    24.29
Name: Close, dtype: object
778739    29.94
Name: Close, dtype: object
Initial Date not a trading day
778487    30.38
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
778236    16.77
Name: Close, dtype: object
777985    7.28
Name: Close, dtype: object
777733    11.16
Name: Close, dtype: object
782879    50.61
Name: Close, dtype: object
Initial Date not a trading day
782627    51.74
Name: Close, dtype: object
782377    60.42
Name: Close, dtype: object
782125    86.98
Name: Close, dtype: object
781873    95.12
Name: Close, dtype: object
781621    98.60
Name: Close, dtype: object
Initial Date not a trading day
781369    110.92
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
781118    146.83
Name: Close, dtype: object
780867    132.12
Name: Close, dtype: object
780615    177.00
Name: Close, dtype: object

785779    39.12
Name: Close, dtype: object
Initial Date not a trading day
785527    37.11
Name: Close, dtype: object
785277    46.53
Name: Close, dtype: object
785025    73.85
Name: Close, dtype: object
784773    77.84
Name: Close, dtype: object
784521    76.61
Name: Close, dtype: object
Initial Date not a trading day
784269    90.06
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
784018    131.97
Name: Close, dtype: object
783767    126.26
Name: Close, dtype: object
783515    172.00
Name: Close, dtype: object
788659    53.40
Name: Close, dtype: object
Initial Date not a trading day
788407    46.71
Name: Close, dtype: object
788157    60.81
Name: Close, dtype: object
787905    84.08
Name: Close, dtype: object
787653    94.70
Name: Close, dtype: object
787401    92.68
Name: Close, dtype: object
Initial Date not a trading day
787149    122.46
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
786898    166.85
Name: Close, dtype: object
786647    126.69
Name: Close, dtype: object
786395    179.63
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
791584    38.61
Name: Close, dtype: object
791352    32.29
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
791101    40.43
Name: Close, dtype: object
790851    58.18
Name: Close, dtype: object
790599    48.82
Name: Close, dtype: object
Initial Date not a trading day
790325    40.14
Name: Close, dtype: object
790094    51.72
Name: Close, dtype: object
Initial Date not a trading day
789843    58.27
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
789592    76.50
Name: Close, dtype: object
789341    91.50
Name: Close, dtype: object
794423    40.81
Name: Close, dtype: object
Initial Date not a trading day
794171    45.07
Name: Close, dtype: object
793921    59.71
Name: Close, dtype: object
793669    77.30
Name: Close, dtype: object
793417    84.25
Name: Close, dtype: object
793165    73.36
Name: Close, dtype: object
Initial Date not a trading day
792913    97.07
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
792662    114.98
Name: Close, dtype: object
792411    93.04
Name: Close, dtype: object
792159    116.78
Name: Close, dtype: object
797369    18.96
Name: Close, dtype: object
797116    21.04
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
796865    29.05
Name: Close, dtype: object
796615    32.78
Name: Close, dtype: object
796363    41.77
Name: Close, dtype: object
796111    31.36
Name: Close, dtype: object
795858    41.64
Name: Close, dtype: object
Initial Date not a trading day
795607    40.29
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
795356    35.00
Name: Close, dtype: object
795105    43.89
Name: Close, dtype: object
800187    47.86
Name: Close, dtype: object
Initial Date not a trading day
799935    68.01
Name: Close, dtype: object
799685    83.48
Name: Close, dtype: object
799433    123.83
Name: Close, dtype: object
799181    122.03
Name: Close, dtype: object
798929    74.67
Name: Close, dtype: object
Initial Date not a trading day
798677    84.85
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
798426    105.22
Name: Close, dtype: object
798175    95.45
Name: Close, dtype: object
797923    153.16
Name: Close, dtype: object
803069    69.91
Name: Close, dtype: object
Initial Date not a trading day
802817    80.90
Name: Close, dtype: object
802567    92.29
Name: Close, dtype: object
802315    148.66
Name: Close, dtype: object
802063    192.57
Name: Close, dtype: object
801811    217.15
Name: Close, dtype: object
Initial Date not a trading day
801559    249.94
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
801308    321.05
Name: Close, dtype: object
801057    261.84
Name: Close, dtype: object
800805    389.38
Name: Close, dtype: object
805951    11.13
Name: Close, dtype: object
Initial Date not a trading day
805699    9.21
Name: Close, dtype: object
805449    14.65
Name: Close, dtype: object
805197    20.02
Name: Close, dtype: object
804945    22.16
Name: Close, dtype: object
804693    28.30
Name: Close, dtype: object
Initial Date not a trading day
804441    31.62
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
804190    43.94
Name: Close, dtype: object
803939    29.24
Name: Close, dtype: object
803687    47.99
Name: Close, dtype: object
808833    62.82
Name: Close, dtype: object
Initial Date not a trading day
808581    72.86
Name: Close, dtype: object
808331    61.84
Name: Close, dtype: object
808079    92.83
Name: Close, dtype: object
807827    109.61
Name: Close, dtype: object
807575    84.59
Name: Close, dtype: object
Initial Date not a trading day
807323    108.07
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
807072    144.90
Name: Close, dtype: object
806821    149.54
Name: Close, dtype: object
806569    194.13
Name: Close, dtype: object
811716    58.77
Name: Close, dtype: object
Initial Date not a trading day
811464    58.48
Name: Close, dtype: object
811214    67.58
Name: Close, dtype: object
810962    114.61
Name: Close, dtype: object
810710    147.39
Name: Close, dtype: object
810458    188.81
Name: Close, dtype: object
Initial Date not a trading day
810206    232.58
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
809955    306.91
Name: Close, dtype: object
809704    244.90
Name: Close, dtype: object
809452    343.97
Name: Close, dtype: object
814616    14.22
Name: Close, dtype: object
Initial Date not a trading day
814364    18.01
Name: Close, dtype: object
814114    22.85
Name: Close, dtype: object
813862    35.35
Name: Close, dtype: object
813610    51.76
Name: Close, dtype: object
813358    39.38
Name: Close, dtype: object
Initial Date not a trading day
813106    57.19
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
812855    87.70
Name: Close, dtype: object
812604    82.33
Name: Close, dtype: object
812352    126.52
Name: Close, dtype: object
817499    48.98
Name: Close, dtype: object
Initial Date not a trading day
817247    32.62
Name: Close, dtype: object
816997    40.06
Name: Close, dtype: object
816745    53.26
Name: Close, dtype: object
816493    62.14
Name: Close, dtype: object
816241    44.61
Name: Close, dtype: object
Initial Date not a trading day
815989    60.68
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
815738    68.65
Name: Close, dtype: object
815487    57.14
Name: Close, dtype: object
815235    79.10
Name: Close, dtype: object
820510    55.46
Name: Close, dtype: object
820257    89.74
Name: Close, dtype: object
Initial Date not a trading day
820005    76.88
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
819756    95.40
Name: Close, dtype: object
819504    125.73
Name: Close, dtype: object
819252    116.33
Name: Close, dtype: object
818999    108.05
Name: Close, dtype: object
818747    159.82
Name: Close, dtype: object
Initial Date not a trading day
818496    155.85
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
818246    170.01
Name: Close, dtype: object
823262    24.52
Name: Close, dtype: object
Initial Date not a trading day
823010    22.36
Name: Close, dtype: object
822760    33.01
Name: Close, dtype: object
822508    52.16
Name: Close, dtype: object
822256    44.60
Name: Close, dtype: object
822004    33.26
Name: Close, dtype: object
Initial Date not a trading day
821752    37.65
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
821501    47.42
Name: Close, dtype: object
821250    37.78
Name: Close, dtype: object
820998    45.87
Name: Close, dtype: object
826145    19.92
Name: Close, dtype: object
Initial Date not a trading day
825893    21.54
Name: Close, dtype: object

825643    27.29
Name: Close, dtype: object
825391    31.56
Name: Close, dtype: object
825139    28.39
Name: Close, dtype: object
824887    20.25
Name: Close, dtype: object
Initial Date not a trading day
824635    34.85
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
824384    39.11
Name: Close, dtype: object
824133    30.10
Name: Close, dtype: object
823881    40.71
Name: Close, dtype: object
829025    49.60
Name: Close, dtype: object
Initial Date not a trading day
828773    46.06
Name: Close, dtype: object
828523    51.68
Name: Close, dtype: object
828271    71.71
Name: Close, dtype: object
828019    72.46
Name: Close, dtype: object
827767    60.54
Name: Close, dtype: object
Initial Date not a trading day
827515    69.07
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
827264    80.38
Name: Close, dtype: object
827013    67.10
Name: Close, dtype: object
826761    94.37
Name: Close, dtype: object
831908    29.86
Name: Close, dtype: object
Initial Date not a trading day
831656    27.55
Name: Close, dtype: object
831406    29.33
Name: Close, dtype: object
831154    33.20
Name: Close, dtype: object
830902    40.25
Name: Close, dtype: object
830650    43.99
Name: Close, dtype: object
Initial Date not a trading day
830398    57.05
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
830147    67.61
Name: Close, dtype: object
829896    72.09
Name: Close, dtype: object
829644    89.63
Name: Close, dtype: object
834791    30.60
Name: Close, dtype: object
Initial Date not a trading day
834539    28.46
Name: Close, dtype: object
834289    31.82
Name: Close, dtype: object
834037    41.99
Name: Close, dtype: object
833785    58.38
Name: Close, dtype: object
833533    47.14
Name: Close, dtype: object
Initial Date not a trading day
833281    48.78
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
833030    55.54
Name: Close, dtype: object
832779    57.20
Name: Close, dtype: object
832527    63.15
Name: Close, dtype: object
837755    61.73
Name: Close, dtype: object
837502    56.00
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
837251    69.55
Name: Close, dtype: object
837001    106.94
Name: Close, dtype: object
836749    109.88
Name: Close, dtype: object
836497    101.47
Name: Close, dtype: object
836244    122.34
Name: Close, dtype: object
Initial Date not a trading day
835993    178.21
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
835742    187.52
Name: Close, dtype: object
835491    164.80
Name: Close, dtype: object
840591    8.58
Name: Close, dtype: object
Initial Date not a trading day
840339    9.65
Name: Close, dtype: object
840089    9.62
Name: Close, dtype: object
839837    13.27
Name: Close, dtype: object
839585    14.54
Name: Close, dtype: object
839333    17.13
Name: Close, dtype: object
Initial Date not a trading day
839081    22.42
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
838830    30.95
Name: Close, dtype: object
838579    36.10
Name: Close, dtype: object
838327    33.16
Name: Close, dtype: object
843471    76.43
Name: Close, dtype: object
Initial Date not a trading day
843219    86.87
Name: Close, dtype: object
842969    111.48
Name: Close, dtype: object
842717    138.68
Name: Close, dtype: object
842465    156.35
Name: Close, dtype: object
842213    189.79
Name: Close, dtype: object
Initial Date not a trading day
841961    183.08
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
841710    259.00
Name: Close, dtype: object
841459    266.52
Name: Close, dtype: object
841207    354.23
Name: Close, dtype: object
846351    56.63
Name: Close, dtype: object
Initial Date not a trading day
846119    50.62
Name: Close, dtype: object
845869    78.99
Name: Close, dtype: object
845617    109.52
Name: Close, dtype: object
Initial Date not a trading day
845345    132.71
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
845094    161.56
Name: Close, dtype: object
Initial Date not a trading day
844861    171.27
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
844610    174.30
Name: Close, dtype: object
844359    145.29
Name: Close, dtype: object
844107    169.40
Name: Close, dtype: object
849271    12.98
Name: Close, dtype: object
Initial Date not a trading day
849019    8.56
Name: Close, dtype: object
848769    10.24
Name: Close, dtype: object
848517    18.84
Name: Close, dtype: object
848265    42.32
Name: Close, dtype: object
848013    43.06
Name: Close, dtype: object
Initial Date not a trading day
847761    49.84
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
847510    65.45
Name: Close, dtype: object
847259    46.48
Name: Close, dtype: object
847007    53.98
Name: Close, dtype: object
852131    72.68
Name: Close, dtype: object
Initial Date not a trading day
851899    67.60
Name: Close, dtype: object
851649    73.97
Name: Close, dtype: object
851397    80.69
Name: Close, dtype: object
Initial Date not a trading day
851125    93.65
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
850874    94.34
Name: Close, dtype: object
Initial Date not a trading day
850641    114.69
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
850390    169.69
Name: Close, dtype: object
850139    119.74
Name: Close, dtype: object
849887    165.74
Name: Close, dtype: object
855031    26.29
Name: Close, dtype: object
Initial Date not a trading day
854799    18.49
Name: Close, dtype: object
854549    24.79
Name: Close, dtype: object
854297    36.76
Name: Close, dtype: object
Initial Date not a trading day
854025    42.56
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
853774    34.22
Name: Close, dtype: object
Initial Date not a trading day
853541    48.56
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
853290    56.59
Name: Close, dtype: object
853039    45.99
Name: Close, dtype: object
852766    45.93
Name: Close, dtype: object
857951    37.59
Name: Close, dtype: object
Initial Date not a trading day
857699    24.32
Name: Close, dtype: object
857449    38.28
Name: Close, dtype: object
857197    61.60
Name: Close, dtype: object
856945    63.39
Name: Close, dtype: object
856693    55.29
Name: Close, dtype: object
Initial Date not a trading day
856441    75.04
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
856190    89.19
Name: Close, dtype: object
855939    91.23
Name: Close, dtype: object
855687    132.92
Name: Close, dtype: object
860915    35.90
Name: Close, dtype: object
860662    47.25
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
860411    82.07
Name: Close, dtype: object
860161    101.83
Name: Close, dtype: object
859909    155.21
Name: Close, dtype: object
859657    178.85
Name: Close, dtype: object
859404    243.44
Name: Close, dtype: object
Initial Date not a trading day
859153    255.65
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
858902    372.30
Name: Close, dtype: object
858651    520.67
Name: Close, dtype: object
863751    46.33
Name: Close, dtype: object
Initial Date not a trading day
863499    52.97
Name: Close, dtype: object
863249    62.86
Name: Close, dtype: object
862997    84.00
Name: Close, dtype: object
862745    119.13
Name: Close, dtype: object
862493    78.20
Name: Close, dtype: object
Initial Date not a trading day
862241    103.68
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
861990    134.10
Name: Close, dtype: object
861739    138.23
Name: Close, dtype: object
861487    180.79
Name: Close, dtype: object
866651    23.82
Name: Close, dtype: object
Initial Date not a trading day

866399    18.87
Name: Close, dtype: object
866149    23.38
Name: Close, dtype: object
865897    37.83
Name: Close, dtype: object
865645    66.89
Name: Close, dtype: object
865393    57.30
Name: Close, dtype: object
Initial Date not a trading day
865141    72.88
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
864890    67.40
Name: Close, dtype: object
864639    83.73
Name: Close, dtype: object
864387    88.09
Name: Close, dtype: object
869551    72.58
Name: Close, dtype: object
Initial Date not a trading day
869299    73.19
Name: Close, dtype: object
869049    73.73
Name: Close, dtype: object
868797    105.08
Name: Close, dtype: object
868545    111.17
Name: Close, dtype: object
868293    96.23
Name: Close, dtype: object
Initial Date not a trading day
868041    114.64
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
867790    119.15
Name: Close, dtype: object
867539    97.53
Name: Close, dtype: object
867287    117.06
Name: Close, dtype: object
872451    22.75
Name: Close, dtype: object
Initial Date not a trading day
872199    29.55
Name: Close, dtype: object
871949    45.52
Name: Close, dtype: object
871697    77.95
Name: Close, dtype: object
871445    102.01
Name: Close, dtype: object
871193    72.54
Name: Close, dtype: object
Initial Date not a trading day
870941    105.58
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
870690    171.91
Name: Close, dtype: object
870439    102.53
Name: Close, dtype: object
870187    166.77
Name: Close, dtype: object
875351    26.45
Name: Close, dtype: object
Initial Date not a trading day
875099    34.98
Name: Close, dtype: object
874849    43.77
Name: Close, dtype: object
874597    74.27
Name: Close, dtype: object
874345    86.89
Name: Close, dtype: object
874093    71.12
Name: Close, dtype: object
Initial Date not a trading day
873841    83.02
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
873590    81.43
Name: Close, dtype: object
873339    70.25
Name: Close, dtype: object
873087    77.80
Name: Close, dtype: object
878251    36.87
Name: Close, dtype: object
Initial Date not a trading day
877999    32.71
Name: Close, dtype: object
877749    33.74
Name: Close, dtype: object
877497    44.87
Name: Close, dtype: object
877245    51.32
Name: Close, dtype: object
876993    53.37
Name: Close, dtype: object
Initial Date not a trading day
876741    70.91
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
876490    86.30
Name: Close, dtype: object
876239    88.99
Name: Close, dtype: object
875987    113.96
Name: Close, dtype: object
881131    138.11
Name: Close, dtype: object
Initial Date not a trading day
880879    187.19
Name: Close, dtype: object
880629    202.37
Name: Close, dtype: object
880377    255.42
Name: Close, dtype: object
880125    254.89
Name: Close, dtype: object
879873    202.59
Name: Close, dtype: object
Initial Date not a trading day
879621    232.25
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
879370    236.25
Name: Close, dtype: object
879119    282.36
Name: Close, dtype: object
878867    338.52
Name: Close, dtype: object
884049    19.09
Name: Close, dtype: object
Initial Date not a trading day
883797    17.02
Name: Close, dtype: object
883547    17.59
Name: Close, dtype: object
883295    12.13
Name: Close, dtype: object
883043    7.13
Name: Close, dtype: object
882791    3.29
Name: Close, dtype: object
Initial Date not a trading day
882539    6.84
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
882288    6.51
Name: Close, dtype: object
882037    3.60
Name: Close, dtype: object
881785    6.02
Name: Close, dtype: object
886968    76.57
Name: Close, dtype: object
886715    70.60
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
886464    76.46
Name: Close, dtype: object
886214    98.52
Name: Close, dtype: object
885962    120.35
Name: Close, dtype: object
885710    117.95
Name: Close, dtype: object
885457    138.99
Name: Close, dtype: object
Initial Date not a trading day
885206    151.22
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
884955    167.05
Name: Close, dtype: object
884704    221.86
Name: Close, dtype: object
889782    55.78
Name: Close, dtype: object
Initial Date not a trading day
889530    51.51
Name: Close, dtype: object
889280    62.12
Name: Close, dtype: object
889028    63.39
Name: Close, dtype: object
888776    60.13
Name: Close, dtype: object
888524    56.01
Name: Close, dtype: object
Initial Date not a trading day
888272    86.08
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
888021    127.89
Name: Close, dtype: object
887770    77.07
Name: Close, dtype: object
887518    73.04
Name: Close, dtype: object
892764    23.86
Name: Close, dtype: object
892511    21.60
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
892260    35.03
Name: Close, dtype: object
892010    45.25
Name: Close, dtype: object
891758    50.93
Name: Close, dtype: object
891506    49.23
Name: Close, dtype: object
891253    56.73
Name: Close, dtype: object
Initial Date not a trading day
891002    65.39
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
890751    83.86
Name: Close, dtype: object
890500    77.05
Name: Close, dtype: object
895619    12.80
Name: Close, dtype: object
Initial Date not a trading day
895367    14.69
Name: Close, dtype: object
895117    17.21
Name: Close, dtype: object
894865    8.62
Name: Close, dtype: object
894613    4.02
Name: Close, dtype: object
894361    1.86
Name: Close, dtype: object
Initial Date not a trading day
894109    2.81
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
893858    3.12
Name: Close, dtype: object
893607    2.36
Name: Close, dtype: object
893355    3.95
Name: Close, dtype: object
898480    42.09
Name: Close, dtype: object
Initial Date not a trading day
898248    28.68
Name: Close, dtype: object
897998    34.92
Name: Close, dtype: object
897746    50.19
Name: Close, dtype: object
Initial Date not a trading day
897474    52.27
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
897223    60.89
Name: Close, dtype: object
Initial Date not a trading day
896990    70.22
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
896739    114.86
Name: Close, dtype: object
896488    89.83
Name: Close, dtype: object
896236    130.82
Name: Close, dtype: object
901381    17.01
Name: Close, dtype: object
Initial Date not a trading day
901129    17.86
Name: Close, dtype: object
900879    22.38
Name: Close, dtype: object
900627    25.83
Name: Close, dtype: object
900375    34.09
Name: Close, dtype: object
900123    36.37
Name: Close, dtype: object
Initial Date not a trading day
899871    37.53
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
899620    37.85
Name: Close, dtype: object
899369    45.98
Name: Close, dtype: object
899117    64.67
Name: Close, dtype: object
904427    49.02
Name: Close, dtype: object
904174    74.75
Name: Close, dtype: object
Initial Date not a trading day
903922    54.50
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
903673    48.86
Name: Close, dtype: object
903421    62.17
Name: Close, dtype: object
903169    37.70
Name: Close, dtype: object
902916    24.19
Name: Close, dtype: object
902664    29.31
Name: Close, dtype: object
Initial Date not a trading day
902413    42.84
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
902163    51.11
Name: Close, dtype: object
907218    33.81
Name: Close, dtype: object
Initial Date not a trading day
906966    40.54
Name: Close, dtype: object
906716    36.45
Name: Close, dtype: object
906464    58.70
Name: Close, dtype: object

906212    66.64
Name: Close, dtype: object
905960    60.80
Name: Close, dtype: object
Initial Date not a trading day
905708    83.92
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
905457    80.60
Name: Close, dtype: object
905206    78.35
Name: Close, dtype: object
904954    101.63
Name: Close, dtype: object
910135    7.01
Name: Close, dtype: object
Initial Date not a trading day
909883    3.85
Name: Close, dtype: object
909633    4.16
Name: Close, dtype: object
909381    3.55
Name: Close, dtype: object
909129    3.05
Name: Close, dtype: object
908877    3.03
Name: Close, dtype: object
Initial Date not a trading day
908625    5.70
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
908374    7.39
Name: Close, dtype: object
908123    5.25
Name: Close, dtype: object
907871    8.42
Name: Close, dtype: object
913053    33.38
Name: Close, dtype: object
Initial Date not a trading day
912801    33.58
Name: Close, dtype: object
912551    36.81
Name: Close, dtype: object
912299    44.57
Name: Close, dtype: object
912047    50.90
Name: Close, dtype: object
911795    50.70
Name: Close, dtype: object
Initial Date not a trading day
911543    52.57
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
911292    56.25
Name: Close, dtype: object
911041    41.57
Name: Close, dtype: object
910789    72.54
Name: Close, dtype: object
915953    41.17
Name: Close, dtype: object
Initial Date not a trading day
915701    44.27
Name: Close, dtype: object
915451    44.53
Name: Close, dtype: object
915199    55.31
Name: Close, dtype: object
914947    59.96
Name: Close, dtype: object
914695    67.33
Name: Close, dtype: object
Initial Date not a trading day
914443    78.74
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
914192    107.08
Name: Close, dtype: object
913941    89.97
Name: Close, dtype: object
913689    123.12
Name: Close, dtype: object
918834    27.03
Name: Close, dtype: object
Initial Date not a trading day
918582    29.00
Name: Close, dtype: object
918332    40.63
Name: Close, dtype: object
918080    46.61
Name: Close, dtype: object
917828    54.51
Name: Close, dtype: object
917576    40.81
Name: Close, dtype: object
Initial Date not a trading day
917324    31.48
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
917073    42.54
Name: Close, dtype: object
916822    43.51
Name: Close, dtype: object
916570    47.74
Name: Close, dtype: object
921836    13.02
Name: Close, dtype: object
921583    11.75
Name: Close, dtype: object
921330    12.74
Name: Close, dtype: object
Initial Date not a trading day
921081    14.88
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
920830    17.28
Name: Close, dtype: object
920578    15.70
Name: Close, dtype: object
920325    15.52
Name: Close, dtype: object
920073    18.89
Name: Close, dtype: object
919821    21.60
Name: Close, dtype: object
Initial Date not a trading day
919571    15.67
Name: Close, dtype: object
924632    42.04
Name: Close, dtype: object
Initial Date not a trading day
924380    39.06
Name: Close, dtype: object
924130    68.05
Name: Close, dtype: object
923878    80.70
Name: Close, dtype: object
923626    75.86
Name: Close, dtype: object
923374    67.51
Name: Close, dtype: object
Initial Date not a trading day
923122    75.21
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
922871    92.64
Name: Close, dtype: object
922620    73.11
Name: Close, dtype: object
922368    79.26
Name: Close, dtype: object
927510    50.42
Name: Close, dtype: object
Initial Date not a trading day
927258    57.81
Name: Close, dtype: object
927008    71.90
Name: Close, dtype: object
926756    104.27
Name: Close, dtype: object
926504    104.52
Name: Close, dtype: object
926252    114.38
Name: Close, dtype: object
Initial Date not a trading day
926000    117.22
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
925749    134.18
Name: Close, dtype: object
925498    147.35
Name: Close, dtype: object
925246    192.99
Name: Close, dtype: object
930391    34.62
Name: Close, dtype: object
Initial Date not a trading day
930139    37.28
Name: Close, dtype: object
929889    50.71
Name: Close, dtype: object
929637    65.39
Name: Close, dtype: object
929385    49.42
Name: Close, dtype: object
929133    33.91
Name: Close, dtype: object
Initial Date not a trading day
928881    49.01
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
928630    82.03
Name: Close, dtype: object
928379    64.09
Name: Close, dtype: object
928127    99.82
Name: Close, dtype: object
933272    57.12
Name: Close, dtype: object
Initial Date not a trading day
933020    35.34
Name: Close, dtype: object
932770    32.85
Name: Close, dtype: object
932518    37.49
Name: Close, dtype: object
932266    23.21
Name: Close, dtype: object
932014    6.77
Name: Close, dtype: object
Initial Date not a trading day
931762    13.19
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
931511    18.96
Name: Close, dtype: object
931260    10.31
Name: Close, dtype: object
931008    13.12
Name: Close, dtype: object
936190    1.28
Name: Close, dtype: object
Initial Date not a trading day
935938    2.25
Name: Close, dtype: object
935688    1.15
Name: Close, dtype: object
935436    0.96
Name: Close, dtype: object
935184    1.13
Name: Close, dtype: object
934932    0.99
Name: Close, dtype: object
Initial Date not a trading day
934680    1.33
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
934429    1.82
Name: Close, dtype: object
934178    1.35
Name: Close, dtype: object
933926    2.57
Name: Close, dtype: object
939109    4.79
Name: Close, dtype: object
Initial Date not a trading day
938857    5.49
Name: Close, dtype: object
938607    4.17
Name: Close, dtype: object
938355    2.87
Name: Close, dtype: object
938103    4.55
Name: Close, dtype: object
937851    2.25
Name: Close, dtype: object
Initial Date not a trading day
937599    5.65
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
937348    5.22
Name: Close, dtype: object
937097    3.64
Name: Close, dtype: object
936845    4.08
Name: Close, dtype: object
942026    22.95
Name: Close, dtype: object
Initial Date not a trading day
941774    8.25
Name: Close, dtype: object
941524    9.20
Name: Close, dtype: object
941272    2.20
Name: Close, dtype: object
941020    1.05
Name: Close, dtype: object
940768    0.83
Name: Close, dtype: object
Initial Date not a trading day
940516    3.73
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
940265    4.45
Name: Close, dtype: object
940014    3.15
Name: Close, dtype: object
939762    3.81
Name: Close, dtype: object
944944    3.89
Name: Close, dtype: object
Initial Date not a trading day
944692    4.26
Name: Close, dtype: object
944442    6.46
Name: Close, dtype: object
944190    9.60
Name: Close, dtype: object
943938    13.62
Name: Close, dtype: object
943686    12.83
Name: Close, dtype: object
Initial Date not a trading day
943434    12.48
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
943183    15.45
Name: Close, dtype: object
942932    10.64
Name: Close, dtype: object
942680    16.65
Name: Close, dtype: object
Initial Date not a trading day
947779    47.04
Name: Close, dtype: object
947527    34.73
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
947299    39.95
Name: Close, dtype: object
947046    36.74
Name: Close, dtype: object
946794    37.99
Name: Close, dtype: object
Initial Date not a trading day
946521    39.13
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
946270    51.10
Name: Close, dtype: object
946018    32.50
Name: Close, dtype: object
Initial Date not a trading day

Initial Date plus 1 not a trading day
945788    36.83
Name: Close, dtype: object
945535    35.60
Name: Close, dtype: object
950779    17.80
Name: Close, dtype: object
Initial Date not a trading day
950527    15.85
Name: Close, dtype: object
950277    11.47
Name: Close, dtype: object
950025    3.33
Name: Close, dtype: object
949773    2.70
Name: Close, dtype: object
949521    1.42
Name: Close, dtype: object
Initial Date not a trading day
949269    3.85
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
949018    5.83
Name: Close, dtype: object
948767    3.68
Name: Close, dtype: object
948515    3.73
Name: Close, dtype: object
953661    55.59
Name: Close, dtype: object
Initial Date not a trading day
953409    52.42
Name: Close, dtype: object
953159    66.54
Name: Close, dtype: object
952907    85.98
Name: Close, dtype: object
952655    101.36
Name: Close, dtype: object
952403    119.64
Name: Close, dtype: object
Initial Date not a trading day
952151    117.83
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
951900    152.61
Name: Close, dtype: object
951649    134.27
Name: Close, dtype: object
951397    129.02
Name: Close, dtype: object
956543    26.85
Name: Close, dtype: object
Initial Date not a trading day
956291    29.18
Name: Close, dtype: object
956041    39.28
Name: Close, dtype: object
955789    48.34
Name: Close, dtype: object
955537    53.58
Name: Close, dtype: object
955285    37.70
Name: Close, dtype: object
Initial Date not a trading day
955033    53.06
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
954782    57.94
Name: Close, dtype: object
954531    40.36
Name: Close, dtype: object
954279    46.05
Name: Close, dtype: object
959461    9.46
Name: Close, dtype: object
Initial Date not a trading day
959209    8.07
Name: Close, dtype: object
958959    19.32
Name: Close, dtype: object
958707    18.51
Name: Close, dtype: object
958455    16.56
Name: Close, dtype: object
958203    18.01
Name: Close, dtype: object
Initial Date not a trading day
957951    18.93
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
957700    26.26
Name: Close, dtype: object
957449    22.22
Name: Close, dtype: object
957197    29.67
Name: Close, dtype: object
962343    92.24
Name: Close, dtype: object
Initial Date not a trading day
962091    75.41
Name: Close, dtype: object
961841    94.28
Name: Close, dtype: object
961589    99.94
Name: Close, dtype: object
961337    110.32
Name: Close, dtype: object
961085    136.58
Name: Close, dtype: object
Initial Date not a trading day
960833    221.53
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
960582    221.04
Name: Close, dtype: object
960331    171.87
Name: Close, dtype: object
960079    279.64
Name: Close, dtype: object
965261    38.64
Name: Close, dtype: object
Initial Date not a trading day
965009    24.28
Name: Close, dtype: object
964759    25.78
Name: Close, dtype: object
964507    30.85
Name: Close, dtype: object
964255    35.23
Name: Close, dtype: object
964003    28.00
Name: Close, dtype: object
Initial Date not a trading day
963751    39.60
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
963500    48.60
Name: Close, dtype: object
963249    44.99
Name: Close, dtype: object
962997    59.45
Name: Close, dtype: object
968143    59.94
Name: Close, dtype: object
Initial Date not a trading day
967891    58.55
Name: Close, dtype: object
967641    45.31
Name: Close, dtype: object
967389    22.47
Name: Close, dtype: object
967137    18.44
Name: Close, dtype: object
966885    17.55
Name: Close, dtype: object
Initial Date not a trading day
966633    33.24
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
966382    36.61
Name: Close, dtype: object
966131    33.81
Name: Close, dtype: object
965879    43.45
Name: Close, dtype: object
971021    43.82
Name: Close, dtype: object
Initial Date not a trading day
970769    39.57
Name: Close, dtype: object
970519    43.16
Name: Close, dtype: object
970267    53.38
Name: Close, dtype: object
970015    49.05
Name: Close, dtype: object
969763    40.30
Name: Close, dtype: object
Initial Date not a trading day
969511    59.52
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
969260    63.58
Name: Close, dtype: object
969009    51.81
Name: Close, dtype: object
968757    56.28
Name: Close, dtype: object
973940    41.21
Name: Close, dtype: object
Initial Date not a trading day
973688    21.81
Name: Close, dtype: object
973438    18.73
Name: Close, dtype: object
973186    11.70
Name: Close, dtype: object
972934    9.20
Name: Close, dtype: object
972682    6.50
Name: Close, dtype: object
Initial Date not a trading day
972430    15.07
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
972179    15.56
Name: Close, dtype: object
971928    14.60
Name: Close, dtype: object
971676    23.69
Name: Close, dtype: object
976823    25.84
Name: Close, dtype: object
Initial Date not a trading day
976571    25.24
Name: Close, dtype: object
976321    38.47
Name: Close, dtype: object
976069    63.28
Name: Close, dtype: object
975817    78.05
Name: Close, dtype: object
975565    63.05
Name: Close, dtype: object
Initial Date not a trading day
975313    84.82
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
975062    120.55
Name: Close, dtype: object
974811    83.46
Name: Close, dtype: object
974559    111.99
Name: Close, dtype: object
979742    107.69
Name: Close, dtype: object
Initial Date not a trading day
979490    82.10
Name: Close, dtype: object
979240    82.15
Name: Close, dtype: object
978988    78.00
Name: Close, dtype: object
978736    63.81
Name: Close, dtype: object
978484    35.36
Name: Close, dtype: object
Initial Date not a trading day
978232    52.55
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
977981    78.13
Name: Close, dtype: object
977730    54.94
Name: Close, dtype: object
977478    50.62
Name: Close, dtype: object
982620    42.03
Name: Close, dtype: object
Initial Date not a trading day
982368    41.74
Name: Close, dtype: object
982118    67.67
Name: Close, dtype: object
981866    94.83
Name: Close, dtype: object
981614    115.58
Name: Close, dtype: object
981362    98.82
Name: Close, dtype: object
Initial Date not a trading day
981110    94.76
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
980859    116.82
Name: Close, dtype: object
980608    102.23
Name: Close, dtype: object
980356    133.49
Name: Close, dtype: object
985434    23.50
Name: Close, dtype: object
985181    26.36
Name: Close, dtype: object
984931    33.13
Name: Close, dtype: object
Initial Date not a trading day
984680    43.07
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
984429    50.03
Name: Close, dtype: object
984176    50.19
Name: Close, dtype: object
983924    54.23
Name: Close, dtype: object
983672    49.50
Name: Close, dtype: object
983421    53.52
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
983170    74.78
Name: Close, dtype: object
988455    48.08
Name: Close, dtype: object
Initial Date not a trading day
988203    29.77
Name: Close, dtype: object
987953    37.35
Name: Close, dtype: object
987701    28.32
Name: Close, dtype: object
987449    27.82
Name: Close, dtype: object
987197    25.77
Name: Close, dtype: object
Initial Date not a trading day
986945    31.51
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
986694    46.81
Name: Close, dtype: object
986443    30.35
Name: Close, dtype: object
986191    42.48
Name: Close, dtype: object
991436    50.03
Name: Close, dtype: object
991183    43.14
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
990932    42.05
Name: Close, dtype: object

990682    53.23
Name: Close, dtype: object
990430    55.00
Name: Close, dtype: object
990178    60.82
Name: Close, dtype: object
989925    83.27
Name: Close, dtype: object
Initial Date not a trading day
989674    97.34
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
989423    78.73
Name: Close, dtype: object
989172    101.82
Name: Close, dtype: object
994272    25.45
Name: Close, dtype: object
Initial Date not a trading day
994020    17.21
Name: Close, dtype: object
993770    17.51
Name: Close, dtype: object
993518    34.05
Name: Close, dtype: object
993266    42.43
Name: Close, dtype: object
993014    44.60
Name: Close, dtype: object
Initial Date not a trading day
992762    45.34
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
992511    49.30
Name: Close, dtype: object
992260    34.84
Name: Close, dtype: object
992008    39.83
Name: Close, dtype: object
997189    17.91
Name: Close, dtype: object
Initial Date not a trading day
996937    19.32
Name: Close, dtype: object
996687    20.77
Name: Close, dtype: object
996435    24.01
Name: Close, dtype: object
996183    26.80
Name: Close, dtype: object
995931    26.86
Name: Close, dtype: object
Initial Date not a trading day
995679    25.59
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
995428    29.39
Name: Close, dtype: object
995177    23.62
Name: Close, dtype: object
994925    31.08
Name: Close, dtype: object
1000106    28.22
Name: Close, dtype: object
Initial Date not a trading day
999854    13.82
Name: Close, dtype: object
999604    14.89
Name: Close, dtype: object
999352    6.96
Name: Close, dtype: object
999100    5.00
Name: Close, dtype: object
998848    5.18
Name: Close, dtype: object
Initial Date not a trading day
998596    8.92
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
998345    8.79
Name: Close, dtype: object
998094    12.09
Name: Close, dtype: object
997842    19.26
Name: Close, dtype: object
1003023    38.13
Name: Close, dtype: object
Initial Date not a trading day
1002771    40.08
Name: Close, dtype: object
1002521    55.54
Name: Close, dtype: object
1002269    65.63
Name: Close, dtype: object
1002017    40.08
Name: Close, dtype: object
1001765    49.69
Name: Close, dtype: object
Initial Date not a trading day
1001513    81.48
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1001262    78.97
Name: Close, dtype: object
1001011    74.00
Name: Close, dtype: object
1000759    102.44
Name: Close, dtype: object
1005942    36.73
Name: Close, dtype: object
Initial Date not a trading day
1005690    37.90
Name: Close, dtype: object
1005440    35.56
Name: Close, dtype: object
1005188    48.52
Name: Close, dtype: object
1004936    60.34
Name: Close, dtype: object
1004684    62.82
Name: Close, dtype: object
Initial Date not a trading day
1004432    78.58
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1004181    73.15
Name: Close, dtype: object
1003930    55.85
Name: Close, dtype: object
1003678    66.09
Name: Close, dtype: object
1008820    83.75
Name: Close, dtype: object
Initial Date not a trading day
1008568    89.27
Name: Close, dtype: object
1008318    153.82
Name: Close, dtype: object
1008066    183.50
Name: Close, dtype: object
1007814    263.04
Name: Close, dtype: object
1007562    259.60
Name: Close, dtype: object
Initial Date not a trading day
1007310    268.74
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1007059    410.04
Name: Close, dtype: object
1006808    393.46
Name: Close, dtype: object
1006556    583.54
Name: Close, dtype: object
1011737    26.53
Name: Close, dtype: object
1011465    20.65
Name: Close, dtype: object
1011235    17.35
Name: Close, dtype: object
1010983    13.19
Name: Close, dtype: object
1010731    7.45
Name: Close, dtype: object
1010479    3.10
Name: Close, dtype: object
Initial Date not a trading day
1010227    7.22
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1009976    12.09
Name: Close, dtype: object
1009725    13.19
Name: Close, dtype: object
1009473    13.20
Name: Close, dtype: object
1014637    44.36
Name: Close, dtype: object
Initial Date not a trading day
1014385    39.35
Name: Close, dtype: object
1014135    52.05
Name: Close, dtype: object
1013883    59.42
Name: Close, dtype: object
1013631    65.73
Name: Close, dtype: object
1013379    94.97
Name: Close, dtype: object
Initial Date not a trading day
1013127    125.15
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1012876    128.37
Name: Close, dtype: object
1012625    98.80
Name: Close, dtype: object
1012373    143.99
Name: Close, dtype: object
1017602    36.60
Name: Close, dtype: object
1017349    53.59
Name: Close, dtype: object
1017096    61.60
Name: Close, dtype: object
Initial Date not a trading day
1016847    72.25
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1016596    81.06
Name: Close, dtype: object
1016344    94.27
Name: Close, dtype: object
1016091    115.00
Name: Close, dtype: object
1015839    130.76
Name: Close, dtype: object
1015587    169.07
Name: Close, dtype: object
Initial Date not a trading day
1015337    198.17
Name: Close, dtype: object
1020397    30.78
Name: Close, dtype: object
Initial Date not a trading day
1020145    28.27
Name: Close, dtype: object
1019915    34.61
Name: Close, dtype: object
Initial Date not a trading day
1019664    56.78
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1019413    73.68
Name: Close, dtype: object
1019161    91.46
Name: Close, dtype: object
Initial Date not a trading day
1018887    102.95
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1018636    175.24
Name: Close, dtype: object
1018404    250.89
Name: Close, dtype: object
Initial Date not a trading day
1018154    309.53
Name: Close, dtype: object
1023277    8.18
Name: Close, dtype: object
Initial Date not a trading day
1023025    5.40
Name: Close, dtype: object
1022775    2.40
Name: Close, dtype: object
1022523    3.87
Name: Close, dtype: object
1022271    2.67
Name: Close, dtype: object
1022019    2.87
Name: Close, dtype: object
Initial Date not a trading day
1021767    11.34
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1021516    10.28
Name: Close, dtype: object
1021265    18.46
Name: Close, dtype: object
1021013    45.86
Name: Close, dtype: object
1026177    47.05
Name: Close, dtype: object
Initial Date not a trading day
1025925    32.28
Name: Close, dtype: object
1025675    40.91
Name: Close, dtype: object
1025423    47.18
Name: Close, dtype: object
1025171    62.96
Name: Close, dtype: object
1024919    52.63
Name: Close, dtype: object
Initial Date not a trading day
1024667    66.68
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1024416    65.04
Name: Close, dtype: object
1024165    61.08
Name: Close, dtype: object
1023913    86.38
Name: Close, dtype: object
1029057    71.03
Name: Close, dtype: object
Initial Date not a trading day
1028805    103.84
Name: Close, dtype: object
1028555    144.76
Name: Close, dtype: object
1028303    262.93
Name: Close, dtype: object
1028051    286.05
Name: Close, dtype: object
1027799    276.57
Name: Close, dtype: object
Initial Date not a trading day
1027547    228.50
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1027296    253.48
Name: Close, dtype: object
1027045    150.08
Name: Close, dtype: object
1026793    112.20
Name: Close, dtype: object
1031935    180.00
Name: Close, dtype: object
Initial Date not a trading day
1031683    173.10
Name: Close, dtype: object
1031433    250.87
Name: Close, dtype: object
1031181    398.79
Name: Close, dtype: object
1030929    310.35
Name: Close, dtype: object
1030677    675.89
Name: Close, dtype: object
Initial Date not a trading day
1030425    749.87
Name: Close, dtype: object

Initial Date not a trading day
Initial Date plus 1 not a trading day
1030174    1169.47
Name: Close, dtype: object
1029923    1501.97
Name: Close, dtype: object
1029671    1847.84
Name: Close, dtype: object
1034816    26.39
Name: Close, dtype: object
Initial Date not a trading day
1034564    22.70
Name: Close, dtype: object
1034314    32.35
Name: Close, dtype: object
1034062    44.59
Name: Close, dtype: object
1033810    53.81
Name: Close, dtype: object
1033558    52.23
Name: Close, dtype: object
Initial Date not a trading day
1033306    67.20
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1033055    87.80
Name: Close, dtype: object
1032804    81.02
Name: Close, dtype: object
1032552    108.23
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1037740    33.67
Name: Close, dtype: object
1037487    36.57
Name: Close, dtype: object
1037215    40.60
Name: Close, dtype: object
Initial Date not a trading day
1036964    48.22
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1036713    54.64
Name: Close, dtype: object
Initial Date not a trading day
1036481    60.12
Name: Close, dtype: object
1036229    64.10
Name: Close, dtype: object
1035977    91.30
Name: Close, dtype: object
1035704    91.92
Name: Close, dtype: object
Initial Date not a trading day
1035454    112.95
Name: Close, dtype: object
1040578    52.07
Name: Close, dtype: object
Initial Date not a trading day
1040326    57.28
Name: Close, dtype: object
1040076    67.34
Name: Close, dtype: object
1039824    87.20
Name: Close, dtype: object
1039572    82.00
Name: Close, dtype: object
1039320    92.50
Name: Close, dtype: object
Initial Date not a trading day
1039068    92.49
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1038817    147.59
Name: Close, dtype: object
1038566    142.94
Name: Close, dtype: object
1038314    257.41
Name: Close, dtype: object
1043520    40.54
Name: Close, dtype: object
1043267    54.47
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1043016    95.30
Name: Close, dtype: object
1042766    68.11
Name: Close, dtype: object
1042514    100.75
Name: Close, dtype: object
1042262    110.30
Name: Close, dtype: object
1042009    113.05
Name: Close, dtype: object
Initial Date not a trading day
1041758    154.12
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1041507    225.74
Name: Close, dtype: object
1041256    223.97
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1046380    12.35
Name: Close, dtype: object
1046127    12.32
Name: Close, dtype: object
1045876    10.60
Name: Close, dtype: object
1045624    17.86
Name: Close, dtype: object
1045372    22.09
Name: Close, dtype: object
Initial Date not a trading day
1045121    16.77
Name: Close, dtype: object
1044869    29.08
Name: Close, dtype: object
1044617    56.43
Name: Close, dtype: object
1044365    32.88
Name: Close, dtype: object
1044114    54.26
Name: Close, dtype: object
1049198    40.68
Name: Close, dtype: object
1048946    36.00
Name: Close, dtype: object
1048695    38.88
Name: Close, dtype: object
1048443    51.25
Name: Close, dtype: object
Initial Date not a trading day
1048192    54.01
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1047941    46.82
Name: Close, dtype: object
1047688    81.34
Name: Close, dtype: object
1047436    115.62
Name: Close, dtype: object
1047185    147.20
Name: Close, dtype: object
1046933    196.85
Name: Close, dtype: object
1052224    35.59
Name: Close, dtype: object
1051971    46.57
Name: Close, dtype: object
Initial Date not a trading day
1051719    49.21
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1051470    60.88
Name: Close, dtype: object
1051218    70.09
Name: Close, dtype: object
1050966    80.23
Name: Close, dtype: object
1050713    91.87
Name: Close, dtype: object
1050461    102.46
Name: Close, dtype: object
Initial Date not a trading day
1050210    134.14
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1049960    165.33
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1055020    24.68
Name: Close, dtype: object
1054767    33.77
Name: Close, dtype: object
1054516    33.03
Name: Close, dtype: object
Initial Date not a trading day
1054244    44.73
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1053993    93.40
Name: Close, dtype: object
1053741    130.45
Name: Close, dtype: object
1053509    170.28
Name: Close, dtype: object
1053257    263.91
Name: Close, dtype: object
1052984    237.41
Name: Close, dtype: object
Initial Date not a trading day
1052734    316.21
Name: Close, dtype: object
1057855    19.05
Name: Close, dtype: object
1057602    24.07
Name: Close, dtype: object
Initial Date not a trading day
1057350    21.27
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1057101    26.58
Name: Close, dtype: object
1056849    41.64
Name: Close, dtype: object
1056597    50.01
Name: Close, dtype: object
1056344    65.20
Name: Close, dtype: object
1056092    75.56
Name: Close, dtype: object
Initial Date not a trading day
1055841    115.10
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1055591    127.68
Name: Close, dtype: object
1060588    8.68
Name: Close, dtype: object
Initial Date not a trading day
1060356    10.40
Name: Close, dtype: object
1060106    13.51
Name: Close, dtype: object
1059854    14.02
Name: Close, dtype: object
Initial Date not a trading day
1059582    17.99
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1059331    19.56
Name: Close, dtype: object
Initial Date not a trading day
1059098    25.22
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1058847    41.82
Name: Close, dtype: object
1058596    43.48
Name: Close, dtype: object
1058344    69.36
Name: Close, dtype: object
Initial Date not a trading day
1063596    23.07
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1063344    15.97
Name: Close, dtype: object
1063091    15.95
Name: Close, dtype: object
1062841    25.59
Name: Close, dtype: object
1062589    25.23
Name: Close, dtype: object
1062337    28.42
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1062086    30.53
Name: Close, dtype: object
1061834    31.45
Name: Close, dtype: object
1061582    42.29
Name: Close, dtype: object
1061331    55.40
Name: Close, dtype: object
1066370    54.48
Name: Close, dtype: object
Initial Date not a trading day
1066118    48.36
Name: Close, dtype: object
1065868    52.26
Name: Close, dtype: object
1065616    50.37
Name: Close, dtype: object
1065364    50.81
Name: Close, dtype: object
1065112    60.25
Name: Close, dtype: object
Initial Date not a trading day
1064860    71.12
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1064609    88.00
Name: Close, dtype: object
1064358    102.46
Name: Close, dtype: object
1064106    110.90
Name: Close, dtype: object
1069251    36.65
Name: Close, dtype: object
Initial Date not a trading day
1068999    32.16
Name: Close, dtype: object
1068749    36.94
Name: Close, dtype: object
1068497    50.49
Name: Close, dtype: object
1068245    52.66
Name: Close, dtype: object
1067993    60.02
Name: Close, dtype: object
Initial Date not a trading day
1067741    56.03
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1067490    71.02
Name: Close, dtype: object
1067239    63.48
Name: Close, dtype: object
1066987    62.02
Name: Close, dtype: object
1072132    19.32
Name: Close, dtype: object
Initial Date not a trading day
1071880    12.98
Name: Close, dtype: object

1071630    12.62
Name: Close, dtype: object
1071378    17.82
Name: Close, dtype: object
1071126    22.93
Name: Close, dtype: object
1070874    18.28
Name: Close, dtype: object
Initial Date not a trading day
1070622    24.27
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1070371    31.99
Name: Close, dtype: object
1070120    30.21
Name: Close, dtype: object
1069868    29.11
Name: Close, dtype: object
1075077    103.81
Name: Close, dtype: object
1074824    71.05
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1074573    104.64
Name: Close, dtype: object
1074323    85.81
Name: Close, dtype: object
1074071    118.74
Name: Close, dtype: object
1073819    115.80
Name: Close, dtype: object
1073566    124.64
Name: Close, dtype: object
Initial Date not a trading day
1073315    120.56
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1073064    199.42
Name: Close, dtype: object
1072813    140.42
Name: Close, dtype: object
1077894    27.39
Name: Close, dtype: object
Initial Date not a trading day
1077642    26.59
Name: Close, dtype: object
1077392    34.81
Name: Close, dtype: object
1077140    53.68
Name: Close, dtype: object
1076888    62.20
Name: Close, dtype: object
1076636    60.60
Name: Close, dtype: object
Initial Date not a trading day
1076384    75.64
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1076133    94.09
Name: Close, dtype: object
1075882    102.55
Name: Close, dtype: object
1075630    139.09
Name: Close, dtype: object
1080775    14.64
Name: Close, dtype: object
Initial Date not a trading day
1080523    14.69
Name: Close, dtype: object
1080273    19.76
Name: Close, dtype: object
1080021    29.52
Name: Close, dtype: object
1079769    35.48
Name: Close, dtype: object
1079517    45.73
Name: Close, dtype: object
Initial Date not a trading day
1079265    53.14
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1079014    65.56
Name: Close, dtype: object
1078763    73.49
Name: Close, dtype: object
1078511    115.63
Name: Close, dtype: object
1083656    29.75
Name: Close, dtype: object
Initial Date not a trading day
1083404    25.07
Name: Close, dtype: object
1083154    22.32
Name: Close, dtype: object
1082902    30.10
Name: Close, dtype: object
1082650    32.31
Name: Close, dtype: object
1082398    28.07
Name: Close, dtype: object
Initial Date not a trading day
1082146    36.19
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1081895    46.62
Name: Close, dtype: object
1081644    43.54
Name: Close, dtype: object
1081392    52.07
Name: Close, dtype: object
1086537    33.20
Name: Close, dtype: object
Initial Date not a trading day
1086285    34.77
Name: Close, dtype: object
1086035    46.02
Name: Close, dtype: object
1085783    71.05
Name: Close, dtype: object
1085531    84.21
Name: Close, dtype: object
1085279    90.70
Name: Close, dtype: object
Initial Date not a trading day
1085027    101.07
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1084776    123.15
Name: Close, dtype: object
1084525    127.84
Name: Close, dtype: object
1084273    154.10
Name: Close, dtype: object
1089315    25.98
Name: Close, dtype: object
1089062    21.24
Name: Close, dtype: object
1088812    23.98
Name: Close, dtype: object
Initial Date not a trading day
1088561    34.28
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1088310    52.19
Name: Close, dtype: object
1088057    77.69
Name: Close, dtype: object
Initial Date not a trading day
1087908    69.41
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1087657    100.24
Name: Close, dtype: object
1087406    103.13
Name: Close, dtype: object
1087154    182.56
Name: Close, dtype: object
1092296    297.27
Name: Close, dtype: object
Initial Date not a trading day
1092044    323.26
Name: Close, dtype: object
1091794    354.03
Name: Close, dtype: object
1091542    560.90
Name: Close, dtype: object
1091290    530.66
Name: Close, dtype: object
1091038    778.01
Name: Close, dtype: object
Initial Date not a trading day
1090786    792.45
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1090535    1053.40
Name: Close, dtype: object
1090284    1044.96
Name: Close, dtype: object
1090032    1339.39
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1095221    19.09
Name: Close, dtype: object
1094968    12.08
Name: Close, dtype: object
1094717    6.29
Name: Close, dtype: object
1094465    11.06
Name: Close, dtype: object
1094213    16.29
Name: Close, dtype: object
Initial Date not a trading day
1093962    12.24
Name: Close, dtype: object
1093710    14.49
Name: Close, dtype: object
1093458    21.55
Name: Close, dtype: object
1093206    24.14
Name: Close, dtype: object
1092955    17.37
Name: Close, dtype: object
1098060    146.76
Name: Close, dtype: object
Initial Date not a trading day
1097808    183.88
Name: Close, dtype: object
1097558    191.55
Name: Close, dtype: object
1097306    187.57
Name: Close, dtype: object
1097054    160.44
Name: Close, dtype: object
1096802    137.62
Name: Close, dtype: object
Initial Date not a trading day
1096550    165.99
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1096299    153.42
Name: Close, dtype: object
1096048    113.67
Name: Close, dtype: object
1095796    134.04
Name: Close, dtype: object
1100942    21.03
Name: Close, dtype: object
Initial Date not a trading day
1100690    24.25
Name: Close, dtype: object
1100440    20.62
Name: Close, dtype: object
1100188    25.95
Name: Close, dtype: object
1099936    36.29
Name: Close, dtype: object
1099684    34.45
Name: Close, dtype: object
Initial Date not a trading day
1099432    36.27
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1099181    46.16
Name: Close, dtype: object
1098930    46.93
Name: Close, dtype: object
1098678    59.85
Name: Close, dtype: object
Initial Date not a trading day
1103931    39.75
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1103679    46.70
Name: Close, dtype: object
1103426    58.02
Name: Close, dtype: object
1103176    63.92
Name: Close, dtype: object
1102924    81.97
Name: Close, dtype: object
1102672    105.77
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1102421    110.99
Name: Close, dtype: object
1102169    137.21
Name: Close, dtype: object
1101917    204.24
Name: Close, dtype: object
1101666    277.31
Name: Close, dtype: object
1106724    31.30
Name: Close, dtype: object
Initial Date not a trading day
1106472    33.53
Name: Close, dtype: object
1106222    66.65
Name: Close, dtype: object
1105970    77.61
Name: Close, dtype: object
1105718    74.92
Name: Close, dtype: object
1105466    89.16
Name: Close, dtype: object
Initial Date not a trading day
1105214    98.71
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1104963    214.13
Name: Close, dtype: object
1104712    113.29
Name: Close, dtype: object
1104460    144.92
Name: Close, dtype: object
1109752    23.88
Name: Close, dtype: object
1109499    30.01
Name: Close, dtype: object
Initial Date not a trading day
1109247    34.52
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1108998    47.13
Name: Close, dtype: object
1108746    59.43
Name: Close, dtype: object
1108494    64.70
Name: Close, dtype: object
1108241    87.27
Name: Close, dtype: object
1107989    103.87
Name: Close, dtype: object
Initial Date not a trading day
1107738    130.36
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1107488    133.92
Name: Close, dtype: object
1112506    36.92
Name: Close, dtype: object
Initial Date not a trading day
1112254    20.41
Name: Close, dtype: object

1112004    19.67
Name: Close, dtype: object
1111752    22.57
Name: Close, dtype: object
1111500    22.32
Name: Close, dtype: object
1111248    27.60
Name: Close, dtype: object
Initial Date not a trading day
1110996    28.26
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1110745    28.50
Name: Close, dtype: object
1110494    26.91
Name: Close, dtype: object
1110242    24.63
Name: Close, dtype: object
1115516    22.42
Name: Close, dtype: object
1115263    32.55
Name: Close, dtype: object
Initial Date not a trading day
1115011    39.60
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1114762    44.81
Name: Close, dtype: object
1114510    58.40
Name: Close, dtype: object
1114258    56.21
Name: Close, dtype: object
1114005    73.25
Name: Close, dtype: object
1113753    91.51
Name: Close, dtype: object
Initial Date not a trading day
1113502    102.53
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1113252    118.20
Name: Close, dtype: object
1118398    38.06
Name: Close, dtype: object
1118145    44.28
Name: Close, dtype: object
Initial Date not a trading day
1117893    37.74
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1117644    44.34
Name: Close, dtype: object
1117392    67.58
Name: Close, dtype: object
1117140    81.35
Name: Close, dtype: object
1116887    84.06
Name: Close, dtype: object
1116635    141.43
Name: Close, dtype: object
Initial Date not a trading day
1116384    172.85
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1116134    187.84
Name: Close, dtype: object
1121150    11.38
Name: Close, dtype: object
1120898    8.83
Name: Close, dtype: object
1120647    8.31
Name: Close, dtype: object
1120395    33.38
Name: Close, dtype: object
Initial Date not a trading day
1120144    30.48
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1119893    33.95
Name: Close, dtype: object
Initial Date not a trading day
1119660    51.14
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1119409    64.57
Name: Close, dtype: object
1119158    52.72
Name: Close, dtype: object
1118885    100.47
Name: Close, dtype: object
1124052    22.41
Name: Close, dtype: object
Initial Date not a trading day
1123800    37.28
Name: Close, dtype: object
1123550    49.13
Name: Close, dtype: object
1123298    83.55
Name: Close, dtype: object
1123046    86.16
Name: Close, dtype: object
1122794    97.36
Name: Close, dtype: object
Initial Date not a trading day
1122542    103.25
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1122291    151.36
Name: Close, dtype: object
1122040    188.65
Name: Close, dtype: object
1121788    298.59
Name: Close, dtype: object
1126872    38.01
Name: Close, dtype: object
Initial Date not a trading day
1126620    37.20
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
1126372    36.77
Name: Close, dtype: object
1126119    47.76
Name: Close, dtype: object
1125867    48.90
Name: Close, dtype: object
1125615    48.20
Name: Close, dtype: object
1125362    73.78
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1125112    91.36
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1124861    82.96
Name: Close, dtype: object
1124608    67.80
Name: Close, dtype: object
1129880    7.21
Name: Close, dtype: object
1129627    5.04
Name: Close, dtype: object
1129395    6.21
Name: Close, dtype: object
Initial Date not a trading day
1129146    13.57
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1128895    32.60
Name: Close, dtype: object
1128622    14.98
Name: Close, dtype: object
1128369    17.78
Name: Close, dtype: object
1128138    31.97
Name: Close, dtype: object
1127886    52.52
Name: Close, dtype: object
Initial Date not a trading day
1127636    45.27
Name: Close, dtype: object
1132822    23.01
Name: Close, dtype: object
1132569    26.00
Name: Close, dtype: object
Initial Date not a trading day
1132317    30.59
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1132068    34.55
Name: Close, dtype: object
1131816    41.70
Name: Close, dtype: object
1131564    44.15
Name: Close, dtype: object
1131311    51.17
Name: Close, dtype: object
1131059    68.93
Name: Close, dtype: object
Initial Date not a trading day
1130808    98.61
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1130558    133.96
Name: Close, dtype: object
1135576    63.49
Name: Close, dtype: object
Initial Date not a trading day
1135324    46.29
Name: Close, dtype: object
1135074    55.68
Name: Close, dtype: object
1134822    67.50
Name: Close, dtype: object
1134570    67.08
Name: Close, dtype: object
1134318    68.45
Name: Close, dtype: object
Initial Date not a trading day
1134066    82.89
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1133815    90.34
Name: Close, dtype: object
1133564    115.04
Name: Close, dtype: object
1133312    161.14
Name: Close, dtype: object
Initial Date not a trading day
1138376    52.11
Name: Close, dtype: object
1138124    38.83
Name: Close, dtype: object
1137874    34.89
Name: Close, dtype: object
1137622    35.61
Name: Close, dtype: object
1137370    36.25
Name: Close, dtype: object
Initial Date not a trading day
1137118    23.64
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1136867    39.85
Name: Close, dtype: object
1136615    66.58
Name: Close, dtype: object
1136364    72.85
Name: Close, dtype: object
1136111    43.77
Name: Close, dtype: object
Initial Date not a trading day
1141276    15.82
Name: Close, dtype: object
Initial Date not a trading day
1141044    15.05
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
1140796    19.87
Name: Close, dtype: object
1140543    16.08
Name: Close, dtype: object
1140270    20.07
Name: Close, dtype: object
Initial Date not a trading day
1140018    16.64
Name: Close, dtype: object
1139786    30.68
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1139536    25.85
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1139285    22.99
Name: Close, dtype: object
1139011    21.27
Name: Close, dtype: object
1144221    23.92
Name: Close, dtype: object
1143969    14.77
Name: Close, dtype: object
1143718    12.26
Name: Close, dtype: object
1143466    15.70
Name: Close, dtype: object
Initial Date not a trading day
1143215    19.20
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1142964    29.29
Name: Close, dtype: object
1142711    109.18
Name: Close, dtype: object
1142459    245.80
Name: Close, dtype: object
1142208    143.75
Name: Close, dtype: object
1141956    236.43
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
1147274    22.57
Name: Close, dtype: object
1147021    34.22
Name: Close, dtype: object
1146768    26.47
Name: Close, dtype: object
1146518    33.78
Name: Close, dtype: object
Initial Date not a trading day
1146267    42.02
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1146016    43.49
Name: Close, dtype: object
1145763    40.20
Name: Close, dtype: object
1145511    45.39
Name: Close, dtype: object
1145259    46.72
Name: Close, dtype: object
1145008    50.60
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
1150157    28.54
Name: Close, dtype: object
1149904    32.30
Name: Close, dtype: object
1149651    29.97
Name: Close, dtype: object
1149401    37.23
Name: Close, dtype: object
Initial Date not a trading day

1149150    41.11
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1148899    49.41
Name: Close, dtype: object
1148646    54.22
Name: Close, dtype: object
1148394    59.23
Name: Close, dtype: object
1148142    65.58
Name: Close, dtype: object
1147891    85.79
Name: Close, dtype: object
1152954    45.13
Name: Close, dtype: object
1152701    48.63
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1152450    62.47
Name: Close, dtype: object
1152200    67.32
Name: Close, dtype: object
1151948    74.77
Name: Close, dtype: object
1151696    53.73
Name: Close, dtype: object
1151443    68.50
Name: Close, dtype: object
Initial Date not a trading day
1151192    51.84
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1150941    72.03
Name: Close, dtype: object
1150690    76.28
Name: Close, dtype: object
1155770    32.28
Name: Close, dtype: object
1155518    29.20
Name: Close, dtype: object
1155267    43.03
Name: Close, dtype: object
1155015    60.53
Name: Close, dtype: object
Initial Date not a trading day
1154764    56.45
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1154513    68.06
Name: Close, dtype: object
1154260    79.10
Name: Close, dtype: object
1154008    113.91
Name: Close, dtype: object
1153757    151.97
Name: Close, dtype: object
1153505    182.31
Name: Close, dtype: object
Initial Date not a trading day
1158797    12.55
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1158545    13.89
Name: Close, dtype: object
Initial Date not a trading day
1158313    24.73
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1158064    44.83
Name: Close, dtype: object
1157812    56.82
Name: Close, dtype: object
1157538    50.60
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1157287    32.03
Name: Close, dtype: object
1157055    38.75
Name: Close, dtype: object
Initial Date not a trading day
1156804    56.47
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1156554    47.12
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1161633    22.92
Name: Close, dtype: object
1161401    17.96
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1161150    23.56
Name: Close, dtype: object
1160900    24.84
Name: Close, dtype: object
1160625    58.24
Name: Close, dtype: object
Initial Date not a trading day
1160374    77.24
Name: Close, dtype: object
1160143    76.14
Name: Close, dtype: object
Initial Date not a trading day
1159892    101.90
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1159641    90.71
Name: Close, dtype: object
1159390    79.25
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1164533    25.58
Name: Close, dtype: object
1164280    26.81
Name: Close, dtype: object
1164029    32.20
Name: Close, dtype: object
1163777    36.42
Name: Close, dtype: object
1163525    40.98
Name: Close, dtype: object
Initial Date not a trading day
1163274    49.98
Name: Close, dtype: object
1163022    59.31
Name: Close, dtype: object
1162770    86.52
Name: Close, dtype: object
1162518    89.53
Name: Close, dtype: object
1162267    135.75
Name: Close, dtype: object
1167454    29.22
Name: Close, dtype: object
1167201    28.14
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1166950    34.01
Name: Close, dtype: object
1166700    51.78
Name: Close, dtype: object
1166448    55.29
Name: Close, dtype: object
1166196    59.89
Name: Close, dtype: object
1165943    64.38
Name: Close, dtype: object
Initial Date not a trading day
1165692    83.06
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1165441    87.93
Name: Close, dtype: object
1165190    93.18
Name: Close, dtype: object
1170290    32.50
Name: Close, dtype: object
Initial Date not a trading day
1170038    29.11
Name: Close, dtype: object
1169788    30.89
Name: Close, dtype: object
1169536    43.91
Name: Close, dtype: object
1169284    53.47
Name: Close, dtype: object
1169032    54.81
Name: Close, dtype: object
Initial Date not a trading day
1168780    72.97
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1168529    104.44
Name: Close, dtype: object
1168278    94.50
Name: Close, dtype: object
1168026    128.29
Name: Close, dtype: object
1173190    30.19
Name: Close, dtype: object
Initial Date not a trading day
1172938    35.72
Name: Close, dtype: object
1172688    38.82
Name: Close, dtype: object
1172436    59.78
Name: Close, dtype: object
1172184    57.00
Name: Close, dtype: object
1171932    87.36
Name: Close, dtype: object
Initial Date not a trading day
1171680    76.07
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1171429    114.44
Name: Close, dtype: object
1171178    148.29
Name: Close, dtype: object
1170926    192.68
Name: Close, dtype: object
1176132    18.57
Name: Close, dtype: object
1175879    21.43
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1175628    33.57
Name: Close, dtype: object
1175378    47.77
Name: Close, dtype: object
1175126    53.34
Name: Close, dtype: object
1174874    69.66
Name: Close, dtype: object
1174621    82.70
Name: Close, dtype: object
Initial Date not a trading day
1174370    105.24
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1174119    150.09
Name: Close, dtype: object
1173868    172.01
Name: Close, dtype: object
Initial Date not a trading day
1179075    26.39
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1178823    34.46
Name: Close, dtype: object
Initial Date not a trading day
1178591    30.48
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1178342    62.09
Name: Close, dtype: object
1178090    92.30
Name: Close, dtype: object
1177816    86.06
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1177565    47.51
Name: Close, dtype: object
1177333    88.60
Name: Close, dtype: object
Initial Date not a trading day
1177082    77.41
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1176832    47.55
Name: Close, dtype: object
1181868    18.57
Name: Close, dtype: object
Initial Date not a trading day
1181616    18.26
Name: Close, dtype: object
1181366    13.61
Name: Close, dtype: object
1181114    17.25
Name: Close, dtype: object
1180862    17.91
Name: Close, dtype: object
1180610    17.91
Name: Close, dtype: object
Initial Date not a trading day
1180358    21.72
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1180107    19.01
Name: Close, dtype: object
1179856    17.06
Name: Close, dtype: object
1179604    26.78
Name: Close, dtype: object
1184768    30.35
Name: Close, dtype: object
Initial Date not a trading day
1184516    20.97
Name: Close, dtype: object
1184266    17.97
Name: Close, dtype: object
1184014    32.06
Name: Close, dtype: object
1183762    36.52
Name: Close, dtype: object
1183510    28.01
Name: Close, dtype: object
Initial Date not a trading day
1183258    23.00
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1183007    29.15
Name: Close, dtype: object
1182756    19.76
Name: Close, dtype: object
1182504    36.87
Name: Close, dtype: object
Initial Date not a trading day
1187586    34.86
Name: Close, dtype: object
Initial Date not a trading day
1187354    36.48
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
1187106    38.17
Name: Close, dtype: object
1186853    54.27
Name: Close, dtype: object
1186601    42.30
Name: Close, dtype: object
Initial Date not a trading day

1186328    43.08
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1186077    63.11
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1185846    72.24
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1185595    126.79
Name: Close, dtype: object
1185342    77.94
Name: Close, dtype: object
1190548    12.44
Name: Close, dtype: object
Initial Date not a trading day
1190296    12.32
Name: Close, dtype: object
1190046    10.62
Name: Close, dtype: object
1189794    17.83
Name: Close, dtype: object
1189542    20.15
Name: Close, dtype: object
1189290    38.71
Name: Close, dtype: object
Initial Date not a trading day
1189038    36.11
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1188787    63.32
Name: Close, dtype: object
1188536    46.57
Name: Close, dtype: object
1188284    59.42
Name: Close, dtype: object
1193465    28.11
Name: Close, dtype: object
1193193    22.75
Name: Close, dtype: object
1192963    22.69
Name: Close, dtype: object
1192711    22.91
Name: Close, dtype: object
1192459    21.74
Name: Close, dtype: object
1192207    14.06
Name: Close, dtype: object
Initial Date not a trading day
1191955    12.57
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1191704    17.15
Name: Close, dtype: object
1191453    14.25
Name: Close, dtype: object
1191201    16.00
Name: Close, dtype: object
1196363    29.38
Name: Close, dtype: object
Initial Date not a trading day
1196111    30.24
Name: Close, dtype: object
1195861    33.71
Name: Close, dtype: object
1195609    35.16
Name: Close, dtype: object
1195357    33.59
Name: Close, dtype: object
1195105    34.41
Name: Close, dtype: object
Initial Date not a trading day
1194853    42.53
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1194602    38.88
Name: Close, dtype: object
1194351    28.54
Name: Close, dtype: object
1194099    39.08
Name: Close, dtype: object
1199280    38.37
Name: Close, dtype: object
Initial Date not a trading day
1199028    39.05
Name: Close, dtype: object
1198778    36.71
Name: Close, dtype: object
1198526    56.57
Name: Close, dtype: object
1198274    67.59
Name: Close, dtype: object
1198022    78.23
Name: Close, dtype: object
Initial Date not a trading day
1197770    80.13
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1197519    55.26
Name: Close, dtype: object
1197268    71.53
Name: Close, dtype: object
1197016    55.39
Name: Close, dtype: object
1202197    96.53
Name: Close, dtype: object
Initial Date not a trading day
1201945    116.47
Name: Close, dtype: object
1201695    100.29
Name: Close, dtype: object
1201443    177.88
Name: Close, dtype: object
1201191    227.97
Name: Close, dtype: object
1200939    189.04
Name: Close, dtype: object
Initial Date not a trading day
1200687    164.41
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1200436    234.21
Name: Close, dtype: object
1200185    158.60
Name: Close, dtype: object
1199933    126.40
Name: Close, dtype: object
1205116    14.14
Name: Close, dtype: object
Initial Date not a trading day
1204864    16.89
Name: Close, dtype: object
1204614    22.64
Name: Close, dtype: object
1204362    40.41
Name: Close, dtype: object
1204110    35.39
Name: Close, dtype: object
1203858    34.69
Name: Close, dtype: object
Initial Date not a trading day
1203606    41.35
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1203355    45.30
Name: Close, dtype: object
1203104    45.21
Name: Close, dtype: object
1202852    65.81
Name: Close, dtype: object
1207997    46.17
Name: Close, dtype: object
Initial Date not a trading day
1207745    37.20
Name: Close, dtype: object
1207495    39.12
Name: Close, dtype: object
1207243    31.85
Name: Close, dtype: object
1206991    39.58
Name: Close, dtype: object
1206739    25.16
Name: Close, dtype: object
Initial Date not a trading day
1206487    23.78
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1206236    16.68
Name: Close, dtype: object
1205985    15.15
Name: Close, dtype: object
1205733    13.21
Name: Close, dtype: object
1210916    17.24
Name: Close, dtype: object
Initial Date not a trading day
1210664    18.49
Name: Close, dtype: object
1210414    25.98
Name: Close, dtype: object
1210162    33.33
Name: Close, dtype: object
1209910    35.58
Name: Close, dtype: object
1209658    33.43
Name: Close, dtype: object
Initial Date not a trading day
1209406    38.36
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1209155    34.82
Name: Close, dtype: object
1208904    35.80
Name: Close, dtype: object
1208652    33.85
Name: Close, dtype: object
1213797    10.98
Name: Close, dtype: object
Initial Date not a trading day
1213545    11.86
Name: Close, dtype: object
1213295    18.68
Name: Close, dtype: object
1213043    25.98
Name: Close, dtype: object
1212791    29.00
Name: Close, dtype: object
1212539    28.21
Name: Close, dtype: object
Initial Date not a trading day
1212287    34.52
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1212036    40.05
Name: Close, dtype: object
1211785    34.05
Name: Close, dtype: object
1211533    44.97
Name: Close, dtype: object
1216678    21.30
Name: Close, dtype: object
Initial Date not a trading day
1216426    20.93
Name: Close, dtype: object
1216176    32.43
Name: Close, dtype: object
1215924    46.19
Name: Close, dtype: object
1215672    34.45
Name: Close, dtype: object
1215420    26.68
Name: Close, dtype: object
Initial Date not a trading day
1215168    27.41
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1214917    22.38
Name: Close, dtype: object
1214666    24.74
Name: Close, dtype: object
1214414    32.74
Name: Close, dtype: object
1219559    17.63
Name: Close, dtype: object
Initial Date not a trading day
1219307    27.71
Name: Close, dtype: object
1219057    36.40
Name: Close, dtype: object
1218805    57.92
Name: Close, dtype: object
1218553    72.89
Name: Close, dtype: object
1218301    57.18
Name: Close, dtype: object
Initial Date not a trading day
1218049    57.93
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1217798    47.75
Name: Close, dtype: object
1217547    24.97
Name: Close, dtype: object
1217295    35.47
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1222479    36.13
Name: Close, dtype: object
1222226    34.88
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1221996    52.28
Name: Close, dtype: object
1221746    64.49
Name: Close, dtype: object
1221494    89.03
Name: Close, dtype: object
Initial Date not a trading day
1221220    113.74
Name: Close, dtype: object
1220968    92.69
Name: Close, dtype: object
Initial Date not a trading day
1220738    98.57
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1220487    116.94
Name: Close, dtype: object
1220236    130.32
Name: Close, dtype: object
1225255    19.53
Name: Close, dtype: object
Initial Date not a trading day
1225003    16.48
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
1224755    17.70
Name: Close, dtype: object
1224502    29.01
Name: Close, dtype: object
1224250    58.81
Name: Close, dtype: object
1223998    66.11
Name: Close, dtype: object
1223745    89.52
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1223495    121.24
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1223244    101.63
Name: Close, dtype: object
1222991    100.17
Name: Close, dtype: object
1228234    9.41
Name: Close, dtype: object
Initial Date not a trading day
1227982    7.43
Name: Close, dtype: object

1227732    10.03
Name: Close, dtype: object
1227480    20.15
Name: Close, dtype: object
1227228    20.73
Name: Close, dtype: object
1226976    19.00
Name: Close, dtype: object
Initial Date not a trading day
1226724    19.33
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1226473    15.63
Name: Close, dtype: object
1226222    15.73
Name: Close, dtype: object
1225970    15.71
Name: Close, dtype: object
1231152    2.07
Name: Close, dtype: object
Initial Date not a trading day
1230900    3.14
Name: Close, dtype: object
1230650    2.28
Name: Close, dtype: object
1230398    3.88
Name: Close, dtype: object
1230146    3.90
Name: Close, dtype: object
1229894    2.43
Name: Close, dtype: object
Initial Date not a trading day
1229642    1.94
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1229391    3.64
Name: Close, dtype: object
1229140    8.07
Name: Close, dtype: object
1228888    6.05
Name: Close, dtype: object
1234069    1.87
Name: Close, dtype: object
Initial Date not a trading day
1233817    1.62
Name: Close, dtype: object
1233567    2.20
Name: Close, dtype: object
1233315    14.88
Name: Close, dtype: object
1233063    11.20
Name: Close, dtype: object
1232811    16.30
Name: Close, dtype: object
Initial Date not a trading day
1232559    10.85
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1232308    16.75
Name: Close, dtype: object
1232057    14.74
Name: Close, dtype: object
1231805    21.44
Name: Close, dtype: object
1236987    127.70
Name: Close, dtype: object
Initial Date not a trading day
1236735    90.90
Name: Close, dtype: object
1236485    59.00
Name: Close, dtype: object
1236233    78.20
Name: Close, dtype: object
1235981    77.40
Name: Close, dtype: object
1235729    32.40
Name: Close, dtype: object
Initial Date not a trading day
1235477    15.10
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1235226    9.49
Name: Close, dtype: object
1234975    2.42
Name: Close, dtype: object
1234723    3.58
Name: Close, dtype: object
1239869    10.62
Name: Close, dtype: object
Initial Date not a trading day
1239617    9.73
Name: Close, dtype: object
1239367    11.02
Name: Close, dtype: object
1239115    17.70
Name: Close, dtype: object
1238863    20.77
Name: Close, dtype: object
1238611    23.28
Name: Close, dtype: object
Initial Date not a trading day
1238359    23.41
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1238108    20.16
Name: Close, dtype: object
1237857    20.63
Name: Close, dtype: object
1237605    23.10
Name: Close, dtype: object
1242786    20.80
Name: Close, dtype: object
Initial Date not a trading day
1242534    15.64
Name: Close, dtype: object
1242284    16.74
Name: Close, dtype: object
1242032    14.87
Name: Close, dtype: object
1241780    14.12
Name: Close, dtype: object
1241528    11.91
Name: Close, dtype: object
1241256    14.87
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1241025    15.61
Name: Close, dtype: object
1240774    14.22
Name: Close, dtype: object
1240522    11.60
Name: Close, dtype: object
1245704    14.58
Name: Close, dtype: object
Initial Date not a trading day
1245452    16.91
Name: Close, dtype: object
1245202    25.95
Name: Close, dtype: object
1244950    36.68
Name: Close, dtype: object
1244698    41.38
Name: Close, dtype: object
1244446    36.95
Name: Close, dtype: object
Initial Date not a trading day
1244194    30.59
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1243943    35.84
Name: Close, dtype: object
1243692    21.34
Name: Close, dtype: object
1243440    22.74
Name: Close, dtype: object
1248605    11.42
Name: Close, dtype: object
Initial Date not a trading day
1248353    8.31
Name: Close, dtype: object
1248103    9.31
Name: Close, dtype: object
1247851    19.76
Name: Close, dtype: object
1247599    26.11
Name: Close, dtype: object
1247347    24.57
Name: Close, dtype: object
Initial Date not a trading day
1247095    26.60
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1246844    42.57
Name: Close, dtype: object
1246593    49.25
Name: Close, dtype: object
1246341    71.47
Name: Close, dtype: object
1251523    20.04
Name: Close, dtype: object
Initial Date not a trading day
1251271    14.10
Name: Close, dtype: object
1251021    17.91
Name: Close, dtype: object
1250769    20.77
Name: Close, dtype: object
1250517    6.90
Name: Close, dtype: object
1250265    5.94
Name: Close, dtype: object
Initial Date not a trading day
1250013    8.75
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1249762    9.79
Name: Close, dtype: object
1249511    6.72
Name: Close, dtype: object
1249259    9.75
Name: Close, dtype: object
1254440    35.33
Name: Close, dtype: object
Initial Date not a trading day
1254188    43.84
Name: Close, dtype: object
1253938    41.57
Name: Close, dtype: object
1253686    78.60
Name: Close, dtype: object
1253434    99.14
Name: Close, dtype: object
1253182    181.24
Name: Close, dtype: object
Initial Date not a trading day
1252930    215.34
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1252679    345.07
Name: Close, dtype: object
1252428    235.37
Name: Close, dtype: object
1252176    306.64
Name: Close, dtype: object
1257322    25.10
Name: Close, dtype: object
Initial Date not a trading day
1257070    9.90
Name: Close, dtype: object
1256820    13.23
Name: Close, dtype: object
1256568    52.60
Name: Close, dtype: object
1256316    48.80
Name: Close, dtype: object
1256064    114.38
Name: Close, dtype: object
Initial Date not a trading day
1255812    123.80
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1255561    191.96
Name: Close, dtype: object
1255310    267.66
Name: Close, dtype: object
1255058    323.57
Name: Close, dtype: object
1260240    5.99
Name: Close, dtype: object
Initial Date not a trading day
1259988    7.84
Name: Close, dtype: object
1259738    10.59
Name: Close, dtype: object
1259486    55.73
Name: Close, dtype: object
1259234    51.79
Name: Close, dtype: object
1258982    58.70
Name: Close, dtype: object
Initial Date not a trading day
1258730    63.30
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1258479    78.20
Name: Close, dtype: object
1258228    78.64
Name: Close, dtype: object
1257976    117.25
Name: Close, dtype: object
1263159    9.80
Name: Close, dtype: object
Initial Date not a trading day
1262907    7.73
Name: Close, dtype: object
1262657    8.53
Name: Close, dtype: object
1262405    15.87
Name: Close, dtype: object
1262153    13.22
Name: Close, dtype: object
1261901    13.42
Name: Close, dtype: object
Initial Date not a trading day
1261649    13.30
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1261398    18.50
Name: Close, dtype: object
1261147    22.29
Name: Close, dtype: object
1260895    32.17
Name: Close, dtype: object
1266042    45.80
Name: Close, dtype: object
Initial Date not a trading day
1265790    44.58
Name: Close, dtype: object
1265540    49.96
Name: Close, dtype: object
1265288    74.37
Name: Close, dtype: object
1265036    77.47
Name: Close, dtype: object
1264784    75.66
Name: Close, dtype: object
Initial Date not a trading day
1264532    85.11
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1264281    72.83
Name: Close, dtype: object
1264030    73.24
Name: Close, dtype: object
1263778    81.02
Name: Close, dtype: object
1268959    21.08
Name: Close, dtype: object
Initial Date not a trading day
1268707    15.66
Name: Close, dtype: object
1268457    11.05
Name: Close, dtype: object
1268205    12.35
Name: Close, dtype: object
1267953    16.92
Name: Close, dtype: object
1267701    16.63
Name: Close, dtype: object
Initial Date not a trading day
1267449    15.14
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day

1267198    17.40
Name: Close, dtype: object
1266947    16.19
Name: Close, dtype: object
1266695    14.59
Name: Close, dtype: object
1271809    19.97
Name: Close, dtype: object
Initial Date not a trading day
1271563    14.78
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
1271315    22.82
Name: Close, dtype: object
1271062    38.02
Name: Close, dtype: object
1270810    29.08
Name: Close, dtype: object
1270558    23.95
Name: Close, dtype: object
1270305    35.35
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1270055    37.58
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1269804    48.87
Name: Close, dtype: object
1269551    35.68
Name: Close, dtype: object
1274745    20.55
Name: Close, dtype: object
1274492    22.82
Name: Close, dtype: object
1274239    20.46
Name: Close, dtype: object
Initial Date not a trading day
1273990    24.09
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1273739    25.19
Name: Close, dtype: object
1273487    20.11
Name: Close, dtype: object
1273234    19.99
Name: Close, dtype: object
1272982    22.31
Name: Close, dtype: object
1272730    20.17
Name: Close, dtype: object
Initial Date not a trading day
1272480    19.01
Name: Close, dtype: object
1277579    63.51
Name: Close, dtype: object
Initial Date not a trading day
1277327    47.98
Name: Close, dtype: object
1277077    46.34
Name: Close, dtype: object
1276825    77.74
Name: Close, dtype: object
1276573    34.52
Name: Close, dtype: object
1276321    45.59
Name: Close, dtype: object
Initial Date not a trading day
1276069    56.10
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1275818    100.31
Name: Close, dtype: object
1275567    53.64
Name: Close, dtype: object
1275315    39.93
Name: Close, dtype: object
1280496    1.60
Name: Close, dtype: object
Initial Date not a trading day
1280244    1.79
Name: Close, dtype: object
1279994    2.89
Name: Close, dtype: object
1279742    3.49
Name: Close, dtype: object
1279490    3.50
Name: Close, dtype: object
1279238    4.07
Name: Close, dtype: object
Initial Date not a trading day
1278986    4.45
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1278735    5.36
Name: Close, dtype: object
1278484    5.71
Name: Close, dtype: object
1278232    7.15
Name: Close, dtype: object
1283413    18.63
Name: Close, dtype: object
Initial Date not a trading day
1283161    13.61
Name: Close, dtype: object
1282911    15.83
Name: Close, dtype: object
1282659    24.62
Name: Close, dtype: object
1282407    27.01
Name: Close, dtype: object
1282155    20.15
Name: Close, dtype: object
Initial Date not a trading day
1281903    20.90
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1281652    27.91
Name: Close, dtype: object
1281401    26.80
Name: Close, dtype: object
1281149    23.11
Name: Close, dtype: object
1286331    63.49
Name: Close, dtype: object
Initial Date not a trading day
1286079    50.00
Name: Close, dtype: object
1285829    47.34
Name: Close, dtype: object
1285577    72.93
Name: Close, dtype: object
1285325    53.18
Name: Close, dtype: object
1285073    57.19
Name: Close, dtype: object
Initial Date not a trading day
1284821    33.89
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1284570    43.35
Name: Close, dtype: object
1284319    17.42
Name: Close, dtype: object
1284067    11.18
Name: Close, dtype: object
1289170    15.37
Name: Close, dtype: object
Initial Date not a trading day
1288918    15.38
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
1288670    16.15
Name: Close, dtype: object
1288417    21.93
Name: Close, dtype: object
1288165    25.45
Name: Close, dtype: object
1287913    37.67
Name: Close, dtype: object
1287660    59.27
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1287410    97.78
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1287159    94.37
Name: Close, dtype: object
1286906    118.61
Name: Close, dtype: object
1292150    4.39
Name: Close, dtype: object
Initial Date not a trading day
1291898    4.03
Name: Close, dtype: object
1291648    6.53
Name: Close, dtype: object
1291396    12.88
Name: Close, dtype: object
1291144    14.51
Name: Close, dtype: object
1290892    19.62
Name: Close, dtype: object
Initial Date not a trading day
1290640    24.22
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1290389    51.92
Name: Close, dtype: object
1290138    39.47
Name: Close, dtype: object
1289886    48.01
Name: Close, dtype: object
1295001    31.52
Name: Close, dtype: object
Initial Date not a trading day
1294749    23.81
Name: Close, dtype: object
1294499    22.14
Name: Close, dtype: object
1294247    25.78
Name: Close, dtype: object
1293995    25.25
Name: Close, dtype: object
1293743    25.89
Name: Close, dtype: object
Initial Date not a trading day
1293491    28.87
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1293240    27.80
Name: Close, dtype: object
1292989    32.54
Name: Close, dtype: object
1292737    25.43
Name: Close, dtype: object
1297918    15.87
Name: Close, dtype: object
Initial Date not a trading day
1297666    15.83
Name: Close, dtype: object
1297416    19.71
Name: Close, dtype: object
1297164    23.23
Name: Close, dtype: object
1296912    19.65
Name: Close, dtype: object
1296660    16.15
Name: Close, dtype: object
Initial Date not a trading day
1296408    14.52
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1296157    20.82
Name: Close, dtype: object
1295906    19.37
Name: Close, dtype: object
1295654    17.91
Name: Close, dtype: object
1300832    7.28
Name: Close, dtype: object
Initial Date not a trading day
1300580    6.45
Name: Close, dtype: object
1300330    8.68
Name: Close, dtype: object
1300078    14.26
Name: Close, dtype: object
1299826    15.40
Name: Close, dtype: object
1299574    16.35
Name: Close, dtype: object
Initial Date not a trading day
1299322    13.70
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1299071    14.08
Name: Close, dtype: object
1298820    10.87
Name: Close, dtype: object
1298568    16.69
Name: Close, dtype: object
1303750    43.56
Name: Close, dtype: object
Initial Date not a trading day
1303498    53.55
Name: Close, dtype: object
1303248    65.14
Name: Close, dtype: object
1302996    68.88
Name: Close, dtype: object
1302744    72.08
Name: Close, dtype: object
1302492    55.30
Name: Close, dtype: object
Initial Date not a trading day
1302240    63.70
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1301989    75.74
Name: Close, dtype: object
1301738    66.28
Name: Close, dtype: object
1301486    77.46
Name: Close, dtype: object
1306668    42.83
Name: Close, dtype: object
Initial Date not a trading day
1306416    37.42
Name: Close, dtype: object
1306166    30.23
Name: Close, dtype: object
1305914    41.82
Name: Close, dtype: object
1305662    39.83
Name: Close, dtype: object
1305410    40.81
Name: Close, dtype: object
Initial Date not a trading day
1305158    43.72
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1304907    37.63
Name: Close, dtype: object
1304656    51.97
Name: Close, dtype: object
1304404    36.23
Name: Close, dtype: object
1309568    35.78
Name: Close, dtype: object
Initial Date not a trading day
1309316    40.12
Name: Close, dtype: object
1309066    43.27
Name: Close, dtype: object
1308814    49.14
Name: Close, dtype: object
1308562    46.78
Name: Close, dtype: object
1308310    46.22
Name: Close, dtype: object
Initial Date not a trading day
1308058    53.38
Name: Close, dtype: object

Initial Date not a trading day
Initial Date plus 1 not a trading day
1307807    52.93
Name: Close, dtype: object
1307556    56.22
Name: Close, dtype: object
1307304    61.40
Name: Close, dtype: object
1312469    19.05
Name: Close, dtype: object
Initial Date not a trading day
1312217    27.14
Name: Close, dtype: object
1311967    38.05
Name: Close, dtype: object
1311715    63.74
Name: Close, dtype: object
1311463    55.34
Name: Close, dtype: object
1311211    47.13
Name: Close, dtype: object
Initial Date not a trading day
1310959    63.62
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1310708    59.00
Name: Close, dtype: object
1310457    43.72
Name: Close, dtype: object
1310205    41.97
Name: Close, dtype: object
1315324    18.74
Name: Close, dtype: object
1315052    18.95
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
1314824    19.35
Name: Close, dtype: object
1314571    36.81
Name: Close, dtype: object
1314298    35.20
Name: Close, dtype: object
1314067    32.05
Name: Close, dtype: object
1313814    26.43
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1313564    27.82
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1313313    18.18
Name: Close, dtype: object
1313060    13.77
Name: Close, dtype: object
1318303    14.24
Name: Close, dtype: object
Initial Date not a trading day
1318051    9.32
Name: Close, dtype: object
1317801    7.89
Name: Close, dtype: object
1317549    16.58
Name: Close, dtype: object
1317297    12.34
Name: Close, dtype: object
1317045    17.84
Name: Close, dtype: object
Initial Date not a trading day
1316793    18.40
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1316542    30.58
Name: Close, dtype: object
1316291    74.72
Name: Close, dtype: object
1316039    64.87
Name: Close, dtype: object
1321183    12.18
Name: Close, dtype: object
Initial Date not a trading day
1320931    11.84
Name: Close, dtype: object
1320681    10.70
Name: Close, dtype: object
1320429    14.51
Name: Close, dtype: object
1320177    13.77
Name: Close, dtype: object
1319925    9.57
Name: Close, dtype: object
Initial Date not a trading day
1319673    11.62
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1319422    10.83
Name: Close, dtype: object
1319171    14.46
Name: Close, dtype: object
1318919    19.90
Name: Close, dtype: object
1324063    18.38
Name: Close, dtype: object
Initial Date not a trading day
1323811    22.05
Name: Close, dtype: object
1323561    21.95
Name: Close, dtype: object
1323309    25.80
Name: Close, dtype: object
1323057    33.21
Name: Close, dtype: object
1322805    31.22
Name: Close, dtype: object
Initial Date not a trading day
1322553    37.89
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1322302    42.61
Name: Close, dtype: object
1322051    42.25
Name: Close, dtype: object
1321799    54.72
Name: Close, dtype: object
1326943    28.19
Name: Close, dtype: object
Initial Date not a trading day
1326691    33.13
Name: Close, dtype: object
1326441    30.72
Name: Close, dtype: object
1326189    36.16
Name: Close, dtype: object
1325937    46.13
Name: Close, dtype: object
1325685    43.23
Name: Close, dtype: object
Initial Date not a trading day
1325433    52.46
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1325182    58.99
Name: Close, dtype: object
1324931    65.23
Name: Close, dtype: object
1324679    76.80
Name: Close, dtype: object
1329823    35.98
Name: Close, dtype: object
Initial Date not a trading day
1329571    41.31
Name: Close, dtype: object
1329321    42.68
Name: Close, dtype: object
1329069    46.74
Name: Close, dtype: object
1328817    60.72
Name: Close, dtype: object
1328565    58.27
Name: Close, dtype: object
Initial Date not a trading day
1328313    62.96
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1328062    73.57
Name: Close, dtype: object
1327811    74.74
Name: Close, dtype: object
1327559    94.51
Name: Close, dtype: object
1332704    25.29
Name: Close, dtype: object
Initial Date not a trading day
1332452    31.86
Name: Close, dtype: object
1332202    37.13
Name: Close, dtype: object
1331950    42.26
Name: Close, dtype: object
1331698    53.30
Name: Close, dtype: object
1331446    59.75
Name: Close, dtype: object
Initial Date not a trading day
1331194    72.36
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1330943    91.49
Name: Close, dtype: object
1330692    90.77
Name: Close, dtype: object
1330440    122.85
Name: Close, dtype: object
1335622    18.95
Name: Close, dtype: object
Initial Date not a trading day
1335370    18.83
Name: Close, dtype: object
1335120    22.43
Name: Close, dtype: object
1334868    22.95
Name: Close, dtype: object
1334616    22.59
Name: Close, dtype: object
1334364    27.70
Name: Close, dtype: object
Initial Date not a trading day
1334112    31.94
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1333861    38.56
Name: Close, dtype: object
1333610    34.87
Name: Close, dtype: object
1333358    37.21
Name: Close, dtype: object
1338564    29.25
Name: Close, dtype: object
1338311    32.45
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1338060    35.79
Name: Close, dtype: object
1337810    42.59
Name: Close, dtype: object
1337558    47.70
Name: Close, dtype: object
1337306    58.18
Name: Close, dtype: object
1337053    74.47
Name: Close, dtype: object
Initial Date not a trading day
1336802    83.84
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1336551    93.91
Name: Close, dtype: object
1336300    113.89
Name: Close, dtype: object
1341398    14.48
Name: Close, dtype: object
Initial Date not a trading day
1341166    18.47
Name: Close, dtype: object
1340916    23.50
Name: Close, dtype: object
1340664    26.15
Name: Close, dtype: object
1340412    27.91
Name: Close, dtype: object
1340160    25.27
Name: Close, dtype: object
Initial Date not a trading day
1339908    33.47
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1339657    44.81
Name: Close, dtype: object
1339406    34.53
Name: Close, dtype: object
1339154    49.99
Name: Close, dtype: object
1344299    15.72
Name: Close, dtype: object
Initial Date not a trading day
1344047    20.09
Name: Close, dtype: object
1343797    19.25
Name: Close, dtype: object
1343545    23.18
Name: Close, dtype: object
1343293    23.43
Name: Close, dtype: object
1343041    18.36
Name: Close, dtype: object
Initial Date not a trading day
1342789    24.64
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1342538    28.36
Name: Close, dtype: object
1342287    28.23
Name: Close, dtype: object
1342035    27.27
Name: Close, dtype: object
1347217    8.07
Name: Close, dtype: object
Initial Date not a trading day
1346965    8.46
Name: Close, dtype: object
1346715    8.47
Name: Close, dtype: object
1346463    7.84
Name: Close, dtype: object
1346211    8.63
Name: Close, dtype: object
1345959    8.58
Name: Close, dtype: object
Initial Date not a trading day
1345707    9.17
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1345456    10.31
Name: Close, dtype: object
1345205    11.29
Name: Close, dtype: object
1344953    10.43
Name: Close, dtype: object
1350093    18.60
Name: Close, dtype: object
Initial Date not a trading day
1349841    22.08
Name: Close, dtype: object
1349591    24.38
Name: Close, dtype: object
1349339    26.77
Name: Close, dtype: object
1349087    34.75
Name: Close, dtype: object
1348835    36.08
Name: Close, dtype: object
Initial Date not a trading day
1348583    41.62
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1348332    47.30
Name: Close, dtype: object

1348081    49.65
Name: Close, dtype: object
1347829    62.84
Name: Close, dtype: object
1352970    49.57
Name: Close, dtype: object
Initial Date not a trading day
1352718    62.03
Name: Close, dtype: object
1352468    55.54
Name: Close, dtype: object
1352216    55.28
Name: Close, dtype: object
1351964    66.01
Name: Close, dtype: object
1351712    64.27
Name: Close, dtype: object
Initial Date not a trading day
1351460    73.68
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1351209    84.95
Name: Close, dtype: object
1350958    76.46
Name: Close, dtype: object
1350706    90.47
Name: Close, dtype: object
1355888    20.64
Name: Close, dtype: object
Initial Date not a trading day
1355636    17.82
Name: Close, dtype: object
1355386    22.00
Name: Close, dtype: object
1355134    23.18
Name: Close, dtype: object
1354882    17.26
Name: Close, dtype: object
1354630    12.74
Name: Close, dtype: object
Initial Date not a trading day
1354378    11.53
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1354127    7.43
Name: Close, dtype: object
1353876    6.87
Name: Close, dtype: object
1353624    4.86
Name: Close, dtype: object
1358799    9.17
Name: Close, dtype: object
Initial Date not a trading day
1358547    8.58
Name: Close, dtype: object
1358297    7.40
Name: Close, dtype: object
1358045    14.10
Name: Close, dtype: object
1357793    10.68
Name: Close, dtype: object
1357541    12.24
Name: Close, dtype: object
Initial Date not a trading day
1357289    10.85
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1357038    12.60
Name: Close, dtype: object
1356787    11.66
Name: Close, dtype: object
1356535    16.30
Name: Close, dtype: object
1361680    45.32
Name: Close, dtype: object
Initial Date not a trading day
1361428    54.45
Name: Close, dtype: object
1361178    60.05
Name: Close, dtype: object
1360926    66.39
Name: Close, dtype: object
1360674    86.37
Name: Close, dtype: object
1360422    80.19
Name: Close, dtype: object
Initial Date not a trading day
1360170    98.51
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1359919    109.46
Name: Close, dtype: object
1359668    110.30
Name: Close, dtype: object
1359416    129.87
Name: Close, dtype: object
1364557    53.43
Name: Close, dtype: object
Initial Date not a trading day
1364305    66.00
Name: Close, dtype: object
1364055    63.80
Name: Close, dtype: object
1363803    69.01
Name: Close, dtype: object
1363551    83.54
Name: Close, dtype: object
1363299    71.39
Name: Close, dtype: object
Initial Date not a trading day
1363047    77.62
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1362796    84.11
Name: Close, dtype: object
1362545    86.30
Name: Close, dtype: object
1362293    91.21
Name: Close, dtype: object
1367438    38.60
Name: Close, dtype: object
Initial Date not a trading day
1367186    41.40
Name: Close, dtype: object
1366936    45.19
Name: Close, dtype: object
1366684    46.30
Name: Close, dtype: object
1366432    65.48
Name: Close, dtype: object
1366180    59.21
Name: Close, dtype: object
Initial Date not a trading day
1365928    71.99
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1365677    63.24
Name: Close, dtype: object
1365426    56.77
Name: Close, dtype: object
1365174    75.41
Name: Close, dtype: object
1370356    20.17
Name: Close, dtype: object
Initial Date not a trading day
1370104    17.36
Name: Close, dtype: object
1369854    12.90
Name: Close, dtype: object
1369602    11.46
Name: Close, dtype: object
1369350    11.53
Name: Close, dtype: object
1369098    5.14
Name: Close, dtype: object
Initial Date not a trading day
1368846    7.62
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1368595    7.11
Name: Close, dtype: object
1368344    7.83
Name: Close, dtype: object
1368092    16.94
Name: Close, dtype: object
1373274    12.52
Name: Close, dtype: object
1373002    9.87
Name: Close, dtype: object
1372772    9.82
Name: Close, dtype: object
1372520    8.08
Name: Close, dtype: object
1372268    8.64
Name: Close, dtype: object
1372016    6.55
Name: Close, dtype: object
Initial Date not a trading day
1371764    8.21
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1371513    11.17
Name: Close, dtype: object
1371262    8.92
Name: Close, dtype: object
1371010    10.98
Name: Close, dtype: object
1376155    70.83
Name: Close, dtype: object
Initial Date not a trading day
1375903    73.05
Name: Close, dtype: object
1375653    63.75
Name: Close, dtype: object
1375401    63.27
Name: Close, dtype: object
1375149    87.48
Name: Close, dtype: object
1374897    68.36
Name: Close, dtype: object
Initial Date not a trading day
1374645    73.47
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1374394    81.39
Name: Close, dtype: object
1374143    86.07
Name: Close, dtype: object
1373891    119.80
Name: Close, dtype: object
1379073    30.41
Name: Close, dtype: object
Initial Date not a trading day
1378821    21.39
Name: Close, dtype: object
1378571    18.79
Name: Close, dtype: object
1378319    18.48
Name: Close, dtype: object
1378067    17.00
Name: Close, dtype: object
1377815    9.52
Name: Close, dtype: object
Initial Date not a trading day
1377563    7.05
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1377312    10.88
Name: Close, dtype: object
1377061    9.87
Name: Close, dtype: object
1376809    10.67
Name: Close, dtype: object
1381949    31.88
Name: Close, dtype: object
Initial Date not a trading day
1381697    36.07
Name: Close, dtype: object
1381447    39.08
Name: Close, dtype: object
1381195    42.39
Name: Close, dtype: object
1380943    53.52
Name: Close, dtype: object
1380691    51.07
Name: Close, dtype: object
Initial Date not a trading day
1380439    55.23
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1380188    63.18
Name: Close, dtype: object
1379937    65.04
Name: Close, dtype: object
1379685    85.07
Name: Close, dtype: object
1384830    41.64
Name: Close, dtype: object
Initial Date not a trading day
1384578    43.37
Name: Close, dtype: object
1384328    29.74
Name: Close, dtype: object
1384076    27.39
Name: Close, dtype: object
1383824    37.08
Name: Close, dtype: object
1383572    27.77
Name: Close, dtype: object
Initial Date not a trading day
1383320    35.49
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1383069    39.41
Name: Close, dtype: object
1382818    45.10
Name: Close, dtype: object
1382566    45.59
Name: Close, dtype: object
1387711    37.02
Name: Close, dtype: object
Initial Date not a trading day
1387459    44.30
Name: Close, dtype: object
1387209    41.76
Name: Close, dtype: object
1386957    32.98
Name: Close, dtype: object
1386705    38.99
Name: Close, dtype: object
1386453    31.73
Name: Close, dtype: object
Initial Date not a trading day
1386201    30.97
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1385950    30.62
Name: Close, dtype: object
1385699    37.55
Name: Close, dtype: object
1385447    48.60
Name: Close, dtype: object
1390629    13.51
Name: Close, dtype: object
Initial Date not a trading day
1390377    10.98
Name: Close, dtype: object
1390127    13.97
Name: Close, dtype: object
1389875    16.61
Name: Close, dtype: object
1389623    19.36
Name: Close, dtype: object
1389371    21.17
Name: Close, dtype: object
Initial Date not a trading day
1389119    18.48
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1388868    17.71
Name: Close, dtype: object
1388617    14.75
Name: Close, dtype: object
1388365    11.83
Name: Close, dtype: object
1393548    28.51
Name: Close, dtype: object
Initial Date not a trading day
1393296    31.18
Name: Close, dtype: object
1393046    33.97
Name: Close, dtype: object
1392794    38.48
Name: Close, dtype: object
1392542    45.61
Name: Close, dtype: object

1392290    46.40
Name: Close, dtype: object
Initial Date not a trading day
1392038    65.30
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1391787    63.10
Name: Close, dtype: object
1391536    59.96
Name: Close, dtype: object
1391284    78.82
Name: Close, dtype: object
1396466    18.35
Name: Close, dtype: object
Initial Date not a trading day
1396214    18.66
Name: Close, dtype: object
1395964    19.56
Name: Close, dtype: object
1395712    20.94
Name: Close, dtype: object
1395460    23.06
Name: Close, dtype: object
1395208    26.54
Name: Close, dtype: object
Initial Date not a trading day
1394956    42.94
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1394705    39.91
Name: Close, dtype: object
1394454    53.35
Name: Close, dtype: object
1394202    63.57
Name: Close, dtype: object
1399343    51.99
Name: Close, dtype: object
Initial Date not a trading day
1399091    60.88
Name: Close, dtype: object
1398841    69.19
Name: Close, dtype: object
1398589    85.62
Name: Close, dtype: object
1398337    106.29
Name: Close, dtype: object
1398085    103.89
Name: Close, dtype: object
Initial Date not a trading day
1397833    119.46
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1397582    156.19
Name: Close, dtype: object
1397331    173.82
Name: Close, dtype: object
1397079    242.16
Name: Close, dtype: object
1402199    45.40
Name: Close, dtype: object
Initial Date not a trading day
1401947    50.66
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
Initial Date plus 2 not a trading day
1401699    58.21
Name: Close, dtype: object
1401446    68.98
Name: Close, dtype: object
1401194    64.84
Name: Close, dtype: object
1400942    71.67
Name: Close, dtype: object
1400689    63.70
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1400439    56.43
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1400188    55.84
Name: Close, dtype: object
1399935    58.27
Name: Close, dtype: object
1405143    7.22
Name: Close, dtype: object
Initial Date not a trading day
1404891    9.76
Name: Close, dtype: object
1404641    10.20
Name: Close, dtype: object
1404389    13.48
Name: Close, dtype: object
1404137    17.39
Name: Close, dtype: object
1403885    19.51
Name: Close, dtype: object
Initial Date not a trading day
1403633    22.14
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1403382    25.67
Name: Close, dtype: object
1403131    25.35
Name: Close, dtype: object
1402879    27.84
Name: Close, dtype: object
1408026    19.54
Name: Close, dtype: object
Initial Date not a trading day
1407774    18.12
Name: Close, dtype: object
1407524    22.99
Name: Close, dtype: object
1407272    28.72
Name: Close, dtype: object
1407020    26.95
Name: Close, dtype: object
1406768    11.77
Name: Close, dtype: object
Initial Date not a trading day
1406516    12.26
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1406265    28.48
Name: Close, dtype: object
1406014    39.60
Name: Close, dtype: object
1405762    39.75
Name: Close, dtype: object
1410945    22.77
Name: Close, dtype: object
Initial Date not a trading day
1410693    28.36
Name: Close, dtype: object
1410443    28.16
Name: Close, dtype: object
1410191    33.90
Name: Close, dtype: object
1409939    35.48
Name: Close, dtype: object
1409687    26.29
Name: Close, dtype: object
Initial Date not a trading day
1409435    33.45
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1409184    32.91
Name: Close, dtype: object
1408933    39.19
Name: Close, dtype: object
1408681    44.47
Name: Close, dtype: object
1413828    41.45
Name: Close, dtype: object
Initial Date not a trading day
1413576    48.18
Name: Close, dtype: object
1413326    50.98
Name: Close, dtype: object
1413074    52.92
Name: Close, dtype: object
1412822    68.31
Name: Close, dtype: object
1412570    64.48
Name: Close, dtype: object
Initial Date not a trading day
1412318    78.03
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1412067    85.18
Name: Close, dtype: object
1411816    85.20
Name: Close, dtype: object
1411564    89.93
Name: Close, dtype: object
1416746    21.70
Name: Close, dtype: object
Initial Date not a trading day
1416494    25.29
Name: Close, dtype: object
1416244    27.36
Name: Close, dtype: object
1415992    30.20
Name: Close, dtype: object
1415740    37.83
Name: Close, dtype: object
1415488    36.37
Name: Close, dtype: object
Initial Date not a trading day
1415236    43.33
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1414985    45.58
Name: Close, dtype: object
1414734    45.85
Name: Close, dtype: object
1414482    55.79
Name: Close, dtype: object
1419629    24.42
Name: Close, dtype: object
Initial Date not a trading day
1419377    27.30
Name: Close, dtype: object
1419127    26.57
Name: Close, dtype: object
1418875    27.92
Name: Close, dtype: object
1418623    33.71
Name: Close, dtype: object
1418371    34.13
Name: Close, dtype: object
Initial Date not a trading day
1418119    34.05
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1417868    30.95
Name: Close, dtype: object
1417617    28.33
Name: Close, dtype: object
1417365    35.88
Name: Close, dtype: object
1422512    31.81
Name: Close, dtype: object
Initial Date not a trading day
1422260    33.01
Name: Close, dtype: object
1422010    30.60
Name: Close, dtype: object
1421758    32.04
Name: Close, dtype: object
1421506    41.41
Name: Close, dtype: object
1421254    38.69
Name: Close, dtype: object
Initial Date not a trading day
1421002    43.88
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1420751    51.50
Name: Close, dtype: object
1420500    52.05
Name: Close, dtype: object
1420248    59.05
Name: Close, dtype: object
1425412    52.48
Name: Close, dtype: object
Initial Date not a trading day
1425160    55.00
Name: Close, dtype: object
1424910    70.94
Name: Close, dtype: object
1424658    89.76
Name: Close, dtype: object
1424406    111.36
Name: Close, dtype: object
1424154    94.01
Name: Close, dtype: object
Initial Date not a trading day
1423902    100.64
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1423651    106.92
Name: Close, dtype: object
1423400    108.19
Name: Close, dtype: object
1423148    151.48
Name: Close, dtype: object
1428331    26.41
Name: Close, dtype: object
Initial Date not a trading day
1428079    28.41
Name: Close, dtype: object
1427829    25.16
Name: Close, dtype: object
1427577    27.98
Name: Close, dtype: object
1427325    29.46
Name: Close, dtype: object
1427073    23.52
Name: Close, dtype: object
Initial Date not a trading day
1426821    33.69
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1426570    31.23
Name: Close, dtype: object
1426319    27.80
Name: Close, dtype: object
1426067    32.98
Name: Close, dtype: object
1431249    21.21
Name: Close, dtype: object
1430977    20.32
Name: Close, dtype: object
1430747    15.24
Name: Close, dtype: object
1430495    12.68
Name: Close, dtype: object
1430243    9.06
Name: Close, dtype: object
1429991    3.54
Name: Close, dtype: object
Initial Date not a trading day
1429739    5.50
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1429488    5.95
Name: Close, dtype: object
1429237    4.12
Name: Close, dtype: object
1428985    7.16
Name: Close, dtype: object
1434126    38.23
Name: Close, dtype: object
Initial Date not a trading day
1433874    46.29
Name: Close, dtype: object
1433624    42.81
Name: Close, dtype: object
1433372    41.11
Name: Close, dtype: object
1433120    49.11
Name: Close, dtype: object
1432868    46.79
Name: Close, dtype: object
Initial Date not a trading day
1432616    49.19
Name: Close, dtype: object

Initial Date not a trading day
Initial Date plus 1 not a trading day
1432365    48.09
Name: Close, dtype: object
1432114    43.92
Name: Close, dtype: object
1431862    63.70
Name: Close, dtype: object
1437045    22.74
Name: Close, dtype: object
Initial Date not a trading day
1436793    28.38
Name: Close, dtype: object
1436543    25.92
Name: Close, dtype: object
1436291    30.49
Name: Close, dtype: object
1436039    36.67
Name: Close, dtype: object
1435787    35.88
Name: Close, dtype: object
Initial Date not a trading day
1435535    45.34
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1435284    45.62
Name: Close, dtype: object
1435033    50.64
Name: Close, dtype: object
1434781    61.82
Name: Close, dtype: object
1439945    29.43
Name: Close, dtype: object
Initial Date not a trading day
1439693    34.96
Name: Close, dtype: object
1439443    36.85
Name: Close, dtype: object
1439191    41.34
Name: Close, dtype: object
1438939    52.74
Name: Close, dtype: object
1438687    51.31
Name: Close, dtype: object
Initial Date not a trading day
1438435    58.65
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1438184    66.43
Name: Close, dtype: object
1437933    69.26
Name: Close, dtype: object
1437681    92.23
Name: Close, dtype: object
1442845    23.55
Name: Close, dtype: object
Initial Date not a trading day
1442593    27.64
Name: Close, dtype: object
1442343    26.71
Name: Close, dtype: object
1442091    27.94
Name: Close, dtype: object
1441839    35.92
Name: Close, dtype: object
1441587    35.91
Name: Close, dtype: object
Initial Date not a trading day
1441335    40.70
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1441084    48.11
Name: Close, dtype: object
1440833    49.27
Name: Close, dtype: object
1440581    63.49
Name: Close, dtype: object
1445763    17.29
Name: Close, dtype: object
Initial Date not a trading day
1445511    17.64
Name: Close, dtype: object
1445261    17.57
Name: Close, dtype: object
1445009    20.93
Name: Close, dtype: object
1444757    23.21
Name: Close, dtype: object
1444505    24.94
Name: Close, dtype: object
Initial Date not a trading day
1444253    38.20
Name: Close, dtype: object
Initial Date not a trading day
Initial Date plus 1 not a trading day
1444002    33.90
Name: Close, dtype: object
1443751    32.06
Name: Close, dtype: object
1443499    46.11
Name: Close, dtype: object

In [66]:
print(len(reconciled_prices_list))

5000

In [98]:
subset_balsheets['Price'] = reconciled_prices_list

In [68]:
subset_balsheets

     Company       Time    Price
0        AAP 2011-01-01    63.94
1        AAP 2011-12-01    69.63
2        AAP 2012-12-01    72.35
3        AAP 2013-12-01   110.68
4        AAP 2015-01-01   159.00
5        AAP 2016-01-01   152.05
6        AAP 2016-12-01   169.12
7        AAP 2017-12-01    99.69
8        AAP 2018-12-01   157.46
9        AAP 2019-12-01   160.16
10       AZO 2010-08-01   209.78
11       AZO 2011-08-01   307.00
12       AZO 2012-08-01   361.64
13       AZO 2013-08-01   419.94
14       AZO 2014-08-01   538.84
15       AZO 2015-08-01   715.99
16       AZO 2016-08-01   741.80
17       AZO 2017-08-01   528.44
18       AZO 2018-08-01   766.88
19       AZO 2019-08-01  1101.69
20      BKNG 2010-12-01   399.55
21      BKNG 2011-12-01   467.71
22      BKNG 2012-12-01   620.39
23      BKNG 2013-12-01  1162.40
24      BKNG 2014-12-01  1140.21
25      BKNG 2015-12-01  1274.95
26      BKNG 2016-12-01  1466.06
27      BKNG 2017-12-01  1737.74
28      BKNG 2018-12-01  1722.42
29      BKNG 2019-12-01  2053.73
...      ...        ...      ...
4970     WEC 2010-12-01    29.43
4971     WEC 2011-12-01    34.96
4972     WEC 2012-12-01    36.85
4973     WEC 2013-12-01    41.34
4974     WEC 2014-12-01    52.74
4975     WEC 2015-12-01    51.31
4976     WEC 2016-12-01    58.65
4977     WEC 2017-12-01    66.43
4978     WEC 2018-12-01    69.26
4979     WEC 2019-12-01    92.23
4980     XEL 2010-12-01    23.55
4981     XEL 2011-12-01    27.64
4982     XEL 2012-12-01    26.71
4983     XEL 2013-12-01    27.94
4984     XEL 2014-12-01    35.92
4985     XEL 2015-12-01    35.91
4986     XEL 2016-12-01    40.70
4987     XEL 2017-12-01    48.11
4988     XEL 2018-12-01    49.27
4989     XEL 2019-12-01    63.49
4990    YORW 2010-12-01    17.29
4991    YORW 2011-12-01    17.64
4992    YORW 2012-12-01    17.57
4993    YORW 2013-12-01    20.93
4994    YORW 2014-12-01    23.21
4995    YORW 2015-12-01    24.94
4996    YORW 2016-12-01    38.20
4997    YORW 2017-12-01    33.90
4998    YORW 2018-12-01    32.06
4999    YORW 2019-12-01    46.11

[5000 rows x 3 columns]

In [99]:
bal_sheets['Price'] = reconciled_prices_list

In [100]:
bal_sheets = bal_sheets.sort_values(['Company', 'Time'])
bal_sheets

,Company,Time,Total Assets,Total Liabilities,Total Equity,Total Shares Out. on Filing Date,Book Value / Share,Tangible Book Value,Tangible Book Value Per Share,Total Debt,Net Debt,Price
1940,A,2010-10-01,9696.0,6460.0,3236.0,347.6,9.33,1278.0,3.69,3691.0,1042.0,24.89
1941,A,2011-10-01,9057.0,4741.0,4316.0,348.1,12.44,2312.0,6.67,2185.0,-1345.0,26.51
1942,A,2012-10-01,10536.0,5351.0,5185.0,347.9,14.96,1071.0,3.09,2362.0,0,25.74
1943,A,2013-10-01,10686.0,5397.0,5289.0,331.8,15.91,1323.0,3.98,2699.0,24,36.30
1944,A,2014-10-01,10815.0,5511.0,5304.0,335.3,15.83,2145.0,6.40,1663.0,-555.0,39.53
1945,A,2015-10-01,7479.0,3309.0,4170.0,332.2,12.57,1356.0,4.09,1655.0,-348.0,37.76
1946,A,2016-10-01,7794.0,3548.0,4246.0,321.7,13.12,1310.0,4.05,1904.0,-385.0,43.57
1947,A,2017-10-01,8426.0,3591.0,4835.0,323.0,15.00,1863.0,5.79,2011.0,-667.0,68.03
1948,A,2018-10-01,8541.0,3970.0,4571.0,318.5,14.37,1103.0,3.47,1799.0,-448.0,64.79
1949,A,2019-10-01,9452.0,4704.0,4748.0,310.2,15.36,48,0.16,2407.0,1025.0,75.75
2490,AAL,2010-12-01,25088.0,29033.0,-3945.0,333.4,-11.83,-4877.0,-14.63,11136.0,6640.0,10.01
2491,AAL,2011-12-01,23848.0,30959.0,-7111.0,335.3,-21.21,-8005.0,-23.88,10702.0,6701.0,5.07
2492,AAL,2012-12-01,23510.0,31497.0,-7987.0,335.3,-65.73,-8856.0,-72.88,9733.0,5841.0,13.50
2493,AAL,2013-12-01,42278.0,45009.0,-2731.0,471.5,-5.18,-9128.0,-17.33,20632.0,11381.0,25.25
2494,AAL,2014-12-01,43225.0,41204.0,2021.0,696.6,2.90,-4310.0,-6.18,17720.0,10417.0,53.63
2495,AAL,2015-12-01,48415.0,42780.0,5635.0,603.0,9.02,-705.0,-1.13,20561.0,14307.0,42.35
2496,AAL,2016-12-01,51274.0,47489.0,3785.0,504.2,7.46,-2479.0,-4.89,24344.0,17985.0,46.69
2497,AAL,2017-12-01,52785.0,53565.0,-780.0,473.1,-1.64,-7074.0,-14.88,25065.0,19999.0,52.03
2498,AAL,2018-12-01,60580.0,60749.0,-169.0,449.1,-0.37,-6397.0,-13.89,34029.0,29269.0,32.11
2499,AAL,2019-12-01,59995.0,60113.0,-118.0,426.1,-0.28,-6293.0,-14.70,33444.0,29618.0,28.68
0,AAP,2011-01-01,3354.2,2314.8,1039.4,81.6,12.74,979.6,12.01,352.3,293.1,63.94
1,AAP,2011-12-01,3655.8,2807.8,847.9,72.6,11.68,740.1,10.19,432.2,374.3,69.63
2,AAP,2012-12-01,4613.8,3403.1,1210.7,73.2,16.54,1105.5,15.10,613.8,15.7,72.35
3,AAP,2013-12-01,5564.8,4048.6,1516.2,72.7,20.88,1266.5,17.44,1059.4,-53.1,110.68
4,AAP,2015-01-01,7962.4,5959.4,2002.9,72.9,27.52,259.4,3.56,1658.9,1554.2,159.00
5,AAP,2016-01-01,8127.7,5667.1,2460.6,73.1,33.69,784,10.73,1225.5,1134.7,152.05
6,AAP,2016-12-01,8315.0,5398.8,2916.2,73.6,39.66,1284.4,17.47,1043.3,908.1,169.12
7,AAP,2017-12-01,8482.3,5067.1,3415.2,73.6,46.41,1823.2,24.78,1044.7,497.7,99.69
8,AAP,2018-12-01,9040.6,5489.8,3550.8,71.3,49.28,2010.0,27.90,1045.9,149.4,157.46
9,AAP,2019-12-01,11248.5,7699.4,3549.1,68.8,51.61,1847.1,26.86,3242.5,2823.8,160.16
...,...,...,...,...,...,...,...,...,...,...,...,...
4990,YORW,2010-12-01,259.9,168.7,91.3,12.7,7.19,91.3,7.19,86.5,85.2,17.29
4991,YORW,2011-12-01,274.2,179.0,95.3,12.8,7.45,95.3,7.45,87.9,83.9,17.64
4992,YORW,2012-12-01,282.5,182.7,99.8,12.9,7.73,99.8,7.73,87.8,83.8,17.57
4993,YORW,2013-12-01,282.5,179.0,103.5,13.0,7.98,103.5,7.98,86.6,79.0,20.93
4994,YORW,2014-12-01,304.3,199.8,104.6,12.8,8.15,104.6,8.15,87.5,86.0,23.21
4995,YORW,2015-12-01,310.5,201.5,109.1,12.8,8.51,109.1,8.51,87.1,84.2,24.94
4996,YORW,2016-12-01,320.5,206.4,114.1,12.9,8.87,114.1,8.87,86.9,82.7,38.20
4997,YORW,2017-12-01,332.0,212.6,119.4,12.9,9.28,119.4,9.28,93.3,93.3,33.90
4998,YORW,2018-12-01,345.1,218.9,126.2,12.9,9.75,126.2,9.75,96.2,96.2,32.06
4999,YORW,2019-12-01,363.5,229.3,134.2,13.0,10.31,134.2,10.31,103.3,103.3,46.11
530,YUM,2010-12-01,8316.0,6647.0,1669.0,467.4,3.36,442,0.94,3588.0,2154.0,35.27
531,YUM,2011-12-01,8834.0,6918.0,1916.0,460.4,3.96,843,1.83,3317.0,2109.0,42.43
532,YUM,2012-12-01,9013.0,6701.0,2312.0,450.7,4.78,430,0.95,2942.0,2166.0,47.75
533,YUM,2013-12-01,8695.0,6427.0,2268.0,442.9,4.89,639,1.44,2989.0,2416.0,54.37
534,YUM,2014-12-01,8334.0,6721.0,1613.0,433.1,3.56,529,1.22,3344.0,2766.0,52.38
535,YUM,2015-12-01,8061.0,7086.0,975,408.7,2.17,176,0.42,3928.0,3615.0,52.53
536,YUM,2016-12-01,5453.0,11068.0,-5615.0,353.8,-15.82,-6302.0,-17.75,9125.0,8400.0,63.33
537,YUM,2017-12-01,5311.0,11645.0,-6334.0,332.5,-19.08,-7060.0,-21.27,9804.0,8273.0,81.61
538,YUM,2018-12-01,4130.0,12056.0,-7926.0,306.4,-25.90,-8693.0,-28.41,10095.0,9782.0,91.92
539,YUM,2019-12-01,5231.0,13247.0,-8016.0,300.8,-26.72,-8790.0,-29.30,11340.0,10729.0,100.73
2460,ZBH,2010-12-01,7999.9,2228.6,5771.3,192.1,29.51,2363.4,12.08,1142.1,208.1,53.68
2461,ZBH,2011-12-01,8515.3,3000.5,5514.8,178.1,30.94,2082.7,11.70,1727.5,503.7,53.42
2462,ZBH,2012-12-01,9012.4,3146.1,5866.3,169.4,34.15,2548.4,14.85,1820.9,265,66.66
2463,ZBH,2013-12-01,9580.6,3280.5,6300.1,169.3,37.09,2978.4,17.54,1679.3,-128.3,93.19
2464,ZBH,2014-12-01,9658.0,3106.3,6551.7,169.9,38.60,3432.2,20.23,1484.8,-211.0,113.42
2465,ZBH,2015-12-01,27160.6,17271.2,9889.4,198.8,48.78,-8792.6,-43.38,11497.4,9873.5,102.59
2466,ZBH,2016-12-01,26684.4,17014.5,9669.9,201.1,48.20,-9760.4,-48.66,11241.4,10607.3,103.20
2467,ZBH,2017-12-01,26014.0,14278.5,11735.5,203.1,57.93,-7286.0,-35.96,10142.5,9618.1,120.67
2468,ZBH,2018-12-01,24126.8,12850.7,11276.1,204.4,55.25,-6007.7,-29.45,8941.2,8398.4,103.72
2469,ZBH,2019-12-01,24638.7,12245.9,12392.8,206.4,60.14,-4469.2,-21.70,8501.1,7883.2,149.68

In [101]:
engine = create_engine("mysql+pymysql://pythonlink:pythonlinkp@localhost:3306/stock_forecast_v1")
bal_sheets.to_sql('bal_sheets500_withprice', con= engine, if_exists= 'append', index = False, index_label = False)

In [108]:
income_statements = pd.read_sql_query("SELECT * FROM income_statements_500",
    conn)
income_statements

,Company,Time,Total Revenues,Operating Income,Net Income,Revenue Per Share,Basic EPS,Normalized Basic EPS,Dividend Per Share,EBITA,EBIT,Normalized Net Income
0,AAP,2011-01-01,5925.2,584.9,346.1,68.83,4.00,4.04,0.24,586,584.9,348.2
1,AAP,2011-12-01,6170.5,664.6,394.7,81.60,5.21,5.23,0.24,666.4,664.6,395.8
2,AAP,2012-12-01,6205.0,657.3,387.7,84.89,5.29,5.34,0.24,661,657.3,390.0
3,AAP,2013-12-01,6493.8,693.3,391.8,89.04,5.36,5.65,0.24,701.3,693.3,412.1
4,AAP,2015-01-01,9843.9,945.8,493.8,134.97,6.75,7.50,0.24,1002.3,945.8,547.2
5,AAP,2016-01-01,9737.0,836.8,473.4,133.04,6.47,6.52,0.24,889.9,836.8,477.4
6,AAP,2016-12-01,9567.7,790.4,459.6,130.06,6.25,6.30,0.24,838.4,790.4,463.5
7,AAP,2017-12-01,9373.8,583.5,475.5,126.94,6.44,4.52,0.24,630.9,583.5,333.5
8,AAP,2018-12-01,9580.6,725.5,423.8,129.94,5.75,5.74,0.24,766.2,725.5,422.8
9,AAP,2019-12-01,9709.0,756.8,486.9,137.00,6.87,6.33,0.24,788.5,756.8,448.8
10,AZO,2010-08-01,7362.6,1319.4,738.3,151.84,15.23,14.96,None,1319.4,1319.4,725.3
11,AZO,2011-08-01,8073.0,1494.8,849,189.36,19.91,19.41,None,1494.8,1494.8,827.7
12,AZO,2012-08-01,8603.9,1628.9,930.4,222.35,24.04,23.47,None,1628.9,1628.9,908.1
13,AZO,2013-08-01,9147.5,1773.1,1016.5,254.50,28.28,27.61,None,1773.1,1773.1,992.3
14,AZO,2014-08-01,9475.3,1830.2,1069.7,284.83,32.16,31.24,None,1830.2,1830.2,1039.2
15,AZO,2015-08-01,10187.3,1953.1,1160.2,322.79,36.76,35.70,None,1953.1,1953.1,1126.6
16,AZO,2016-08-01,10635.7,2060.4,1241.0,355.84,41.52,40.00,None,2060.4,2060.4,1195.4
17,AZO,2017-08-01,10888.7,2080.1,1280.9,383.00,45.05,42.33,None,2080.1,2080.1,1203.4
18,AZO,2018-08-01,11221.1,2134.3,1337.5,416.06,49.59,45.42,None,2139.4,2134.3,1224.9
19,AZO,2019-08-01,11863.7,2216.1,1617.2,475.20,64.78,50.85,None,2220.3,2216.1,1269.6
20,BKNG,2010-12-01,3084.9,788.5,527.5,64.33,11.00,9.88,None,822.8,788.5,474
21,BKNG,2011-12-01,4355.6,1398.9,1056.4,87.72,21.27,17.16,None,1432.1,1398.9,852.1
22,BKNG,2012-12-01,5261.0,1870.8,1419.6,105.56,28.48,22.52,None,1903.1,1870.8,1122.3
23,BKNG,2013-12-01,6793.3,2447.1,1892.7,133.40,37.17,28.94,None,2516.7,2447.1,1473.6
24,BKNG,2014-12-01,8442.0,3080.2,2421.8,161.41,46.30,35.88,None,3209.8,3080.2,1876.6
25,BKNG,2015-12-01,9224.0,3236.5,2551.4,181.08,50.09,38.08,None,3407.5,3236.5,1939.8
26,BKNG,2016-12-01,10743.0,3847.0,2135.0,217.07,43.14,46.94,None,4016.0,3847.0,2323.1
27,BKNG,2017-12-01,12681.0,4543.0,2341.0,258.83,47.78,56.18,None,4719.0,4543.0,2752.5
28,BKNG,2018-12-01,14527.0,5341.0,3998.0,306.18,84.26,68.53,None,5519.0,5341.0,3251.3
29,BKNG,2019-12-01,15066.0,5345.0,4865.0,349.71,112.92,75.47,None,5520.0,5345.0,3251.3
...,...,...,...,...,...,...,...,...,...,...,...,...
4970,WEC,2010-12-01,4202.5,810.4,456.5,17.97,1.95,1.87,0.80,810.4,810.4,437.4
4971,WEC,2011-12-01,4486.4,887.3,526.2,19.29,2.26,2.09,1.04,887.3,887.3,485.4
4972,WEC,2012-12-01,4246.4,1000.3,546.3,18.45,2.37,2.31,1.20,1000.3,1000.3,531.2
4973,WEC,2013-12-01,4519.0,1080.1,577.4,19.86,2.54,2.51,1.45,1080.1,1080.1,571.6
4974,WEC,2014-12-01,4997.1,1112.1,588.3,22.15,2.61,2.61,1.56,1112.1,1112.1,589.1
4975,WEC,2015-12-01,5926.1,1250.5,638.5,21.86,2.36,2.42,1.74,1250.5,1250.5,655.9
4976,WEC,2016-12-01,7472.3,1682.1,939,23.68,2.98,2.90,1.98,1682.1,1682.1,913.9
4977,WEC,2017-12-01,7648.5,1785.2,1203.7,24.23,3.81,3.10,2.08,1785.2,1785.2,978.6
4978,WEC,2018-12-01,7679.5,1494.4,1059.3,24.34,3.36,2.44,2.21,1494.4,1494.4,769.3
4979,WEC,2019-12-01,7523.1,1567.6,1134.0,23.85,3.60,2.45,2.36,1567.6,1567.6,773.8
4980,XEL,2010-12-01,10310.9,1620.0,755.8,22.32,1.63,1.57,1.00,1620.0,1620.0,727.2
4981,XEL,2011-12-01,10654.8,1781.6,841.2,21.97,1.72,1.69,1.03,1781.6,1781.6,818.4
4982,XEL,2012-12-01,10128.2,1822.7,905.2,20.76,1.86,1.74,1.07,1822.7,1822.7,847.1
4983,XEL,2013-12-01,10914.9,1847.6,948.2,22.00,1.91,1.80,1.11,1847.6,1847.6,895.1
4984,XEL,2014-12-01,11686.1,1948.1,1021.3,23.19,2.03,1.92,1.20,1948.1,1948.1,965.7
4985,XEL,2015-12-01,11024.0,2000.0,984,21.71,1.94,1.88,1.28,2000.0,2000.0,954.4
4986,XEL,2016-12-01,11107.0,2201.0,1123.0,21.82,2.21,2.09,1.36,2201.0,2201.0,1065.0
4987,XEL,2017-12-01,11404.0,2104.0,1148.0,22.40,2.26,2.08,1.44,2104.0,2104.0,1056.3
4988,XEL,2018-12-01,11537.0,1851.0,1261.0,22.58,2.47,1.76,1.52,1851.0,1851.0,901.3
4989,XEL,2019-12-01,11529.0,2078.0,1372.0,22.21,2.64,1.81,1.62,2078.0,2078.0,937.5
4990,YORW,2010-12-01,39.0,19.8,8.9,3.09,0.71,0.72,0.52,19.8,19.8,9.1
4991,YORW,2011-12-01,40.6,19.9,9.1,3.19,0.71,0.69,0.53,19.9,19.9,8.8
4992,YORW,2012-12-01,41.4,20.6,9.3,3.23,0.72,0.73,0.54,20.6,20.6,9.3
4993,YORW,2013-12-01,42.4,20.8,9.7,3.28,0.75,0.75,0.56,20.8,20.8,9.7
4994,YORW,2014-12-01,45.9,22.1,11.5,3.56,0.89,0.78,0.58,22.1,22.1,10.0
4995,YORW,2015-12-01,47.1,22.7,12.5,3.67,0.97,0.84,0.60,22.7,22.7,10.8
4996,YORW,2016-12-01,47.6,22.9,11.8,3.70,0.92,0.84,0.63,22.9,22.9,10.8
4997,YORW,2017-12-01,48.6,22.5,13.0,3.78,1.01,0.85,0.65,22.5,22.5,10.9
4998,YORW,2018-12-01,48.4,21.2,13.4,3.75,1.04,0.77,0.67,21.2,21.2,9.9
4999,YORW,2019-12-01,51.6,22.3,14.4,3.98,1.11,0.80,0.70,22.3,22.3,10.4

In [109]:
#income_statements = income_statements.drop(['Net Income'], axis = 1)

In [46]:
income_statements

,Company,Time,Total Revenues,Operating Income,Revenue Per Share,Basic EPS,Normalized Basic EPS,Dividend Per Share,EBITA,EBIT,Normalized Net Income
0,AAP,2011-01-01,5925.2,584.9,68.83,4.00,4.04,0.24,586,584.9,348.2
1,AAP,2011-12-01,6170.5,664.6,81.60,5.21,5.23,0.24,666.4,664.6,395.8
2,AAP,2012-12-01,6205.0,657.3,84.89,5.29,5.34,0.24,661,657.3,390.0
3,AAP,2013-12-01,6493.8,693.3,89.04,5.36,5.65,0.24,701.3,693.3,412.1
4,AAP,2015-01-01,9843.9,945.8,134.97,6.75,7.50,0.24,1002.3,945.8,547.2
5,AAP,2016-01-01,9737.0,836.8,133.04,6.47,6.52,0.24,889.9,836.8,477.4
6,AAP,2016-12-01,9567.7,790.4,130.06,6.25,6.30,0.24,838.4,790.4,463.5
7,AAP,2017-12-01,9373.8,583.5,126.94,6.44,4.52,0.24,630.9,583.5,333.5
8,AAP,2018-12-01,9580.6,725.5,129.94,5.75,5.74,0.24,766.2,725.5,422.8
9,AAP,2019-12-01,9709.0,756.8,137.00,6.87,6.33,0.24,788.5,756.8,448.8
10,AZO,2010-08-01,7362.6,1319.4,151.84,15.23,14.96,None,1319.4,1319.4,725.3
11,AZO,2011-08-01,8073.0,1494.8,189.36,19.91,19.41,None,1494.8,1494.8,827.7
12,AZO,2012-08-01,8603.9,1628.9,222.35,24.04,23.47,None,1628.9,1628.9,908.1
13,AZO,2013-08-01,9147.5,1773.1,254.50,28.28,27.61,None,1773.1,1773.1,992.3
14,AZO,2014-08-01,9475.3,1830.2,284.83,32.16,31.24,None,1830.2,1830.2,1039.2
15,AZO,2015-08-01,10187.3,1953.1,322.79,36.76,35.70,None,1953.1,1953.1,1126.6
16,AZO,2016-08-01,10635.7,2060.4,355.84,41.52,40.00,None,2060.4,2060.4,1195.4
17,AZO,2017-08-01,10888.7,2080.1,383.00,45.05,42.33,None,2080.1,2080.1,1203.4
18,AZO,2018-08-01,11221.1,2134.3,416.06,49.59,45.42,None,2139.4,2134.3,1224.9
19,AZO,2019-08-01,11863.7,2216.1,475.20,64.78,50.85,None,2220.3,2216.1,1269.6
20,BKNG,2010-12-01,3084.9,788.5,64.33,11.00,9.88,None,822.8,788.5,474
21,BKNG,2011-12-01,4355.6,1398.9,87.72,21.27,17.16,None,1432.1,1398.9,852.1
22,BKNG,2012-12-01,5261.0,1870.8,105.56,28.48,22.52,None,1903.1,1870.8,1122.3
23,BKNG,2013-12-01,6793.3,2447.1,133.40,37.17,28.94,None,2516.7,2447.1,1473.6
24,BKNG,2014-12-01,8442.0,3080.2,161.41,46.30,35.88,None,3209.8,3080.2,1876.6
25,BKNG,2015-12-01,9224.0,3236.5,181.08,50.09,38.08,None,3407.5,3236.5,1939.8
26,BKNG,2016-12-01,10743.0,3847.0,217.07,43.14,46.94,None,4016.0,3847.0,2323.1
27,BKNG,2017-12-01,12681.0,4543.0,258.83,47.78,56.18,None,4719.0,4543.0,2752.5
28,BKNG,2018-12-01,14527.0,5341.0,306.18,84.26,68.53,None,5519.0,5341.0,3251.3
29,BKNG,2019-12-01,15066.0,5345.0,349.71,112.92,75.47,None,5520.0,5345.0,3251.3
...,...,...,...,...,...,...,...,...,...,...,...
4970,WEC,2010-12-01,4202.5,810.4,17.97,1.95,1.87,0.80,810.4,810.4,437.4
4971,WEC,2011-12-01,4486.4,887.3,19.29,2.26,2.09,1.04,887.3,887.3,485.4
4972,WEC,2012-12-01,4246.4,1000.3,18.45,2.37,2.31,1.20,1000.3,1000.3,531.2
4973,WEC,2013-12-01,4519.0,1080.1,19.86,2.54,2.51,1.45,1080.1,1080.1,571.6
4974,WEC,2014-12-01,4997.1,1112.1,22.15,2.61,2.61,1.56,1112.1,1112.1,589.1
4975,WEC,2015-12-01,5926.1,1250.5,21.86,2.36,2.42,1.74,1250.5,1250.5,655.9
4976,WEC,2016-12-01,7472.3,1682.1,23.68,2.98,2.90,1.98,1682.1,1682.1,913.9
4977,WEC,2017-12-01,7648.5,1785.2,24.23,3.81,3.10,2.08,1785.2,1785.2,978.6
4978,WEC,2018-12-01,7679.5,1494.4,24.34,3.36,2.44,2.21,1494.4,1494.4,769.3
4979,WEC,2019-12-01,7523.1,1567.6,23.85,3.60,2.45,2.36,1567.6,1567.6,773.8
4980,XEL,2010-12-01,10310.9,1620.0,22.32,1.63,1.57,1.00,1620.0,1620.0,727.2
4981,XEL,2011-12-01,10654.8,1781.6,21.97,1.72,1.69,1.03,1781.6,1781.6,818.4
4982,XEL,2012-12-01,10128.2,1822.7,20.76,1.86,1.74,1.07,1822.7,1822.7,847.1
4983,XEL,2013-12-01,10914.9,1847.6,22.00,1.91,1.80,1.11,1847.6,1847.6,895.1
4984,XEL,2014-12-01,11686.1,1948.1,23.19,2.03,1.92,1.20,1948.1,1948.1,965.7
4985,XEL,2015-12-01,11024.0,2000.0,21.71,1.94,1.88,1.28,2000.0,2000.0,954.4
4986,XEL,2016-12-01,11107.0,2201.0,21.82,2.21,2.09,1.36,2201.0,2201.0,1065.0
4987,XEL,2017-12-01,11404.0,2104.0,22.40,2.26,2.08,1.44,2104.0,2104.0,1056.3
4988,XEL,2018-12-01,11537.0,1851.0,22.58,2.47,1.76,1.52,1851.0,1851.0,901.3
4989,XEL,2019-12-01,11529.0,2078.0,22.21,2.64,1.81,1.62,2078.0,2078.0,937.5
4990,YORW,2010-12-01,39.0,19.8,3.09,0.71,0.72,0.52,19.8,19.8,9.1
4991,YORW,2011-12-01,40.6,19.9,3.19,0.71,0.69,0.53,19.9,19.9,8.8
4992,YORW,2012-12-01,41.4,20.6,3.23,0.72,0.73,0.54,20.6,20.6,9.3
4993,YORW,2013-12-01,42.4,20.8,3.28,0.75,0.75,0.56,20.8,20.8,9.7
4994,YORW,2014-12-01,45.9,22.1,3.56,0.89,0.78,0.58,22.1,22.1,10.0
4995,YORW,2015-12-01,47.1,22.7,3.67,0.97,0.84,0.60,22.7,22.7,10.8
4996,YORW,2016-12-01,47.6,22.9,3.70,0.92,0.84,0.63,22.9,22.9,10.8
4997,YORW,2017-12-01,48.6,22.5,3.78,1.01,0.85,0.65,22.5,22.5,10.9
4998,YORW,2018-12-01,48.4,21.2,3.75,1.04,0.77,0.67,21.2,21.2,9.9
4999,YORW,2019-12-01,51.6,22.3,3.98,1.11,0.80,0.70,22.3,22.3,10.4

In [110]:
income_statements['Price'] = reconciled_prices_list
income_statements = income_statements.sort_values(['Company', 'Time'])
income_statements

,Company,Time,Total Revenues,Operating Income,Revenue Per Share,Basic EPS,Normalized Basic EPS,Dividend Per Share,EBITA,EBIT,Normalized Net Income,Price
1940,A,2010-10-01,5444.0,732,15.69,1.97,1.30,0,809,732,452.5,24.89
1941,A,2011-10-01,6615.0,1071.0,19.06,2.92,1.85,0,1184.0,1071.0,641.3,26.51
1942,A,2012-10-01,6858.0,1134.0,19.71,3.31,1.92,0.30,1270.0,1134.0,668.8,25.74
1943,A,2013-10-01,3894.0,386,11.42,2.15,0.54,0.46,576,386,183.1,36.30
1944,A,2014-10-01,4048.0,419,12.16,1.65,0.60,0.53,608,419,198.8,39.53
1945,A,2015-10-01,4038.0,525,12.13,1.20,0.91,0.40,683,525,301.9,37.76
1946,A,2016-10-01,4202.0,698,12.89,1.42,1.24,0.46,852,698,403.1,43.57
1947,A,2017-10-01,4472.0,853,13.89,2.12,1.58,0.53,973,853,509.4,68.03
1948,A,2018-10-01,4914.0,997,15.31,0.98,1.91,0.60,1107.0,997,612.5,64.79
1949,A,2019-10-01,5163.0,1043.0,16.44,3.41,2.02,0.66,1171.0,1043.0,635.6,75.75
2490,AAL,2010-12-01,22170.0,308,66.58,-1.41,-0.95,0,434,308,-316.3,10.01
2491,AAL,2011-12-01,23979.0,475,191.86,-15.83,-1.75,0,502,475,-218.1,5.07
2492,AAL,2012-12-01,24855.0,535,99.62,-7.52,-0.33,0,560,535,-81.3,13.50
2493,AAL,2013-12-01,26712.0,1935.0,95.33,-6.55,2.32,0,1955.0,1935.0,650,25.25
2494,AAL,2014-12-01,42650.0,5073.0,59.45,4.02,3.60,0.20,5154.0,5073.0,2584.4,53.63
2495,AAL,2015-12-01,40990.0,7284.0,61.33,11.39,5.88,0.40,7339.0,7284.0,3931.3,42.35
2496,AAL,2016-12-01,40142.0,5860.0,72.68,4.68,5.57,0.40,5936.0,5860.0,3077.5,46.69
2497,AAL,2017-12-01,42622.0,5103.0,87.13,2.62,5.30,0.40,5147.0,5103.0,2594.4,52.03
2498,AAL,2018-12-01,44541.0,3757.0,95.94,3.04,3.76,0.40,3798.0,3757.0,1746.3,32.11
2499,AAL,2019-12-01,45768.0,3889.0,103.23,3.80,4.10,0.40,3930.0,3889.0,1817.5,28.68
0,AAP,2011-01-01,5925.2,584.9,68.83,4.00,4.04,0.24,586,584.9,348.2,63.94
1,AAP,2011-12-01,6170.5,664.6,81.60,5.21,5.23,0.24,666.4,664.6,395.8,69.63
2,AAP,2012-12-01,6205.0,657.3,84.89,5.29,5.34,0.24,661,657.3,390.0,72.35
3,AAP,2013-12-01,6493.8,693.3,89.04,5.36,5.65,0.24,701.3,693.3,412.1,110.68
4,AAP,2015-01-01,9843.9,945.8,134.97,6.75,7.50,0.24,1002.3,945.8,547.2,159.00
5,AAP,2016-01-01,9737.0,836.8,133.04,6.47,6.52,0.24,889.9,836.8,477.4,152.05
6,AAP,2016-12-01,9567.7,790.4,130.06,6.25,6.30,0.24,838.4,790.4,463.5,169.12
7,AAP,2017-12-01,9373.8,583.5,126.94,6.44,4.52,0.24,630.9,583.5,333.5,99.69
8,AAP,2018-12-01,9580.6,725.5,129.94,5.75,5.74,0.24,766.2,725.5,422.8,157.46
9,AAP,2019-12-01,9709.0,756.8,137.00,6.87,6.33,0.24,788.5,756.8,448.8,160.16
...,...,...,...,...,...,...,...,...,...,...,...,...
4990,YORW,2010-12-01,39.0,19.8,3.09,0.71,0.72,0.52,19.8,19.8,9.1,17.29
4991,YORW,2011-12-01,40.6,19.9,3.19,0.71,0.69,0.53,19.9,19.9,8.8,17.64
4992,YORW,2012-12-01,41.4,20.6,3.23,0.72,0.73,0.54,20.6,20.6,9.3,17.57
4993,YORW,2013-12-01,42.4,20.8,3.28,0.75,0.75,0.56,20.8,20.8,9.7,20.93
4994,YORW,2014-12-01,45.9,22.1,3.56,0.89,0.78,0.58,22.1,22.1,10.0,23.21
4995,YORW,2015-12-01,47.1,22.7,3.67,0.97,0.84,0.60,22.7,22.7,10.8,24.94
4996,YORW,2016-12-01,47.6,22.9,3.70,0.92,0.84,0.63,22.9,22.9,10.8,38.20
4997,YORW,2017-12-01,48.6,22.5,3.78,1.01,0.85,0.65,22.5,22.5,10.9,33.90
4998,YORW,2018-12-01,48.4,21.2,3.75,1.04,0.77,0.67,21.2,21.2,9.9,32.06
4999,YORW,2019-12-01,51.6,22.3,3.98,1.11,0.80,0.70,22.3,22.3,10.4,46.11
530,YUM,2010-12-01,11343.0,1845.0,23.93,2.44,2.22,0.92,1874.0,1845.0,1053.8,35.27
531,YUM,2011-12-01,12626.0,1998.0,26.92,2.81,2.49,1.07,2029.0,1998.0,1168.4,42.43
532,YUM,2012-12-01,13633.0,2237.0,29.57,3.46,2.86,1.24,2265.0,2237.0,1319.6,47.75
533,YUM,2013-12-01,13084.0,2037.0,28.95,2.41,2.72,1.41,2065.0,2037.0,1229.5,54.37
534,YUM,2014-12-01,6587.0,1533.0,14.84,2.37,1.94,1.56,1546.0,1533.0,861.9,52.38
535,YUM,2015-12-01,6418.0,1520.0,14.75,2.95,1.95,1.74,1533.0,1520.0,849.4,52.53
536,YUM,2016-12-01,6356.0,1585.0,16.13,4.17,2.04,1.73,1616.0,1585.0,803.8,63.33
537,YUM,2017-12-01,5878.0,1746.0,16.94,3.86,2.34,1.26,1779.0,1746.0,811.9,81.61
538,YUM,2018-12-01,5688.0,1762.0,17.66,4.79,2.56,1.50,1799.0,1762.0,823.8,91.92
539,YUM,2019-12-01,5597.0,1906.0,18.29,4.23,2.92,1.73,1958.0,1906.0,894.4,100.73
2460,ZBH,2010-12-01,4220.2,1231.8,21.10,2.98,3.67,0,1324.1,1231.8,734.6,53.68
2461,ZBH,2011-12-01,4451.8,1268.5,23.73,4.06,4.08,0,1362.3,1268.5,765.4,53.42
2462,ZBH,2012-12-01,4471.7,1318.6,25.57,4.32,4.52,0.72,1415.7,1318.6,790.4,66.66
2463,ZBH,2013-12-01,4623.4,1333.9,27.26,4.60,4.70,0.80,1412.4,1333.9,797.7,93.19
2464,ZBH,2014-12-01,4673.3,1405.3,27.65,4.26,4.84,0.88,1497.8,1405.3,818.2,113.42
2465,ZBH,2015-12-01,5997.8,1624.6,32.01,0.78,4.39,0.88,1962.0,1624.6,822.4,102.59
2466,ZBH,2016-12-01,7668.4,1772.0,38.34,1.53,4.38,0.96,2337.9,1772.0,875.6,103.20
2467,ZBH,2017-12-01,7803.3,1633.6,38.65,8.98,4.00,0.96,2237.5,1633.6,807.6,120.67
2468,ZBH,2018-12-01,7932.9,1431.8,38.98,-1.86,3.46,0.96,2027.7,1431.8,703.9,103.72
2469,ZBH,2019-12-01,7982.2,1355.2,38.92,5.52,3.39,0.96,1939.5,1355.2,696.3,149.68

In [104]:
#income_statements.to_sql('income_statements500_withprice', con= engine, if_exists= 'append', index = False, index_label = False)

In [105]:
cash_flows = pd.read_sql_query("SELECT * FROM cash_flows_500",
    conn)
cash_flows

,Company,Time,Net Income,Cash from Operations,Cash from Investing,Cash from Financing,Net Change in Cash,Levered Free Cash Flow,Unlevered Free Cash Flow,Free Cash Flow / Share
0,AAP,2011-01-01,346.1,666.2,-199.4,-507.6,-40.8,437.5,459.5,5.42
1,AAP,2011-12-01,394.7,828.8,-290.0,-540.2,-1.3,523.8,546.2,7.41
2,AAP,2012-12-01,387.7,685.3,-273.0,127.9,540.2,352.5,373.7,5.67
3,AAP,2013-12-01,391.8,545.3,-362.1,331.2,514.4,352.6,375.5,4.79
4,AAP,2015-01-01,493.8,709.0,-2288.2,575.9,-1007.8,-262.5,-216.7,6.59
5,AAP,2016-01-01,473.4,702.6,-253.4,-459.0,-13.9,486.6,527.5,6.39
6,AAP,2016-12-01,459.6,523.3,-262.0,-217.1,44.4,185.7,223.1,3.59
7,AAP,2017-12-01,475.5,600.8,-178.6,-14.9,411.8,384.4,421.1,5.57
8,AAP,2018-12-01,423.8,811.0,-191.8,-263.9,349.6,590.3,625.7,8.37
9,AAP,2019-12-01,486.9,866.9,-462.9,-882.2,-477.9,275.2,300.2,5.58
10,AZO,2010-08-01,738.3,1196.3,-307.4,-883.5,5.6,923.6,1018.0,18.17
11,AZO,2011-08-01,849,1291.5,-319.0,-973.8,-0.7,906.5,1005.5,22.75
12,AZO,2012-08-01,930.4,1224.0,-374.8,-843.4,5.5,816.4,919.2,21.86
13,AZO,2013-08-01,1016.5,1415.0,-527.3,-847.0,39.1,970.9,1079.5,27.84
14,AZO,2014-08-01,1069.7,1341.2,-448.0,-911.6,-17.7,920.5,1019.5,26.81
15,AZO,2015-08-01,1160.2,1573.0,-567.9,-944.6,50.8,960.4,1049.2,34.30
16,AZO,2016-08-01,1241.0,1641.1,-505.8,-1116.5,14.4,757.2,843,38.22
17,AZO,2017-08-01,1280.9,1570.6,-553.6,-914.3,103.5,832.9,923.3,35.76
18,AZO,2018-08-01,1337.5,2080.3,-521.9,-1632.2,-75.4,1295.7,1400.0,57.79
19,AZO,2019-08-01,1617.2,2128.5,-491.8,-1674.1,-41.5,1244.0,1355.9,65.39
20,BKNG,2010-12-01,527.5,777.3,-841.1,213,156.8,743.5,738.7,15.74
21,BKNG,2011-12-01,1056.4,1341.8,-904.8,-151.0,273.9,974.7,970.7,26.08
22,BKNG,2012-12-01,1419.6,1785.8,-1562.7,668.9,903.5,1500.7,1494.5,34.72
23,BKNG,2013-12-01,1892.7,2301.4,-2162.3,-403.5,-246.4,1776.0,1764.5,43.54
24,BKNG,2014-12-01,2421.8,2914.4,-2357.9,1429.0,1849.0,2212.7,2207.9,53.21
25,BKNG,2015-12-01,2551.4,3203.5,-3894.5,-831.3,-1671.4,2360.5,2386.3,59.47
26,BKNG,2016-12-01,2135.0,3984.0,-3333.0,-1.0,604,2897.2,2950.2,75.08
27,BKNG,2017-12-01,2341.0,4662.0,-4202.0,-79.0,481,3460.3,3540.0,89.28
28,BKNG,2018-12-01,3998.0,5338.0,2215.0,-7431.0,82,3797.0,3906.1,103.19
29,BKNG,2019-12-01,4865.0,4865.0,7050.0,-8220.0,3687.0,4117.4,4225.6,104.38
...,...,...,...,...,...,...,...,...,...,...
4970,WEC,2010-12-01,456.5,810.4,-633.5,-172.6,4.3,-49.2,79.8,0.05
4971,WEC,2011-12-01,526.2,993.4,-892.5,-111.3,-10.4,-92.0,55.4,0.70
4972,WEC,2012-12-01,546.3,1173.9,-729.6,-422.8,21.5,304.6,459.7,2.03
4973,WEC,2013-12-01,577.4,1232.2,-745.8,-496.0,-9.6,-98.7,58.9,2.23
4974,WEC,2014-12-01,588.3,1198.9,-756.8,-406.2,35.9,526.3,677.3,1.94
4975,WEC,2015-12-01,638.5,1293.6,-2517.5,1211.8,-12.1,-183.0,25.3,0.10
4976,WEC,2016-12-01,939,2103.8,-1354.2,-845.7,-96.1,139.5,391.9,2.15
4977,WEC,2017-12-01,1203.7,2078.6,-2254.1,161.4,-14.1,-151.7,108.9,0.38
4978,WEC,2018-12-01,1059.3,2445.5,-2384.4,26.4,87.5,-623.6,-344.7,1.05
4979,WEC,2019-12-01,1134.0,2345.5,-2494.9,85.6,-63.8,-386.4,-72.3,0.27
4980,XEL,2010-12-01,755.8,1893.9,-2806.7,905.6,-7.2,-325.3,35.5,-0.58
4981,XEL,2011-12-01,841.2,2405.5,-2247.8,-205.5,-47.8,-503.8,-134.2,0.33
4982,XEL,2012-12-01,905.2,2004.8,-2332.9,349.8,21.6,-465.8,-89.8,-1.03
4983,XEL,2013-12-01,948.2,2584.0,-3213.4,654.2,24.8,-1424.7,-1065.2,-1.46
4984,XEL,2014-12-01,1021.3,2659.5,-3117.3,430.2,-27.5,-1062.6,-708.4,-0.89
4985,XEL,2015-12-01,984,3038.0,-3623.0,590,5,-1097.1,-725.2,-1.16
4986,XEL,2016-12-01,1123.0,3052.0,-3261.0,209,-,-773.0,-368.6,-0.28
4987,XEL,2017-12-01,1148.0,3126.0,-3296.0,168,-2.0,-591.4,-177.0,-0.23
4988,XEL,2018-12-01,1261.0,3122.0,-3986.0,928,64,-1231.6,-794.1,-1.63
4989,XEL,2019-12-01,1372.0,3263.0,-4343.0,1181.0,101,-1329.4,-846.3,-1.85
4990,YORW,2010-12-01,8.9,14.8,-10.5,-3.0,1.3,3,6.1,0.33
4991,YORW,2011-12-01,9.1,17.5,-9.4,-5.4,2.7,4.6,7.9,0.63
4992,YORW,2012-12-01,9.3,16.4,-12.2,-4.2,0,2.5,5.8,0.33
4993,YORW,2013-12-01,9.7,18.4,-9.3,-5.5,3.6,7.9,11.2,0.66
4994,YORW,2014-12-01,11.5,18.8,-14.1,-10.7,-6.1,-2.0,1.2,0.33
4995,YORW,2015-12-01,12.5,20.7,-14.2,-5.1,1.4,4.2,7.4,0.51
4996,YORW,2016-12-01,11.8,19.4,-12.5,-5.5,1.3,6.5,9.8,0.48
4997,YORW,2017-12-01,13.0,20.1,-25.1,0.8,-4.2,-7.8,-4.5,-0.39
4998,YORW,2018-12-01,13.4,18.4,-16.8,-1.6,-,1.3,4.8,0.12
4999,YORW,2019-12-01,14.4,18.9,-20.5,1.7,-,-3.5,-0.3,-0.13

In [106]:
cash_flows['Price'] = reconciled_prices_list
cash_flows = cash_flows.sort_values(['Company', 'Time'])
cash_flows

,Company,Time,Net Income,Cash from Operations,Cash from Investing,Cash from Financing,Net Change in Cash,Levered Free Cash Flow,Unlevered Free Cash Flow,Free Cash Flow / Share,Price
1940,A,2010-10-01,684,718,-1174.0,601,170,-1047.5,-987.5,1.72,24.89
1941,A,2011-10-01,1012.0,1260.0,1294.0,-1693.0,878,2236.6,2290.4,3.09,26.51
1942,A,2012-10-01,1153.0,1228.0,-2366.0,-37.0,-1176.0,644.6,707.8,2.97,25.74
1943,A,2013-10-01,734,1152.0,-248.0,-554.0,324,320.4,387.3,2.81,36.30
1944,A,2014-10-01,549,731,-230.0,-117.0,353,-461.9,-393.1,1.58,39.53
1945,A,2015-10-01,401,1322.0,-400.0,-1089.0,-215.0,1388.9,1430.1,3.68,37.76
1946,A,2016-10-01,462,793,-238.0,-268.0,286,864.3,909.3,2.01,43.57
1947,A,2017-10-01,684,889,-304.0,-202.0,391,543.8,593.1,2.21,68.03
1948,A,2018-10-01,316,1087.0,-705.0,-797.0,-432.0,688.3,735.1,2.83,64.79
1949,A,2019-10-01,1071.0,1021.0,-1590.0,-299.0,-866.0,846.6,892.9,2.75,75.75
2490,AAL,2010-12-01,-471.0,1241.0,-2030.0,804,15,-934.5,-439.5,-2.17,10.01
2491,AAL,2011-12-01,-1979.0,743,-1292.0,664,115,-408.0,98.9,-6.97,5.07
2492,AAL,2012-12-01,-1876.0,1285.0,-1571.0,483,197,-895.6,-500.6,-2.42,13.50
2493,AAL,2013-12-01,-1834.0,675,-3814.0,3799.0,660,1106.4,1641.4,-8.70,25.25
2494,AAL,2014-12-01,2882.0,3080.0,-2911.0,-315.0,-146.0,-501.8,52.6,-2.68,53.63
2495,AAL,2015-12-01,7610.0,6249.0,-5594.0,-1259.0,-604.0,107.5,657.5,0.15,42.35
2496,AAL,2016-12-01,2584.0,6524.0,-5702.0,-894.0,-72.0,-358.9,260.5,1.44,46.69
2497,AAL,2017-12-01,1282.0,4744.0,-3636.0,-1145.0,-37.0,-660.8,-2.6,-2.51,52.03
2498,AAL,2018-12-01,1412.0,3533.0,-1973.0,-1672.0,-112.0,737.1,1397.1,-0.46,32.11
2499,AAL,2019-12-01,1686.0,3815.0,-2243.0,-1568.0,4,-17.8,666.6,-1.02,28.68
0,AAP,2011-01-01,346.1,666.2,-199.4,-507.6,-40.8,437.5,459.5,5.42,63.94
1,AAP,2011-12-01,394.7,828.8,-290.0,-540.2,-1.3,523.8,546.2,7.41,69.63
2,AAP,2012-12-01,387.7,685.3,-273.0,127.9,540.2,352.5,373.7,5.67,72.35
3,AAP,2013-12-01,391.8,545.3,-362.1,331.2,514.4,352.6,375.5,4.79,110.68
4,AAP,2015-01-01,493.8,709.0,-2288.2,575.9,-1007.8,-262.5,-216.7,6.59,159.00
5,AAP,2016-01-01,473.4,702.6,-253.4,-459.0,-13.9,486.6,527.5,6.39,152.05
6,AAP,2016-12-01,459.6,523.3,-262.0,-217.1,44.4,185.7,223.1,3.59,169.12
7,AAP,2017-12-01,475.5,600.8,-178.6,-14.9,411.8,384.4,421.1,5.57,99.69
8,AAP,2018-12-01,423.8,811.0,-191.8,-263.9,349.6,590.3,625.7,8.37,157.46
9,AAP,2019-12-01,486.9,866.9,-462.9,-882.2,-477.9,275.2,300.2,5.58,160.16
...,...,...,...,...,...,...,...,...,...,...,...
4990,YORW,2010-12-01,8.9,14.8,-10.5,-3.0,1.3,3,6.1,0.33,17.29
4991,YORW,2011-12-01,9.1,17.5,-9.4,-5.4,2.7,4.6,7.9,0.63,17.64
4992,YORW,2012-12-01,9.3,16.4,-12.2,-4.2,0,2.5,5.8,0.33,17.57
4993,YORW,2013-12-01,9.7,18.4,-9.3,-5.5,3.6,7.9,11.2,0.66,20.93
4994,YORW,2014-12-01,11.5,18.8,-14.1,-10.7,-6.1,-2.0,1.2,0.33,23.21
4995,YORW,2015-12-01,12.5,20.7,-14.2,-5.1,1.4,4.2,7.4,0.51,24.94
4996,YORW,2016-12-01,11.8,19.4,-12.5,-5.5,1.3,6.5,9.8,0.48,38.20
4997,YORW,2017-12-01,13.0,20.1,-25.1,0.8,-4.2,-7.8,-4.5,-0.39,33.90
4998,YORW,2018-12-01,13.4,18.4,-16.8,-1.6,-,1.3,4.8,0.12,32.06
4999,YORW,2019-12-01,14.4,18.9,-20.5,1.7,-,-3.5,-0.3,-0.13,46.11
530,YUM,2010-12-01,1158.0,1968.0,-579.0,-337.0,1073.0,1028.3,1150.1,2.47,35.27
531,YUM,2011-12-01,1319.0,2170.0,-1006.0,-1413.0,-228.0,1010.8,1125.8,2.62,42.43
532,YUM,2012-12-01,1597.0,2294.0,-1005.0,-1716.0,-422.0,1024.0,1117.1,2.59,47.75
533,YUM,2013-12-01,1091.0,2139.0,-886.0,-1451.0,-203.0,869.5,950.1,2.41,54.37
534,YUM,2014-12-01,1051.0,1217.0,-424.0,-739.0,66,824.8,914.1,1.60,52.38
535,YUM,2015-12-01,1283.0,1260.0,-199.0,-1089.0,-28.0,402.4,498,1.88,52.53
536,YUM,2016-12-01,1643.0,1248.0,-4.0,-744.0,466,414.8,621.6,2.08,63.33
537,YUM,2017-12-01,1340.0,1030.0,1472.0,-1795.0,768,496.6,792.3,2.05,81.61
538,YUM,2018-12-01,1542.0,1176.0,313,-2620.0,-1194.0,669.3,979.3,2.93,91.92
539,YUM,2019-12-01,1294.0,1315.0,-88.0,-938.0,294,882.9,1207.3,3.66,100.73
2460,ZBH,2010-12-01,596.9,1193.5,-726.9,-489.6,-22.8,770.3,807.9,4.57,53.68
2461,ZBH,2011-12-01,760.8,1176.9,-624.4,-455.8,99.4,945.5,980,4.84,53.42
2462,ZBH,2012-12-01,755,1151.9,-592.1,-436.5,116,878.9,924.4,5.08,66.66
2463,ZBH,2013-12-01,780.4,963.1,-282.5,-467.3,196.3,926.4,970.2,3.95,93.19
2464,ZBH,2014-12-01,720.3,1060.5,-469.4,-570.1,2.7,627.5,666.9,4.25,113.42
2465,ZBH,2015-12-01,147,849.8,-7557.9,7106.7,376,292.3,471.4,2.22,102.59
2466,ZBH,2016-12-01,305.9,1632.2,-1691.5,-743.2,-825.2,1798.8,2062.2,5.51,103.20
2467,ZBH,2017-12-01,1813.8,1582.3,-510.8,-1210.5,-109.7,1469.0,1672.3,5.40,120.67
2468,ZBH,2018-12-01,-379.2,1747.4,-416.6,-1302.2,18.4,1588.5,1769.3,6.43,103.72
2469,ZBH,2019-12-01,1131.6,1585.8,-729.3,-779.9,75.1,834.6,976.4,4.22,149.68

In [33]:
#cash_flows

In [107]:
#cash_flows.to_sql('cash_flows500_withprice', con= engine, if_exists= 'append', index = False, index_label = False)

In [111]:
final_df = pd.merge(bal_sheets, income_statements , how='outer', on= ['Company', 'Time', 'Price'], left_on=None, right_on=None,
left_index=False, right_index=False, sort=True)

In [112]:
pfdf = final_df['Price'] 
final_df = final_df.drop(['Price'], axis = 1)
final_df.insert(final_df.shape[1],'Price', pfdf)
final_df

,Company,Time,Total Assets,Total Liabilities,Total Equity,Total Shares Out. on Filing Date,Book Value / Share,Tangible Book Value,Tangible Book Value Per Share,Total Debt,...,Total Revenues,Operating Income,Revenue Per Share,Basic EPS,Normalized Basic EPS,Dividend Per Share,EBITA,EBIT,Normalized Net Income,Price
0,A,2010-10-01,9696.0,6460.0,3236.0,347.6,9.33,1278.0,3.69,3691.0,...,5444.0,732,15.69,1.97,1.30,0,809,732,452.5,24.89
1,A,2011-10-01,9057.0,4741.0,4316.0,348.1,12.44,2312.0,6.67,2185.0,...,6615.0,1071.0,19.06,2.92,1.85,0,1184.0,1071.0,641.3,26.51
2,A,2012-10-01,10536.0,5351.0,5185.0,347.9,14.96,1071.0,3.09,2362.0,...,6858.0,1134.0,19.71,3.31,1.92,0.30,1270.0,1134.0,668.8,25.74
3,A,2013-10-01,10686.0,5397.0,5289.0,331.8,15.91,1323.0,3.98,2699.0,...,3894.0,386,11.42,2.15,0.54,0.46,576,386,183.1,36.30
4,A,2014-10-01,10815.0,5511.0,5304.0,335.3,15.83,2145.0,6.40,1663.0,...,4048.0,419,12.16,1.65,0.60,0.53,608,419,198.8,39.53
5,A,2015-10-01,7479.0,3309.0,4170.0,332.2,12.57,1356.0,4.09,1655.0,...,4038.0,525,12.13,1.20,0.91,0.40,683,525,301.9,37.76
6,A,2016-10-01,7794.0,3548.0,4246.0,321.7,13.12,1310.0,4.05,1904.0,...,4202.0,698,12.89,1.42,1.24,0.46,852,698,403.1,43.57
7,A,2017-10-01,8426.0,3591.0,4835.0,323.0,15.00,1863.0,5.79,2011.0,...,4472.0,853,13.89,2.12,1.58,0.53,973,853,509.4,68.03
8,A,2018-10-01,8541.0,3970.0,4571.0,318.5,14.37,1103.0,3.47,1799.0,...,4914.0,997,15.31,0.98,1.91,0.60,1107.0,997,612.5,64.79
9,A,2019-10-01,9452.0,4704.0,4748.0,310.2,15.36,48,0.16,2407.0,...,5163.0,1043.0,16.44,3.41,2.02,0.66,1171.0,1043.0,635.6,75.75
10,AAL,2010-12-01,25088.0,29033.0,-3945.0,333.4,-11.83,-4877.0,-14.63,11136.0,...,22170.0,308,66.58,-1.41,-0.95,0,434,308,-316.3,10.01
11,AAL,2011-12-01,23848.0,30959.0,-7111.0,335.3,-21.21,-8005.0,-23.88,10702.0,...,23979.0,475,191.86,-15.83,-1.75,0,502,475,-218.1,5.07
12,AAL,2012-12-01,23510.0,31497.0,-7987.0,335.3,-65.73,-8856.0,-72.88,9733.0,...,24855.0,535,99.62,-7.52,-0.33,0,560,535,-81.3,13.50
13,AAL,2013-12-01,42278.0,45009.0,-2731.0,471.5,-5.18,-9128.0,-17.33,20632.0,...,26712.0,1935.0,95.33,-6.55,2.32,0,1955.0,1935.0,650,25.25
14,AAL,2014-12-01,43225.0,41204.0,2021.0,696.6,2.90,-4310.0,-6.18,17720.0,...,42650.0,5073.0,59.45,4.02,3.60,0.20,5154.0,5073.0,2584.4,53.63
15,AAL,2015-12-01,48415.0,42780.0,5635.0,603.0,9.02,-705.0,-1.13,20561.0,...,40990.0,7284.0,61.33,11.39,5.88,0.40,7339.0,7284.0,3931.3,42.35
16,AAL,2016-12-01,51274.0,47489.0,3785.0,504.2,7.46,-2479.0,-4.89,24344.0,...,40142.0,5860.0,72.68,4.68,5.57,0.40,5936.0,5860.0,3077.5,46.69
17,AAL,2017-12-01,52785.0,53565.0,-780.0,473.1,-1.64,-7074.0,-14.88,25065.0,...,42622.0,5103.0,87.13,2.62,5.30,0.40,5147.0,5103.0,2594.4,52.03
18,AAL,2018-12-01,60580.0,60749.0,-169.0,449.1,-0.37,-6397.0,-13.89,34029.0,...,44541.0,3757.0,95.94,3.04,3.76,0.40,3798.0,3757.0,1746.3,32.11
19,AAL,2019-12-01,59995.0,60113.0,-118.0,426.1,-0.28,-6293.0,-14.70,33444.0,...,45768.0,3889.0,103.23,3.80,4.10,0.40,3930.0,3889.0,1817.5,28.68
20,AAP,2011-01-01,3354.2,2314.8,1039.4,81.6,12.74,979.6,12.01,352.3,...,5925.2,584.9,68.83,4.00,4.04,0.24,586,584.9,348.2,63.94
21,AAP,2011-12-01,3655.8,2807.8,847.9,72.6,11.68,740.1,10.19,432.2,...,6170.5,664.6,81.60,5.21,5.23,0.24,666.4,664.6,395.8,69.63
22,AAP,2012-12-01,4613.8,3403.1,1210.7,73.2,16.54,1105.5,15.10,613.8,...,6205.0,657.3,84.89,5.29,5.34,0.24,661,657.3,390.0,72.35
23,AAP,2013-12-01,5564.8,4048.6,1516.2,72.7,20.88,1266.5,17.44,1059.4,...,6493.8,693.3,89.04,5.36,5.65,0.24,701.3,693.3,412.1,110.68
24,AAP,2015-01-01,7962.4,5959.4,2002.9,72.9,27.52,259.4,3.56,1658.9,...,9843.9,945.8,134.97,6.75,7.50,0.24,1002.3,945.8,547.2,159.00
25,AAP,2016-01-01,8127.7,5667.1,2460.6,73.1,33.69,784,10.73,1225.5,...,9737.0,836.8,133.04,6.47,6.52,0.24,889.9,836.8,477.4,152.05
26,AAP,2016-12-01,8315.0,5398.8,2916.2,73.6,39.66,1284.4,17.47,1043.3,...,9567.7,790.4,130.06,6.25,6.30,0.24,838.4,790.4,463.5,169.12
27,AAP,2017-12-01,8482.3,5067.1,3415.2,73.6,46.41,1823.2,24.78,1044.7,...,9373.8,583.5,126.94,6.44,4.52,0.24,630.9,583.5,333.5,99.69
28,AAP,2018-12-01,9040.6,5489.8,3550.8,71.3,49.28,2010.0,27.90,1045.9,...,9580.6,725.5,129.94,5.75,5.74,0.24,766.2,725.5,422.8,157.46
29,AAP,2019-12-01,11248.5,7699.4,3549.1,68.8,51.61,1847.1,26.86,3242.5,...,9709.0,756.8,137.00,6.87,6.33,0.24,788.5,756.8,448.8,160.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,YORW,2010-12-01,259.9,168.7,91.3,12.7,7.19,91.3,7.19,86.5,...,39.0,19.8,3.09,0.71,0.72,0.52,19.8,19.8,9.1,17.29
4971,YORW,2011-12-01,274.2,179.0,95.3,12.8,7.45,95.3,7.45,87.9,...,40.6,19.9,3.19,0.71,0.69,0.53,19.9,19.9,8.8,17.64
4972,YORW,2012-12-01,282.5,182.7,99.8,12.9,7.73,99.8,7.73,87.8,...,41.4,20.6,3.23,0.72,0.73,0.54,20.6,20.6,9.3,17.57
4973,YORW,2013-12-01,282.5,179.0,103.5,13.0,7.98,103.5,7.98,86.6,...,42.4,20.8,3.28,0.75,0.75,0.56,20.8,20.8,9.7,20.93
4974,YORW,2014-12-01,304.3,199.8,104.6,12.8,8.15,104.6,8.15,87.5,...,45.9,22.1,3.56,0.89,0.78,0.58,22.1,22.1,10.0,23.21
4975,YORW,2015-12-01,310.5,201.5,109.1,12.8,8.51,109.1,8.51,87.1,...,47.1,22.7,3.67,0.97,0.84,0.60,22.7,22.7,10.8,24.94
4976,YORW,2016-12-01,320.5,206.4,114.1,12.9,8.87,114.1,8.87,86.9,...,47.6,22.9,3.70,0.92,0.84,0.63,22.9,22.9,10.8,38.20
4977,YORW,2017-12-01,332.0,212.6,119.4,12.9,9.28,119.4,9.28,93.3,...,48.6,22.5,3.78,1.01,0.85,0.65,22.5,22.5,10.9,33.90
4978,YORW,2018-12-01,345.1,218.9,126.2,12.9,9.75,126.2,9.75,96.2,...,48.4,21.2,3.75,1.04,0.77,0.67,21.2,21.2,9.9,32.06
4979,YORW,2019-12-01,363.5,229.3,134.2,13.0,10.31,134.2,10.31,103.3,...,51.6,22.3,3.98,1.11,0.80,0.70,22.3,22.3,10.4,46.11
4980,YUM,2010-12-01,8316.0,6647.0,1669.0,467.4,3.36,442,0.94,3588.0,...,11343.0,1845.0,23.93,2.44,2.22,0.92,1874.0,1845.0,1053.8,35.27
4981,YUM,2011-12-01,8834.0,6918.0,1916.0,460.4,3.96,843,1.83,3317.0,...,12626.0,1998.0,26.92,2.81,2.49,1.07,2029.0,1998.0,1168.4,42.43
4982,YUM,2012-12-01,9013.0,6701.0,2312.0,450.7,4.78,430,0.95,2942.0,...,13633.0,2237.0,29.57,3.46,2.86,1.24,2265.0,2237.0,1319.6,47.75
4983,YUM,2013-12-01,8695.0,6427.0,2268.0,442.9,4.89,639,1.44,2989.0,...,13084.0,2037.0,28.95,2.41,2.72,1.41,2065.0,2037.0,1229.5,54.37
4984,YUM,2014-12-01,8334.0,6721.0,1613.0,433.1,3.56,529,1.22,3344.0,...,6587.0,1533.0,14.84,2.37,1.94,1.56,1546.0,1533.0,861.9,52.38
4985,YUM,2015-12-01,8061.0,7086.0,975,408.7,2.17,176,0.42,3928.0,...,6418.0,1520.0,14.75,2.95,1.95,1.74,1533.0,1520.0,849.4,52.53
4986,YUM,2016-12-01,5453.0,11068.0,-5615.0,353.8,-15.82,-6302.0,-17.75,9125.0,...,6356.0,1585.0,16.13,4.17,2.04,1.73,1616.0,1585.0,803.8,63.33
4987,YUM,2017-12-01,5311.0,11645.0,-6334.0,332.5,-19.08,-7060.0,-21.27,9804.0,...,5878.0,1746.0,16.94,3.86,2.34,1.26,1779.0,1746.0,811.9,81.61
4988,YUM,2018-12-01,4130.0,12056.0,-7926.0,306.4,-25.90,-8693.0,-28.41,10095.0,...,5688.0,1762.0,17.66,4.79,2.56,1.50,1799.0,1762.0,823.8,91.92
4989,YUM,2019-12-01,5231.0,13247.0,-8016.0,300.8,-26.72,-8790.0,-29.30,11340.0,...,5597.0,1906.0,18.29,4.23,2.92,1.73,1958.0,1906.0,894.4,100.73
4990,ZBH,2010-12-01,7999.9,2228.6,5771.3,192.1,29.51,2363.4,12.08,1142.1,...,4220.2,1231.8,21.10,2.98,3.67,0,1324.1,1231.8,734.6,53.68
4991,ZBH,2011-12-01,8515.3,3000.5,5514.8,178.1,30.94,2082.7,11.70,1727.5,...,4451.8,1268.5,23.73,4.06,4.08,0,1362.3,1268.5,765.4,53.42
4992,ZBH,2012-12-01,9012.4,3146.1,5866.3,169.4,34.15,2548.4,14.85,1820.9,...,4471.7,1318.6,25.57,4.32,4.52,0.72,1415.7,1318.6,790.4,66.66
4993,ZBH,2013-12-01,9580.6,3280.5,6300.1,169.3,37.09,2978.4,17.54,1679.3,...,4623.4,1333.9,27.26,4.60,4.70,0.80,1412.4,1333.9,797.7,93.19
4994,ZBH,2014-12-01,9658.0,3106.3,6551.7,169.9,38.60,3432.2,20.23,1484.8,...,4673.3,1405.3,27.65,4.26,4.84,0.88,1497.8,1405.3,818.2,113.42
4995,ZBH,2015-12-01,27160.6,17271.2,9889.4,198.8,48.78,-8792.6,-43.38,11497.4,...,5997.8,1624.6,32.01,0.78,4.39,0.88,1962.0,1624.6,822.4,102.59
4996,ZBH,2016-12-01,26684.4,17014.5,9669.9,201.1,48.20,-9760.4,-48.66,11241.4,...,7668.4,1772.0,38.34,1.53,4.38,0.96,2337.9,1772.0,875.6,103.20
4997,ZBH,2017-12-01,26014.0,14278.5,11735.5,203.1,57.93,-7286.0,-35.96,10142.5,...,7803.3,1633.6,38.65,8.98,4.00,0.96,2237.5,1633.6,807.6,120.67
4998,ZBH,2018-12-01,24126.8,12850.7,11276.1,204.4,55.25,-6007.7,-29.45,8941.2,...,7932.9,1431.8,38.98,-1.86,3.46,0.96,2027.7,1431.8,703.9,103.72
4999,ZBH,2019-12-01,24638.7,12245.9,12392.8,206.4,60.14,-4469.2,-21.70,8501.1,...,7982.2,1355.2,38.92,5.52,3.39,0.96,1939.5,1355.2,696.3,149.68

In [113]:
merged_df_columns = []
for col in final_df.columns:
    merged_df_columns.append(col)
    print(col)

Company
Time
Total Assets
Total Liabilities
Total Equity
Total Shares Out. on Filing Date
Book Value / Share
Tangible Book Value
Tangible Book Value Per Share
Total Debt
Net Debt
Total Revenues
Operating Income
Revenue Per Share
Basic EPS
Normalized Basic EPS
Dividend Per Share
EBITA
EBIT
Normalized Net Income
Price

In [114]:
fully_merged_statements_df = pd.merge(final_df, cash_flows , how='outer', on= ['Company', 'Time', 'Price'], left_on=None, right_on=None,
left_index=False, right_index=False, sort=True)

In [115]:
fully_merged_statements_df

,Company,Time,Total Assets,Total Liabilities,Total Equity,Total Shares Out. on Filing Date,Book Value / Share,Tangible Book Value,Tangible Book Value Per Share,Total Debt,...,Normalized Net Income,Price,Net Income,Cash from Operations,Cash from Investing,Cash from Financing,Net Change in Cash,Levered Free Cash Flow,Unlevered Free Cash Flow,Free Cash Flow / Share
0,A,2010-10-01,9696.0,6460.0,3236.0,347.6,9.33,1278.0,3.69,3691.0,...,452.5,24.89,684,718,-1174.0,601,170,-1047.5,-987.5,1.72
1,A,2011-10-01,9057.0,4741.0,4316.0,348.1,12.44,2312.0,6.67,2185.0,...,641.3,26.51,1012.0,1260.0,1294.0,-1693.0,878,2236.6,2290.4,3.09
2,A,2012-10-01,10536.0,5351.0,5185.0,347.9,14.96,1071.0,3.09,2362.0,...,668.8,25.74,1153.0,1228.0,-2366.0,-37.0,-1176.0,644.6,707.8,2.97
3,A,2013-10-01,10686.0,5397.0,5289.0,331.8,15.91,1323.0,3.98,2699.0,...,183.1,36.30,734,1152.0,-248.0,-554.0,324,320.4,387.3,2.81
4,A,2014-10-01,10815.0,5511.0,5304.0,335.3,15.83,2145.0,6.40,1663.0,...,198.8,39.53,549,731,-230.0,-117.0,353,-461.9,-393.1,1.58
5,A,2015-10-01,7479.0,3309.0,4170.0,332.2,12.57,1356.0,4.09,1655.0,...,301.9,37.76,401,1322.0,-400.0,-1089.0,-215.0,1388.9,1430.1,3.68
6,A,2016-10-01,7794.0,3548.0,4246.0,321.7,13.12,1310.0,4.05,1904.0,...,403.1,43.57,462,793,-238.0,-268.0,286,864.3,909.3,2.01
7,A,2017-10-01,8426.0,3591.0,4835.0,323.0,15.00,1863.0,5.79,2011.0,...,509.4,68.03,684,889,-304.0,-202.0,391,543.8,593.1,2.21
8,A,2018-10-01,8541.0,3970.0,4571.0,318.5,14.37,1103.0,3.47,1799.0,...,612.5,64.79,316,1087.0,-705.0,-797.0,-432.0,688.3,735.1,2.83
9,A,2019-10-01,9452.0,4704.0,4748.0,310.2,15.36,48,0.16,2407.0,...,635.6,75.75,1071.0,1021.0,-1590.0,-299.0,-866.0,846.6,892.9,2.75
10,AAL,2010-12-01,25088.0,29033.0,-3945.0,333.4,-11.83,-4877.0,-14.63,11136.0,...,-316.3,10.01,-471.0,1241.0,-2030.0,804,15,-934.5,-439.5,-2.17
11,AAL,2011-12-01,23848.0,30959.0,-7111.0,335.3,-21.21,-8005.0,-23.88,10702.0,...,-218.1,5.07,-1979.0,743,-1292.0,664,115,-408.0,98.9,-6.97
12,AAL,2012-12-01,23510.0,31497.0,-7987.0,335.3,-65.73,-8856.0,-72.88,9733.0,...,-81.3,13.50,-1876.0,1285.0,-1571.0,483,197,-895.6,-500.6,-2.42
13,AAL,2013-12-01,42278.0,45009.0,-2731.0,471.5,-5.18,-9128.0,-17.33,20632.0,...,650,25.25,-1834.0,675,-3814.0,3799.0,660,1106.4,1641.4,-8.70
14,AAL,2014-12-01,43225.0,41204.0,2021.0,696.6,2.90,-4310.0,-6.18,17720.0,...,2584.4,53.63,2882.0,3080.0,-2911.0,-315.0,-146.0,-501.8,52.6,-2.68
15,AAL,2015-12-01,48415.0,42780.0,5635.0,603.0,9.02,-705.0,-1.13,20561.0,...,3931.3,42.35,7610.0,6249.0,-5594.0,-1259.0,-604.0,107.5,657.5,0.15
16,AAL,2016-12-01,51274.0,47489.0,3785.0,504.2,7.46,-2479.0,-4.89,24344.0,...,3077.5,46.69,2584.0,6524.0,-5702.0,-894.0,-72.0,-358.9,260.5,1.44
17,AAL,2017-12-01,52785.0,53565.0,-780.0,473.1,-1.64,-7074.0,-14.88,25065.0,...,2594.4,52.03,1282.0,4744.0,-3636.0,-1145.0,-37.0,-660.8,-2.6,-2.51
18,AAL,2018-12-01,60580.0,60749.0,-169.0,449.1,-0.37,-6397.0,-13.89,34029.0,...,1746.3,32.11,1412.0,3533.0,-1973.0,-1672.0,-112.0,737.1,1397.1,-0.46
19,AAL,2019-12-01,59995.0,60113.0,-118.0,426.1,-0.28,-6293.0,-14.70,33444.0,...,1817.5,28.68,1686.0,3815.0,-2243.0,-1568.0,4,-17.8,666.6,-1.02
20,AAP,2011-01-01,3354.2,2314.8,1039.4,81.6,12.74,979.6,12.01,352.3,...,348.2,63.94,346.1,666.2,-199.4,-507.6,-40.8,437.5,459.5,5.42
21,AAP,2011-12-01,3655.8,2807.8,847.9,72.6,11.68,740.1,10.19,432.2,...,395.8,69.63,394.7,828.8,-290.0,-540.2,-1.3,523.8,546.2,7.41
22,AAP,2012-12-01,4613.8,3403.1,1210.7,73.2,16.54,1105.5,15.10,613.8,...,390.0,72.35,387.7,685.3,-273.0,127.9,540.2,352.5,373.7,5.67
23,AAP,2013-12-01,5564.8,4048.6,1516.2,72.7,20.88,1266.5,17.44,1059.4,...,412.1,110.68,391.8,545.3,-362.1,331.2,514.4,352.6,375.5,4.79
24,AAP,2015-01-01,7962.4,5959.4,2002.9,72.9,27.52,259.4,3.56,1658.9,...,547.2,159.00,493.8,709.0,-2288.2,575.9,-1007.8,-262.5,-216.7,6.59
25,AAP,2016-01-01,8127.7,5667.1,2460.6,73.1,33.69,784,10.73,1225.5,...,477.4,152.05,473.4,702.6,-253.4,-459.0,-13.9,486.6,527.5,6.39
26,AAP,2016-12-01,8315.0,5398.8,2916.2,73.6,39.66,1284.4,17.47,1043.3,...,463.5,169.12,459.6,523.3,-262.0,-217.1,44.4,185.7,223.1,3.59
27,AAP,2017-12-01,8482.3,5067.1,3415.2,73.6,46.41,1823.2,24.78,1044.7,...,333.5,99.69,475.5,600.8,-178.6,-14.9,411.8,384.4,421.1,5.57
28,AAP,2018-12-01,9040.6,5489.8,3550.8,71.3,49.28,2010.0,27.90,1045.9,...,422.8,157.46,423.8,811.0,-191.8,-263.9,349.6,590.3,625.7,8.37
29,AAP,2019-12-01,11248.5,7699.4,3549.1,68.8,51.61,1847.1,26.86,3242.5,...,448.8,160.16,486.9,866.9,-462.9,-882.2,-477.9,275.2,300.2,5.58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,YORW,2010-12-01,259.9,168.7,91.3,12.7,7.19,91.3,7.19,86.5,...,9.1,17.29,8.9,14.8,-10.5,-3.0,1.3,3,6.1,0.33
4971,YORW,2011-12-01,274.2,179.0,95.3,12.8,7.45,95.3,7.45,87.9,...,8.8,17.64,9.1,17.5,-9.4,-5.4,2.7,4.6,7.9,0.63
4972,YORW,2012-12-01,282.5,182.7,99.8,12.9,7.73,99.8,7.73,87.8,...,9.3,17.57,9.3,16.4,-12.2,-4.2,0,2.5,5.8,0.33
4973,YORW,2013-12-01,282.5,179.0,103.5,13.0,7.98,103.5,7.98,86.6,...,9.7,20.93,9.7,18.4,-9.3,-5.5,3.6,7.9,11.2,0.66
4974,YORW,2014-12-01,304.3,199.8,104.6,12.8,8.15,104.6,8.15,87.5,...,10.0,23.21,11.5,18.8,-14.1,-10.7,-6.1,-2.0,1.2,0.33
4975,YORW,2015-12-01,310.5,201.5,109.1,12.8,8.51,109.1,8.51,87.1,...,10.8,24.94,12.5,20.7,-14.2,-5.1,1.4,4.2,7.4,0.51
4976,YORW,2016-12-01,320.5,206.4,114.1,12.9,8.87,114.1,8.87,86.9,...,10.8,38.20,11.8,19.4,-12.5,-5.5,1.3,6.5,9.8,0.48
4977,YORW,2017-12-01,332.0,212.6,119.4,12.9,9.28,119.4,9.28,93.3,...,10.9,33.90,13.0,20.1,-25.1,0.8,-4.2,-7.8,-4.5,-0.39
4978,YORW,2018-12-01,345.1,218.9,126.2,12.9,9.75,126.2,9.75,96.2,...,9.9,32.06,13.4,18.4,-16.8,-1.6,-,1.3,4.8,0.12
4979,YORW,2019-12-01,363.5,229.3,134.2,13.0,10.31,134.2,10.31,103.3,...,10.4,46.11,14.4,18.9,-20.5,1.7,-,-3.5,-0.3,-0.13
4980,YUM,2010-12-01,8316.0,6647.0,1669.0,467.4,3.36,442,0.94,3588.0,...,1053.8,35.27,1158.0,1968.0,-579.0,-337.0,1073.0,1028.3,1150.1,2.47
4981,YUM,2011-12-01,8834.0,6918.0,1916.0,460.4,3.96,843,1.83,3317.0,...,1168.4,42.43,1319.0,2170.0,-1006.0,-1413.0,-228.0,1010.8,1125.8,2.62
4982,YUM,2012-12-01,9013.0,6701.0,2312.0,450.7,4.78,430,0.95,2942.0,...,1319.6,47.75,1597.0,2294.0,-1005.0,-1716.0,-422.0,1024.0,1117.1,2.59
4983,YUM,2013-12-01,8695.0,6427.0,2268.0,442.9,4.89,639,1.44,2989.0,...,1229.5,54.37,1091.0,2139.0,-886.0,-1451.0,-203.0,869.5,950.1,2.41
4984,YUM,2014-12-01,8334.0,6721.0,1613.0,433.1,3.56,529,1.22,3344.0,...,861.9,52.38,1051.0,1217.0,-424.0,-739.0,66,824.8,914.1,1.60
4985,YUM,2015-12-01,8061.0,7086.0,975,408.7,2.17,176,0.42,3928.0,...,849.4,52.53,1283.0,1260.0,-199.0,-1089.0,-28.0,402.4,498,1.88
4986,YUM,2016-12-01,5453.0,11068.0,-5615.0,353.8,-15.82,-6302.0,-17.75,9125.0,...,803.8,63.33,1643.0,1248.0,-4.0,-744.0,466,414.8,621.6,2.08
4987,YUM,2017-12-01,5311.0,11645.0,-6334.0,332.5,-19.08,-7060.0,-21.27,9804.0,...,811.9,81.61,1340.0,1030.0,1472.0,-1795.0,768,496.6,792.3,2.05
4988,YUM,2018-12-01,4130.0,12056.0,-7926.0,306.4,-25.90,-8693.0,-28.41,10095.0,...,823.8,91.92,1542.0,1176.0,313,-2620.0,-1194.0,669.3,979.3,2.93
4989,YUM,2019-12-01,5231.0,13247.0,-8016.0,300.8,-26.72,-8790.0,-29.30,11340.0,...,894.4,100.73,1294.0,1315.0,-88.0,-938.0,294,882.9,1207.3,3.66
4990,ZBH,2010-12-01,7999.9,2228.6,5771.3,192.1,29.51,2363.4,12.08,1142.1,...,734.6,53.68,596.9,1193.5,-726.9,-489.6,-22.8,770.3,807.9,4.57
4991,ZBH,2011-12-01,8515.3,3000.5,5514.8,178.1,30.94,2082.7,11.70,1727.5,...,765.4,53.42,760.8,1176.9,-624.4,-455.8,99.4,945.5,980,4.84
4992,ZBH,2012-12-01,9012.4,3146.1,5866.3,169.4,34.15,2548.4,14.85,1820.9,...,790.4,66.66,755,1151.9,-592.1,-436.5,116,878.9,924.4,5.08
4993,ZBH,2013-12-01,9580.6,3280.5,6300.1,169.3,37.09,2978.4,17.54,1679.3,...,797.7,93.19,780.4,963.1,-282.5,-467.3,196.3,926.4,970.2,3.95
4994,ZBH,2014-12-01,9658.0,3106.3,6551.7,169.9,38.60,3432.2,20.23,1484.8,...,818.2,113.42,720.3,1060.5,-469.4,-570.1,2.7,627.5,666.9,4.25
4995,ZBH,2015-12-01,27160.6,17271.2,9889.4,198.8,48.78,-8792.6,-43.38,11497.4,...,822.4,102.59,147,849.8,-7557.9,7106.7,376,292.3,471.4,2.22
4996,ZBH,2016-12-01,26684.4,17014.5,9669.9,201.1,48.20,-9760.4,-48.66,11241.4,...,875.6,103.20,305.9,1632.2,-1691.5,-743.2,-825.2,1798.8,2062.2,5.51
4997,ZBH,2017-12-01,26014.0,14278.5,11735.5,203.1,57.93,-7286.0,-35.96,10142.5,...,807.6,120.67,1813.8,1582.3,-510.8,-1210.5,-109.7,1469.0,1672.3,5.40
4998,ZBH,2018-12-01,24126.8,12850.7,11276.1,204.4,55.25,-6007.7,-29.45,8941.2,...,703.9,103.72,-379.2,1747.4,-416.6,-1302.2,18.4,1588.5,1769.3,6.43
4999,ZBH,2019-12-01,24638.7,12245.9,12392.8,206.4,60.14,-4469.2,-21.70,8501.1,...,696.3,149.68,1131.6,1585.8,-729.3,-779.9,75.1,834.6,976.4,4.22

In [116]:
prices_fmsdf = fully_merged_statements_df['Price']

In [117]:
fully_merged_statements_df = fully_merged_statements_df.drop(['Price'], axis = 1)
fully_merged_statements_df

,Company,Time,Total Assets,Total Liabilities,Total Equity,Total Shares Out. on Filing Date,Book Value / Share,Tangible Book Value,Tangible Book Value Per Share,Total Debt,...,EBIT,Normalized Net Income,Net Income,Cash from Operations,Cash from Investing,Cash from Financing,Net Change in Cash,Levered Free Cash Flow,Unlevered Free Cash Flow,Free Cash Flow / Share
0,A,2010-10-01,9696.0,6460.0,3236.0,347.6,9.33,1278.0,3.69,3691.0,...,732,452.5,684,718,-1174.0,601,170,-1047.5,-987.5,1.72
1,A,2011-10-01,9057.0,4741.0,4316.0,348.1,12.44,2312.0,6.67,2185.0,...,1071.0,641.3,1012.0,1260.0,1294.0,-1693.0,878,2236.6,2290.4,3.09
2,A,2012-10-01,10536.0,5351.0,5185.0,347.9,14.96,1071.0,3.09,2362.0,...,1134.0,668.8,1153.0,1228.0,-2366.0,-37.0,-1176.0,644.6,707.8,2.97
3,A,2013-10-01,10686.0,5397.0,5289.0,331.8,15.91,1323.0,3.98,2699.0,...,386,183.1,734,1152.0,-248.0,-554.0,324,320.4,387.3,2.81
4,A,2014-10-01,10815.0,5511.0,5304.0,335.3,15.83,2145.0,6.40,1663.0,...,419,198.8,549,731,-230.0,-117.0,353,-461.9,-393.1,1.58
5,A,2015-10-01,7479.0,3309.0,4170.0,332.2,12.57,1356.0,4.09,1655.0,...,525,301.9,401,1322.0,-400.0,-1089.0,-215.0,1388.9,1430.1,3.68
6,A,2016-10-01,7794.0,3548.0,4246.0,321.7,13.12,1310.0,4.05,1904.0,...,698,403.1,462,793,-238.0,-268.0,286,864.3,909.3,2.01
7,A,2017-10-01,8426.0,3591.0,4835.0,323.0,15.00,1863.0,5.79,2011.0,...,853,509.4,684,889,-304.0,-202.0,391,543.8,593.1,2.21
8,A,2018-10-01,8541.0,3970.0,4571.0,318.5,14.37,1103.0,3.47,1799.0,...,997,612.5,316,1087.0,-705.0,-797.0,-432.0,688.3,735.1,2.83
9,A,2019-10-01,9452.0,4704.0,4748.0,310.2,15.36,48,0.16,2407.0,...,1043.0,635.6,1071.0,1021.0,-1590.0,-299.0,-866.0,846.6,892.9,2.75
10,AAL,2010-12-01,25088.0,29033.0,-3945.0,333.4,-11.83,-4877.0,-14.63,11136.0,...,308,-316.3,-471.0,1241.0,-2030.0,804,15,-934.5,-439.5,-2.17
11,AAL,2011-12-01,23848.0,30959.0,-7111.0,335.3,-21.21,-8005.0,-23.88,10702.0,...,475,-218.1,-1979.0,743,-1292.0,664,115,-408.0,98.9,-6.97
12,AAL,2012-12-01,23510.0,31497.0,-7987.0,335.3,-65.73,-8856.0,-72.88,9733.0,...,535,-81.3,-1876.0,1285.0,-1571.0,483,197,-895.6,-500.6,-2.42
13,AAL,2013-12-01,42278.0,45009.0,-2731.0,471.5,-5.18,-9128.0,-17.33,20632.0,...,1935.0,650,-1834.0,675,-3814.0,3799.0,660,1106.4,1641.4,-8.70
14,AAL,2014-12-01,43225.0,41204.0,2021.0,696.6,2.90,-4310.0,-6.18,17720.0,...,5073.0,2584.4,2882.0,3080.0,-2911.0,-315.0,-146.0,-501.8,52.6,-2.68
15,AAL,2015-12-01,48415.0,42780.0,5635.0,603.0,9.02,-705.0,-1.13,20561.0,...,7284.0,3931.3,7610.0,6249.0,-5594.0,-1259.0,-604.0,107.5,657.5,0.15
16,AAL,2016-12-01,51274.0,47489.0,3785.0,504.2,7.46,-2479.0,-4.89,24344.0,...,5860.0,3077.5,2584.0,6524.0,-5702.0,-894.0,-72.0,-358.9,260.5,1.44
17,AAL,2017-12-01,52785.0,53565.0,-780.0,473.1,-1.64,-7074.0,-14.88,25065.0,...,5103.0,2594.4,1282.0,4744.0,-3636.0,-1145.0,-37.0,-660.8,-2.6,-2.51
18,AAL,2018-12-01,60580.0,60749.0,-169.0,449.1,-0.37,-6397.0,-13.89,34029.0,...,3757.0,1746.3,1412.0,3533.0,-1973.0,-1672.0,-112.0,737.1,1397.1,-0.46
19,AAL,2019-12-01,59995.0,60113.0,-118.0,426.1,-0.28,-6293.0,-14.70,33444.0,...,3889.0,1817.5,1686.0,3815.0,-2243.0,-1568.0,4,-17.8,666.6,-1.02
20,AAP,2011-01-01,3354.2,2314.8,1039.4,81.6,12.74,979.6,12.01,352.3,...,584.9,348.2,346.1,666.2,-199.4,-507.6,-40.8,437.5,459.5,5.42
21,AAP,2011-12-01,3655.8,2807.8,847.9,72.6,11.68,740.1,10.19,432.2,...,664.6,395.8,394.7,828.8,-290.0,-540.2,-1.3,523.8,546.2,7.41
22,AAP,2012-12-01,4613.8,3403.1,1210.7,73.2,16.54,1105.5,15.10,613.8,...,657.3,390.0,387.7,685.3,-273.0,127.9,540.2,352.5,373.7,5.67
23,AAP,2013-12-01,5564.8,4048.6,1516.2,72.7,20.88,1266.5,17.44,1059.4,...,693.3,412.1,391.8,545.3,-362.1,331.2,514.4,352.6,375.5,4.79
24,AAP,2015-01-01,7962.4,5959.4,2002.9,72.9,27.52,259.4,3.56,1658.9,...,945.8,547.2,493.8,709.0,-2288.2,575.9,-1007.8,-262.5,-216.7,6.59
25,AAP,2016-01-01,8127.7,5667.1,2460.6,73.1,33.69,784,10.73,1225.5,...,836.8,477.4,473.4,702.6,-253.4,-459.0,-13.9,486.6,527.5,6.39
26,AAP,2016-12-01,8315.0,5398.8,2916.2,73.6,39.66,1284.4,17.47,1043.3,...,790.4,463.5,459.6,523.3,-262.0,-217.1,44.4,185.7,223.1,3.59
27,AAP,2017-12-01,8482.3,5067.1,3415.2,73.6,46.41,1823.2,24.78,1044.7,...,583.5,333.5,475.5,600.8,-178.6,-14.9,411.8,384.4,421.1,5.57
28,AAP,2018-12-01,9040.6,5489.8,3550.8,71.3,49.28,2010.0,27.90,1045.9,...,725.5,422.8,423.8,811.0,-191.8,-263.9,349.6,590.3,625.7,8.37
29,AAP,2019-12-01,11248.5,7699.4,3549.1,68.8,51.61,1847.1,26.86,3242.5,...,756.8,448.8,486.9,866.9,-462.9,-882.2,-477.9,275.2,300.2,5.58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,YORW,2010-12-01,259.9,168.7,91.3,12.7,7.19,91.3,7.19,86.5,...,19.8,9.1,8.9,14.8,-10.5,-3.0,1.3,3,6.1,0.33
4971,YORW,2011-12-01,274.2,179.0,95.3,12.8,7.45,95.3,7.45,87.9,...,19.9,8.8,9.1,17.5,-9.4,-5.4,2.7,4.6,7.9,0.63
4972,YORW,2012-12-01,282.5,182.7,99.8,12.9,7.73,99.8,7.73,87.8,...,20.6,9.3,9.3,16.4,-12.2,-4.2,0,2.5,5.8,0.33
4973,YORW,2013-12-01,282.5,179.0,103.5,13.0,7.98,103.5,7.98,86.6,...,20.8,9.7,9.7,18.4,-9.3,-5.5,3.6,7.9,11.2,0.66
4974,YORW,2014-12-01,304.3,199.8,104.6,12.8,8.15,104.6,8.15,87.5,...,22.1,10.0,11.5,18.8,-14.1,-10.7,-6.1,-2.0,1.2,0.33
4975,YORW,2015-12-01,310.5,201.5,109.1,12.8,8.51,109.1,8.51,87.1,...,22.7,10.8,12.5,20.7,-14.2,-5.1,1.4,4.2,7.4,0.51
4976,YORW,2016-12-01,320.5,206.4,114.1,12.9,8.87,114.1,8.87,86.9,...,22.9,10.8,11.8,19.4,-12.5,-5.5,1.3,6.5,9.8,0.48
4977,YORW,2017-12-01,332.0,212.6,119.4,12.9,9.28,119.4,9.28,93.3,...,22.5,10.9,13.0,20.1,-25.1,0.8,-4.2,-7.8,-4.5,-0.39
4978,YORW,2018-12-01,345.1,218.9,126.2,12.9,9.75,126.2,9.75,96.2,...,21.2,9.9,13.4,18.4,-16.8,-1.6,-,1.3,4.8,0.12
4979,YORW,2019-12-01,363.5,229.3,134.2,13.0,10.31,134.2,10.31,103.3,...,22.3,10.4,14.4,18.9,-20.5,1.7,-,-3.5,-0.3,-0.13
4980,YUM,2010-12-01,8316.0,6647.0,1669.0,467.4,3.36,442,0.94,3588.0,...,1845.0,1053.8,1158.0,1968.0,-579.0,-337.0,1073.0,1028.3,1150.1,2.47
4981,YUM,2011-12-01,8834.0,6918.0,1916.0,460.4,3.96,843,1.83,3317.0,...,1998.0,1168.4,1319.0,2170.0,-1006.0,-1413.0,-228.0,1010.8,1125.8,2.62
4982,YUM,2012-12-01,9013.0,6701.0,2312.0,450.7,4.78,430,0.95,2942.0,...,2237.0,1319.6,1597.0,2294.0,-1005.0,-1716.0,-422.0,1024.0,1117.1,2.59
4983,YUM,2013-12-01,8695.0,6427.0,2268.0,442.9,4.89,639,1.44,2989.0,...,2037.0,1229.5,1091.0,2139.0,-886.0,-1451.0,-203.0,869.5,950.1,2.41
4984,YUM,2014-12-01,8334.0,6721.0,1613.0,433.1,3.56,529,1.22,3344.0,...,1533.0,861.9,1051.0,1217.0,-424.0,-739.0,66,824.8,914.1,1.60
4985,YUM,2015-12-01,8061.0,7086.0,975,408.7,2.17,176,0.42,3928.0,...,1520.0,849.4,1283.0,1260.0,-199.0,-1089.0,-28.0,402.4,498,1.88
4986,YUM,2016-12-01,5453.0,11068.0,-5615.0,353.8,-15.82,-6302.0,-17.75,9125.0,...,1585.0,803.8,1643.0,1248.0,-4.0,-744.0,466,414.8,621.6,2.08
4987,YUM,2017-12-01,5311.0,11645.0,-6334.0,332.5,-19.08,-7060.0,-21.27,9804.0,...,1746.0,811.9,1340.0,1030.0,1472.0,-1795.0,768,496.6,792.3,2.05
4988,YUM,2018-12-01,4130.0,12056.0,-7926.0,306.4,-25.90,-8693.0,-28.41,10095.0,...,1762.0,823.8,1542.0,1176.0,313,-2620.0,-1194.0,669.3,979.3,2.93
4989,YUM,2019-12-01,5231.0,13247.0,-8016.0,300.8,-26.72,-8790.0,-29.30,11340.0,...,1906.0,894.4,1294.0,1315.0,-88.0,-938.0,294,882.9,1207.3,3.66
4990,ZBH,2010-12-01,7999.9,2228.6,5771.3,192.1,29.51,2363.4,12.08,1142.1,...,1231.8,734.6,596.9,1193.5,-726.9,-489.6,-22.8,770.3,807.9,4.57
4991,ZBH,2011-12-01,8515.3,3000.5,5514.8,178.1,30.94,2082.7,11.70,1727.5,...,1268.5,765.4,760.8,1176.9,-624.4,-455.8,99.4,945.5,980,4.84
4992,ZBH,2012-12-01,9012.4,3146.1,5866.3,169.4,34.15,2548.4,14.85,1820.9,...,1318.6,790.4,755,1151.9,-592.1,-436.5,116,878.9,924.4,5.08
4993,ZBH,2013-12-01,9580.6,3280.5,6300.1,169.3,37.09,2978.4,17.54,1679.3,...,1333.9,797.7,780.4,963.1,-282.5,-467.3,196.3,926.4,970.2,3.95
4994,ZBH,2014-12-01,9658.0,3106.3,6551.7,169.9,38.60,3432.2,20.23,1484.8,...,1405.3,818.2,720.3,1060.5,-469.4,-570.1,2.7,627.5,666.9,4.25
4995,ZBH,2015-12-01,27160.6,17271.2,9889.4,198.8,48.78,-8792.6,-43.38,11497.4,...,1624.6,822.4,147,849.8,-7557.9,7106.7,376,292.3,471.4,2.22
4996,ZBH,2016-12-01,26684.4,17014.5,9669.9,201.1,48.20,-9760.4,-48.66,11241.4,...,1772.0,875.6,305.9,1632.2,-1691.5,-743.2,-825.2,1798.8,2062.2,5.51
4997,ZBH,2017-12-01,26014.0,14278.5,11735.5,203.1,57.93,-7286.0,-35.96,10142.5,...,1633.6,807.6,1813.8,1582.3,-510.8,-1210.5,-109.7,1469.0,1672.3,5.40
4998,ZBH,2018-12-01,24126.8,12850.7,11276.1,204.4,55.25,-6007.7,-29.45,8941.2,...,1431.8,703.9,-379.2,1747.4,-416.6,-1302.2,18.4,1588.5,1769.3,6.43
4999,ZBH,2019-12-01,24638.7,12245.9,12392.8,206.4,60.14,-4469.2,-21.70,8501.1,...,1355.2,696.3,1131.6,1585.8,-729.3,-779.9,75.1,834.6,976.4,4.22

In [118]:
fully_merged_statements_df.insert(fully_merged_statements_df.shape[1], "Price", prices_fmsdf)
fully_merged_statements_df['Price']

0        24.89
1        26.51
2        25.74
3        36.30
4        39.53
5        37.76
6        43.57
7        68.03
8        64.79
9        75.75
10       10.01
11        5.07
12       13.50
13       25.25
14       53.63
15       42.35
16       46.69
17       52.03
18       32.11
19       28.68
20       63.94
21       69.63
22       72.35
23      110.68
24      159.00
25      152.05
26      169.12
27       99.69
28      157.46
29      160.16
         ...
4970     17.29
4971     17.64
4972     17.57
4973     20.93
4974     23.21
4975     24.94
4976     38.20
4977     33.90
4978     32.06
4979     46.11
4980     35.27
4981     42.43
4982     47.75
4983     54.37
4984     52.38
4985     52.53
4986     63.33
4987     81.61
4988     91.92
4989    100.73
4990     53.68
4991     53.42
4992     66.66
4993     93.19
4994    113.42
4995    102.59
4996    103.20
4997    120.67
4998    103.72
4999    149.68
Name: Price, Length: 5000, dtype: float64

In [119]:
fully_merged_statements_df

,Company,Time,Total Assets,Total Liabilities,Total Equity,Total Shares Out. on Filing Date,Book Value / Share,Tangible Book Value,Tangible Book Value Per Share,Total Debt,...,Normalized Net Income,Net Income,Cash from Operations,Cash from Investing,Cash from Financing,Net Change in Cash,Levered Free Cash Flow,Unlevered Free Cash Flow,Free Cash Flow / Share,Price
0,A,2010-10-01,9696.0,6460.0,3236.0,347.6,9.33,1278.0,3.69,3691.0,...,452.5,684,718,-1174.0,601,170,-1047.5,-987.5,1.72,24.89
1,A,2011-10-01,9057.0,4741.0,4316.0,348.1,12.44,2312.0,6.67,2185.0,...,641.3,1012.0,1260.0,1294.0,-1693.0,878,2236.6,2290.4,3.09,26.51
2,A,2012-10-01,10536.0,5351.0,5185.0,347.9,14.96,1071.0,3.09,2362.0,...,668.8,1153.0,1228.0,-2366.0,-37.0,-1176.0,644.6,707.8,2.97,25.74
3,A,2013-10-01,10686.0,5397.0,5289.0,331.8,15.91,1323.0,3.98,2699.0,...,183.1,734,1152.0,-248.0,-554.0,324,320.4,387.3,2.81,36.30
4,A,2014-10-01,10815.0,5511.0,5304.0,335.3,15.83,2145.0,6.40,1663.0,...,198.8,549,731,-230.0,-117.0,353,-461.9,-393.1,1.58,39.53
5,A,2015-10-01,7479.0,3309.0,4170.0,332.2,12.57,1356.0,4.09,1655.0,...,301.9,401,1322.0,-400.0,-1089.0,-215.0,1388.9,1430.1,3.68,37.76
6,A,2016-10-01,7794.0,3548.0,4246.0,321.7,13.12,1310.0,4.05,1904.0,...,403.1,462,793,-238.0,-268.0,286,864.3,909.3,2.01,43.57
7,A,2017-10-01,8426.0,3591.0,4835.0,323.0,15.00,1863.0,5.79,2011.0,...,509.4,684,889,-304.0,-202.0,391,543.8,593.1,2.21,68.03
8,A,2018-10-01,8541.0,3970.0,4571.0,318.5,14.37,1103.0,3.47,1799.0,...,612.5,316,1087.0,-705.0,-797.0,-432.0,688.3,735.1,2.83,64.79
9,A,2019-10-01,9452.0,4704.0,4748.0,310.2,15.36,48,0.16,2407.0,...,635.6,1071.0,1021.0,-1590.0,-299.0,-866.0,846.6,892.9,2.75,75.75
10,AAL,2010-12-01,25088.0,29033.0,-3945.0,333.4,-11.83,-4877.0,-14.63,11136.0,...,-316.3,-471.0,1241.0,-2030.0,804,15,-934.5,-439.5,-2.17,10.01
11,AAL,2011-12-01,23848.0,30959.0,-7111.0,335.3,-21.21,-8005.0,-23.88,10702.0,...,-218.1,-1979.0,743,-1292.0,664,115,-408.0,98.9,-6.97,5.07
12,AAL,2012-12-01,23510.0,31497.0,-7987.0,335.3,-65.73,-8856.0,-72.88,9733.0,...,-81.3,-1876.0,1285.0,-1571.0,483,197,-895.6,-500.6,-2.42,13.50
13,AAL,2013-12-01,42278.0,45009.0,-2731.0,471.5,-5.18,-9128.0,-17.33,20632.0,...,650,-1834.0,675,-3814.0,3799.0,660,1106.4,1641.4,-8.70,25.25
14,AAL,2014-12-01,43225.0,41204.0,2021.0,696.6,2.90,-4310.0,-6.18,17720.0,...,2584.4,2882.0,3080.0,-2911.0,-315.0,-146.0,-501.8,52.6,-2.68,53.63
15,AAL,2015-12-01,48415.0,42780.0,5635.0,603.0,9.02,-705.0,-1.13,20561.0,...,3931.3,7610.0,6249.0,-5594.0,-1259.0,-604.0,107.5,657.5,0.15,42.35
16,AAL,2016-12-01,51274.0,47489.0,3785.0,504.2,7.46,-2479.0,-4.89,24344.0,...,3077.5,2584.0,6524.0,-5702.0,-894.0,-72.0,-358.9,260.5,1.44,46.69
17,AAL,2017-12-01,52785.0,53565.0,-780.0,473.1,-1.64,-7074.0,-14.88,25065.0,...,2594.4,1282.0,4744.0,-3636.0,-1145.0,-37.0,-660.8,-2.6,-2.51,52.03
18,AAL,2018-12-01,60580.0,60749.0,-169.0,449.1,-0.37,-6397.0,-13.89,34029.0,...,1746.3,1412.0,3533.0,-1973.0,-1672.0,-112.0,737.1,1397.1,-0.46,32.11
19,AAL,2019-12-01,59995.0,60113.0,-118.0,426.1,-0.28,-6293.0,-14.70,33444.0,...,1817.5,1686.0,3815.0,-2243.0,-1568.0,4,-17.8,666.6,-1.02,28.68
20,AAP,2011-01-01,3354.2,2314.8,1039.4,81.6,12.74,979.6,12.01,352.3,...,348.2,346.1,666.2,-199.4,-507.6,-40.8,437.5,459.5,5.42,63.94
21,AAP,2011-12-01,3655.8,2807.8,847.9,72.6,11.68,740.1,10.19,432.2,...,395.8,394.7,828.8,-290.0,-540.2,-1.3,523.8,546.2,7.41,69.63
22,AAP,2012-12-01,4613.8,3403.1,1210.7,73.2,16.54,1105.5,15.10,613.8,...,390.0,387.7,685.3,-273.0,127.9,540.2,352.5,373.7,5.67,72.35
23,AAP,2013-12-01,5564.8,4048.6,1516.2,72.7,20.88,1266.5,17.44,1059.4,...,412.1,391.8,545.3,-362.1,331.2,514.4,352.6,375.5,4.79,110.68
24,AAP,2015-01-01,7962.4,5959.4,2002.9,72.9,27.52,259.4,3.56,1658.9,...,547.2,493.8,709.0,-2288.2,575.9,-1007.8,-262.5,-216.7,6.59,159.00
25,AAP,2016-01-01,8127.7,5667.1,2460.6,73.1,33.69,784,10.73,1225.5,...,477.4,473.4,702.6,-253.4,-459.0,-13.9,486.6,527.5,6.39,152.05
26,AAP,2016-12-01,8315.0,5398.8,2916.2,73.6,39.66,1284.4,17.47,1043.3,...,463.5,459.6,523.3,-262.0,-217.1,44.4,185.7,223.1,3.59,169.12
27,AAP,2017-12-01,8482.3,5067.1,3415.2,73.6,46.41,1823.2,24.78,1044.7,...,333.5,475.5,600.8,-178.6,-14.9,411.8,384.4,421.1,5.57,99.69
28,AAP,2018-12-01,9040.6,5489.8,3550.8,71.3,49.28,2010.0,27.90,1045.9,...,422.8,423.8,811.0,-191.8,-263.9,349.6,590.3,625.7,8.37,157.46
29,AAP,2019-12-01,11248.5,7699.4,3549.1,68.8,51.61,1847.1,26.86,3242.5,...,448.8,486.9,866.9,-462.9,-882.2,-477.9,275.2,300.2,5.58,160.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,YORW,2010-12-01,259.9,168.7,91.3,12.7,7.19,91.3,7.19,86.5,...,9.1,8.9,14.8,-10.5,-3.0,1.3,3,6.1,0.33,17.29
4971,YORW,2011-12-01,274.2,179.0,95.3,12.8,7.45,95.3,7.45,87.9,...,8.8,9.1,17.5,-9.4,-5.4,2.7,4.6,7.9,0.63,17.64
4972,YORW,2012-12-01,282.5,182.7,99.8,12.9,7.73,99.8,7.73,87.8,...,9.3,9.3,16.4,-12.2,-4.2,0,2.5,5.8,0.33,17.57
4973,YORW,2013-12-01,282.5,179.0,103.5,13.0,7.98,103.5,7.98,86.6,...,9.7,9.7,18.4,-9.3,-5.5,3.6,7.9,11.2,0.66,20.93
4974,YORW,2014-12-01,304.3,199.8,104.6,12.8,8.15,104.6,8.15,87.5,...,10.0,11.5,18.8,-14.1,-10.7,-6.1,-2.0,1.2,0.33,23.21
4975,YORW,2015-12-01,310.5,201.5,109.1,12.8,8.51,109.1,8.51,87.1,...,10.8,12.5,20.7,-14.2,-5.1,1.4,4.2,7.4,0.51,24.94
4976,YORW,2016-12-01,320.5,206.4,114.1,12.9,8.87,114.1,8.87,86.9,...,10.8,11.8,19.4,-12.5,-5.5,1.3,6.5,9.8,0.48,38.20
4977,YORW,2017-12-01,332.0,212.6,119.4,12.9,9.28,119.4,9.28,93.3,...,10.9,13.0,20.1,-25.1,0.8,-4.2,-7.8,-4.5,-0.39,33.90
4978,YORW,2018-12-01,345.1,218.9,126.2,12.9,9.75,126.2,9.75,96.2,...,9.9,13.4,18.4,-16.8,-1.6,-,1.3,4.8,0.12,32.06
4979,YORW,2019-12-01,363.5,229.3,134.2,13.0,10.31,134.2,10.31,103.3,...,10.4,14.4,18.9,-20.5,1.7,-,-3.5,-0.3,-0.13,46.11
4980,YUM,2010-12-01,8316.0,6647.0,1669.0,467.4,3.36,442,0.94,3588.0,...,1053.8,1158.0,1968.0,-579.0,-337.0,1073.0,1028.3,1150.1,2.47,35.27
4981,YUM,2011-12-01,8834.0,6918.0,1916.0,460.4,3.96,843,1.83,3317.0,...,1168.4,1319.0,2170.0,-1006.0,-1413.0,-228.0,1010.8,1125.8,2.62,42.43
4982,YUM,2012-12-01,9013.0,6701.0,2312.0,450.7,4.78,430,0.95,2942.0,...,1319.6,1597.0,2294.0,-1005.0,-1716.0,-422.0,1024.0,1117.1,2.59,47.75
4983,YUM,2013-12-01,8695.0,6427.0,2268.0,442.9,4.89,639,1.44,2989.0,...,1229.5,1091.0,2139.0,-886.0,-1451.0,-203.0,869.5,950.1,2.41,54.37
4984,YUM,2014-12-01,8334.0,6721.0,1613.0,433.1,3.56,529,1.22,3344.0,...,861.9,1051.0,1217.0,-424.0,-739.0,66,824.8,914.1,1.60,52.38
4985,YUM,2015-12-01,8061.0,7086.0,975,408.7,2.17,176,0.42,3928.0,...,849.4,1283.0,1260.0,-199.0,-1089.0,-28.0,402.4,498,1.88,52.53
4986,YUM,2016-12-01,5453.0,11068.0,-5615.0,353.8,-15.82,-6302.0,-17.75,9125.0,...,803.8,1643.0,1248.0,-4.0,-744.0,466,414.8,621.6,2.08,63.33
4987,YUM,2017-12-01,5311.0,11645.0,-6334.0,332.5,-19.08,-7060.0,-21.27,9804.0,...,811.9,1340.0,1030.0,1472.0,-1795.0,768,496.6,792.3,2.05,81.61
4988,YUM,2018-12-01,4130.0,12056.0,-7926.0,306.4,-25.90,-8693.0,-28.41,10095.0,...,823.8,1542.0,1176.0,313,-2620.0,-1194.0,669.3,979.3,2.93,91.92
4989,YUM,2019-12-01,5231.0,13247.0,-8016.0,300.8,-26.72,-8790.0,-29.30,11340.0,...,894.4,1294.0,1315.0,-88.0,-938.0,294,882.9,1207.3,3.66,100.73
4990,ZBH,2010-12-01,7999.9,2228.6,5771.3,192.1,29.51,2363.4,12.08,1142.1,...,734.6,596.9,1193.5,-726.9,-489.6,-22.8,770.3,807.9,4.57,53.68
4991,ZBH,2011-12-01,8515.3,3000.5,5514.8,178.1,30.94,2082.7,11.70,1727.5,...,765.4,760.8,1176.9,-624.4,-455.8,99.4,945.5,980,4.84,53.42
4992,ZBH,2012-12-01,9012.4,3146.1,5866.3,169.4,34.15,2548.4,14.85,1820.9,...,790.4,755,1151.9,-592.1,-436.5,116,878.9,924.4,5.08,66.66
4993,ZBH,2013-12-01,9580.6,3280.5,6300.1,169.3,37.09,2978.4,17.54,1679.3,...,797.7,780.4,963.1,-282.5,-467.3,196.3,926.4,970.2,3.95,93.19
4994,ZBH,2014-12-01,9658.0,3106.3,6551.7,169.9,38.60,3432.2,20.23,1484.8,...,818.2,720.3,1060.5,-469.4,-570.1,2.7,627.5,666.9,4.25,113.42
4995,ZBH,2015-12-01,27160.6,17271.2,9889.4,198.8,48.78,-8792.6,-43.38,11497.4,...,822.4,147,849.8,-7557.9,7106.7,376,292.3,471.4,2.22,102.59
4996,ZBH,2016-12-01,26684.4,17014.5,9669.9,201.1,48.20,-9760.4,-48.66,11241.4,...,875.6,305.9,1632.2,-1691.5,-743.2,-825.2,1798.8,2062.2,5.51,103.20
4997,ZBH,2017-12-01,26014.0,14278.5,11735.5,203.1,57.93,-7286.0,-35.96,10142.5,...,807.6,1813.8,1582.3,-510.8,-1210.5,-109.7,1469.0,1672.3,5.40,120.67
4998,ZBH,2018-12-01,24126.8,12850.7,11276.1,204.4,55.25,-6007.7,-29.45,8941.2,...,703.9,-379.2,1747.4,-416.6,-1302.2,18.4,1588.5,1769.3,6.43,103.72
4999,ZBH,2019-12-01,24638.7,12245.9,12392.8,206.4,60.14,-4469.2,-21.70,8501.1,...,696.3,1131.6,1585.8,-729.3,-779.9,75.1,834.6,976.4,4.22,149.68

In [120]:
fully_merged_statements_df.to_sql('merged_statements500_withprice', con= engine, if_exists= 'append', index = False, index_label = False)