In [129]:
# Income Statement Parameters

['Total Revenues', 'Cost Of Revenues', 'Gross Profit', 'Total Operating Expenses', 'Operating Income',
 'Net Income', 'Revenue Per Share', 'Basic EPS', 'Normalized Basic EPS', 'Dividend Per Share'
 'Payout Ratio', 'EBITDA', 'EBITA', 'EBIT',  'Normalized Net Income', 'Effective Tax Rate']

['Total Revenues',
 'Cost Of Revenues',
 'Gross Profit',
 'Total Operating Expenses',
 'Operating Income',
 'Net Income',
 'Revenue Per Share',
 'Basic EPS',
 'Normalized Basic EPS',
 'Dividend Per SharePayout Ratio',
 'EBITDA',
 'EBITA',
 'EBIT',
 'Normalized Net Income',
 'Effective Tax Rate']

In [1]:
import os
import pymysql
import pandas as pd
import numpy as np
import re
from pandas.io import sql
import MySQLdb
from sqlalchemy import create_engine

In [131]:
KO_is = pd.read_excel("Coca-Cola\KO Income Statement - Seeking Alpha.xlsx")
KO_is = KO_is.rename(columns = KO_is.iloc[0]) #Renaming columns
KO_is = KO_is.iloc[1:]
TKO_is = KO_is.transpose()
TKO_is = TKO_is.rename(columns = TKO_is.iloc[0]) #Renaming columns
TKO_is = TKO_is.iloc[1:-1]
TKO_is = TKO_is.loc[:, TKO_is.columns.notnull()] #Removing NaN column labels
TKO_is = TKO_is.dropna(axis = 1, how = 'all') # Removing columns with NaN in all entries

# Removing all dollar signs ($) from dataframe
# Tko_BalSheet.iloc[ : , i ] # Denoting column by index instead of name
# https://stackoverflow.com/questions/43096522/remove-dollar-sign-from-entire-python-pandas-dataframe
for i in range(1, len(TKO_is.columns)):
    TKO_is.iloc[ : , i ] = TKO_is.iloc[ : , i ].replace({'\$':''}, regex = True)
    #Tko_BalSheet.iloc[ : , i ] = Tko_BalSheet.iloc[ : , i ].str.replace('$', '')
    
# Replacing dash values with 0
for i in range(1, len(TKO_is.columns)):
    TKO_is.iloc[ : , i ] = TKO_is.iloc[ : , i ].replace({'-': 0}, regex = True)
    #Tko_BalSheet.iloc[ : , i ] = Tko_BalSheet.iloc[ : , i ].str.replace('$', '')
    
TKO_is_as_string = TKO_is.astype(str)

# Denoting negative values with minus (-) instead of brackets (), removing % sign
for i in range(1, len(TKO_is_as_string.columns)):
    TKO_is.iloc[ : , i ] = TKO_is_as_string.iloc[ : , i ].replace({'\(':'-', '\)':'', '%':''}, regex = True)
    
# Keeping certain columns to standardise all Income statements by keeping the same parameters
TKO_is = TKO_is.reindex(columns= ['Total Revenues', 'Cost Of Revenues', 'Gross Profit', 'Total Operating Expenses', 
                                  'Operating Income','Net Income', 'Revenue Per Share', 'Basic EPS', 'Normalized Basic EPS',
                                  'Dividend Per Share','Payout Ratio', 'EBITDA', 'EBITA', 'EBIT',  'Normalized Net Income',
                                  'Effective Tax Rate'] )
    
TKO_is

,Total Revenues,Cost Of Revenues,Gross Profit,Total Operating Expenses,Operating Income,Net Income,Revenue Per Share,Basic EPS,Normalized Basic EPS,Dividend Per Share,Payout Ratio,EBITDA,EBITA,EBIT,Normalized Net Income,Effective Tax Rate
Dec 2010,"35,119.0","12,693.0","22,426.0","13,461.0","8,965.0","11,787.0",7.61,2.55,1.29,0.88,34.51,"10,408.0","9,204.0","8,965.0","5,935.6",16.7
Dec 2011,"46,542.0","18,204.0","28,338.0","17,426.0","10,912.0","8,584.0",10.19,1.88,1.57,0.94,50.09,"12,866.0","11,194.0","10,912.0","7,193.6",24.5
Dec 2012,"48,017.0","19,053.0","28,964.0","17,748.0","11,216.0","9,019.0",10.66,2.00,1.67,1.02,50.95,"13,198.0","11,475.0","11,216.0","7,523.0",23.1
Dec 2013,"46,854.0","18,421.0","28,433.0","17,328.0","11,105.0","8,584.0",10.57,1.94,1.66,1.12,57.89,"13,082.0","11,339.0","11,105.0","7,366.8",24.8
Dec 2014,"45,998.0","17,889.0","28,109.0","17,242.0","10,867.0","7,098.0",10.49,1.62,1.65,1.22,75.37,"12,843.0","11,107.0","10,867.0","7,230.3",23.6
Dec 2015,"44,294.0","17,482.0","26,812.0","16,572.0","10,240.0","7,351.0",10.18,1.69,1.55,1.32,78.10,"12,210.0","10,457.0","10,240.0","6,738.8",23.3
Dec 2016,"41,863.0","16,465.0","25,398.0","15,675.0","9,723.0","6,527.0",9.70,1.51,1.51,1.40,92.58,"11,510.0","9,862.0","9,723.0","6,512.0",19.5
Dec 2017,"36,212.0","13,721.0","22,491.0","13,151.0","9,340.0","1,248.0",8.48,0.29,1.54,1.48,506.41,"10,600.0","9,408.0","9,340.0","6,565.6",81.4
Dec 2018,"34,300.0","13,067.0","21,233.0","11,030.0","10,203.0","6,434.0",8.05,1.51,1.52,1.56,103.26,"11,289.0","10,252.0","10,203.0","6,455.5",21.3
Dec 2019,"37,266.0","14,619.0","22,647.0","12,022.0","10,625.0","8,920.0",8.72,2.09,1.58,1.60,76.74,"11,990.0","10,745.0","10,625.0","6,751.9",16.7

In [2]:
os.listdir(path='.')
'''
    For the given path, get the List of all files in the directory tree 
'''
def getListOfFiles(dirName):
    # create a list of file and sub directories 
    # names in the given directory 
    listOfFile = os.listdir(dirName)
    allFiles = list()
    # Iterate over all the entries
    for entry in listOfFile:
        # Create full path
        fullPath = os.path.join(dirName, entry)
        # If entry is a directory then get the list of files in this directory 
        if os.path.isdir(fullPath):
            allFiles = allFiles + getListOfFiles(fullPath)
        else:
            allFiles.append(fullPath)
                
    return allFiles

In [133]:
counter = 0 
for file in getListOfFiles('.'):
    if file.endswith(".xlsx"):
        if file.find('Income Statement') != -1:
            #print(file)
            #company_name = file.split('Income')[0]
            #print(company_name)
            #if file.find('Altria') != -1:
            if file.find('Altria') != -1:
                #print(file)
                #balsheet_preprocessor(file)
                KO_is = pd.read_excel(file)
                actual_filename = os.path.basename(file) # Getting filename from filepath
                company_name = actual_filename.split(' ')[0] # Company Ticker Symbol
                KO_is = KO_is.rename(columns = KO_is.iloc[0]) #Renaming columns
                KO_is = KO_is.iloc[1:]
                TKO_is = KO_is.transpose()
                TKO_is = TKO_is.rename(columns = TKO_is.iloc[0]) #Renaming columns
                TKO_is = TKO_is.iloc[1:-1]
                TKO_is = TKO_is.loc[:, TKO_is.columns.notnull()] #Removing NaN column labels
                TKO_is = TKO_is.dropna(axis = 1, how = 'all') # Removing columns with NaN in all entries

                # Removing all dollar signs ($) from dataframe
                # Tko_BalSheet.iloc[ : , i ] # Denoting column by index instead of name
                # https://stackoverflow.com/questions/43096522/remove-dollar-sign-from-entire-python-pandas-dataframe
                for i in range(1, len(TKO_is.columns)):
                    TKO_is.iloc[ : , i ] = TKO_is.iloc[ : , i ].replace({'\$':''}, regex = True)
                    #Tko_BalSheet.iloc[ : , i ] = Tko_BalSheet.iloc[ : , i ].str.replace('$', '')

                # Replacing dash values with 0
                for i in range(1, len(TKO_is.columns)):
                    TKO_is.iloc[ : , i ] = TKO_is.iloc[ : , i ].replace({'-': 0}, regex = True)
                    #Tko_BalSheet.iloc[ : , i ] = Tko_BalSheet.iloc[ : , i ].str.replace('$', '')

                TKO_is_as_string = TKO_is.astype(str)

                # Denoting negative values with minus (-) instead of brackets (), removing % sign
                for i in range(1, len(TKO_is_as_string.columns)):
                    TKO_is.iloc[ : , i ] = TKO_is_as_string.iloc[ : , i ].replace({'\(':'-', '\)':'', '%':''}, regex = True)
                    
                # Keeping certain columns to standardise all Income statements by keeping the same parameters
                TKO_is = TKO_is.reindex(columns= ['Total Revenues', 'Cost Of Revenues', 'Gross Profit', 'Total Operating Expenses', 
                                  'Operating Income','Net Income', 'Revenue Per Share', 'Basic EPS', 'Normalized Basic EPS',
                                  'Dividend Per Share','Payout Ratio', 'EBITDA', 'EBITA', 'EBIT',  'Normalized Net Income',
                                  'Effective Tax Rate'] )
                    
                TKO_is['Company'] = company_name
                
                from datetime import datetime
                orig_dates_list = TKO_is.index.tolist()
                converted_dates_list = []

                for element in orig_dates_list:
                    datetime_obj = datetime.strptime(element, '%b %Y')
                    converted_dates_list.append(datetime_obj)

                TKO_is['Time'] = converted_dates_list
                
                comp = TKO_is['Company']
                time = TKO_is['Time']
                TKO_is.drop(labels=['Company', 'Time' ], axis=1,inplace = True)
                TKO_is.insert(0, 'Company', comp)
                TKO_is.insert(1, 'Time', time)
                
                #engine = create_engine("mysql+pymysql://pythonlink:pythonlinkp@localhost:3306/stock_forecast_v1")
                #TKO_is.to_sql('test_table', con= engine, if_exists= 'append', index = False)
                #TKO_is.to_sql('income_statements', con= engine, if_exists= 'append', index = False)
                

print(TKO_is.shape)             
TKO_is

(10, 18)

,Company,Time,Total Revenues,Cost Of Revenues,Gross Profit,Total Operating Expenses,Operating Income,Net Income,Revenue Per Share,Basic EPS,Normalized Basic EPS,Dividend Per Share,Payout Ratio,EBITDA,EBITA,EBIT,Normalized Net Income,Effective Tax Rate
Dec 2010,MO,2010-12-01,"16,892.0","7,629.0","9,263.0","2,645.0","6,618.0","3,905.0",8.13,1.87,1.84,1.46,75.75,"6,894.0","6,638.0","6,618.0","3,818.6",31.7
Dec 2011,MO,2011-12-01,"16,619.0","7,680.0","8,939.0","2,279.0","6,660.0","3,390.0",8.05,1.64,1.87,1.58,95.04,"6,913.0","6,680.0","6,660.0","3,855.8",39.2
Dec 2012,MO,2012-12-01,"17,500.0","7,937.0","9,563.0","2,043.0","7,520.0","4,180.0",8.65,2.06,2.35,1.70,81.34,"7,745.0","7,540.0","7,520.0","4,758.3",35.4
Dec 2013,MO,2013-12-01,"17,663.0","7,206.0","10,457.0","2,097.0","8,360.0","4,535.0",8.84,2.26,2.60,1.84,79.65,"8,572.0","8,380.0","8,360.0","5,188.8",34.7
Dec 2014,MO,2014-12-01,"17,945.0","7,828.0","10,117.0","2,269.0","7,848.0","5,070.0",9.07,2.56,2.54,2.00,76.77,"8,056.0","7,868.0","7,848.0","5,028.8",34.8
Dec 2015,MO,2015-12-01,"18,854.0","7,837.0","11,017.0","2,394.0","8,623.0","5,241.0",9.61,2.67,2.73,2.17,79.74,"8,848.0","8,644.0","8,623.0","5,349.9",35.1
Dec 2016,MO,2016-12-01,"19,337.0","7,736.0","11,601.0","2,302.0","9,299.0","14,239.0",9.91,7.28,3.00,2.35,31.69,"9,503.0","9,320.0","9,299.0","5,847.5",34.8
Dec 2017,MO,2017-12-01,"19,494.0","7,491.0","12,003.0","2,042.0","9,961.0","10,222.0",10.15,5.31,3.18,2.54,47.03,"10,170.0","9,982.0","9,961.0","6,117.5",NM
Dec 2018,MO,2018-12-01,"19,627.0","7,451.0","12,176.0","2,342.0","9,834.0","6,963.0",10.40,3.69,3.34,3.00,77.77,"10,061.0","9,872.0","9,834.0","6,294.1",25.4
Dec 2019,MO,2019-12-01,"19,796.0","7,083.0","12,713.0","1,903.0","10,810.0","-1,293.0",10.59,-0.70,3.77,3.28,NM,"11,036.0","10,854.0","10,810.0","7,042.5",269.5

In [134]:
counter = 0 
for file in getListOfFiles('.'):
    if file.endswith(".xlsx"):
        if file.find('Income Statement') != -1:
            #print(file)
            #company_name = file.split('Income')[0]
            #print(company_name)
            #if file.find('Altria') != -1:
            if file.find('Target') != -1:
                #print(file)
                #balsheet_preprocessor(file)
                KO_is = pd.read_excel(file)
                actual_filename = os.path.basename(file) # Getting filename from filepath
                company_name = actual_filename.split(' ')[0] # Company Ticker Symbol
                KO_is = KO_is.rename(columns = KO_is.iloc[0]) #Renaming columns
                KO_is = KO_is.iloc[1:]
                TKO_is = KO_is.transpose()
                TKO_is = TKO_is.rename(columns = TKO_is.iloc[0]) #Renaming columns
                TKO_is = TKO_is.iloc[1:-1]
                TKO_is = TKO_is.loc[:, TKO_is.columns.notnull()] #Removing NaN column labels
                TKO_is = TKO_is.dropna(axis = 1, how = 'all') # Removing columns with NaN in all entries
                #TKO_is = TKO_is.replace(0,np.nan).dropna(axis=1,how="all")
                #TKO_is = TKO_is.replace(np.nan, 0)
                
                # Removing all dollar signs ($) from dataframe
                # Tko_BalSheet.iloc[ : , i ] # Denoting column by index instead of name
                # https://stackoverflow.com/questions/43096522/remove-dollar-sign-from-entire-python-pandas-dataframe
                for i in range(1, len(TKO_is.columns)):
                    TKO_is.iloc[ : , i ] = TKO_is.iloc[ : , i ].replace({'\$':''}, regex = True)
                    #Tko_BalSheet.iloc[ : , i ] = Tko_BalSheet.iloc[ : , i ].str.replace('$', '')

                # Replacing dash values with 0
                for i in range(1, len(TKO_is.columns)):
                    TKO_is.iloc[ : , i ] = TKO_is.iloc[ : , i ].replace({'-': 0}, regex = True)
                    #Tko_BalSheet.iloc[ : , i ] = Tko_BalSheet.iloc[ : , i ].str.replace('$', '')

                TKO_is_as_string = TKO_is.astype(str)

                # Denoting negative values with minus (-) instead of brackets (), removing % sign
                for i in range(1, len(TKO_is_as_string.columns)):
                    TKO_is.iloc[ : , i ] = TKO_is_as_string.iloc[ : , i ].replace({'\(':'-', '\)':'', '%':''}, regex = True)
                    
                TKO_is = TKO_is.replace(0,np.nan)
                        
                    
print(TKO_is.shape)             
TKO_is

(10, 43)

,Revenues,Other Revenues,Other Revenues,Total Revenues,Cost Of Revenues,Gross Profit,Selling General & Admin Expenses,Depreciation & Amortization,Total Operating Expenses,Operating Income,...,Payout Ratio,EBITDA,EBITA,EBIT,EBITDAR,Effective Tax Rate,Normalized Net Income,Interest Capitalized,Interest on Long-Term Debt,Foreign Earnings
Jan 2011,"65,786.0",0,"1,604.0","67,390.0","46,687.0","20,703.0","13,469.0","2,065.0","15,534.0","5,169.0",...,20.86,"7,253.0","5,193.0","5,169.0","7,453.0",35.0,"2,809.4",-2.0,16,0
Jan 2012,"68,466.0",0,"1,399.0","69,865.0","48,306.0","21,559.0","14,063.0","2,131.0","16,194.0","5,365.0",...,25.61,"7,496.0","5,389.0","5,365.0","7,661.0",34.3,"2,866.3",-5.0,69,-122.0
Feb 2013,"71,960.0",0,"1,341.0","73,301.0","50,874.0","22,427.0","14,606.0","2,044.0","16,650.0","5,777.0",...,28.98,"7,821.0","5,793.0","5,777.0","8,037.0",34.4,"3,183.1",12,31,0
Feb 2014,"71,279.0",0,0,"71,279.0","50,039.0","21,240.0","14,365.0","1,996.0","16,361.0","4,879.0",...,51.04,"6,875.0","4,899.0","4,879.0","7,079.0",34.6,"2,671.9",14,39,0
Jan 2015,"72,618.0",0,0,"72,618.0","51,278.0","21,340.0","14,552.0","2,129.0","16,681.0","4,659.0",...,NM,"6,788.0","4,681.0","4,659.0","6,974.0",33.0,"2,538.8",1,38,0
Jan 2016,"73,785.0",0,0,"73,785.0","52,241.0","21,544.0","14,473.0","1,969.0","16,442.0","5,102.0",...,40.50,"7,315.0","5,125.0","5,102.0","7,497.0",32.5,"2,809.4",-16.0,42,0
Jan 2017,"69,414.0",0,857,"70,271.0","49,145.0","21,126.0","14,086.0","2,045.0","16,131.0","4,995.0",...,49.31,"7,313.0","5,008.0","4,995.0","7,505.0",32.7,"2,766.3",0,36,0
Feb 2018,"71,786.0",0,928,"72,714.0","51,125.0","21,589.0","14,990.0","2,225.0","17,215.0","4,374.0",...,45.92,"6,850.0","4,388.0","4,374.0","7,062.0",19.9,"2,402.5",0,42,0
Feb 2019,"74,433.0",0,923,"75,356.0","53,299.0","22,057.0","15,606.0","2,224.0","17,830.0","4,227.0",...,45.45,"6,701.0","4,241.0","4,227.0","6,941.0",20.3,"2,355.0",0,42,0
Feb 2020,"77,130.0",0,982,"78,112.0","54,864.0","23,248.0","16,163.0","2,357.0","18,520.0","4,728.0",...,40.54,"7,332.0","4,741.0","4,728.0","7,606.0",22.0,"2,665.0",0,51,0

In [60]:
for col in TKO_is.columns:
    print(col)

Revenues
Other Revenues
Other Revenues
Total Revenues
Cost Of Revenues
Gross Profit
Selling General & Admin Expenses
Depreciation & Amortization
Total Operating Expenses
Operating Income
Interest Expense
Interest And Investment Income
Net Interest Expenses
Other Non Operating Income (Expenses)
EBT, Excl. Unusual Items
EBT, Incl. Unusual Items
Income Tax Expense
Earnings From Continuing Operations
Earnings Of Discontinued Operations
Net Income to Company
Net Income
NI to Common Incl Extra Items
NI to Common Excl. Extra Items
Revenue Per Share
Basic EPS
Basic EPS - Continuing Ops
Basic Weighted Average Shares Outst.
Diluted EPS
Diluted EPS - Continuing Ops
Diluted Weighted Average Shares Outst.
Normalized Basic EPS
Normalized Diluted EPS
Dividend Per Share
Payout Ratio
EBITDA
EBITA
EBIT
EBITDAR
Effective Tax Rate
Normalized Net Income
Interest Capitalized
Interest on Long-Term Debt
Foreign Earnings

In [28]:
def income_statement_preprocessor(file):
    KO_is = pd.read_excel(file)
    actual_filename = os.path.basename(file) # Getting filename from filepath
    company_name = actual_filename.split(' ')[0] # Company Ticker Symbol
    KO_is = KO_is.rename(columns = KO_is.iloc[0]) #Renaming columns
    KO_is = KO_is.iloc[1:]
    TKO_is = KO_is.transpose()
    TKO_is = TKO_is.rename(columns = TKO_is.iloc[0]) #Renaming columns
    TKO_is = TKO_is.iloc[1:-1]
    TKO_is = TKO_is.loc[:, TKO_is.columns.notnull()] #Removing NaN column labels
    TKO_is = TKO_is.dropna(axis = 1, how = 'all') # Removing columns with NaN in all entries

    # Removing all dollar signs ($) from dataframe
    # Tko_BalSheet.iloc[ : , i ] # Denoting column by index instead of name
    # https://stackoverflow.com/questions/43096522/remove-dollar-sign-from-entire-python-pandas-dataframe
    for i in range(1, len(TKO_is.columns)):
        TKO_is.iloc[ : , i ] = TKO_is.iloc[ : , i ].replace({'\$':''}, regex = True)
        #Tko_BalSheet.iloc[ : , i ] = Tko_BalSheet.iloc[ : , i ].str.replace('$', '')

    # Replacing dash values with 0
    for i in range(1, len(TKO_is.columns)):
        TKO_is.iloc[ : , i ] = TKO_is.iloc[ : , i ].replace({'-': 0}, regex = True)
        #Tko_BalSheet.iloc[ : , i ] = Tko_BalSheet.iloc[ : , i ].str.replace('$', '')

    TKO_is_as_string = TKO_is.astype(str)

    # Denoting negative values with minus (-) instead of brackets (), removing % sign
    for i in range(1, len(TKO_is_as_string.columns)):
        TKO_is.iloc[ : , i ] = TKO_is_as_string.iloc[ : , i ].replace({'\(':'-', '\)':'', '%':''}, regex = True)
                    
    # Keeping certain columns to standardise all Income statements by keeping the same parameters
    TKO_is = TKO_is.reindex(columns= ['Total Revenues', 'Cost Of Revenues', 'Gross Profit', 'Total Operating Expenses', 
                                  'Operating Income','Net Income', 'Revenue Per Share', 'Basic EPS', 'Normalized Basic EPS',
                                  'Dividend Per Share','Payout Ratio', 'EBITDA', 'EBITA', 'EBIT',  'Normalized Net Income',
                                  'Effective Tax Rate'] )
                    
    TKO_is['Company'] = company_name
                
    from datetime import datetime
    orig_dates_list = TKO_is.index.tolist()
    converted_dates_list = []

    for element in orig_dates_list:
        datetime_obj = datetime.strptime(element, '%b %Y')
        converted_dates_list.append(datetime_obj)

    TKO_is['Time'] = converted_dates_list
                
    comp = TKO_is['Company']
    time = TKO_is['Time']
    TKO_is.drop(labels=['Company', 'Time' ], axis=1,inplace = True)
    TKO_is.insert(0, 'Company', comp)
    TKO_is.insert(1, 'Time', time)
                
    engine = create_engine("mysql+pymysql://pythonlink:pythonlinkp@localhost:3306/stock_forecast_v1")
    #TKO_is.to_sql('test_table', con= engine, if_exists= 'append', index = False)
    TKO_is.to_sql('test_income_statements_v2', con= engine, if_exists= 'append', index = False, index_label = False)

In [4]:
                    
def income_statement_preprocessor1(file):
    KO_is = pd.read_excel(file)
    actual_filename = os.path.basename(file) # Getting filename from filepath
    company_name = actual_filename.split(' ')[0] # Company Ticker Symbol
    KO_is = KO_is.rename(columns = KO_is.iloc[0]) #Renaming columns
    KO_is = KO_is.iloc[1:]
    TKO_is = KO_is.transpose()
    TKO_is = TKO_is.rename(columns = TKO_is.iloc[0]) #Renaming columns
    TKO_is = TKO_is.iloc[1:-1]
    TKO_is = TKO_is.loc[:, TKO_is.columns.notnull()] #Removing NaN column labels
    TKO_is = TKO_is.dropna(axis = 1, how = 'all') # Removing columns with NaN in all entries

    # Removing all dollar signs ($) from dataframe
    # Tko_BalSheet.iloc[ : , i ] # Denoting column by index instead of name
    # https://stackoverflow.com/questions/43096522/remove-dollar-sign-from-entire-python-pandas-dataframe
    for i in range(1, len(TKO_is.columns)):
        TKO_is.iloc[ : , i ] = TKO_is.iloc[ : , i ].replace({'\$':''}, regex = True)
        #Tko_BalSheet.iloc[ : , i ] = Tko_BalSheet.iloc[ : , i ].str.replace('$', '')

    # Accounting for columns filled completely with - and removing these
    for i in range(1, len(TKO_is.columns)):
        TKO_is.iloc[ : , i ] = TKO_is.iloc[ : , i ].replace({'-': np.nan}, regex = True)
                    
    TKO_is = TKO_is.dropna(how='all', axis=1)
                
    for i in range(1, len(TKO_is.columns)):
        TKO_is.iloc[ : , i ] = TKO_is.iloc[ : , i ].replace(np.nan, 0, regex = True)
                
    TKO_is_as_string = TKO_is.astype(str)

    # Denoting negative values with minus (-) instead of brackets (), removing % sign
    for i in range(1, len(TKO_is_as_string.columns)):
        TKO_is.iloc[ : , i ] = TKO_is_as_string.iloc[ : , i ].replace({'\(':'-', '\)':'', '%':''}, regex = True)
                    
    # Keeping certain columns to standardise all Income statements by keeping the same parameters
    TKO_is = TKO_is.reindex(columns= ['Total Revenues', 'Cost Of Revenues', 'Gross Profit', 'Total Operating Expenses', 
                                  'Operating Income','Net Income', 'Revenue Per Share', 'Basic EPS', 'Normalized Basic EPS',
                                  'Dividend Per Share','Payout Ratio', 'EBITDA', 'EBITA', 'EBIT',  'Normalized Net Income',
                                  'Effective Tax Rate'] )
                    
    TKO_is['Company'] = company_name
                
    from datetime import datetime
    orig_dates_list = TKO_is.index.tolist()
    converted_dates_list = []

    for element in orig_dates_list:
        datetime_obj = datetime.strptime(element, '%b %Y')
        converted_dates_list.append(datetime_obj)

    TKO_is['Time'] = converted_dates_list
                
    comp = TKO_is['Company']
    time = TKO_is['Time']
    TKO_is.drop(labels=['Company', 'Time' ], axis=1,inplace = True)
    TKO_is.insert(0, 'Company', comp)
    TKO_is.insert(1, 'Time', time)
                
    engine = create_engine("mysql+pymysql://pythonlink:pythonlinkp@localhost:3306/stock_forecast_v1")
    #TKO_is.to_sql('test_table', con= engine, if_exists= 'append', index = False)
    TKO_is.to_sql('is_table_all_comps', con= engine, if_exists= 'append', index = False, index_label = False)

In [5]:
counter = 0 
for file in getListOfFiles('.'):
    if file.endswith(".xlsx"):
        if file.find('Income Statement') != -1:
            print(file)
            income_statement_preprocessor1(file)
            print('Passed Through')

.\Consumer\Altria\MO Income Statement - Seeking Alpha.xlsx
Passed Through
.\Consumer\Brown-Forman Corporation\BF.B Income Statement - Seeking Alpha.xlsx
Passed Through
.\Consumer\Coca-Cola\KO Income Statement - Seeking Alpha.xlsx
Passed Through
.\Consumer\Colgate-Palmolive Company\CL Income Statement - Seeking Alpha.xlsx
Passed Through
.\Consumer\Disney\DIS Income Statement - Seeking Alpha.xlsx
Passed Through
.\Consumer\Hormel Foods Company (HRL)\HRL Income Statement - Seeking Alpha.xlsx
Passed Through
.\Consumer\Kimberly-Clarke Corporation (KMB)\KMB Income Statement - Seeking Alpha.xlsx
Passed Through
.\Consumer\PepsiCo\PEP Income Statement - Seeking Alpha.xlsx
Passed Through
.\Consumer\Procter & Gamble (PG)\PG Income Statement - Seeking Alpha.xlsx
Passed Through
.\Consumer\Sysco Corporation (SYY)\SYY Income Statement - Seeking Alpha.xlsx
Passed Through
.\Consumer\Target\TGT Income Statement - Seeking Alpha.xlsx
Passed Through
.\Consumer\The Clorox Company (CLX)\CLX Income Statement - Seeking Alpha.xlsx
Passed Through
.\Consumer\Walgreens Boots Alliance (WBA)\WBA Income Statement - Seeking Alpha.xlsx
Passed Through
.\Consumer\Walmart Inc. (WMT)\WMT Income Statement - Seeking Alpha.xlsx
Passed Through
.\Consumer_Discretionary\AdvanceAutoPartsAAP\AAP Income Statement - Seeking Alpha.xlsx
Passed Through
.\Consumer_Discretionary\AutoZoneAZO\AZO Income Statement - Seeking Alpha.xlsx
Passed Through
.\Consumer_Discretionary\BorgWarnerBWA\BWA Income Statement - Seeking Alpha.xlsx
Passed Through
.\Consumer_Discretionary\CarMaxKMX\KMX Income Statement - Seeking Alpha.xlsx
Passed Through
.\Consumer_Discretionary\CarnivalCorporationCCL\CCL Income Statement - Seeking Alpha.xlsx
Passed Through
.\Consumer_Discretionary\ChipotleMexicanGrillCMG\CMG Income Statement - Seeking Alpha.xlsx
Passed Through
.\Consumer_Discretionary\DardenRestaurantsDRI\DRI Income Statement - Seeking Alpha.xlsx
Passed Through
.\Consumer_Discretionary\DollarTreeDLTR\DLTR Income Statement - Seeking Alpha.xlsx
Passed Through
.\Consumer_Discretionary\DRHortonDHI\DHI Income Statement - Seeking Alpha.xlsx
Passed Through
.\Consumer_Discretionary\eBAYEBAY\EBAY Income Statement - Seeking Alpha.xlsx
Passed Through
.\Consumer_Discretionary\ExpediaGroupEXPE\EXPE Income Statement - Seeking Alpha.xlsx
Passed Through
.\Consumer_Discretionary\FordMotorCompanyF\F Income Statement - Seeking Alpha.xlsx
Passed Through
.\Consumer_Discretionary\GapIncGPS\GPS Income Statement - Seeking Alpha.xlsx
Passed Through
.\Consumer_Discretionary\GarminLtdGRMN\GRMN Income Statement - Seeking Alpha.xlsx
Passed Through
.\Consumer_Discretionary\Genuine Parts Company (GPC)\GPC Income Statement - Seeking Alpha.xlsx
Passed Through
.\Consumer_Discretionary\HAndRBlockIncHRB\HRB Income Statement - Seeking Alpha.xlsx
Passed Through
.\Consumer_Discretionary\HarleyDavidsonHOG\HOG Income Statement - Seeking Alpha.xlsx
Passed Through
.\Consumer_Discretionary\HasbroHAS\HAS Income Statement - Seeking Alpha.xlsx
Passed Through
.\Consumer_Discretionary\HomeDepotHD\HD Income Statement - Seeking Alpha.xlsx
Passed Through
.\Consumer_Discretionary\KohlsCorporationKSS\KSS Income Statement - Seeking Alpha.xlsx
Passed Through
.\Consumer_Discretionary\LBrandsLB\LB Income Statement - Seeking Alpha.xlsx
Passed Through
.\Consumer_Discretionary\Legett & Platt Inc (LEG)\LEG Income Statement - Seeking Alpha.xlsx
Passed Through
.\Consumer_Discretionary\LennarCorporationLEN\LEN Income Statement - Seeking Alpha.xlsx
Passed Through
.\Consumer_Discretionary\LKQCorporationLKQ\LKQ Income Statement - Seeking Alpha.xlsx
Passed Through
.\Consumer_Discretionary\Lowe's Companies (LOW)\LOW Income Statement - Seeking Alpha.xlsx
Passed Through
.\Consumer_Discretionary\MarriottInternationalMAR\MAR Income Statement - Seeking Alpha.xlsx
Passed Through
.\Consumer_Discretionary\McDonaldsCorporationMCD\MCD Income Statement - Seeking Alpha.xlsx
Passed Through
.\Consumer_Discretionary\MGMResortsInternationalMGM\MGM Income Statement - Seeking Alpha.xlsx
Passed Through
.\Consumer_Discretionary\MohawkIndustriesMHK\MHK Income Statement - Seeking Alpha.xlsx
Passed Through
.\Consumer_Discretionary\NewellsBrandsIncNWL\NWL Income Statement - Seeking Alpha.xlsx
Passed Through
.\Consumer_Discretionary\NikeNKE\NKE Income Statement - Seeking Alpha.xlsx
Passed Through
.\Consumer_Discretionary\NordstromJWN\JWN Income Statement - Seeking Alpha.xlsx
Passed Through
.\Consumer_Discretionary\OReillyAutomotiveORLY\ORLY Income Statement - Seeking Alpha.xlsx
Passed Through
.\Consumer_Discretionary\PulteGroupPHM\PHM Income Statement - Seeking Alpha.xlsx
Passed Through
.\Consumer_Discretionary\PVHCorpPVH\PVH Income Statement - Seeking Alpha.xlsx
Passed Through
.\Consumer_Discretionary\RalphLaurenRL\RL Income Statement - Seeking Alpha.xlsx
Passed Through
.\Consumer_Discretionary\Ross Stores (ROST)\ROST Income Statement - Seeking Alpha.xlsx
Passed Through
.\Consumer_Discretionary\VF Corporation (VFC)\VFC Income Statement - Seeking Alpha.xlsx
Passed Through
.\Consumer_Staples\ArcherDanielsMidlandCompanyADM\ADM Income Statement - Seeking Alpha.xlsx
Passed Through
.\Consumer_Staples\CampbellsSoupCPB\CPB Income Statement - Seeking Alpha.xlsx
Passed Through
.\Consumer_Staples\ChurchAndDwightCHD\CHD Income Statement - Seeking Alpha.xlsx
Passed Through
.\Consumer_Staples\CloroxCLX\CLX Income Statement - Seeking Alpha.xlsx
Passed Through
.\Consumer_Staples\ConAgraBrandsCAG\CAG Income Statement - Seeking Alpha.xlsx
Passed Through
.\Consumer_Staples\ConstellationBrandsSTZ\STZ Income Statement - Seeking Alpha.xlsx
Passed Through
.\Consumer_Staples\CostcoCOST\COST Income Statement - Seeking Alpha.xlsx
Passed Through
.\Consumer_Staples\EsteeLauderCompaniesEL\EL Income Statement - Seeking Alpha.xlsx
Passed Through
.\Consumer_Staples\GeneralMillsGIS\GIS Income Statement - Seeking Alpha.xlsx
Passed Through
.\Consumer_Staples\JMSmuckerCompanySJM\SJM Income Statement - Seeking Alpha.xlsx
Passed Through
.\Consumer_Staples\KelloggCompanyK\K Income Statement - Seeking Alpha.xlsx
Passed Through
.\Consumer_Staples\KrogerCompanyKR\KR Income Statement - Seeking Alpha.xlsx
Passed Through
.\Consumer_Staples\McCormackAndCompanyMKC\MKC Income Statement - Seeking Alpha.xlsx
Passed Through
.\Consumer_Staples\MolsonCoorsBrewingCompanyTAP\TAP Income Statement - Seeking Alpha.xlsx
Passed Through
.\Consumer_Staples\MondelezInternationalMDLZ\MDLZ Income Statement - Seeking Alpha.xlsx
Passed Through
.\Consumer_Staples\MonsterBeverageCorporationMNST\MNST Income Statement - Seeking Alpha.xlsx
Passed Through
.\Consumer_Staples\PhilipMorrisInternationalPM\PM Income Statement - Seeking Alpha.xlsx
Passed Through
.\Consumer_Staples\TheHersheyCompanyHSY\HSY Income Statement - Seeking Alpha.xlsx
Passed Through
.\Energy\Atmos Energy Corporation (ATO)\ATO Income Statement - Seeking Alpha.xlsx
Passed Through
.\Energy\CabotOilAndGasCorporationCOG\COG Income Statement - Seeking Alpha.xlsx
Passed Through
.\Energy\CenterPointEnergyCNP\CNP Income Statement - Seeking Alpha.xlsx
Passed Through
.\Energy\Chevron Corporation (CVX)\CVX Income Statement - Seeking Alpha.xlsx
Passed Through
.\Energy\CMSEnergyCorporationCMS\CMS Income Statement - Seeking Alpha.xlsx
Passed Through
.\Energy\ConchoResourcesCXO\CXO Income Statement - Seeking Alpha.xlsx
Passed Through
.\Energy\ConocoPhillipsCOP\COP Income Statement - Seeking Alpha.xlsx
Passed Through
.\Energy\Consolidated Edison Inc (ED)\ED Income Statement - Seeking Alpha.xlsx
Passed Through
.\Energy\DevonEnergyCorporationDVN\DVN Income Statement - Seeking Alpha.xlsx
Passed Through
.\Energy\DTEEnergyCompanyDTE\DTE Income Statement - Seeking Alpha.xlsx
Passed Through
.\Energy\Duke Energy Corporation\DUK Income Statement - Seeking Alpha.xlsx
Passed Through
.\Energy\EOGResourcesEOG\EOG Income Statement - Seeking Alpha.xlsx
Passed Through
.\Energy\Exxon Mobil Corporation (XOM)\XOM Income Statement - Seeking Alpha.xlsx
Passed Through
.\Energy\HaliburtonCompanyHAL\HAL Income Statement - Seeking Alpha.xlsx
Passed Through
.\Energy\HessCorporationHES\HES Income Statement - Seeking Alpha.xlsx
Passed Through
.\Energy\MarathonOilCorporationMRO\MRO Income Statement - Seeking Alpha.xlsx
Passed Through
.\Energy\NationalOilwellVarcoNOV\NOV Income Statement - Seeking Alpha.xlsx

Passed Through
.\Energy\NextEra Energy\NEE Income Statement - Seeking Alpha.xlsx
Passed Through
.\Energy\NobleEnergyNBL\NBL Income Statement - Seeking Alpha.xlsx
Passed Through
.\Energy\OneokOKE\OKE Income Statement - Seeking Alpha.xlsx
Passed Through
.\Energy\OxidentalPetroleumCompanyOXY\OXY Income Statement - Seeking Alpha.xlsx
Passed Through
.\Energy\PioneerNaturalResourcesCompanyPXD\PXD Income Statement - Seeking Alpha.xlsx
Passed Through
.\Energy\The Southern Company\SO Income Statement - Seeking Alpha.xlsx
Passed Through
.\Financials\Aflac\AFL Income Statement - Seeking Alpha.xlsx
Passed Through
.\Financials\AmericanExpressCompanyAXP\AXP Income Statement - Seeking Alpha.xlsx
Passed Through
.\Financials\AmericanInternationalGroupAIG\AIG Income Statement - Seeking Alpha.xlsx
Passed Through
.\Financials\AmeripriseFinancialAMP\AMP Income Statement - Seeking Alpha.xlsx
Passed Through
.\Financials\ArthurJGallagherAJG\AJG Income Statement - Seeking Alpha.xlsx
Passed Through
.\Financials\AssurantAIZ\AIZ Income Statement - Seeking Alpha.xlsx
Passed Through
.\Financials\BankOfAmericaBAC\BAC Income Statement - Seeking Alpha.xlsx
Passed Through
.\Financials\BankOfNewYorkMellonBK\BK Income Statement - Seeking Alpha.xlsx
Passed Through
.\Financials\BerkshireHathawayBRBK\BRK.B Income Statement - Seeking Alpha.xlsx
Passed Through
.\Financials\BlackRockIncBLK\BLK Income Statement - Seeking Alpha.xlsx
Passed Through
.\Financials\CapitalOneFinancialCorpCOF\COF Income Statement - Seeking Alpha.xlsx
Passed Through
.\Financials\CharlesSchwabCorporationSCHW\SCHW Income Statement - Seeking Alpha.xlsx
Passed Through
.\Financials\Chubb\CB Income Statement - Seeking Alpha.xlsx
Passed Through
.\Financials\Cincinnati Financial\CINF Income Statement - Seeking Alpha.xlsx
Passed Through
.\Financials\CitigroupC\C Income Statement - Seeking Alpha.xlsx
Passed Through
.\Financials\CMEGroupCME\CME Income Statement - Seeking Alpha.xlsx
Passed Through
.\Financials\ComericaIncCMA\CMA Income Statement - Seeking Alpha.xlsx
Passed Through
.\Financials\DiscoverFinancialServicesDFS\DFS Income Statement - Seeking Alpha.xlsx
Passed Through
.\Financials\EverestREGroupRE\RE Income Statement - Seeking Alpha.xlsx
Passed Through
.\Financials\FifthThirdBancorpFITB\FITB Income Statement - Seeking Alpha.xlsx
Passed Through
.\Financials\Franklin Resources (BEN)\BEN Income Statement - Seeking Alpha.xlsx
Passed Through
.\Financials\GoldmanSachsGroupGS\GS Income Statement - Seeking Alpha.xlsx
Passed Through
.\Financials\HartfordFinancialServicesGroupHIG\HIG Income Statement - Seeking Alpha.xlsx
Passed Through
.\Financials\HuntingtonBancsharesIncorporatedHBAN\HBAN Income Statement - Seeking Alpha.xlsx
Passed Through
.\Financials\IntercontinentalExchangeICE\ICE Income Statement - Seeking Alpha.xlsx
Passed Through
.\Financials\InvescoLtdIVZ\IVZ Income Statement - Seeking Alpha.xlsx
Passed Through
.\Financials\JP Morgan and Chase\JPM Income Statement - Seeking Alpha.xlsx
Passed Through
.\Financials\KeyCorpKEY\KEY Income Statement - Seeking Alpha.xlsx
Passed Through
.\Financials\LincolnNationalCorporationLNC\LNC Income Statement - Seeking Alpha.xlsx
Passed Through
.\Financials\LoewsCorporationL\L Income Statement - Seeking Alpha.xlsx
Passed Through
.\Financials\MAndTBankCorporationMTB\MTB Income Statement - Seeking Alpha.xlsx
Passed Through
.\Financials\MarshAndMcLennanCompaniesMMC\MMC Income Statement - Seeking Alpha.xlsx
Passed Through
.\Financials\MetLifeMET\MET Income Statement - Seeking Alpha.xlsx
Passed Through
.\Financials\MoodysCorporationMCO\MCO Income Statement - Seeking Alpha.xlsx
Passed Through
.\Financials\MorganStanleyMS\MS Income Statement - Seeking Alpha.xlsx
Passed Through
.\Financials\NasdaqIncNDAQ\NDAQ Income Statement - Seeking Alpha.xlsx
Passed Through
.\Financials\NorthernTrustCorporationNTRS\NTRS Income Statement - Seeking Alpha.xlsx
Passed Through
.\Financials\Peoples United Financial, Inc\PBCT Income Statement - Seeking Alpha.xlsx
Passed Through
.\Financials\PNCFinancialServicesGroupPNC\PNC Income Statement - Seeking Alpha.xlsx
Passed Through
.\Financials\PrudentialFinancialPRU\PRU Income Statement - Seeking Alpha.xlsx
Passed Through
.\Financials\RaymondJamesFinancialRJF\RJF Income Statement - Seeking Alpha.xlsx
Passed Through
.\Financials\RegionsFinancialCorporationRF\RF Income Statement - Seeking Alpha.xlsx
Passed Through
.\Financials\S&P Global Inc (SPGI)\SPGI Income Statement - Seeking Alpha.xlsx
Passed Through
.\Financials\T. Rowe Price\TROW Income Statement - Seeking Alpha.xlsx
Passed Through
.\Financials\TheProgressiveCorporationPGR\PGR Income Statement - Seeking Alpha.xlsx
Passed Through
.\Healthcare\Abbott Laboratories\ABT Income Statement - Seeking Alpha.xlsx
Passed Through
.\Healthcare\AgilentTechnologiesA\A Income Statement - Seeking Alpha.xlsx
Passed Through
.\Healthcare\AlexionPharmaceuticalsALXN\ALXN Income Statement - Seeking Alpha.xlsx
Passed Through
.\Healthcare\AlignTechnologyALGN\ALGN Income Statement - Seeking Alpha.xlsx
Passed Through
.\Healthcare\AmeriSourceBergenABC\ABC Income Statement - Seeking Alpha.xlsx
Passed Through
.\Healthcare\AmgenAMGN\AMGN Income Statement - Seeking Alpha.xlsx
Passed Through
.\Healthcare\AnthemANTM\ANTM Income Statement - Seeking Alpha.xlsx
Passed Through
.\Healthcare\BaxterInternationalIncBAX\BAX Income Statement - Seeking Alpha.xlsx
Passed Through
.\Healthcare\Becton Dickinson and Company (BDX)\BDX Income Statement - Seeking Alpha.xlsx
Passed Through
.\Healthcare\BiogenBIIB\BIIB Income Statement - Seeking Alpha.xlsx
Passed Through
.\Healthcare\BristolMyersSquibbCompanyBMY\BMY Income Statement - Seeking Alpha.xlsx
Passed Through
.\Healthcare\Cardinal Health Inc. (CAH)\CAH Income Statement - Seeking Alpha.xlsx
Passed Through
.\Healthcare\CenteneCNC\CNC Income Statement - Seeking Alpha.xlsx
Passed Through
.\Healthcare\CernerCorporationCERN\CERN Income Statement - Seeking Alpha.xlsx
Passed Through
.\Healthcare\CignaCorporationCI\CI Income Statement - Seeking Alpha.xlsx
Passed Through
.\Healthcare\CVSHealthCorporationCVS\CVS Income Statement - Seeking Alpha.xlsx
Passed Through
.\Healthcare\DanaherCorporationDHR\DHR Income Statement - Seeking Alpha.xlsx
Passed Through
.\Healthcare\DaVitaIncDVA\DVA Income Statement - Seeking Alpha.xlsx
Passed Through
.\Healthcare\DentsplySironaIncXRAY\XRAY Income Statement - Seeking Alpha.xlsx
Passed Through
.\Healthcare\EdwardsLifesciencesCorporationEW\EW Income Statement - Seeking Alpha.xlsx
Passed Through
.\Healthcare\EliLillyAndCompanyLLY\LLY Income Statement - Seeking Alpha.xlsx
Passed Through
.\Healthcare\GileadSciencesIncGILD\GILD Income Statement - Seeking Alpha.xlsx
Passed Through
.\Healthcare\HenryScheinHSIC\HSIC Income Statement - Seeking Alpha.xlsx
Passed Through
.\Healthcare\HologicHOLX\HOLX Income Statement - Seeking Alpha.xlsx
Passed Through
.\Healthcare\HumanaIncHUM\HUM Income Statement - Seeking Alpha.xlsx
Passed Through
.\Healthcare\IdexxLaboratoriesIDEXX\IDXX Income Statement - Seeking Alpha.xlsx
Passed Through
.\Healthcare\IlluminaILMN\ILMN Income Statement - Seeking Alpha.xlsx
Passed Through
.\Healthcare\IncyteCorporationINCY\INCY Income Statement - Seeking Alpha.xlsx
Passed Through
.\Healthcare\IntuitiveSurgicalISRG\ISRG Income Statement - Seeking Alpha.xlsx
Passed Through
.\Healthcare\Johnson & Johnson\JNJ Income Statement - Seeking Alpha.xlsx
Passed Through
.\Healthcare\LaboratoryOfAmericaHoldingsLH\LH Income Statement - Seeking Alpha.xlsx
Passed Through
.\Healthcare\McKessonCorpMCK\MCK Income Statement - Seeking Alpha.xlsx
Passed Through
.\Healthcare\Merck\MRK Income Statement - Seeking Alpha.xlsx
Passed Through
.\Healthcare\MettlerToledoInternationalMTD\MTD Income Statement - Seeking Alpha.xlsx
Passed Through
.\Healthcare\PerkinElmerIncPKI\PKI Income Statement - Seeking Alpha.xlsx
Passed Through
.\Healthcare\PerrigoCompanyPlcPRGO\PRGO Income Statement - Seeking Alpha.xlsx
Passed Through
.\Healthcare\PfizerIncPFE\PFE Income Statement - Seeking Alpha (1).xlsx
Passed Through
.\Healthcare\QuestDiagnosticsIncDGX\DGX Income Statement - Seeking Alpha.xlsx
Passed Through
.\Healthcare\RegeneronPharmaceuticalsREGN\REGN Income Statement - Seeking Alpha.xlsx
Passed Through
.\Healthcare\ResMedIncRMD\RMD Income Statement - Seeking Alpha.xlsx

Passed Through
.\Healthcare\TheCooperCompaniesIncCOO\COO Income Statement - Seeking Alpha.xlsx
Passed Through
.\Industrials\3M\MMM Income Statement - Seeking Alpha.xlsx
Passed Through
.\Industrials\AlaskaAirGroupALK\ALK Income Statement - Seeking Alpha.xlsx
Passed Through
.\Industrials\AmericanAirlinesAAL\AAL Income Statement - Seeking Alpha.xlsx
Passed Through
.\Industrials\AmetekAME\AME Income Statement - Seeking Alpha.xlsx
Passed Through
.\Industrials\AO Smith (AOS)\AOS Income Statement - Seeking Alpha.xlsx
Passed Through
.\Industrials\BoeingBA\BA Income Statement - Seeking Alpha.xlsx
Passed Through
.\Industrials\CaterpillarIncCAT\CAT Income Statement - Seeking Alpha.xlsx
Passed Through
.\Industrials\Cintas (CTAS)\CTAS Income Statement - Seeking Alpha.xlsx
Passed Through
.\Industrials\CSXCorporationCSX\CSX Income Statement - Seeking Alpha.xlsx
Passed Through
.\Industrials\CumminsIncCMI\CMI Income Statement - Seeking Alpha.xlsx
Passed Through
.\Industrials\DeereAndCompanyDE\DE Income Statement - Seeking Alpha.xlsx
Passed Through
.\Industrials\DeltaAirlinesDAL\DAL Income Statement - Seeking Alpha.xlsx
Passed Through
.\Industrials\Dover (DOV)\DOV Income Statement - Seeking Alpha.xlsx
Passed Through
.\Industrials\Emerson Electric (EMR)\EMR Income Statement - Seeking Alpha.xlsx
Passed Through
.\Industrials\EquifaxEFX\EFX Income Statement - Seeking Alpha.xlsx
Passed Through
.\Industrials\ExpiditorsInternationalOfWashington (EXPD)\EXPD Income Statement - Seeking Alpha.xlsx
Passed Through
.\Industrials\FastenalCompanyFAST\FAST Income Statement - Seeking Alpha.xlsx
Passed Through
.\Industrials\FedExCorporation\FDX Income Statement - Seeking Alpha.xlsx
Passed Through
.\Industrials\FlowserveFLS\FLS Income Statement - Seeking Alpha.xlsx
Passed Through
.\Industrials\GeneralDynamicsGD\GD Income Statement - Seeking Alpha.xlsx
Passed Through
.\Industrials\GeneralElectricCompanyGE\GE Income Statement - Seeking Alpha.xlsx
Passed Through
.\Industrials\HoneywellHON\HON Income Statement - Seeking Alpha.xlsx
Passed Through
.\Industrials\IllinoisToolWorksITW\ITW Income Statement - Seeking Alpha.xlsx
Passed Through
.\Industrials\JacobsEngineeringGroupJ\J Income Statement - Seeking Alpha.xlsx
Passed Through
.\Industrials\JBHuntTransportServicesJBHT\JBHT Income Statement - Seeking Alpha.xlsx
Passed Through
.\Industrials\JohnsonControlsInternationalJCI\JCI Income Statement - Seeking Alpha.xlsx
Passed Through
.\Industrials\KansasCitySouthernKSU\KSU Income Statement - Seeking Alpha.xlsx
Passed Through
.\Industrials\LockheedMartinCorporationLMT\LMT Income Statement - Seeking Alpha.xlsx
Passed Through
.\Industrials\MascoCorporationMAS\MAS Income Statement - Seeking Alpha.xlsx
Passed Through
.\Industrials\NorfolkSouthernCorpNSC\NSC Income Statement - Seeking Alpha.xlsx
Passed Through
.\Industrials\NorthropGrummanCorpNOC\NOC Income Statement - Seeking Alpha.xlsx
Passed Through
.\Industrials\PaccarIncPCAR\PCAR Income Statement - Seeking Alpha.xlsx
Passed Through
.\Industrials\ParkerHannafinCorporationPH\PH Income Statement - Seeking Alpha.xlsx
Passed Through
.\Industrials\PentairPNR\PNR Income Statement - Seeking Alpha.xlsx
Passed Through
.\Industrials\QuantaServicesPWR\PWR Income Statement - Seeking Alpha.xlsx
Passed Through
.\Industrials\RaytheonTechnologiesCorpRTX\RTX Income Statement - Seeking Alpha.xlsx
Passed Through
.\Industrials\RepublicServicesRSG\RSG Income Statement - Seeking Alpha.xlsx
Passed Through
.\Industrials\RobertHalfInternationalRHI\RHI Income Statement - Seeking Alpha.xlsx
Passed Through
.\Industrials\RoperTechnologiesROP\ROP Income Statement - Seeking Alpha.xlsx
Passed Through
.\Industrials\StanleyBlackAndDeckerSWK\SWK Income Statement - Seeking Alpha.xlsx
Passed Through
.\Industrials\WWGraingerGWW\GWW Income Statement - Seeking Alpha.xlsx
Passed Through
.\Materials\Air Products and Chemicals Inc (APD)\APD Income Statement - Seeking Alpha.xlsx
Passed Through
.\Materials\Albemarle Corporation (ALB)\ALB Income Statement - Seeking Alpha.xlsx
Passed Through
.\Materials\AveryDennisonCorporationAVY\AVY Income Statement - Seeking Alpha.xlsx
Passed Through
.\Materials\BallCorporationBLL\BLL Income Statement - Seeking Alpha.xlsx
Passed Through
.\Materials\CFIndustriesHoldingsCF\CF Income Statement - Seeking Alpha.xlsx
Passed Through
.\Materials\EastmanChemicalCompanyEMN\EMN Income Statement - Seeking Alpha.xlsx
Passed Through
.\Materials\Ecolab (ECL)\ECL Income Statement - Seeking Alpha.xlsx
Passed Through
.\Materials\FMCCorporationFMC\FMC Income Statement - Seeking Alpha.xlsx
Passed Through
.\Materials\FreeportMcMoRanFCX\FCX Income Statement - Seeking Alpha.xlsx
Passed Through
.\Materials\InternationalFlavoursAndFragrancesIFF\IFF Income Statement - Seeking Alpha.xlsx
Passed Through
.\Materials\InternationalPaperCompanyIP\IP Income Statement - Seeking Alpha.xlsx
Passed Through
.\Materials\MartinMariettaMaterialsMLM\MLM Income Statement - Seeking Alpha.xlsx
Passed Through
.\Materials\NewmontCorporationNEM\NEM Income Statement - Seeking Alpha.xlsx
Passed Through
.\Materials\Nucor Corporation (NUE)\NUE Income Statement - Seeking Alpha.xlsx
Passed Through
.\Materials\PackagingCorporationOfAmericaPKG\PKG Income Statement - Seeking Alpha.xlsx
Passed Through
.\Materials\PPG Industries (PPG)\PPG Income Statement - Seeking Alpha.xlsx
Passed Through
.\Materials\PPLCorporationPPL\PPL Income Statement - Seeking Alpha.xlsx
Passed Through
.\Materials\The Sherwin-Williams Company (SHW)\SHW Income Statement - Seeking Alpha.xlsx
Passed Through
.\TechAndIT\AccentureACN\ACN Income Statement - Seeking Alpha.xlsx
Passed Through
.\TechAndIT\ActivisionBlizzardATVI\ATVI Income Statement - Seeking Alpha.xlsx
Passed Through
.\TechAndIT\AdobeADBE\ADBE Income Statement - Seeking Alpha.xlsx
Passed Through
.\TechAndIT\AdvancedMicroDevicesAMD\AMD Income Statement - Seeking Alpha.xlsx
Passed Through
.\TechAndIT\AllianceDataSystemsADS\ADS Income Statement - Seeking Alpha.xlsx
Passed Through
.\TechAndIT\Amazon\AMZN Income Statement - Seeking Alpha.xlsx
Passed Through
.\TechAndIT\AmphenolCorporationAPH\APH Income Statement - Seeking Alpha.xlsx
Passed Through
.\TechAndIT\AnalogDevicesADI\ADI Income Statement - Seeking Alpha.xlsx
Passed Through
.\TechAndIT\AnsysANSS\ANSS Income Statement - Seeking Alpha.xlsx
Passed Through
.\TechAndIT\Apple Inc\AAPL Income Statement - Seeking Alpha (1) (1).xlsx
Passed Through
.\TechAndIT\AppliedMaterialsIncAMAT\AMAT Income Statement - Seeking Alpha.xlsx
Passed Through
.\TechAndIT\AutoDeskADSK\ADSK Income Statement - Seeking Alpha.xlsx
Passed Through
.\TechAndIT\Automatic Data Processing\ADP Income Statement - Seeking Alpha.xlsx
Passed Through
.\TechAndIT\BroadcomAVGO\AVGO Income Statement - Seeking Alpha.xlsx
Passed Through
.\TechAndIT\CadenceDesignSystemsCDNS\CDNS Income Statement - Seeking Alpha.xlsx
Passed Through
.\TechAndIT\CiscoSystemsCSCO\CSCO Income Statement - Seeking Alpha.xlsx
Passed Through
.\TechAndIT\CitrixSystemsCTXS\CTXS Income Statement - Seeking Alpha.xlsx
Passed Through
.\TechAndIT\CognizantTechnologySolutionsCorp\CTSH Income Statement - Seeking Alpha.xlsx
Passed Through
.\TechAndIT\CorningIncGLW\GLW Income Statement - Seeking Alpha.xlsx
Passed Through
.\TechAndIT\F5NetworksIncFFIV\FFIV Income Statement - Seeking Alpha.xlsx
Passed Through
.\TechAndIT\FidelityNationalInformationServicesFIS\FIS Income Statement - Seeking Alpha.xlsx
Passed Through
.\TechAndIT\FiservIncFISV\FISV Income Statement - Seeking Alpha.xlsx
Passed Through
.\TechAndIT\FlirSystemsFLIR\FLIR Income Statement - Seeking Alpha.xlsx
Passed Through
.\TechAndIT\GartnerIncIT\IT Income Statement - Seeking Alpha.xlsx
Passed Through
.\TechAndIT\GlobalPaymentsIncGPN\GPN Income Statement - Seeking Alpha.xlsx
Passed Through
.\TechAndIT\Google (GOOGL)\GOOGL Income Statement - Seeking Alpha.xlsx
Passed Through
.\TechAndIT\HPIncHPQ\HPQ Income Statement - Seeking Alpha.xlsx
Passed Through
.\TechAndIT\IBM\IBM Income Statement - Seeking Alpha.xlsx
Passed Through
.\TechAndIT\IntelCorporationINTC\INTC Income Statement - Seeking Alpha.xlsx
Passed Through
.\TechAndIT\IntuitINTU\INTU Income Statement - Seeking Alpha.xlsx
Passed Through
.\TechAndIT\JuniperNetworksJNPR\JNPR Income Statement - Seeking Alpha.xlsx

Passed Through
.\TechAndIT\KLACorporationKLAC\KLAC Income Statement - Seeking Alpha.xlsx
Passed Through
.\TechAndIT\LamResearchCorporationLRCX\LRCX Income Statement - Seeking Alpha.xlsx
Passed Through
.\TechAndIT\MastercardMA\MA Income Statement - Seeking Alpha.xlsx
Passed Through
.\TechAndIT\MicrochipTechnologyIncMCHP\MCHP Income Statement - Seeking Alpha.xlsx
Passed Through
.\TechAndIT\MicronTechnologyMU\MU Income Statement - Seeking Alpha.xlsx
Passed Through
.\TechAndIT\Microsoft\MSFT Income Statement - Seeking Alpha.xlsx
Passed Through
.\TechAndIT\MotorolaSolutionsMCI\MSI Income Statement - Seeking Alpha.xlsx
Passed Through
.\TechAndIT\NetAppIncNTAP\NTAP Income Statement - Seeking Alpha.xlsx
Passed Through
.\TechAndIT\NVIDIAnvda\NVDA Income Statement - Seeking Alpha.xlsx
Passed Through
.\TechAndIT\OracleCorporationORCL\ORCL Income Statement - Seeking Alpha.xlsx
Passed Through
.\TechAndIT\PaychexIncPAYX\PAYX Income Statement - Seeking Alpha.xlsx
Passed Through
.\TechAndIT\QualcommQCOM\QCOM Income Statement - Seeking Alpha.xlsx
Passed Through
.\TechAndIT\Visa\V Income Statement - Seeking Alpha.xlsx
Passed Through
.\TelecomsAndCommunicationServices\AT&T\T Income Statement - Seeking Alpha.xlsx
Passed Through
.\TelecomsAndCommunicationServices\CenturyLinkIncCTL\CTL Income Statement - Seeking Alpha.xlsx
Passed Through
.\TelecomsAndCommunicationServices\ComcastCorpCMCSA\CMCSA Income Statement - Seeking Alpha.xlsx
Passed Through
.\TelecomsAndCommunicationServices\DiscoveryIncDISCA\DISCA Income Statement - Seeking Alpha.xlsx
Passed Through
.\TelecomsAndCommunicationServices\DishNetworkCorporationDISH\DISH Income Statement - Seeking Alpha.xlsx
Passed Through
.\TelecomsAndCommunicationServices\ElectronicArtsEA\EA Income Statement - Seeking Alpha.xlsx
Passed Through
.\TelecomsAndCommunicationServices\InterpublicGroupOfCompaniesIncIPG\IPG Income Statement - Seeking Alpha.xlsx
Passed Through
.\TelecomsAndCommunicationServices\NetflixNFLX\NFLX Income Statement - Seeking Alpha.xlsx
Passed Through
.\TelecomsAndCommunicationServices\OmnicomGroupOMC\OMC Income Statement - Seeking Alpha.xlsx
Passed Through
.\Utilities\AESCorporationAES\AES Income Statement - Seeking Alpha.xlsx
Passed Through
.\Utilities\AlliantEnergyCorporationLNT\LNT Income Statement - Seeking Alpha.xlsx
Passed Through
.\Utilities\AmerenCorporationAEE\AEE Income Statement - Seeking Alpha.xlsx
Passed Through
.\Utilities\AmericanElectricPowerCompanyAEP\AEP Income Statement - Seeking Alpha.xlsx
Passed Through
.\Utilities\AmericanWaterWorksAWK\AWK Income Statement - Seeking Alpha.xlsx
Passed Through
.\Utilities\EdisonInternationalEIX\EIX Income Statement - Seeking Alpha.xlsx
Passed Through
.\Utilities\EntergyETR\ETR Income Statement - Seeking Alpha.xlsx
Passed Through
.\Utilities\EversourceEnergyES\ES Income Statement - Seeking Alpha.xlsx
Passed Through
.\Utilities\ExelonCorporationEXC\EXC Income Statement - Seeking Alpha.xlsx
Passed Through
.\Utilities\FirstEnergyCorpFE\FE Income Statement - Seeking Alpha.xlsx
Passed Through
.\Utilities\NiSourceNI\NI Income Statement - Seeking Alpha.xlsx
Passed Through
.\Utilities\NRGEnergyNRG\NRG Income Statement - Seeking Alpha.xlsx
Passed Through
.\Utilities\PinnacleWestCapitalCorpPNW\PNW Income Statement - Seeking Alpha.xlsx
Passed Through
.\Utilities\PublicServiceEnterpriseGroupIncPEG\PEG Income Statement - Seeking Alpha.xlsx
Passed Through

In [31]:
counter = 0 
for file in getListOfFiles('.'):
    if file.endswith(".xlsx"):
        if file.find('Income Statement') != -1:
            if file.find('Target') != -1:
                print(file)

.\Target\TGT Income Statement - Seeking Alpha.xlsx